[2020-06-09 15:30] simbaja opened #859 "Pomerium Circle Icon Not Showing"
## What happened?

The Pomerium Circle icon is not showing in Chrome (it's there, but shows as transparent).

## What did you expect to happen?

The icon is shown and scaled appropriately.

[2020-06-09 15:38] simbaja opened #860 "handleForwardAuth in grpc should handle implicit url (x-forwarded headers)"
## What happened?

I'm going to preface with this is my first time writing in Go, so I didn't want to submit pull requests that are probably not great.  You can take a look at my fork if you want to investigate how I've resolved this issue/feature.  My environment is Pomerium/Traefik (forward auth)/Keycloak.

Looking at the logic in the handleForwardAuth function, it's looking for the explicit "ur

[2020-06-09 15:40] simbaja opened #861 "Add Default SignedOut page"
**Is your feature request related to a problem? Please describe.**
**Describe the solution you'd like**

Add a default signout redirect url (e.g. /.pomerium/signed_out).  This can be a landing zone when no redirect is supplied by the user.

[2020-06-09 17:19] calebdoxsey opened #862 "Cache: implement databroker and identity manager"

[2020-06-09 19:13] calebdoxsey opened #865 "Refactor IdP Code to support `directory` data service"

[2020-06-09 22:43] yegle commented on #852
This is a Chrome browser with two client TLS certs installed.

[2020-06-09 22:46] yegle opened #867 "Sign out link doesn't work on authenticate_service_url"
## What happened?

Access /.pomerium/sign_out and get error:

Bad Request: internal/urlutil: malformed unix timestamp field

## What did you expect to happen?

Sign out the user and ask to login again

## How'd it happen?

Access /.pomerium/sign_out

## What's your environment like?

- Pomerium version (retrieve with `pomerium --version` or `/ping` endpoint):
pomerium/0.9.0 (+https://wwww.pomerium

[2020-06-10 03:56] yegle commented on #853
Note there's also the incomplete certificate chain issue which is causing some Java client issue (specifically Bitwarden's Android app combined with Pomerium+bitwarden_rs).

[2020-06-10 04:16] desimone commented on #867
Are you hitting this URL directly (via curl or some other type of request) or via the sign-out button in `.pomerium`?

This is what I am seeing

https://youtu.be/15LI5L73Wjo

[2020-06-10 04:25] yegle commented on #867
Ah I see, I was hitting the `/.pomerium` handler on `AUTHENTICATE_SERVICE_URL`. It does work on the actual routes.

[2020-06-10 04:37] yegle opened #869 "authenticate_service_url should not be allowed to have overlap with routes"
## What happened?

My friend is setting up a new Pomerium server and did not realize the authenticate_service_url should not be the same with one of the routes. I.e. something like this is broken but the validation doesn't prevent it:

[code]

## What did you expect to happen?

The config validation should error out here.

## How'd it happen?

## What's your environment like?

- Pomerium version (

[2020-06-10 06:57] yegle commented on #869
Well it turns out it was due to missing SHARED_SECRET in the config.

Reading the code, it looks like each time Pomerium hot reload the config, it will generate a new SHARED_SECRET, and causing issues like hmac validation error. Correctly setting a SHARED_SECRET fixed the issue.

[2020-06-10 06:57] #869 closed

[2020-06-10 09:51] cuonglm commented on #867
With actual routes, the proxy redirect it to authenticate signout URL, with a generated signed URL. While if we're on the authenticate page, we hit the authenticate signout URL directly without generated signed URL.

[2020-06-10 15:12] desimone opened #870 "hot reload of policy results in 503"
## What happened?

Hot reloading fails (returns a `503`) if the source URL changes for a given policy route's allowed user domains.

## What did you expect to happen?

I expected to be able to hot reload policy.

## How'd it happen?

Have a policy like so.

[code]
Change the policy slightly

[code]

## What's your environment like?

- Pomerium version (retrieve with `pomerium --version` or `/ping`

[2020-06-11 05:11] cuonglm commented on #867
@simbaja maybe another solution is auto generated a signed signout URL if we're on authenticate url.

But another question: is it ok to signout directly from authenticate service at all, because in this case, we don't clear session in proxy cc @desimone @travisgroth ?

[2020-06-11 13:04] stuba commented on #811
Hi,

thanks this https://github.com/pomerium/pomerium/issues/811#issuecomment-636904308 solved my error "ext_authz_error" when using allow_public_unauthenticated_access = true. Same settings did work with 0.8.3, but failed with 0.9.0.

Hope this helps somebody with similar issue.

Here is capture of my logs.
{"level":"info","service":"envoy","upstream-cluster":"","method":"GET","authority":"------

[2020-06-11 13:42] simbaja commented on #867
Instead of generating the signed signout url from authenticate, moving the auth endpoints (which are only really called by the proxy anyway) to /.pomerium/auth instead of /.pomerium resolves the issue with a minimum of changes (I think like 10 lines of code, mainly updating some string values).  So, /.pomerium/sign_out would always be proxy signout, /.pomerium/auth/sign_out would be the direct aut

[2020-06-11 14:24] calebdoxsey commented on #867
Cookies are stored per-domain, so signing out must be done from the proxy domain. (ie sign out at `app.example.com` not `authenticate.example.com`)

There is work being done to convert the cookie to a session id, with the session being stored separately. If that were the case it would be possible to delete the session from the backend and then it wouldn't matter where the sign out occurred. (you'd

[2020-06-11 14:43] travisgroth commented on #835
I'm not seeing a way to have Envoy drop privileges at this time, which makes this hard to implement in a generalized way.  If I'm mistaken, we'd be happy to look at any docs.

We should be able to run as any user, but privileged ports will need root without special configuration.  For kubernetes specifically, there's been discussion in the helm chart repo on moving to user mapping to work around t

[2020-06-11 14:48] cuonglm commented on #867
Thanks for confirmation. Though in my PR above, signout directly from authenticate service also works, mean user must re-signin to get new valid session.

So new question is should we change the signout endpoint only, or move all authenticate endpoint like @simbaja suggested?

[2020-06-11 15:17] simbaja commented on #867
I'm probably doing something wrong as well.  What I encountered is that in Traefik forward auth mode, from the individual apps, the /.pomerium router isn't available.  So, I'm not able to use the app.example.com/.pomerium/sign_out link.  Instead, the only thing that seems to be available under this use case (again, probably doing something wrong), is the authenticate.example.com/.popmerium/sign_ou

[2020-06-11 15:36] cuonglm commented on #867
I think the main point here, base on @calebdoxsey comment, is we must do the logout from _proxy_, not directly from _authenticate_. So whether or not you change the authenticate endpoints, you still must do it via proxy first.

So IHMO, the proper fix is changing the proxy signout url or the authenticate signout url.

I'm not too familiar with traefik, but is it possible to the forward all request

[2020-06-11 15:40] Vad1mo opened #873 "Prefix Paths aren't working with Traefik Ingress"
I can not make v0.9 work with prefix/regex. No matter what I try path/regex/prefix aren't working with traefik. From the behavior it looks like the first rule doesn't get triggered.
[code]

The following screenshot is what the proxy receives from traefik.

![image (2)](https://user-images.githubusercontent.com/1492007/84407062-9fde0700-ac0a-11ea-9d7e-8f12a96b3721.png)

[2020-06-11 15:45] simbaja commented on #867
Yep, having a router conflict where some proxy methods work on the authenticate url and others don't seems odd (like /.pomerium/ goes to proxy, but /.pomerium/sign_out (which is linked from proxy "/") doesn't because the router chooses the authentication router endpoint instead of the proxy router endpoint.  If we move the auth to be in its own namespace, everything works regardless of what url yo

[2020-06-11 15:49] travisgroth commented on #833
Hi,

Our usual test setup for forward auth is with nginx and multiple routes work fine as you'd expect. Sample policy:

[code]

Resulting jwt snippets:

[code]

[code]

You're correct that the same session token/cookie is not usable for multiple routes.  This will change in the future but, in a normal browser session, this should be inconsequential.

The behavior you're describing shouldn't happen

[2020-06-11 16:11] travisgroth commented on #870
Can reproduce at least with the all-in-one configuration.  I'm able to resume a session (bounce through authn and get a new cookie) if I clear the route cookie, which seems odd.  Could we be checking that a cookie isn't older than the current copy of the policy?  I'm not sure what else would change if you just cleared the route cookie and got a new one.

[2020-06-11 16:12] simbaja commented on #833
I can think of two possible causes based on your notes:

1. Perhaps the cookie_domain setting isn't set correctly.  In the above, it's set to the base domain name (i.e. example.com).
2. The forward-auth configuration in Traefik is set as a single middleware, not a middleware-per-service.  The same middleware is applied to all protected services.  The relevant sections of the config are:

Foward au

[2020-06-11 16:21] travisgroth commented on #833
I'm not sure that works.  See https://www.pomerium.com/configuration/#forward-auth for examples.  I know nginx supports variable substitution so you can re-use the same configuration for all routes, but I don't know if you can do that with traefik.  You need to query the forward auth endpoint with the correct destination route URI.

[2020-06-11 16:24] simbaja commented on #833
Looking at the forward-auth verify code in the proxy, it's checking the X-Forwarded headers as an alternative to specifying the URL directly.  Traefik provides these headers, so it should be possible to use a single middleware, unless I'm misreading the forward-auth logic in the proxy?

[2020-06-11 17:45] simbaja opened #875 "Policy should check user, not just email"
**Is your feature request related to a problem? Please describe.**

Accounts may not always have an email associated with them.  In the policy, it should be possible to check the "allowed_user" against the signed-in user, not just the signed-in user's email.

**Describe the solution you'd like**

See above.  Can provide a pull request if needed.

**Describe alternatives you've considered**

Consid

[2020-06-12 02:06] yegle commented on #852
I tried the docker image with master label and the issue is now fixed.

[2020-06-12 02:06] #852 closed

[2020-06-12 02:14] yegle commented on #867
FWIW, the BeyondCorp implementation from Hooli.xyz does logout on the authenticate url, and it would log out all logins in all routes.

I can image this would be useful for at least two cases: 1) for IT/tech support to have a reliable way to ask the user to "turn it off and on again", 2) to immediately log a terminated employee out everywhere.

Session id in the cookie sounds like a good solution,

[2020-06-12 02:37] cjwalton opened #880 "Proxy: Allow mapping apex external host url to backend path"
Some backend applications may require a non-apex path. I'd like to be able to craft a policy statement to map to a path. This is more elegant than trying to fix this on the backend application.

Example:

  - from: https://myapp.external.domain
    to: https://myapp.internal.domain/app

Currently, it seems Pomerium only supports statements like this:

  - from: https://myapp.external.domain
    to

[2020-06-12 02:40] cjwalton opened #881 "Hide impersonation options in /.pomerium path from non-admins"
Currently, all users will see the impersonation form in the /.pomerium URL. This is not only confusing, but may be a source of security concerns (real or perceived).

Since a non-admin cannot use this feature, it should not be present for non-admin users.

Additionally, it may be desirable to optionally disable this path completely for non-admin users.

[2020-06-12 02:43] yegle commented on #809
Also note Pomerium no longer support BSD due to the dependency on Envoy, making this a breaking change.

As a casual contributor of this project, having to learn how Envoy works also raised the bar for me to contribute.

Now that the decision has been made, I hope we can be more careful introducing changes like this in the future. Thank you for your work!

[2020-06-12 03:22] cuonglm commented on #875
See https://github.com/pomerium/pomerium/issues/573 for more general discussion.

[2020-06-12 04:07] simbaja commented on #875
Didn't notice that discussion, default filters hid it... I'll make sure to look at more issues next time :).  Thanks for pointing me at it!

[2020-06-12 07:40] Vad1mo commented on #880
This is what `pather` - `prefix` are for. did you take a look at https://www.pomerium.io/configuration/#path? https://www.pomerium.io/docs/upgrading.html#using-paths-in-from-urls

[2020-06-12 14:52] calebdoxsey commented on #880
@Vad1mo I think @cjwalton wants to support stripping/adding prefixes. ie `https://myapp.external.domain/some/path` becomes `https://myapp.internal.domain/app/some/path`. That's not currently supported.

We can support a basic string literal pretty easily, but some of the other options would be harder. (like a regular expression match) I'm also not sure what the configuration should look like. We e

[2020-06-12 17:16] calebdoxsey opened #886 "Authenticate: change session JWT"
- Change expiration to 1 week (or configurable)
- Remove unnecessary fields
- Update issuer?
- Remove `aud`
- Put session ID in `jti` field
- Put user in `sub`

[2020-06-12 17:52] calebdoxsey opened #887 "Authorize: stream data from data broker"

[2020-06-13 14:19] ThorbenJ opened #892 "Webdav forwarding very broken"
## What happened?

I have a webdav server behind pomerium and many operations are broken:

Webdav litmus test via pomerium:

[code]

## What did you expect to happen?

Webdav litmus test on the same webdav server without pomerium:

[code]

## How'd it happen?

Put a webdav behind pomerium under its own prefix so that it can live on the same endpoint as the SSO protected application

## What's your

[2020-06-13 15:45] desimone commented on #875
In the near future we should support checking generic claims as well. Closing in favor of #573 discussion.

[2020-06-13 15:45] #875 closed

[2020-06-13 15:58] cuonglm commented on #870
@desimone What docker-compose.yml file you used? I can't make the hot reload policy works following instruction at https://www.pomerium.io/docs/quick-start/

[2020-06-13 16:10] cuonglm commented on #870
I can reproduce if run pomerium directly in host OS, all in one configuration. Though I got 403 instead of 503 http status.

[2020-06-13 16:14] ThorbenJ commented on #835
I run pomerium as it own user. You can give it low port bind permissions via capabilities (e.g. in its systemd service file) or use authbind --deep to start it.

[2020-06-13 20:55] #859 closed

[2020-06-13 21:12] desimone commented on #870
[code]

More context. Looks like the cluster is completely missing.

[code]

[2020-06-14 19:26] desimone opened #895 "logging: do not log header / session data in INFO"
## What happened?

[code]

## What did you expect to happen?

Headers (which may contain authorization bearer tokens, and session tokens) for pomerium and other services should not be logged in INFO (or above) mode as they may contain potentially sensitive data.

## What's your environment like?

- Pomerium version (retrieve with `pomerium --version` or `/ping` endpoint): `v0.9.0+3fbcb8f`
- Server

[2020-06-14 20:23] desimone opened #896 "logging: change the default logging level to INFO"
**Is your feature request related to a problem? Please describe.**

Currently, unless configured logging is set to DEBUG.

https://github.com/pomerium/pomerium/blob/3fbcb8ff1345ade106cef7bed23eaab1205e27b7/config/options.go#L259

DEBUG logging is:

- very verbose
- potentially logs sensitive data

**Describe the solution you'd like**

We should set the default log level to INFO.

**Describe altern

[2020-06-14 20:37] ekovac commented on #811
I ran into the same problem on upgrade, #811 fixed it.

[2020-06-14 22:03] ekovac opened #897 "Regression: Pomerium 0.9.0 no longer sends fullchain certs, even when provided."
## What happened?

After an upgrade from 0.8.3 to 0.9.0, `curl` and node REPL requests to my pomerium instance started failing with certificate validation errors. Downgrading back to 0.8.3 resolves the issue with no other configuration changes. On both versions, Chrome continues to validate my certificates correctly.

## What did you expect to happen?

Pomerium would continue to use fullchain cert

[2020-06-14 22:05] ekovac commented on #897
My bad, this is a dupe of #853

[2020-06-14 22:05] #897 closed

[2020-06-15 00:53] #853 closed

[2020-06-15 02:50] yegle opened #901 "Regression: HSTS header is gone in 0.9.0"

[2020-06-15 13:26] travisgroth commented on #892
Hi @ThorbenJ - Unfortunately, WebDAV is an extension to HTTP; not part of it.  At this time only HTTP and HTTP2 are supported protocols.  Pomerium is an L7 proxy, thus must actually be able to understand an upstream protocol.

As an FYI, we're based on [envoy](https://www.envoyproxy.io/) now, so the primary limit here is whether envoy supports WebDav as part of HTTP.  In the future we may augment

[2020-06-15 13:26] #892 closed

[2020-06-15 13:56] ThorbenJ commented on #892
Hi @travisgroth thank you for the feedback.
It would be nice if one could just blindly forward some http-like thing without any authentication/authorisation; just to be able to keep things simple.

I guess now I will have to put another reverse proxy in front of pomerium, and thus will also have to handle TLS and certificates there instead of inside pomerium.

[2020-06-15 14:12] travisgroth commented on #892
FYI, you may have luck with other proxies that support WebDav in conjunction with our [forward auth support](https://www.pomerium.com/configuration/#forward-auth), but yes you'd still need to set up the other proxy with proper TLS.

[2020-06-15 15:55] #896 closed

[2020-06-15 19:49] cjwalton commented on #880
@calebdoxsey  is correct. Specifically I am looking for a path added to the "to" parameter.
from: host.local
to: host.local/app

[2020-06-16 13:20] #870 closed

[2020-06-16 17:56] #901 closed

[2020-06-16 17:57] cuonglm commented on #901
@yegle thanks for reporting this.

It's a regression when we switch to envoy.

[2020-06-16 22:28] bdwyertech commented on #811
Ran into same thing on Windows -- figured it was corporate proxy env vars or something.  The sysctl disabling ipv6 did the trick.

[2020-06-16 23:19] desimone commented on #811
@ekovac we just cut v0.9.1 which should also have this fixed.

[2020-06-17 02:08] cuonglm commented on #858
I think @calebdoxsey's PR #904 will fix this issue.

[2020-06-17 02:54] simbaja commented on #858
Sorry, work stuff came up and haven't had a chance to implement your suggested change on the pull request.  I'm not sure that #904 will resolve - I didn't see updates to the proxy in the changed file list.  But, I'm not yet fully versed with all the layers of this, so it could be something I just didn't notice.

[2020-06-17 17:11] calebdoxsey opened #911 "Authenticate: store same session for all routes"

[2020-06-17 17:11] calebdoxsey opened #912 "Authenticate: delete refresh endpoint"

[2020-06-17 17:12] calebdoxsey opened #913 "Authenticate: logging out should revoke session"

[2020-06-17 19:26] ekovac commented on #886
Should probably also add the .kid field to the header so that it can be matched up with the jwks.json entry, unless this is a different JWT use.

[2020-06-18 05:59] BenoitKnecht opened #915 "/ping endpoint doesn't support HTTP/1.0 in 0.9.x"
This is probably more of a documentation issue than anything that needs to be fixed, but since it can unexpectedly break setups upgrading from 0.8.x to 0.9.x, I think it's worth mentioning.

I run Pomerium behind HAproxy, which checks that its backend is alive using

[code]

This worked fine in 0.8.x, but in 0.9.x, HAproxy started marking all of its backends as being down.

This is due to the fact

[2020-06-18 12:54] ncmans opened #916 "SIGSEGV: segmentation violation"
## What happened?

Panic at runtime

## What did you expect to happen?

No panic

## How'd it happen?

Without any particular external action, just after a while of running.

## What's your environment like?

- Pomerium version (retrieve with `pomerium --version` or `/ping` endpoint): 0.8.0
- Server Operating System/Architecture/Cloud: Kubernetes GKE
- Helm Version: 9.0.0

[code]

## What's your c

[2020-06-18 13:44] calebdoxsey opened #917 "cache: detect multiple running instances and log or handle"

[2020-06-18 13:44] calebdoxsey opened #918 "config: add databroker URL for configuration, default to cache_url, mark cache_url as deprecated"

[2020-06-18 13:44] calebdoxsey opened #919 "cache: remove cache service dead code"

[2020-06-18 13:45] calebdoxsey opened #920 "Docs: clarify new role of cache service"

[2020-06-18 13:45] calebdoxsey opened #921 "config: update cache service url -> databroker service url"

[2020-06-18 13:45] calebdoxsey opened #922 "authenticate: move proxy dashboard to authenticate"

[2020-06-18 13:46] calebdoxsey opened #923 "docs: add documentation for how to create a custom databroker"

[2020-06-18 13:46] calebdoxsey opened #924 "docs: data broker service interface"

[2020-06-18 17:44] ncmans commented on #916
Thanks — will test and report back

[2020-06-18 19:22] fightforlife commented on #811
with pomerium/pomerium:v0.9.1 I get a "connection refused" on all routes.
All other settings stay the same as mentioned in the first post. The debug log of the docker container does not even see the requests. Also there are only debug and info logs, no errors.

With pomerium/pomerium:v0.8.3 everything is working again.

[2020-06-18 21:08] bdwyertech commented on #811
@desimone v0.9.1 didn't work for me -- still needed to apply the sysctl param.  I'm on Windows and also on corporate VPN with restrictive AnyConnect rules, etc. so maybe this has something to do with it, not sure.

[2020-06-19 01:57] cuonglm commented on #811
@bdwyertech @fightforlife I think this bug will be fixed in next v0.9.2 release, with this [PR](https://github.com/pomerium/pomerium/pull/927) backported.

In the meantime, would you mind trying with latest master branch?

[2020-06-19 02:23] desimone commented on #916
Closing for now. @ncmans let us know if that doesn't do the trick

[2020-06-19 02:23] #916 closed

[2020-06-19 07:31] lukasmrtvy commented on #867
Would be nice to be able to logout on the authenticate url.

Its not that easy to reference k8s service ( promerium-proxy ) from namespace ( myapp ) in ingress object ( myapp ) without using external service workaround or using CRDs with Traefik Ingress Controller to proxy /.pomerium context. ( https://github.com/kubernetes/kubernetes/issues/17088 )

[2020-06-19 13:57] #924 closed

[2020-06-19 13:57] #923 closed

[2020-06-19 13:57] #922 closed

[2020-06-19 13:57] #921 closed

[2020-06-19 13:57] #920 closed

[2020-06-19 13:57] #919 closed

[2020-06-19 13:57] #918 closed

[2020-06-19 13:57] #917 closed

[2020-06-19 13:58] #886 closed

[2020-06-19 13:58] #912 closed

[2020-06-19 13:58] #913 closed

[2020-06-19 13:58] #911 closed

[2020-06-19 13:58] #887 closed

[2020-06-19 13:58] #865 closed

[2020-06-19 14:12] calebdoxsey opened #933 "docs: document using service accounts for identity providers"
With the recent changes to user and session storage, we are now querying group data asynchronously via a service account. That service account needs to be created within the identity provider and supplied via the `idp_service_account` configuration option.

The format of the various providers needs to be:

## Azure
`idp_service_account` is a base64-encoded, json object:

[code]

## GitHub
`idp_ser

[2020-06-19 14:14] calebdoxsey opened #934 "directory service: missing github provider"
It looks like in my initial implementation of the directory service I overlooked the Github provider. We need to implement a Github provider to support group policies.

[2020-06-19 14:59] calebdoxsey opened #935 "sessions: revoking an access/refresh token should log a user out"
When a user logs in via an oauth provider they are supplied with an access token and a refresh token, we then create a session and user record in the databroker and use that for policy decisions.

The identity manager uses those tokens to periodically query the user info endpoint to update user data. If that query fails it will be retried later.

However if an access token is no longer valid (if f

[2020-06-19 15:52] cuonglm commented on #728
This seems to be fixed in current [master](https://github.com/pomerium/pomerium/commit/dbd7f55b20fbacd4b13b023644bc9be4b2b2d290)

[2020-06-19 15:52] cuonglm commented on #711
I think this is fixed with current [master](https://github.com/pomerium/pomerium/commit/dbd7f55b20fbacd4b13b023644bc9be4b2b2d290)

[2020-06-19 16:22] desimone commented on #711
Closing. @Labbs / @fightforlife please reopen if this is not the case on master.

[2020-06-19 16:22] #711 closed

[2020-06-19 17:05] bdwyertech commented on #811
@cuonglm works great on master tag -- thank you!

[2020-06-19 18:11] #915 closed

[2020-06-19 20:27] desimone commented on #728
@ajcollett please reopen if you still have an issue.

[2020-06-19 20:27] #728 closed

[2020-06-19 20:40] calebdoxsey opened #936 "X-Pomerium-Claim-* header missing email, group claims"
## What happened?
The `X-Pomerium-Claim-*` is missing for email and groups.

This is related to recent user and session changes.

[2020-06-19 23:19] 1rootgear opened #937 "Bypass cache"
Usecase: Pomerium in front of an http file-repository

Setup: Haproxy > Pomerium (docker on synology/dsm) > Nginx server

I’ve been using Pomerium since early on, and it continues to work great for various services.

One thing I wanted to do was put it in front of a protected file-repository. However, after successfully authenticating and proceeding to download a larger file (300MB+) it usually ge

[2020-06-20 03:40] cuonglm opened #938 "Gitlab default scopes changed"
After 666fd6aa358ac1cfef1fb96490a3c609cce4e8e3, gitlab default scopes are now: `oidc, api, profile, email` https://github.com/pomerium/pomerium/blob/c29807c3915b2e61d1a53dd007a8871b6494c3c6/internal/identity/oidc/gitlab/gitlab.go#L19

So following instruction at https://github.com/pomerium/pomerium/blob/c29807c3915b2e61d1a53dd007a8871b6494c3c6/docs/docs/identity-providers/gitlab.md won't work anym

[2020-06-20 04:01] cuonglm commented on #936
I think it's also for user. I tried integration test with claim user set:

[code]

[2020-06-21 16:20] cuonglm opened #941 "Databroker mismatch between user.User and directory.User"
When creating session for an user, we do make the user id as `issuer/user_id` https://github.com/pomerium/pomerium/blob/c29807c3915b2e61d1a53dd007a8871b6494c3c6/authenticate/handlers.go#L501

But when adding directory.User, we only creating it using user id alone, example for gitlab https://github.com/pomerium/pomerium/blob/c29807c3915b2e61d1a53dd007a8871b6494c3c6/internal/directory/gitlab/gitlab.

[2020-06-21 16:23] cuonglm commented on #941
Related to #936

[2020-06-21 16:45] cuonglm commented on #941
Other providers use email instead of user id, is it intended cc @calebdoxsey

[2020-06-21 17:00] cuonglm opened #942 "internal/directory/google: user groups list failed"
## What happened?

Google directory provider does not work.

[code]

## What did you expect to happen?

User groups are synced.

## How'd it happen?

Run pomerium in local, with google as IDP provider.

## What's your environment like?

- Pomerium version (retrieve with `pomerium --version` or `/ping` endpoint): master
- Server Operating System/Architecture/Cloud: Mac OSX

## What's your config.ya

[2020-06-21 17:07] #895 closed

[2020-06-21 21:34] calebdoxsey commented on #942
@cuonglm the google directory provider uses the Google Service Account JSON credentials in the `idp_service_account` field. Do you have that set? Do you also have an `impersonate_user` field inside of it?

[2020-06-22 02:06] cuonglm commented on #942
Yes

Ah no, adding it then it's working.

[2020-06-22 02:06] #942 closed

[2020-06-22 02:51] #936 closed

[2020-06-22 03:29] #702 closed

[2020-06-22 05:01] yegle opened #958 "regression: JWT_CLAIMS_HEADERS has no effect in 0.9.x?"
## What happened?

It was possible previously to set `JWT_CLAIMS_HEADERS=email` to send `X-Pomerium-Claim-Email` request header to upstream, but this is broken in 0.9.x.

## What did you expect to happen?

Setting environment variable `JWT_CLAIMS_HEADERS=email` will send `X-Pomerium-Claim-Email` to upstream.

## How'd it happen?

1. Ran `x`
2. Clicked `y`
3. Saw error `z`

## What's your environme

[2020-06-22 05:32] cuonglm commented on #958
It’s duplicated of https://github.com/pomerium/pomerium/issues/936 and already be fixed in latest master

[2020-06-22 05:32] #958 closed

[2020-06-22 05:50] yegle commented on #958
Weird, I'm using https://hub.docker.com/layers/pomerium/pomerium/master/images/sha256-19f2cfc7295576f87b889c5b7eddcb75b68ff5469fad1c5f78912984248fff33?context=explore (built an hour agao) but I can still reproduce this issue.

[2020-06-22 05:54] cuonglm commented on #958
@yegle ah, then you have to set `pass_identity_headers: true` per-policy basis. See https://github.com/pomerium/pomerium/commit/8d0deb0732e1bd7f10dad134248a9a221206ff57

[2020-06-22 05:59] yegle commented on #958
Looks like this is the downside of using :master build. Thank you for the hint!

[2020-06-22 07:30] yegle opened #959 "404 if Host header include port number 443"
## What happened?

If `Host` header includes the standard 443 port number, Pomerium will return 404.

[code]

## What did you expect to happen?

Should handle the request correctly.

## How'd it happen?

1. Ran `x`
2. Clicked `y`
3. Saw error `z`

## What's your environment like?

- Pomerium version (retrieve with `pomerium --version` or `/ping` endpoint):
pomerium/v0.9.0 (+github.com/pomerium/pom

[2020-06-22 07:35] yegle commented on #959
Workaround: Add the same policy but with port number appended to `from:`.

[code]

[2020-06-22 08:04] cuonglm commented on #959
@yegle This is how envoy works. We can make envoy strip the port part from domain, by set [`remove_port` to `true`)(https://github.com/envoyproxy/envoy/pull/10960).

[2020-06-22 08:39] yegle commented on #959
Yes found this https://www.envoyproxy.io/docs/envoy/latest/faq/debugging/why_is_my_route_not_found also suggest to set `strip_matching_host_port` to true.

I would assume it's as easy as adding a `StripMatchingHostPort: true` in the code below but it looks like Pomerium still uses 0.9.5 of Envoy and doesn't include this option.

here https://github.com/pomerium/pomerium/blob/84dde097c729ff3c0fee0a

[2020-06-22 08:46] yegle commented on #959
I was a bit confused. It looks like the commit https://github.com/envoyproxy/envoy/commit/111684faa1d28f34fb16af43911c575c6815c450 is not part of any Envoy release yet. And the go control plane library is likely kept in sync with Envoy so it doesn't have `StripMatchingHostPort`. (Pomerium is already using the latest released version of envoy go control plane library).

I guess we'll have to use th

[2020-06-22 08:56] cuonglm commented on #959
Yes, we will have to wait new envoy release.

[2020-06-22 13:42] #941 closed

[2020-06-22 14:33] calebdoxsey commented on #938
The default scopes were not changed as part of the data broker refactor.

[2020-06-22 14:49] #935 closed

[2020-06-22 15:17] cuonglm commented on #938
Ah right, I mis-read the git diff. The actual commit is 666fd6aa358ac1cfef1fb96490a3c609cce4e8e3

[2020-06-22 17:33] #934 closed

[2020-06-22 17:53] desimone commented on #938
I believe I changed this because I found that (at least at the time) read_user and read_api were not available to those using the hosted SaaS project.

[2020-06-22 21:26] #933 closed

[2020-06-22 21:41] travisgroth opened #976 "metrics: add metrics for databroker operations / clients"

[2020-06-22 22:15] desimone commented on #933
Nice work @calebdoxsey , I'm going through these individually to make sure they work as expected right now.

[2020-06-22 22:18] #976 closed

[2020-06-23 02:41] desimone commented on #827
@dmitrif This should be fixed in v0.9.1 and later with https://github.com/pomerium/pomerium/pull/876

Closing for now, but please reopen if that's not the case.

[2020-06-23 02:41] #827 closed

[2020-06-23 03:21] cuonglm commented on #858
@simbaja would you mind re-checking if this is fixed on master branch?

[2020-06-23 03:35] desimone opened #978 "azure: allow_groups does not work"
## What happened?

I tried to access a route which should have been permitted through its `allowed_groups` group membership with  azure.

## What did you expect to happen?

To get access.

## How'd it happen?

I ran the following policy.

[code]

I also added a log line to manager.go:199
[code]

[code]

## What's your environment like?

- Pomerium version (retrieve with `pomerium --version` or `/p

[2020-06-23 05:47] haohaolee commented on #811
0.9.2 still has this issue.
`{"level":"info","service":"envoy","upstream-cluster":"","method":"GET","authority":"xxxxxxxxx.com:4443","path":"/","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.138 Safari/537.36","referer":"","forwarded-for":"172.16.11.42","request-id":"4042014bd368513988af59cb63933710","duration":0.749638,"size":

[2020-06-23 07:19] cuonglm commented on #867
This is fixed after #926, feel free to re-open if you still face this issue.

[2020-06-23 07:19] #867 closed

[2020-06-23 07:23] cuonglm commented on #857
Close now after #926

[2020-06-23 07:23] #857 closed

[2020-06-23 07:32] cuonglm commented on #362
This works fine in latest release, close now, feel free to re-open if you still face this issue.

[2020-06-23 07:32] #362 closed

[2020-06-23 07:38] BenoitKnecht commented on #821
@cuonglm This is not resolved, unfortunately. See https://github.com/pomerium/pomerium/pull/823#issuecomment-639263403 (and https://github.com/pomerium/pomerium/pull/830#issuecomment-640542790).

[2020-06-23 08:21] cuonglm commented on #821
@BenoitKnecht I can't reproduce it in my local, using current master. I use this docker compose:

[code]

Running this program inside container:

[code]

reports:

[code]

[2020-06-23 08:28] BenoitKnecht commented on #821
I think disabling IPv6 with `net.ipv6.conf.all.disable_ipv6=1` is not quite the same as doing it with `ipv6.disable=1` on the kernel command-line, which is the situation I'm in.

Would you be able to try and reproduce it this way?

[2020-06-23 08:35] cuonglm commented on #785
@kernel164 @MikesTooLz would you mind retrying this with latest v0.9.2 to see if the problem still occurs.

[2020-06-23 08:37] cuonglm commented on #749
Can we close this @calebdoxsey ?

[2020-06-23 12:44] alagendijk-minddistrict opened #981 "Crash when ipv6 is disabled"
## What happened?

Pomerium versions 0.9.0, 0.9.1 and 0.9.2 crash when ran on an Ubuntu 18.04 machine where ipv6 is explicitly disabled by using GRUB_CMDLINE_LINUX="ipv6.disable=1" in /etc/default/grub
a build from master branch does not have this issue

## How'd it happen?

On Ubuntu 18.04 where pomerium (0.9.0, 0.9.1 or 0.9.2) works correctly:
1. Set GRUB_CMDLINE_LINUX="ipv6.disable=1" in /etc/d

[2020-06-23 13:30] cuonglm commented on #981
Duplicated of #821

[2020-06-23 13:30] #981 closed

[2020-06-23 13:40] alagendijk-minddistrict commented on #821
I have the same issue on Ubuntu 18.04 with `ipv6.disable=1` (see #981).
For me a build from current master works, but 0.9.0, 0.9.1 and 0.9.2 have the issue.

[2020-06-23 14:21] calebdoxsey commented on #749
This issue is not resolved but if we feel like it is not needed I will close it.

[2020-06-23 14:47] desimone commented on #749
@calebdoxsey / @cuonglm Let's keep it open.
If we want to associate device context behind TLS-terminating proxy or load balancer using client certificates, we'll need to support this header.

[2020-06-23 15:08] cuonglm opened #982 "authenticate: allow hot reload config"
After #979, authenticate service should support hot reloaded for admin users config change.

[2020-06-23 15:09] #881 closed

[2020-06-23 15:11] jeffhubLR opened #983 "Envoy Pomerium + Istio not working"
## What happened?

After attempting to follow this writeup: https://www.pomerium.io/configuration/examples.html#istio
I further simplified the configuration to a simple pass-thru proxy (allow_public_unauthenticated_access: true)

Requests to the proxied resource always fail with
"response-code":500,"response-code-details":"ext_authz_error"

## What did you expect to happen?
Requests should succeed

[2020-06-23 15:51] cuonglm commented on #821
@BenoitKnecht @alagendijk-minddistrict I can't reproduce it on with 0.9.2

[code]

[2020-06-23 16:24] calebdoxsey commented on #978
The subject in the id token does not match the user id returned by the azure ad API

[2020-06-23 16:42] travisgroth opened #986 "telemetry: add tracing to cache and data broker"

[2020-06-23 17:05] #938 closed

[2020-06-23 17:08] #986 closed

[2020-06-23 17:18] #982 closed

[2020-06-23 18:02] #978 closed

[2020-06-23 18:25] BenoitKnecht commented on #821
@cuonglm That's really strange, I tried again just now, with v0.9.2 downloaded from https://github.com/pomerium/pomerium/releases/tag/v0.9.2 (`0.9.2-1592838263+3b74053`), and a kernel booted with `ipv6.disable=1`:

[code]

using the following `local.yaml`:

[code]
and it crashed.

But when I tried to run it as `root` (as you did above), it did start normally (well, it complained about not being ab

[2020-06-23 20:40] bdwyertech commented on #811
I can confirm 0.9.2 also has this issue -- @cuonglm did it miss something from master?

[2020-06-24 02:51] cuonglm commented on #811
@haohaolee Your above log is different from the original reported in this issue. Your log above indicates that envoy was up and running, while the original issue is envoy hangs forever, which #927 fixed.

@bdwyertech What do you mean "has this issue"? does envoy still hangs or return 500?

[2020-06-24 02:53] bdwyertech commented on #811
It returns a 500 instantly. It doesn't hang.

On Tue, Jun 23, 2020, 10:52 PM Cuong Manh Le <notifications@github.com>
wrote:

[2020-06-24 02:56] cuonglm commented on #811
Then it should be a different issue, would you mind open new issue about that?

Also, do you use itsio? If yes, it's likely the same as #983

[2020-06-24 03:23] cuonglm commented on #821
@BenoitKnecht to clarify, when you run as non-root on machine with ipv6 disable, you got the same crash as in https://github.com/pomerium/pomerium/issues/821#issue-628959079, or different one?

[2020-06-24 04:14] desimone opened #989 "docs: add necessary disclaimers around needing service accounts to get groups"

[2020-06-24 07:16] BenoitKnecht commented on #821
@cuonglm Yes, I'm getting the same crash as in https://github.com/pomerium/pomerium/issues/821#issue-628959079 (in fact, Pomerium was running as non-root in my original report as well, but through systemd and with `CAP_NET_BIND_SERVICE` in order to bind to port `443`).

[2020-06-24 15:19] cuonglm commented on #821
@BenoitKnecht could you please run:

[code]

And see if any error reported in `pomerium-strace.log` file?

[2020-06-24 15:58] desimone opened #994 "identity: add option to allow custom auth code url params"
**Is your feature request related to a problem? Please describe.**

Some identity provider configurations allow users to specify additional behavior via adding additional query params to the  auth code url payload (i.e. skip, or force a login prompt).

**Describe the solution you'd like**

Allow operators to provide a static list of string pairs to add to the signin url passed to an IdP.

**Descri

[2020-06-24 18:36] ekovac opened #996 "Documentation does not specify newly required dependencies, and it is not handled by the Makefile"
After the pivot to envoy, the process for building pomerium from source has changed.

# Steps to reproduce

1. Start on a clean environment with Golang set up, but without OPA or Envoy installed.
2. Follow the instructions on https://www.pomerium.io/docs/quick-start/from-source.html
3. Run `make build` and `make test`

# Actual Behavior

3. Run into dependency errors, first for envoy, then for OPA

[2020-06-24 22:25] bdwyertech commented on #811
Not using Istio, just docker-compose running locally.  Really weird, right?  Works on master tag but not v0.9.3 -- error looks similar to that on the other issue.

I'll poke around at it tomorrow

[2020-06-25 01:31] desimone commented on #996
@ekovac Thanks for making the issue! By any chance does `make build-deps` / `make` work? (I took a glance at the makefile when I got back to my computer and noticed we should indeed be boot strapping both of those dependencies) .

[2020-06-25 14:41] calebdoxsey opened #1003 "cache: memberlist does not appear to work"
## What happened?
Memberlist is not working properly.

[code]

It appears to be stuck in log handling.

[2020-06-25 14:56] ekovac commented on #996
Took another look and you're right, it installs these as go packages in the go workspace, my go workspace just *still* wasn't set up correctly. Fixed my PATH and now everything's good. Thanks for the help, sorry for the trouble.

[2020-06-25 14:56] #996 closed

[2020-06-25 15:27] #989 closed

[2020-06-25 15:28] #994 closed

[2020-06-25 18:25] #1003 closed

[2020-06-26 00:23] simbaja commented on #858
I had a few moments and confirmed that it still shows a 403 instead of 401 under the scenario described.  I will go ahead and continue with the pull request adjustments to resolve.

[2020-06-27 17:03] cuonglm commented on #873
@Vad1mo In your screenshot, the `path` does not start with prefix `/system`.

[2020-06-27 18:33] jaguarcy opened #1012 "Host header does not get rewritten properly in 0.9.2"
## What happened?
Example config:

[code]

When visiting httpbin.corp.example.com/headers, I see
[code]

## What did you expect to happen?

When visiting httpbin/headers, expected to see:
[code]

## What's your environment like?

- Pomerium version 0.9.2
- Server Operating System/Architecture/Cloud:
Pomerium and httpbin running in Docker containers on Synology DSM 6.2.3 (docker version 18.09.8).

[2020-06-27 18:49] desimone commented on #1012
In V0.8.X we _always_ overwrote the host header to the destination hostname unless preserve policy is set.

https://github.com/pomerium/pomerium/blob/0-8-0/proxy/proxy.go#L225-L230

In v0.9.x we defer to envoy's [auto-host-rewrite](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-field-config-route-v3-routeaction-auto-host-rewrite) functionalit

[2020-06-27 19:57] fightforlife commented on #811
Same for me, the logs are now working but I get a upstream connection error in the logs with v0.9.2.
I will try to post the logs tomorrow.

[2020-06-27 21:02] xeor commented on #983
I'm in the same boat.. Gotten any way with this issue @jeffhubLR

[2020-06-27 21:31] desimone opened #1013 "proxy: x-forwarded-for not set"
## What happened?

`x-forwarded-for` headers are not being set by default.

## What did you expect to happen?

`x-forwarded-for` headers are being set by default.

## How'd it happen?

[code]

Go to https://httpbin.imac.bdd.io/headers

[code]

I expect x-forarded-for headers above.

## What's your environment like?

- Pomerium version (retrieve with `pomerium --version` or `/ping` endpoint): `v0.9

[2020-06-27 21:51] branchmispredictor opened #1014 "Unable to logout of services behind forward-auth"
When using Pomerium in forward auth mode, none of the proxy routes are served. Trying to access `/.pomerium` would result in an forward auth call to Pomerium, but the request itself would ultimately be routed to the underlying service.

The only option I see for signing out are using the auth service's signout url at `authenticate.localhost/.pomerium/sign_out`. However, doing that and then accessi

[2020-06-28 12:02] fightforlife commented on #811
I now get this on all routes (500): ext_authz_error

`{"level":"info","service":"envoy","upstream-cluster":"","method":"POST","authority":"some.domain.com","path":"/","user-agent":"Mozilla/5.0 (Linux; Android 10; POCO F1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.106 Mobile Safari/537.36","referer":"https://some.domain.com/index.html","forwarded-for":"","request-id":"f73f35cc-debd-4a

[2020-06-28 12:04] fightforlife commented on #983
same here, "ext_authz_error" on all routes after update to v0.9.2.
Downgrade to v0.8.3 works fine.

[2020-06-28 19:35] xeor commented on #983
Adding `/.pomerium` to the url at sends me to the login at least.. However, from there, there are other errors:

`Internal Server Error: authenticate.OAuthCallback: failed saving access token: authenticate: setAccessToken failed key: b7f965bf1ef40278 :rpc error: code = Internal desc = server closed the stream without sending trailers`

Not sure if they are related or not.

[2020-06-28 21:01] AlexShuraits opened #1015 "Pomerium behind Cloudflare"
## What happened?
Error 502 after the session have expired

## What did you expect to happen?
Login to requested application

## How'd it happen?

1. Enter the request URL in a browser, e.g. jaeger.my.domain
2. Saw error `502` from Cloudflare

## What's your environment like?

- Pomerium version: 0.9.2
- Server Operating System/Architecture/Cloud: GKE pomerium docker image

## What's your config.y

[2020-06-29 02:22] cuonglm commented on #1015
Hi @AlexShuraits , would you mind trying with current master brach to see if the problem still occurred.

[2020-06-29 11:12] xeor commented on #983
There seams to be multiple errors here.. One being the `500` error, but if I go to `./pomerium` I get the error above. I am able to fix that by using `grcp` or `http2` as the port-names for the services that uses grpc/http2 (which looks like is only `cache` and `authorize`). Doing this makes istio happy, see https://istio.io/latest/docs/ops/configuration/traffic-management/protocol-selection/

It

[2020-06-29 11:44] xeor commented on #881
I tried logging in as a user that didnt have access. The user got denied, but I was still able to impersonate another user which had access, and then I could access the resource.. Can anyone else try and check?

[2020-06-29 11:58] cuonglm commented on #881
@xeor which version you used? Could you please try with latest master branch. Thanks

[2020-06-29 12:04] xeor commented on #881
I'm trying with `0.9.2`.. This is a little strange, because the impersonate option visible and can be used by everyone, no question asked.. I guess the master-branch will at least remove it from the ui. But it feels flaky if it still doesnt check if you are an admin before impersonating.

I guess it will be protected by a csrf token if it is hidden. But that shoulnt be the correct way.

I will try

[2020-06-29 14:17] cuonglm commented on #881
@xeor

it does. You can't access `/admin/*` if you're not an admin.

[2020-06-29 14:38] xeor commented on #881
On my test using an unauthorized user, I was able to impersonate the admin user. Thinking about it, it might have been another bug since the admininistrators config was defined as a list (using helm).
It ended up being "[admin@domain.com]". Maybe the brackets made everyone an admin...?

[2020-06-29 14:47] cuonglm commented on #881
It's serious if it's like that, please fire another bug, thanks.

[2020-06-29 15:48] fightforlife commented on #837
So https://github.com/pomerium/pomerium/pull/966 is only bringing back the old behaviour of always serving the same robots.txt file on all routes, right?

`User-agent: * Disallow: /`

[2020-06-29 15:56] cuonglm commented on #1013
After digging in, the `X-Forwarded-For` header has been set by envoy, but [httpbin strips some headers by default](https://github.com/postmanlabs/httpbin/blob/7b3b70dbca05cdea049e1a74073339d52089c05b/httpbin/helpers.py#L132). Adding `?show_env=true` does show `X-Forwarded-For`.

[2020-06-29 16:06] #1013 closed

[2020-06-30 04:11] desimone commented on #983
@xeor / @fightforlife and you are specifically using istio as well? Could you provide your redacted configurations as well?

Thanks, I really appreciate it.

[2020-06-30 06:52] cuonglm commented on #811
@desimone I think we should close this, the original error was fixed in 0.9.x. The 500 is different problem, and duplicated of #983

[2020-06-30 07:23] xeor commented on #983
@desimone yes, this was using istio `1.6.3`. I think it might have something with the protocol detection. At least that fixed some of my problems, but not this `500` error.

I'm not going to be able to test so much on this for some time, but I tried a bunch of different configurations, all yielding the same result (500 error on landing-page for the resource you want to protect). A common parameter

[2020-06-30 07:26] #1012 closed

[2020-06-30 07:33] Vad1mo commented on #873
@cuonglm yes, this is a call to pomerium-proxy and the relevant part is **X-Forward-Uri** that proxy needs to evaluate.

[2020-06-30 07:49] cuonglm commented on #873
@Vad1mo Would you mind giving all relevant config with redacted information.

[2020-07-01 14:04] alceasan opened #1031 "Deployment: arm versions on dockerhub"
The last image aviable for ARM arch on dockerhub is version 0.8.3, ¿are new versions not planned to be released on dockerhub for ARM anymore?

[2020-07-01 15:28] desimone commented on #837
That's right.

[2020-07-02 16:15] fightforlife opened #1033 "Destination (To:) path not followed since v0.9.X"
## What happened?

Pomerium is no longer respecting paths in the destination (To:) of the proxied request. This was working fine with v0.8.3.
Currently I dont see another way of providing destination paths. (as far as I can see I can only specify incoming paths)

Example:
[code]

In version 0.8.3 this is linking `https://some.domain.com` to `http://192.178.198.25:8887/folder`.
So when requesting `

[2020-07-02 16:21] fightforlife commented on #983
@desimone my configuration is like descibed in https://github.com/pomerium/pomerium/issues/811
I am not using Istio, so I think it is a different problem. I will post my logs over there.

[2020-07-02 16:30] fightforlife commented on #811
I think I might have some DNS problem going on here:
This repeats itself in a loop
[code]

But DNS requests from the docker host are working fine.
[code]

I tried adding the following to the docker compose file but the DNS and ext_authz_error still persist.

[code]

`...,"user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.68 Safari/537.36

[2020-07-02 17:00] #873 closed

[2020-07-02 17:14] cuonglm commented on #1033
@fightforlife Thanks for reporting, this should be fixed in #1034

[2020-07-03 02:35] #1033 closed

[2020-07-03 02:35] #880 closed

[2020-07-03 04:51] kumarjp opened #1036 "Query: Regarding additional headers and URL modifications"
I've been testing on v0.8.0 for the last 2 weeks, and I had tested addition of custom X-headers, and downstream request URL modifications, in the reverseProxyHandler in proxy.go.  Post upgrade to 0.9.0, I dont find these.  Could you advice how to do these on v0.9.0

[2020-07-03 05:13] cuonglm commented on #1036
Global wide, you can use https://www.pomerium.io/configuration/#headers, for per policy-basis, you can use https://www.pomerium.io/configuration/#set-request-headers for adding additional headers.

v0.10.x will add more functionalities to headers manipulation:

 - https://master.docs.pomerium.io/configuration/#remove-request-headers
 - https://master.docs.pomerium.io/configuration/#pass-identity-h

[2020-07-03 05:20] kumarjp commented on #1036
Thanks.. But No, not the preconfigured ones.. The value of the header is to be generated dynamically from the request or authentication info.. For ex, X-Test-Name (not the JWT), if that's to be generated based on the authentication response..

[2020-07-03 06:01] kumarjp commented on #1036
In v 0.8.0, i was able to do this.. in proxy.go -> func: reverseProxyHandler func..  proxy.Director
func (p *Proxy) reverseProxyHandler(r *mux.Router, policy config.Policy) *mux.Router {
  ...
  // 3. Rewrite host headers and add X-Forwarded-Host header
  director := proxy.Director
  proxy.Director = func(req *http.Request) {
    req.Header.Add(httputil.HeaderForwardedHost, req.Host)
    director(

[2020-07-03 06:17] cuonglm commented on #1036
@kumarjp to clarify, you're talking about modify pomerium source code to do what you want?

[2020-07-03 07:02] kumarjp commented on #1036
Yes,

[2020-07-03 07:11] cuonglm commented on #1036
Then you may want to look at https://github.com/pomerium/pomerium/tree/master/internal/controlplane.

Since v0.9.x, pomerium use an embedded envoy proxy instead of hand written proxy.

[2020-07-03 09:47] kumarjp commented on #1036
ok, sure.. thanks. will check that.

[2020-07-03 10:38] #1036 closed

[2020-07-04 04:12] cuonglm commented on #858
@simbaja I can confirm this problem still occurs with latest commit 9821476086c60193748b42511a4cb7c1c1706ad1

[2020-07-04 04:21] cuonglm commented on #860
@simbaja I believe this problem happens due to deduplicate handling logic in proxy and authorize. This should not the case anymore after #1030 . Now, the proxy will forward the forward auth request as-is to the authorize, and when composing check request in authorize, it does honor `X-Forwarded-Uri` header.

Closing it for now, feel free to re-open if you think it's still a problem.

[2020-07-04 04:21] #860 closed

[2020-07-05 11:56] fightforlife commented on #1033
@cuonglm I have another issue/question quite close to this. I just tested this with the :master tag.

A note to #1034: one needs to add a final "/" in the to: to get it working. This could be misleading I guess.
[code]

Here is another usecase which is not working for me (Nextcloud with Onlyoffice). Onlyoffice should be available in the `/office/` directory since SAMEORIGIN is enforced.

I want `h

[2020-07-05 12:10] cuonglm commented on #1033
@fightforlife the trailing slash is working as expected, since when you can't rewrite /prefix to / and /prefix/foo to /foo in one route.

You need 2 rules to do that.

Maybe a documentation is necessary

[2020-07-05 12:48] fightforlife commented on #1033
For anyone finding this via google while setting up Nextcloud + Onlyoffice + Pomerium.

Normally one should not specify the host in `X-Forwarded-Host:` but instead use a variable. But for me this was not working with `$the_host/office` and `$host/office`. The redirect was corrupted.

[code]

[2020-07-05 13:57] fightforlife commented on #339
Just a headsup, this is still happening for me. I also found some other people having problems behind reverse proxies. But nothing really helped.

In firefox on mobile I get the error: `no video with supported mimetype found`
If I bypass the reverse proxy it works. So I guess some information is getting lost.
Firefox on Desktop is also working fine wit and without reverseproxy.

I will try to log

[2020-07-06 09:04] cuonglm commented on #1033
@fightforlife See https://github.com/pomerium/pomerium/pull/1040

Yes, in case you don't use `prefix`. If you use `prefix`, then the trailing slash is not necessary. Could you try your above rules with trailing slash strip off to see if it works?

[2020-07-06 16:58] benjamingorman opened #1042 "Example configuration for local OIDC server for dev/testing"
**Is your feature request related to a problem? Please describe.**

During development I would like to be able to functionally test my app using a locally-running Pomerium server as well as a local OIDC server featuring dummy credentials/dummy users for login.

**Describe the solution you'd like**

It would be great if the docs here https://www.pomerium.io/docs/identity-providers/ could give an ex

[2020-07-06 23:06] desimone commented on #1031
\cc @travisgroth

[2020-07-07 03:40] cuonglm commented on #1042
@benjamingorman I think there's problem with 0.9.2, since when it does not contain all the backports yet. I am able to make this work with `master` tag.

`docker-compose.yml`:

version: "3"
services:
  pomerium:
    image: pomerium/pomerium:master
    environment:
      # Generate new secret keys. e.g. `head -c32 /dev/urandom | base64`
      - COOKIE_SECRET=<reducted>
    volumes:
      # Mount yo

[2020-07-07 12:09] travisgroth commented on #1031
HI @alceasan - we've switched to envoy for our proxy implementation and they, unfortunately, don't have any official arm images published at this time.

https://github.com/tetratelabs/getenvoy/issues/82
https://github.com/tetratelabs/getenvoy/issues/84
https://github.com/envoyproxy/envoy/issues/1861

Creating our own build is something we've begun working on, but the envoy build ecosystem is a bit

[2020-07-07 14:51] vorpentine opened #1044 "error creating authenticate service: authenticate: 'COOKIE_SECRET' invalid cryptutil: got 0 bytes but want 32"
## What happened?
pomerium_1  | {"level":"fatal","error":"error creating authenticate service: authenticate: 'COOKIE_SECRET' invalid cryptutil: got 0 bytes but want 32","time":"2020-07-07T14:41:27Z","message":"cmd/pomerium"}

## What did you expect to happen?
Working

## How'd it happen?

sudo docker-compose up

## What's your environment like?

Docker-
[code]

## What's your config.yaml?

[code]

[2020-07-07 14:58] vorpentine commented on #1044
fixed, set
authenticate_service_url
and cookie_secret in config.yaml

[2020-07-07 15:03] #1044 closed

[2020-07-07 15:42] benjamingorman commented on #1042
@cuonglm thanks for the extremely helpful response. I was able to get it working using the config changes you mentioned, thanks!

I do feel that this setup would be a useful addition to the docs. What do you think?

[2020-07-07 16:01] benjamingorman commented on #1042
Following instructions here https://www.pomerium.io/docs/reference/getting-users-identity.html#prerequisites to check a user's identity I'm expecting to be able to see `X-Pomerium-` headers in the request being sent to httpbin. With this setup, those headers don't seem to appear however. Any idea why that might be? I've tested with and without a SIGNING_KEY being manually set as the docs mention.

[2020-07-07 16:20] benjamingorman commented on #1042
Ah, I see that 8d0deb07 added the `pass_identity_headers` option and that these headers are no longer set by default. After adding `pass_identity_headers: true` in the policy config I do see the `X-Pomerium-Jwt-Assertion` header.

[2020-07-07 16:32] cuonglm commented on #1042
See #1045

[2020-07-07 18:26] camerondavison commented on #567
This exact same thing is happening to someone in my org. They have 100s of groups. They are able to authenticate but then when the redirect to httpbin.x.y.z it just errors out. Is there a work around for it? can I whitelist which groups are part of the jwt?

[2020-07-07 18:27] camerondavison commented on #567
i am running `pomerium/0.9.2 (+https://wwww.pomerium.io; 3b74053; go1.14.4)`

[2020-07-07 19:55] ekovac opened #1046 "Add 'kid' ("Key Id") header parameter to JWT assertion"
**Is your feature request related to a problem? Please describe.**

When using JWT + JWKS for auth, it is helpful to be able to match up the key ID with the corresponding record in the JWKS JSON file. The specification suggests an optional field "kid" in the webtoken header: https://tools.ietf.org/html/rfc7515#section-4.1.4

The existing JWKS.json served by pomerium when a signing key is specified

[2020-07-08 01:57] cuonglm commented on #567
Could you please try with current master branch?

There's change in v0.10.x that helping storing all groups information.

[2020-07-08 01:59] #1042 closed

[2020-07-08 19:25] camerondavison commented on #567
when i upgraded the code I am no longer seeing `X-Pomerium-Jwt-Assertion` in the headers

[2020-07-08 21:04] camerondavison commented on #567
I tried to turn on `pass_identity_headers` and it just went into an infinite redirect loop

[2020-07-08 21:36] Sidewinder53 opened #1050 "Azure IDP implementation broken"
## What happened?
When using the Azure IDP implementation, Pomerium does not retrieve all user data or may not process it properly.
This issue blocks access to all configured applications as Pomerium will match the invalid user data with the configured policy.

Your help is appreciated!

## What did you expect to happen?
The Azure IDP implementation should provide the requested information.

## Ho

[2020-07-08 21:55] mihaiblaga89 commented on #983
having the same issue

config:
[code]

logs:
[code]

[2020-07-09 01:36] cuonglm commented on #567
Could you please provide some logs?

`pass_identity_headers` should not affect the routing.

[2020-07-09 04:45] cuonglm commented on #1050
@Sidewinder53 Could you please re-try with the master branch?

There's change in master which has new mechanism to retrieve user's directory information.

[2020-07-09 05:05] wrecker opened #1051 "Get List of Active Sessions"
**Is your feature request related to a problem? Please describe.**

I am looking to deploy pomerium in a small production environment to expose an internal app to remote users. We were using Cloudflare Access for a while but I want to switch to Pomerium. I have pomerium running successfully, but what I am missing is the ability to see which users currently have an "active" session.

**Describe the

[2020-07-09 05:16] desimone opened #1052 "docs: google service account ui changed"
## What happened?

Google changed their service account process.

## What did you expect to happen?

That's a loaded question :)

## How'd it happen?

## What's your environment like?

## Additional context

![image (3)](https://user-images.githubusercontent.com/1544881/86998101-84f8a700-c164-11ea-84a5-b8a6c541f2d2.png)
![image (2)](https://user-images.githubusercontent.com/1544881/86998103-8629d4

[2020-07-09 05:18] desimone commented on #1052
Thank you @shreyaskarnik for reporting

[2020-07-09 05:39] #1046 closed

[2020-07-09 09:00] cuonglm commented on #1014
I think this is duplicated of https://github.com/pomerium/pomerium/issues/858

[2020-07-09 13:42] travisgroth commented on #811
@fightforlife this issue is a bit of a mess currently.  Can you clarify if you have enabled ipv6 in docker compose as in https://github.com/pomerium/pomerium/issues/811#issuecomment-636904308?  I'm seeing ipv6 references in your logs there, which sounds like ipv6 is enabled on the host OS.

I believe those DNS messages are normal operations.

[2020-07-09 14:00] cuonglm commented on #440
@desimone is this issue still the case?

https://github.com/pomerium/pomerium/pull/444#issuecomment-634741772

[2020-07-09 15:09] camerondavison commented on #567
I restarted everything and cleared all my cookies and the redirect loop seems to have gone away.

Running in k8s
[code]

version
[code]

with this config
[code]

looking at the headers that are sent to httpbin service shows no jwt assertion header. not sure what log you would like.

[2020-07-09 15:12] camerondavison commented on #567
oh. woops. i figured it out. i had to move `pass_identity_headers` into the policy. not sure how i missed that in the documentation.

[2020-07-09 15:47] cuonglm commented on #567
So does it work now?

[2020-07-10 07:11] desimone commented on #440
I think we can close this.

[2020-07-10 07:11] #440 closed

[2020-07-10 13:23] calebdoxsey commented on #1051
@wrecker in the latest version of Pomerium sessions are now stored in-memory in the Cache service (now renamed the Databroker service). You can get all of them using the gRPC `GetAll` method:

https://github.com/pomerium/pomerium/blob/master/pkg/grpc/databroker/databroker.proto#L63

The expected data type is `type.googleapis.com/session.Session`.

You can delete a session by using the `Set` method

[2020-07-10 18:35] Sidewinder53 commented on #1050
@cuonglm Certainly. The docker image from the master branch does in fact change the behavior, unfortunately the information returned is still not enough to match the policy settings:
![image](https://user-images.githubusercontent.com/19623985/87187033-cae07700-c2ec-11ea-9bec-d1c848f634a9.png)

The GUID in the UserID corresponds to the Object ID of the Azure AD user object.

[2020-07-10 19:41] calebdoxsey commented on #1031
Unfortunately emulating arm64 locally on amd64 hardware is incredibly slow and it will take too long to compile envoy. We will need to run the compilation on cloud hardware. AFAIK GCE does not currently offer arm instances, but AWS does so that's likely our best option.

Even with fast hardware compiling envoy takes several hours.

[2020-07-10 22:47] camerondavison commented on #567
I had to change the `aud` that our app was verifying as well. So finally just got this deployed. But, then noticed that it broke all the routes using `allow_groups`. Is there a changelog that I should make another configuration change to get the `allow_groups` to work?

[2020-07-11 01:29] cuonglm commented on #1050
With master branch, you need to setup service account for syncing directory correctly. See https://master.docs.pomerium.io/docs/identity-providers/azure.html#service-account

[2020-07-11 01:32] cuonglm commented on #567
I don't think there's any changes related to `allow_groups` format, I think you should just set the right form of group. Could you please post the rule related to `allow_groups`?

See [this](https://github.com/pomerium/pomerium/issues/573) for more general discussion.

[2020-07-11 01:49] camerondavison commented on #567
this is my policy
[code]

[2020-07-11 02:00] cuonglm commented on #567
Sorry, I mean the policy which contains `allowed_groups`.

[2020-07-11 02:32] camerondavison commented on #567
oh my bad. I should have realized that
[code]

[2020-07-11 05:46] Sidewinder53 commented on #1050
Sorry, I wasn't sure if this section is required. I configured the service account, but the logs mention an error:
[code]

I created this JSON document:
[code]

I converted the JSON document into a string and encoded it with base64.
Any ideas what I'm missing here?

[2020-07-11 06:02] cuonglm commented on #1050
I think the error dues to mis-configuration in Azure, maybe @desimone @calebdoxsey will have idea how to configure the scope.

[2020-07-11 09:19] wrecker commented on #1051
@calebdoxsey :+1:
I was able to query for what I wanted with this
`./grpcurl -plaintext -d '{"type": "type.googleapis.com/session.Session"}' localhost:5443 databroker.DataBrokerService/GetAll`

Deleting a session though didn't quite work the way I expected. After deleting the session, the user whose session was deleted, couldn't access the app behind the proxy anymore. The only way was to restart

[2020-07-11 10:16] #1051 closed

[2020-07-11 12:03] fightforlife commented on #339
@desimone Hi, I now tried multiple mobile browsers on 3 different phones. I always get the two errors in the comment above when using pomerium. (401)
If I enter the local IP directly everything works fine.

Can you find something in the logs?

[2020-07-12 04:54] dmitrif opened #1054 "`certificates.cert` / `certificates.key` should accept base64 in addition to file refs."
**Is your feature request related to a problem? Please describe.**

Currently using Pomerium with "known quantities" — services that are hosted with static hostnames / ports. Working on adding possibility of spinning up n-number of services that are tagged as `internal` in Consul and having them load-balanced by Pomerium.

As we are using nomad, there is consul-template which allows templating out

[2020-07-13 02:18] cuonglm commented on #567
@camerondavison cam

Could you please check that the group `messages@digitalpharmacist.com` appears in your dashboard page when you access `https://message-search.secure.digitalpharmacist.com/.pomerium`?

[2020-07-13 11:43] camerondavison commented on #567
It is not showing up in there anymore. It used to with the old code. I'm wondering if there is some other configuration change that is needed. I am using the `idp_service_account` like I said above.

[2020-07-13 13:48] cuonglm commented on #567
Do you see any error in log indicate that syncing directory failed? I suspect that's the problem, because the new databroker can not retrieve your group information using `idp_service_account`, maybe it's something related to permission settings in Azure.

[2020-07-13 18:07] #858 closed

[2020-07-13 18:07] #1014 closed

[2020-07-13 22:32] camerondavison commented on #567
would it be worth chatting on a different medium? it works when i revert. so i am not what changed? what kind of log am I looking for. I turned on debug logging and I am running the k8s helm chart which run the authenticate,authorize,cache,proxy services. i changed everything to have the same `SIGNING_KEY` because it did not seem like it was coming from the correct service and I could not figure o

[2020-07-13 23:05] AKTheKnight opened #1064 "ext_authz_error when upgrading from v0.8.2 to v0.9.x"
## What happened?
Receiving 500 errors when visiting pages protected behind pomerium. Logs include "response-code-details":"ext_authz_error" for any requests made.

This is the case whether using AzureAD or Github auth.

## How'd it happen?

Changing my docker-compose image to anything higher than pomerium/pomerium:v0.8.2 causes these errors.

## What's your environment like?

Pomerium v0.8.2 runn

[2020-07-14 00:18] camerondavison commented on #567
https://gist.github.com/camerondavison/236f95a76853c927fdb9484a8cbbbe3f
i dont see anything interesting in the authenticate logs.

[2020-07-14 01:27] camerondavison commented on #567
[code]
somehow i got stuck in a redirect loop again. all i see is the above error message

[2020-07-14 01:53] camerondavison commented on #567
I posted some authz logs. to the gist above

[2020-07-14 02:27] camerondavison commented on #567
redirect loop went away when I moved off the 0.10.0-rc1 and to `pomerium/v0.9.0 (+github.com/pomerium/pomerium; 645f0a2; go1.14.4)` but still no groups are showing up and no logs that i can find

[2020-07-14 02:31] cuonglm commented on #567
This one:

[code]

is strange, I guess that cause the error, because v0.10.x will use the databroker to store user directory information. Somehow the databroker server is not up.

[2020-07-14 02:32] camerondavison commented on #567
i think that one went away when i upgraded to the latest version. i am seeing this
[code]

[2020-07-14 02:34] cuonglm commented on #567
What do you mean `latest`? Is it `master`?

In any case, that error means there's problem when pomerium connect to Google APIs to retrieve your groups.

[2020-07-14 02:35] desimone commented on #567
@cuonglm / @camerondavison maybe this would be good to pull into http://pomerium-io.slack.com/ ?

[2020-07-14 02:36] cuonglm commented on #567
Sure 👍

[2020-07-14 02:38] camerondavison commented on #567
by latest i meant master yes. i am not sure that i have access to that slack?

[2020-07-14 02:44] camerondavison commented on #567
maybe this is the problem? https://github.com/pomerium/pomerium/issues/1052

[2020-07-14 02:49] cuonglm commented on #567
You can register [here](http://slack.pomerium.io/)

[2020-07-14 02:53] cuonglm commented on #1064
@AKTheKnight Thanks for reporting.

Some thoughts:

 - What's exactly images you tried other than v0.8.2
 - Do you see any error logs in authenticate/authorize services
 - Could you please try `allowed_users` instead of `allowed_groups` to see if it works

[2020-07-14 02:58] travisgroth opened #1066 "Data Broker on Redis"

[2020-07-14 02:58] travisgroth opened #1067 "Data Broker stores Pomerium policy"

[2020-07-14 02:59] travisgroth opened #1068 "Data Broker can store N rego policies"

[2020-07-14 02:59] travisgroth opened #1069 "Pomerium can send GCP Serverless authorization header"

[2020-07-14 03:00] travisgroth opened #1070 "Pomerium can run on Cloud Run"

[2020-07-14 03:00] travisgroth opened #1071 "Enterprise Console functionality is tangible"

[2020-07-14 11:33] AKTheKnight commented on #1064
Hi @cuonglm,

I started with v0.8.0 when I noticed I was super out of date. Went straight to latest and noticed the issue, then worked inwards from v0.9.2 and v0.8.0 until I realised it works on v0.8.2, but on nothing higher.

I'm currently running pomerium in the all-in-one setup within docker, as I wasn't able to see a need for the three service setup when it's only me using it (very low traffic

[2020-07-14 16:32] #1064 closed

[2020-07-14 22:04] camerondavison commented on #567
I think that I figured out at least the problem that I was running into with the new code. https://pomerium-io.slack.com/archives/CK92MUAES/p1594763955278400?thread_ts=1594737395.260800&cid=CK92MUAES

It looks like the timeout is 1 minute and that is not enough time to enumerate all the groups
[code]

Maybe we can up this timeout to 5 minutes? I am not sure what would make sense, or make it config

[2020-07-15 00:55] desimone commented on #567
@camerondavison that's really interesting. Could you give a ballpark figure of how many groups we are talking about?

[2020-07-15 01:07] desimone commented on #567
@camerondavison I think you might be hitting the 1QPS usage limit.

https://github.com/pomerium/pomerium/issues/27#issuecomment-468565835

[2020-07-15 01:18] camerondavison commented on #567
I'm new to the company but looking through the panel i got through 25 pages of 50 and it looks like we may have 1 group per customer. So maybe 5000 groups? Not every group has members. So maybe an optimization could be made around there?

[2020-07-15 07:30] sylr commented on #1050
I don't know if it is relevant to this issue but know that if a user has more than a certain number of groups (200 IIRC) Azure AD stops replying with groups informations for this user.

[2020-07-15 07:49] Sidewinder53 commented on #1050
The user in question is part of a few groups only, so it shouldn't apply in this case.
Could we get your perspective on this @desimone @calebdoxsey ?

[2020-07-15 11:46] AKTheKnight commented on #1050
I fixed this by giving the Group.Read.All Application permission, as I believe the group pulling is now done during pomerium startup, hence running as an application before a user signs in:
![image](https://user-images.githubusercontent.com/7502848/87541401-1aca8f80-c699-11ea-8019-6739443c1b0f.png)

[2020-07-15 11:58] calebdoxsey commented on #1050
Here are the permissions I used while testing:

![Screenshot from 2020-07-15 05-57-15](https://user-images.githubusercontent.com/395272/87542374-159d1e80-c660-11ea-81e2-f6d98b50d773.png)

[2020-07-15 12:24] AKTheKnight commented on #1050
OOh you have quite a few more permissions than I have used. I might do some tests and see what's the minimum before pomerium has issues

[2020-07-15 14:15] #1054 closed

[2020-07-15 14:56] travisgroth opened #1079 "cache: google directory sync not returning group e-mails"
## What happened?

Group membership detection does not seem to be working on master.

## How'd it happen?

1. Started with good `v0.9` configuration with an idp service account.
2. Upgrade to `master`
3. 403 Error

## What's your environment like?

- Pomerium version (retrieve with `pomerium --version` or `/ping` endpoint): `v0.9.0+a5db944`
- Server Operating System/Architecture/Cloud: local all-i

[2020-07-15 15:08] desimone commented on #1079
#573

[2020-07-15 15:14] camerondavison commented on #567
@cuonglm helped me turn up the timeout to 9 minutes, and we still are unable to get the sync to work.
[code]
maybe one of the following would help?
1. make the refresh and timeout numbers configurable instead of every 10 minutes, and 1 minute for the timeout
1. whitelist of groups to sync
1. read the list of groups to lookup membership for from the policies (it would kind of be like specifying a w

[2020-07-15 15:20] travisgroth commented on #1079
🤦  okay then.

[2020-07-15 17:14] Sidewinder53 commented on #1050
@AKTheKnight and @calebdoxsey Thank you very much for your help!
Unfortunately, I still don't get enough information to allow sign-in to my applications.

These are my API settings:
![image](https://user-images.githubusercontent.com/19623985/87574681-04d7c180-c6cf-11ea-9828-c399470c128d.png)

This is what /.pomerium shows after a restart of the container:
![image](https://user-images.githubusercon

[2020-07-15 17:17] AKTheKnight commented on #1050
Of course, mine looks like this:
[code]

[2020-07-15 18:08] calebdoxsey commented on #1050
@Sidewinder53 there's another step I forgot about. Did you do: https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-python-daemon#standard-user

    https://login.microsoftonline.com/Enter_the_Tenant_Id_Here/adminconsent?client_id=Enter_the_Application_Id_Here

[2020-07-15 21:03] desimone commented on #573
I think a reasonable solution is to add _both_ Group ID and a user-friendly name to the group membership mapping. Though there would be a bit more data duplication, and it puts the onus of using an appropriate identifier on the operator, I think this is probably the best of both worlds.

[2020-07-16 03:05] desimone opened #1085 "identity: add id and a user-friendly name to groups list"
I think a reasonable solution is to add _both_ Group ID and a user-friendly name to the group membership mapping. Though there would be a bit more data duplication, and it puts the onus of using an appropriate identifier on the operator, I think this is probably the best of both worlds.

_Originally posted by @desimone in https://github.com/pomerium/pomerium/issues/573#issuecomment-659009016_

[2020-07-16 11:19] #1079 closed

[2020-07-16 17:15] #1085 closed

[2020-07-16 18:38] Sidewinder53 commented on #1050
@calebdoxsey Good point! However, I have already granted admin consent trough the Azure Portal.

I have tweaked my API permissions to look exactly like calebdoxsey's and now I do see the group IDs the user is part of:
![image](https://user-images.githubusercontent.com/19623985/87709160-23f45300-c7a4-11ea-9af8-9a4e2489f273.png)

Still no email though.
What version are you all running? Are you on th

[2020-07-17 00:36] devstein commented on #983
Also running into this issue in `v0.9.2`. We are running Istio 1.4.7

[2020-07-17 00:47] shreyaskarnik opened #1090 "Impersonate form visible for non-administrators"
## What happened?
Non-administrator user was logged in and upon going to the `.pomerium` page saw this
![image](https://user-images.githubusercontent.com/311217/87736142-3d89a080-c78c-11ea-80df-e5c300189fd6.png)

## What did you expect to happen?
The sign-in as/impersonate form should only be visible to administrators

## What's your environment like?

- Pomerium version (retrieve with `pomerium -

[2020-07-17 01:02] desimone commented on #1090
Related to https://github.com/pomerium/pomerium/pull/979
\cc @cuonglm

[2020-07-17 01:04] cuonglm commented on #1090
The issues was fixed for v0.10.x, not for v0.9.x

Should we backport @desimone ?

[2020-07-17 01:06] desimone commented on #1090
Yes, I think so.

[2020-07-17 01:11] shreyaskarnik opened #1091 "Impersonation email not used when impersonating user"
## What happened?
* Admin user impersonated an user in the same domain
* Restricted page was visible upon impersonation
* Triaging this issue with @desimone it seems like this is a regression and the admin identity is being used for policy evaluation.

## What did you expect to happen?
* Upon impersonation the non-admin user should get 401 for a restricted page.

## What's your environment like?

[2020-07-17 05:00] cuonglm commented on #1091
This is not a regression though, I can reproduce with v0.8.4, v0.9.4 and master as well

[2020-07-17 05:48] szymonpk opened #1096 "pomerium proxy 0.9.4 gets "Forbidden" (GitLab IdP, 0.9.2 is running fine)"
## What happened?

After upgrading pomerium to 0.9.4 from 0.9.2, I get 403 error when accessing pomerium-protected page.

## What did you expect to happen?

No error, and see pomerium-protected page.

## How'd it happen?

1. Upgraded pomerium to 0.9.4 from 0.9.2
2. All pomerium-protected pages return 403

## What's your environment like?

- Pomerium 0.9.4 managed by helm chart
- EKS 1.15
- Traefik

[2020-07-17 06:00] cuonglm commented on #1096
@szymonpk Could you please try deleting your cookie and see if it's works.

[2020-07-17 06:29] szymonpk commented on #1096
@cuonglm you mean from the browser? It does not help. I have tried logging from the different browsers, private sessions, etc.

[2020-07-17 06:37] cuonglm commented on #1096
@szymonpk it's very likely that my 2 commits cause this problem, not sure why, though. Would you mind sharing your traefik configuration for forward auth?

https://github.com/pomerium/pomerium/compare/v0.9.2...v0.9.4

[2020-07-17 06:42] cuonglm commented on #1096
Also, would you mind pasting log of all services. Thanks.

[2020-07-17 06:42] szymonpk commented on #1096
We just have the Middleware

[code]

[2020-07-17 06:44] szymonpk commented on #1096
@cuonglm debug level logs?

[2020-07-17 06:52] cuonglm commented on #1096
If you have that, will be very useful.

[2020-07-17 07:02] cuonglm commented on #1096
@szymonpk FYI, the example with traefik in forward auth mode [here](https://github.com/pomerium/examples/blob/master/traefik/docker-compose.yaml#L25) does work.

[2020-07-17 07:08] szymonpk commented on #1096
Sorry there is lot of noise there, I tried to grep after request ids:

[code]

If you would like to see more, maybe we could establish different way of passing logs?

[2020-07-17 09:51] #567 closed

[2020-07-17 13:22] cuonglm commented on #1050
@Sidewinder53 With current [master](59c17fb497d6a3d7a4da0febcffe9ca8328af46d), you will see both group id and group name in your group.

See [this commit](https://github.com/pomerium/pomerium/commit/ee1f9093eeff853e1c6a241c8ac2ae5ac900b35c) for more details.

[2020-07-17 14:03] cuonglm commented on #1096
@szymonpk Could you please try:

[code]

to see if it works?

[2020-07-17 15:06] cuonglm commented on #1090
Fixed in https://github.com/pomerium/pomerium/commit/ef2e5869b6a3e295c65c898f37871df1640aa0ce

[2020-07-17 15:06] #1090 closed

[2020-07-17 15:07] #1091 closed

[2020-07-17 16:24] desimone opened #1100 "frontend: make dashboard's time stamps great again"
## What happened?

Timestamps are now given in unix seconds.

<img width="343" alt="Screen Shot 2020-07-17 at 9 21 51 AM" src="https://user-images.githubusercontent.com/1544881/87808713-0c9e7f80-c80f-11ea-965d-892e90b73e6e.png">

## What did you expect to happen?

Timestamps should be pretty printed as in previous versions.

![logged-in-as e6ca0a79](https://user-images.githubusercontent.com/154488

[2020-07-17 20:56] Sidewinder53 commented on #1050
I have no idea what's wrong.. 😅
![image](https://user-images.githubusercontent.com/19623985/87830109-ae11e980-c880-11ea-8b71-8b9e64644898.png)

[2020-07-17 21:49] desimone commented on #1050
I've seen this issue with Azure before but was not able to personally reproduce

See https://github.com/pomerium/pomerium/issues/520

[2020-07-18 20:59] Sidewinder53 commented on #1050
I have decided to replace Azure with AWS Cognito, as I don't really see any solution for that. Thanks for your help so far.

[2020-07-20 05:53] szymonpk commented on #1096
Sorry for the late reply, your suggestion worked just fine, thank you! I see you are fixing this in the code as well, any chance we will see a 0.9.x bug fix release soon?

[2020-07-20 06:29] cuonglm commented on #1096
It's in the queue for reviewing, if everything is ok, it will be included in backport to 0.9.x

[2020-07-20 06:35] #1100 closed

[2020-07-20 07:07] szymonpk commented on #1096
Thanks!

[2020-07-20 13:51] travisgroth commented on #937
Hi @1rootgear what version of pomerium are you running presently?  Have you tried on the v0.9.x series?  There's been changes in the proxy layer so I'd like to check if you're still seeing this.

[2020-07-20 14:56] desimone opened #1112 "authorize: fallback to using a user's id_token's group claim"
**Is your feature request related to a problem? Please describe.**

In v0.10.0 groups (and other associate user data) will be stored in the databroker, and group membership will be polled from a given identity provider. The issue is not all identity providers have (or easily expose) their groups endpoint. We should continue to support those OIDC providers that do allow setting groups as part of th

[2020-07-20 15:47] devstein opened #1113 "Initial Service Redirect Not Handle Correctly"
## What happened?
I'm using Pomerium with Istio to authenticate our internal Airflow service. The Istio virtual service send all traffic to the Pomerium proxy. The rule looks like the following:

[code]
The issue is that Airflow redirects traffic from `/` to `/admin/` giving a 302 response to Pomerium. Pomerium then redirects the user's browser to `http://airflow-web.airflow.svc.cluster.local:8080

[2020-07-20 15:49] calebdoxsey commented on #1113
@devstein I believe you need to set the `base_url` in your airflow config: https://airflow.readthedocs.io/en/stable/howto/run-behind-proxy.html.

[2020-07-20 17:03] sly-net commented on #1112
Thanks for opening this issue.

In my case, I'm setting up a fully self-hosted solution for Identity and Access management. No Identity as a Service. I'm trying to combine Traefik, Pomerium (in forward-auth mode) and Dex which has a connector to an OpenLDAP server. So basically identities are provided by LDAP.

I don't know Pomerium users but I can imagine some of them would like to use a self-hos

[2020-07-20 17:58] #1096 closed

[2020-07-21 03:14] peter-hs commented on #430
@derrickburns how did you do this? I'm encountering this same issue though I can't figure out how to get pomerium to strip the origin header.

[2020-07-21 21:49] followsound commented on #667
Sorry to re-open this but the Kubernetes example uses http internally and seems to cause this issue

[2020-07-21 21:54] followsound commented on #667
Also just found out this is not an issue in v0.9.2 docker image, but is in v0.10.0-rc1

[2020-07-21 22:26] desimone commented on #667
@followsound Thanks for bringing this up. This should now be fixed on master -- could you check?

https://github.com/pomerium/pomerium/pull/1075

[2020-07-22 12:53] followsound commented on #667
Yep looks like this is fixed on master :)

[2020-07-22 16:26] desimone commented on #1113
@devstein did that do the trick?

[2020-07-22 16:29] devstein commented on #1113
@desimone @calebdoxsey It did 😄  appreciate the help!

[2020-07-22 16:29] #1113 closed

[2020-07-23 05:24] szymonpk commented on #1096
I would like to thank you again, I have upgraded our sandbox to 0.9.5, it is working fine now :+1:

[2020-07-23 09:28] lyndon160 opened #1130 "Accessing via pomerium using programatic client returns login page"
## What happened?

Following the example from https://github.com/pomerium/pomerium/tree/master/examples/traefik I have successfully setup the example with my IDP (Keycloak) to work with the browser login.

However, when I try to access the page programmatically using either curl or postman with a bear token obtained using password grant,

## What did you expect to happen?

I expected to see the re

[2020-07-23 17:14] cuonglm commented on #1130
It works for me with [commit]()

[code]

[2020-07-23 18:10] calebdoxsey commented on #1130
AFAIK this use case is not supported.

Users must go through the authenticate service to have access via the authorize service. Pomerium sessions are stored in a databroker service populated by authenticate and queried by authorize.

Generating a token via a separate mechanism, even with the same client credentials, will not log a user into Momerium.

[2020-07-23 18:46] lyndon160 commented on #1130
@calebdoxsey thanks for pointing that out, I started to get that feel from the Docs.

It's a shame as Pomerium ticks so many other boxes. Is there a reason this flow is not supported? It's a fairly common flow for m2m communications. Most if not all of the other popular IAPs support this flow.

I will close this issue as the cause is by design.

[2020-07-23 18:47] lyndon160 commented on #1130
@cuonglm unfortunately that does not help me for my use case as I don't have control over how the clients interface with the backend API. They simply have a bearer token in the header.

[2020-07-23 18:48] #1130 closed

[2020-07-23 19:26] travisgroth commented on #983
Thanks everyone for your patience on this.  Two issues were at play here.

1) The helm chart used `http` for our grpc port names in `config.insecure`.  In this case, Istio tries to proxy grpc over HTTP/1.1, which does not work with our grpc services.

2) When we switched to Envoy internally (a `v0.9` change), a subtle behavioral difference was introduced.  This caused the request `Authority` to no

[2020-07-24 10:45] followsound commented on #523
Would also like to use multiple IDP - is this available (even if in Beta)?

[2020-07-24 21:26] mihaiblaga89 commented on #983
Seems to work fine with the setup that I’ve described in the previous post.
Thanks!

On Thu, 23 Jul 2020 at 21:26, Travis Groth <notifications@github.com> wrote:

[2020-07-25 00:59] jfcantu opened #1136 "Path stripped from `to` URI starting in v0.9.0"
## What happened?

Starting with v0.9.0, Pomerium appears to strip the path from URI specified in the `to:` directive if one is specified.

## What did you expect to happen?

Prior to v0.9.0, Pomerium would include the path in the proxied requests.

## How'd it happen?

I have the following proxy policy set up:

[code]
Trying to access `https://kibana.[redacted]` instead returns the nginx default

[2020-07-25 02:02] desimone commented on #1136
Additional context here: https://pomerium-io.slack.com/archives/CK92MUAES/p1595616693306100

@jfcantu : Where you able to compare the differences in the request headers that hit nginx?

[2020-07-25 11:57] joe-getcouragenow opened #1137 "How to add / use other auth providers"
**Is your feature request related to a problem? Please describe.**

The internal namespace has about 6 auth providers, but we want to add our own....

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**

The ability to add ours on the side.

**Describe alternatives you've considered**

**Explain any additional use-cases

[2020-07-27 06:16] cuonglm commented on #1137
@joe-getcouragenow If your auth provider supports OIDC, you can easily make pomerium uses it, by providing all necessary configurations.

See https://www.pomerium.io/configuration/#identity-provider-client-id for all details configurations.

[2020-07-27 08:19] Djiit opened #1141 "Use Pomerium to Authenticate an API"
**Is your feature request related to a problem? Please describe.**

I want to authenticate my APIs with a JWT validation layer. Can this layer be Pomerium ?

Pomerium is really great to authenticate users from their browser, can I use it with API access where users give a Auth header containing a JWT ?

**Describe the solution you'd like**

As in solutions like [NGINX Plus JWT](https://docs.nginx.

[2020-07-27 08:26] cuonglm commented on #1141
I think [this](https://www.pomerium.io/docs/reference/programmatic-access.html#components) is what you want, though you still need a browser to get the token.

[2020-07-27 08:35] Djiit commented on #1141
Hey, thanks for your quick answer !

No, I really need to do a JWT validation like the other listed alternatives do.

[2020-07-27 09:17] cuonglm commented on #1141
Sorry, this is not supported, see https://github.com/pomerium/pomerium/issues/1130#issuecomment-663154929

[2020-07-27 09:17] #1141 closed

[2020-07-27 14:18] cuonglm commented on #826
Related https://github.com/envoyproxy/envoy/issues/8947

[2020-07-27 21:26] desimone opened #1144 "identity: warn if custom scopes are set"
**Is your feature request related to a problem? Please describe.**

It's easy to get into trouble with oauth2 scopes especially with known providers.

(e.g. Google rejects the offline_access scope, but requires you to add it as part of the signin url). Setting the wrong scopes can result in very undefined behavior with the identity manager service, and elsewhere.

https://github.com/pomerium/pomer

[2020-07-27 22:55] jeffhubLR commented on #983
I'm trying with the latest helm chart: 11.0.0
So far I'm still receiving the authz_error in proxy logs:
* "response-code":500,"response-code-details":"ext_authz_error"

[2020-07-28 17:47] travisgroth opened #1148 "pomerium-cli/k8s: upstream tls verification"
**Is your feature request related to a problem? Please describe.**

When using a self signed or otherwise alternately sourced CA, the k8s command fails silently when getting the URL to open in the browser.

**Describe the solution you'd like**

We should probably support:

- Flag to disable TLS verification
- Flag to set an alternate CA cert path
- Flag to set a Base64 encoded CA cert

[2020-07-28 17:53] travisgroth opened #1149 "pomerium-cli/k8s: exec-credential blocks on error when getting pomerium login url"
## What happened?

When there is a connection error calling pomerium in `runOpenBrowser`, the command hangs.

## What did you expect to happen?

Exit + print error condition

## How'd it happen?

1. Ran `pomerium-cli k8s exec-credential https://localhost:12345` with nothing listening on :12345

## What's your environment like?

- Pomerium version (retrieve with `pomerium --version` or `/ping` endp

[2020-07-28 18:57] calebdoxsey opened #1150 "Using non-standard ports in routes or service URLs no longer works"
## What happened?
Using a route like

[code]

Will not match requests.

## What did you expect to happen?
For traffic to `https://k8s.localhost.pomerium.io:30005` to go to the backend server.

## What's your environment like?
- master branch
- kind kubernetes cluster with multiple services

## Additional context
The issue is due to this change: https://github.com/pomerium/pomerium/pull/1126. Remov

[2020-07-28 19:13] travisgroth opened #1151 "pomerium-cli/k8s: credential expiration inconsistent"
## What happened?

It appears we get a browser auth flow about every minute, despite JWT expiration being 1 hour long.

## What did you expect to happen?

Browser flow should only happen when the actual JWT is expired, or never, after initial setup.  I think with the current backend session management, the latter is possible/correct.

## How'd it happen?

1. Set up kubernetes auth
2. run `kubectl

[2020-07-28 19:37] bjoernw commented on #983
Works with version 11 of the chart and travis' image 🥳

[2020-07-29 02:25] travisgroth opened #1154 "pkg/storage/redis: spurious i/o timeout error messages"
## What happened?

When using the redis backend, I'm seeing regular errors from timeouts when log level is debug:

[code]

## What did you expect to happen?
No errors when working normally

## How'd it happen?

1. Enabled redis databroker backend
2. Started with either existing or empty redis store
3. Errors occur regularly

## What's your environment like?

- Pomerium version (retrieve with `pome

[2020-07-29 02:34] cuonglm commented on #1154
I think we can safely remove the debug log. The open question is, whether we should make the timeout configurable?

[2020-07-29 13:27] travisgroth opened #1156 "pkg/storage/redis: Support TLS Options"
**Describe the solution you'd like**

We should support some basic TLS options to redis for transport security.  This should include:

- Enable/disable client TLS
- Provide client certificate
- Turn server verification on/off

TLS with server verification should be the default given our desired security posture.

**Describe alternatives you've considered**

N/A

**Explain any additional use-cases*

[2020-07-29 13:29] travisgroth opened #1157 "pkg/storage/redis: Support Authentication"
**Describe the solution you'd like**

Storage backend should support redis user/password authentication.

**Additional context**

Docs here https://redis.io/topics/acl

I think we can just support the newer user + password.

[2020-07-29 13:37] travisgroth opened #1158 "databroker: encrypt sessions at rest"
**Is your feature request related to a problem? Please describe.**

Storage backends have various security postures.  Since user tokens are stored there, we may want to provide additional security around them.

**Describe the solution you'd like**

We could follow the current cookie model and start with symmetric encryption of the session contents.

Further improvements around signatures could als

[2020-07-29 14:48] #1154 closed

[2020-07-29 16:08] #1157 closed

[2020-07-29 16:10] #983 closed

[2020-07-29 19:17] 1rootgear commented on #937
Hi @travisgroth It seems that .9.5 seems to be a bit better. I don't see the same limitations at 300MB, however it looks like around 700MB+ the issue starts to happen again. Also, it does appear that the containers ram is not increasing which leads me to believe that its not being cached or anything.

[2020-07-30 06:12] fightforlife commented on #667
Is this already integrated in v0.9.6? I am experiencing this issue with v0.9.6 as a reverse proxy for portainer.

[2020-07-30 15:57] kumarjp commented on #667
Try setting a fixed "shared_secret", Seems it was happening post pomerium restart or reload.

[2020-07-30 16:13] kumarjp opened #1166 "Certificate Error on using TLSCustomCA on Pomerium090"
## What happened?
I'm using a custom HTTPS-Server and CA.  This CA is configured in tls_custom_ca.  With Pomerium-080, the route works fine, certificate is trusted and connection is established with the server.
However, with Pomerium-090, I get this error from envoy
{"level":"debug","service":"envoy","name":"pool","time":"2020-07-30T15:49:23Z","message":"[C16] client disconnected, failure reason:

[2020-07-30 18:20] fightforlife commented on #667
@kumarjp Thanks, this seems to be working now!

[2020-07-30 18:48] travisgroth opened #1167 "pkg/storage/redis: connection failure handling"
## What happened?

When connectivity to redis is severed, databroker goes into unrecoverable state, even if redis comes back at the same address.

I believe health checks are still passing but I need to confirm in dedicated service mode.  This was tested in all-in-one.

## What did you expect to happen?

We have a few options:

- Easiest is probably to bubble up the failure and exit so that monito

[2020-07-30 18:57] cuonglm commented on #1167
I think this is partly fixed in #1163.

The problem is redigo does not return net.Err, so pub sub still uses old conn.

[2020-07-30 19:21] travisgroth commented on #1167
This was actually on that branch

[2020-07-30 20:03] desimone commented on #667
Thanks @kumarjp / @fightforlife

Going to close this now. Feel free to reopen if anything pops back up.

[2020-07-30 20:03] #667 closed

[2020-07-30 20:04] #1158 closed

[2020-07-30 23:09] yegle commented on #959
This is not fully resolved. It looks like a request with header `Host: example.com:443` will disable public unauthenticated access:

[code]

Policy config:

[code]

[2020-07-31 00:09] desimone commented on #959
\cc @cuonglm / @calebdoxsey

[2020-07-31 01:29] cuonglm commented on #1167
That's why I said partly. I think we should always return if got error, then the client will re-call Sync to recover

[2020-07-31 02:12] calebdoxsey commented on #959
The route matching code in authorize needs to be updated.

[2020-07-31 12:37] #1156 closed

[2020-07-31 14:41] #959 closed

[2020-07-31 15:17] #1167 closed

[2020-07-31 15:50] #1151 closed

[2020-07-31 19:51] #1148 closed

[2020-07-31 19:51] #1149 closed

[2020-08-02 06:13] yegle commented on #88
Looks like there's a regression here. I added a long list of `extra_hosts` to my docker-compose file and Pomerium still uses DNS to get the IP address.

[2020-08-03 04:16] cuonglm commented on #88
@yegle would you mind giving your redacted configuration? With current master docker image, I got:

[code]

[2020-08-03 04:44] yegle commented on #88
I just tested with this config:

[code]

Once you start the container, you should see DNS queries from the container to does-not-exist.com:

[code]

@cuonglm your test is using ping not pomerium, there's some complexities with a Go binary (this bug was initially reported due to the missing of `/etc/nsswitch.conf` in the container which caused some Go binary to always use DNS and ignore `/etc/hosts

[2020-08-03 09:26] yegle commented on #88
Hmm, this is even weirder. I'm observing the following:

For a policy with `to: http://xxx.local` (a local DNS name)

Case 1: do not use `extra_hosts` or `--add-host` and let Pomerium to use DNS to resolve LAN hostnames: works fine.

Case 2: use `extra_hosts: xxx.local:192.168.x.x` or `--add-hosts xxx.local:192.168.x.x`: Pomerium still does DNS query to xxx.local, and accessing the site result in

[2020-08-03 10:01] cuonglm commented on #88
@yegle with your this command:

[code]

I can see in the log:

[code]

So sounds like envoy still picks one from hosts file.

[2020-08-03 14:12] mig4ng opened #1194 "Setting to threat email as case-insensitive"
**Is your feature request related to a problem? Please describe.**

The auth provider I am using threats emails as case-insensitive. Some users have uppercase letters (e.g. the first letter of the name) in their email addresses but in all the tools (e.g. internal tools/apps, gmail, etc) these uppercase letters are ignored. In other words emails are handled as case insensitive.

Pomerium threats em

[2020-08-03 14:42] kumarjp commented on #1166
It is similar to the this issue:
https://github.com/envoyproxy/envoy/issues/6763

Resolved by generating certs with SAN.

Closing this.

[2020-08-03 14:42] #1166 closed

[2020-08-03 16:17] cuonglm commented on #1194
cc @desimone

[2020-08-03 17:18] desimone commented on #1194
Hi @mig4ng  -- Totally understand why this would be helpful to you and appreciate you offering to contribute the implementation. However, to keep our code paths as concise / simple to manage (especially around authorization controls) I would prefer to keep everything case sensitive for the moment.

I know it's a bit of a pain given your existing workflow but, would it be possible to get a case sen

[2020-08-03 18:16] yegle commented on #88
I wonder if you can observe https://github.com/pomerium/pomerium/issues/88#issuecomment-667914885?

Note this line, since you set --dns flag when running the container and your DNS ip is likely not the same as mine, it looks like envoy will try DNS first then fallback to /etc/hosts.

[2020-08-03 22:41] yegle commented on #88
Please ignore https://github.com/pomerium/pomerium/issues/88#issuecomment-667914885, the issue was with my DNS server not with Pomerium. Still need to figure out why Pomerium uses DNS first before fallback to /etc/hosts.

[2020-08-04 08:28] jaguarcy commented on #1136
I've experienced the same issue with the switch to envoy, but assumed it was WAI.

[2020-08-04 09:28] mig4ng commented on #1194
It is okay, it was just a nice to have, I understand that this might be a bloat feature. Even more if it complects the paths of the currently simple and concise code.

This is one great example that would go nicely into a patch (e.g. DWM Patches https://dwm.suckless.org/patches/) which changes the code directly instead of adding complexity but requires compilation.

Can you give me a small guide o

[2020-08-04 09:35] cuonglm commented on #1194
@mig4ng you may want to look at `func (e *Evaluator) newInput(req *Request, isValidClientCertificate bool) *input`, which prepares data for passing to rego.

[2020-08-04 12:33] travisgroth opened #1201 "pomerium-cli/k8s: browser auth flow for every command after jwt expiration"
## What happened?
After the cached JWT/Token expiration timestamp, every subsequent `kubectl` request opens a new browser authentication flow.

- Clearing the cached token does not fix the behavior.
- Signing out of the user session in the browser does fix the behavior.
- The cached credential does not appear to get updated until the browser session is logged out.

## What did you expect to happen

[2020-08-04 13:59] travisgroth opened #1202 "pomerium-cli/k8s: kubectl exec fails"
## What happened?
Attempted to `kubectl exec` into pod.  Received error:

[code]
## What did you expect to happen?

Successful exec into pod

## How'd it happen?

1. Fresh kubectl credentials
2. Ran `kubectl get pods` successfully
3. Ran `kubectl exec...` and get error

## What's your environment like?

- Pomerium version (retrieve with `pomerium --version` or `/ping` endpoint): `01d0f7de6ec4125c7

[2020-08-04 14:50] pawneeranger commented on #56
I cannot find any references to the **device state** in the code nor the documentation, are those features still considered for further versions ? If yes, is there any way to contribute to their implementation ?

[2020-08-04 14:59] travisgroth commented on #1202
Additional info:

- Also impacts port forwarding

Looks like the underlying permissions are good when I use the default (non-proxied) cluster admin credentials:

[code]

[code]

[2020-08-04 15:06] travisgroth commented on #1202
Looks like SPDY is likely the issue.

https://github.com/envoyproxy/envoy/issues/11190#issuecomment-658918760

https://github.com/kubernetes/kubernetes/issues/7452

[2020-08-04 17:26] #1202 closed

[2020-08-05 10:04] mike-code commented on #809
I'm also stuck with 0.8.3 working on BSD infra.

I haven't made a research though on why this is a braking change as, macos being also unix derivative, is supported whilst BSD is not. My wild guess is that there's no envoy port thus making it far more complicated than anticipated cc @delphij?

[2020-08-05 10:24] #1194 closed

[2020-08-05 16:55] bradjones1 opened #1213 "Make dashboard Sign Out destination configurable"
**Is your feature request related to a problem? Please describe.**

It would be helpful if the destination for redirection after sign out via the dashboard (`https://proxy-service/.pomerium`) were configurable.

**Describe the solution you'd like**

Configuration option for the proxy service's dashboard to make the redirection after sign out configurable.

**Describe alternatives you've considered

[2020-08-05 19:28] travisgroth commented on #1031
Hi @alceasan - we have now resumed publishing Linux/Arm64 images, starting with v0.10.0-RC3.

[2020-08-05 19:28] #1031 closed

[2020-08-05 20:52] bradjones1 opened #1216 ""Edit this page on GitHub" links broken"
## What happened?

Clicked the "Edit this page on GitHub" link on https://www.pomerium.io/configuration/ and received a 404 at the destination, https://github.com/pomerium/pomerium/edit/master/docs/configuration/readme.md

## What did you expect to happen?

It should have sent me to https://github.com/pomerium/pomerium/blob/master/docs/reference/readme.md

## How'd it happen?

1. Visit a documenta

[2020-08-05 22:12] desimone commented on #1216
Hi @bradjones1 thanks for making this issue. We recently renamed `configuration` to `reference` paths on `master` so I think that's where the disconnect is coming from.

E.G. if you go to https://master.docs.pomerium.io/reference/#google-cloud-serverless-authentication-service-account and click edit, it should work.

Unfortunately, the default button to edit a page is actually being built from `:l

[2020-08-05 22:15] bradjones1 commented on #1216
@desimone No worries, obviously I found the right page (thanks for the quick merge!) but figured I'd open this in case it was "really" an issue. Static sites can be tough in this regard. I'll defer to you of course whether this should stay open/is actionable or not.

[2020-08-06 13:30] #1201 closed

[2020-08-06 18:32] desimone commented on #1216
I'm going to close for now; this should be a temporary issue.

[2020-08-06 18:32] #1216 closed

[2020-08-06 22:37] desimone commented on #1213
At one point we definitely supported this.

https://github.com/pomerium/pomerium/pull/183

[2020-08-08 19:06] jaguarcy opened #1232 "Certificate renewal process blocks envoy from starting on startup"
## What happened?
* Valid certificates eligible for renewal, port 80 firewalled to the pomerium instance. Pomerium serving traffic just fine.
* Pomerium container restarts
* No routes resolve, no traffic flows through the proxy.

## What did you expect to happen?

* Pomerium to continue serving with the old certs.

If anything, even if the certs were expired, I'd have expected pomerium to continue

[2020-08-09 17:43] sly-net commented on #834
Hello,
I have this need too.
My OpenID provider is [Dex](https://github.com/dexidp/dex), which is configured to get identities from an OpenLDAP server.
Dex can pass LDAP user identifiers to clients via a custom claim. Here's the doc: https://github.com/dexidp/dex/blob/master/Documentation/custom-scopes-claims-clients.md
As you can read, the claim looks like this:
[code]

My use case is the followi

[2020-08-10 01:39] cuonglm commented on #1232
@jaguarcy Thanks for reporting.

Would you mind trying `gnouc/pomerium:1232` image, which contains [this fix](https://github.com/pomerium/pomerium/pull/1237)

[2020-08-10 07:16] jaguarcy commented on #1232
Unfortunately all of my certs are now renewed, don't have any that are close to expiry. And since this fix only allows re-using valid certs in case renewal fails (i.e. won't bring up envoy if the initial issuing fails, which fair enough - it makes sense from a security pov), I don't think I have a way to test.

[2020-08-10 16:26] #1232 closed

[2020-08-10 16:57] mike-code opened #1248 "Forward auth redirect uri is loosing the path"
## What happened?

I hit the authz endpoint with a redirection uri like so
`http://10.133.38.108:6000/?uri=https://redacted.acme.com/my_path?foo=bar`
I can see in the logs that the request path was `path=/my_path?foo=bar` although the `pomerium_redirect_uri` will be missing the `my_path` string from the location uri (check additional context below for full HTTP response).

## What did you expect t

[2020-08-10 17:26] cuonglm commented on #1248
What's the proxy you use, nginx or traefik?

[2020-08-10 17:29] mike-code commented on #1248
It's neither, but the example was done via cURL

[2020-08-10 17:56] cuonglm commented on #1248
So it won't work as you expected.

Pomerium currently only supports Nginx and Traefik in forward auth mode. The request you used `http://10.133.38.108:6000/?uri=https://redacted.acme.com/my_path?foo=bar` is the one that match traefik handler. But traefik send the uri via `X-Forwarded-Uri` header, instead of via raw path like that, so pomerium will ignore the rest of your raw url path.

[2020-08-10 17:56] #1248 closed

[2020-08-10 18:55] desimone commented on #1232
I'm not sure this is fixed per: https://github.com/pomerium/pomerium/pull/1237#pullrequestreview-464002551

[2020-08-10 19:12] jaguarcy commented on #1232
It might have fixed it in a roundabout way, considering this would allow cert renewal to move forward.

The main question I guess is how much it matters that pomerium is unresponsive during startup while renewal is happening, and whether pomerium being completely dead on restart in case someone ignores the errors and lets the certs expire.

[2020-08-10 19:35] desimone opened #1249 "docs: okta service account token field should be api_key not api_token"
## What happened?

The okta service account token field should be api_key not api_token

## Additional context

https://pomerium-io.slack.com/archives/CK92MUAES/p1597087774490500?thread_ts=1597082221.475300&cid=CK92MUAES

Thanks to @bjoernw for reporting.

[2020-08-10 19:45] spencergilbert opened #1250 "Feature: support expiring cookie if associated user is idle"
**Is your feature request related to a problem? Please describe.**

My session (authenticated session) should expire after I'm idle (I left the keyboard, got lunch, stuck talking to a chatty coworker) for an X amount of time. If I'm actively working, I do not want/need my session to expire as I should be considered an active user.

**Describe the solution you'd like**
A configurable time option th

[2020-08-11 02:05] #1249 closed

[2020-08-11 02:10] cuonglm commented on #1213
@desimone I don't think this is a bug, but a feature request. Pomerium still supports `redirect_url` in query params when performing SignOut. What the OP wants, seems to make a configuration for that redirect uri, so if it's not present in query params, pomerium will use that value.

[2020-08-11 15:00] calebdoxsey opened #1254 "config: support reloading more settings"
Currently we support reloading some, but not all configuration settings. With the introduction of loading settings from the databroker, we should support reloading as many configuration settings as we can.

Here are the settings that currently support automatic reloading:

* `insecure_server`
* `http_redirect_addr`
* `timeout_read`
* `timeout_write`
* `timeout_idle`
* `administrators`
* `default_u

[2020-08-11 15:21] calebdoxsey commented on #1254
I'll try to break these up into separate PRs. I'll start with logging+telemetry which seems straightforward.

[2020-08-11 16:23] #1144 closed

[2020-08-11 23:48] bjoernw opened #1256 "Pomerium cache exceeds Okta rate limit while querying for group membership info"
## What happened?
Okta gives you a 500 token rate limit and given a large enough number of okta groups and members the calls will exceed 500 (I'm not sure what the period is) which causes the data sync to fail. The end result is that the `allowed_groups` feature does not work.

https://developer.okta.com/docs/reference/api/groups/#list-groups
current batch size: 100

https://developer.okta.com/doc

[2020-08-12 03:15] desimone commented on #1256
Related https://github.com/pomerium/pomerium/issues/27#issuecomment-632437713

[2020-08-12 17:30] desimone opened #1262 "create cdn record for old sitemap and logo"
"https://www.pomerium.io/sitemap.xml"
-->
    "https://www.pomerium.com/docs_sitemap.xml"

https://github.com/algolia/docsearch-configs/pull/2288

Also, the logo no longer maps

https://www.pomerium.io/logo-long.svg" height="70" alt="pomerium logo"></a>

https://raw.githubusercontent.com/pomerium/pomerium/master/README.md

[2020-08-12 17:30] #1262 closed

[2020-08-13 12:17] just1689 opened #1272 "Question :: Does this support limiting access to an AD group of users"
Question :: Does this support limiting access to an AD group of users

[2020-08-13 15:58] desimone commented on #1272
@just1689 yes, so long as you have a service account configured to pull that data from  your directory!

[2020-08-13 15:58] #1272 closed

[2020-08-14 02:50] #1256 closed

[2020-08-14 12:25] karelbilek opened #1279 "Logging out of pomerium doesn't cancel websocket connection"
## What happened?

Start WebSocket connection in pomerium-protected app.

After logging out of pomerium, websockets are still going on, despite user being logged out.

## What did you expect to happen?

The WebSocket will be cancelled, as if the server was turned off.

## How'd it happen?

1. run docker compose, similar to this one

https://github.com/pomerium/pomerium/blob/master/examples/tiddlyw

[2020-08-15 17:03] desimone opened #1281 "autocert: looking in the wrong (default) directory for renewal"
## What happened?

Autocert is looking in the wrong directory to renew.

## What did you expect to happen?

I expected autocert to renew my existing certificate.

## How'd it happen?

I have a certificate set to be auto-renewed by autocert.

## What's your environment like?

- Pomerium version (retrieve with `pomerium --version` or `/ping` endpoint): `{"level":"info","version":"v0.10.0-dirty+d9a22

[2020-08-15 19:39] andreyvital opened #1282 "Forward `X-Pomerium-Jwt-Assertion` in a Cookie"
Is there a way to have `X-Pomerium-Jwt-Assertion` header as a value in a cookie that is also forwarded to the destination?

The issue is that, I have a frontend app that will be gated by Pomerium, and there's no way for me to access headers in the JS client-side and I wouldn't want to create a middle service just to forward the Cookie.

I've tried to locate documentation regarding this but didn't

[2020-08-16 01:25] desimone commented on #1281
Well, that's.. frustrating... in trying to solve this issue I am no longer able to reproduce the issue. Definitely something wonky going on. Maybe it has to do with using a really old cert on my end.

[code]

[2020-08-17 03:32] cuonglm commented on #1279
I think this works as expected.

Websocket connection is a long lived connection, one connected, the client and server will do communication via that long lived connection, instead of creating new connection for every packet. The authz check is only performed for the initial request, that's why when you logging out in other tab, the connected connection in existing tab does not take effect.

Sugge

[2020-08-17 03:58] karel-3d commented on #1279
I tried to look into the proxy part and the envoy protobufs are way too complex :) and not sure if that's even the correct place

[2020-08-17 08:26] karel-3d commented on #1279
I think that if pomerium is sold as "alternative to VPN", as it is on the frontpage, it should terminate all connections when logged out.

I'm not sure how Envoy works so I'm not sure if it's even possible.

[2020-08-17 08:40] karel-3d commented on #1279
Is it possible to tell envoy to "just" terminate all existing connections that matched the policy, when the user is logging out?

[2020-08-17 14:06] stephen-hill opened #1289 "FreeBSD Binary missing from tar.gz release file"
Hi

I hope I'm not missing something obvious. I've tried searching existing issues.

The FreeBSD releases do not contain the main pomerium binary, only the promerium-cli binary.

- https://github.com/pomerium/pomerium/releases/download/v0.10.0/pomerium-freebsd-amd64.tar.gz

Is this a bug with the build system, or are these unavailable for a specific reason?

Cheers
Stephen

[2020-08-17 15:09] travisgroth commented on #1289
Hi @stephen-hill, this is a quirk in the build system.  We do not support FreeBSD for the main binary at this time, though we do for the cli.  The latter is included in the main release bundle, so I think that's accidentally allowing us to create the FreeBSD server archive with only the cli.

We should prevent generating that archive to prevent confusion.

[2020-08-17 20:27] #1281 closed

[2020-08-17 21:02] travisgroth opened #1293 "authorize: log user and group data from requests"
**Is your feature request related to a problem? Please describe.**

Authorize currently logs request-id and other request data, but does not log the identity associated with the request.  This can be joined to proxy access logs but it would be better to provide the information directly.

**Describe the solution you'd like**

Log user e-mail field with the rest of the authorization log.  Ideally, l

[2020-08-18 07:14] cuonglm opened #1297 "Malformed unix timestamp field when accessing dashboard after visit around"
After d9a224a5e8a41d724f5ba06a385432035cba0eec, pomerium returns error page when accessing dashboard page after visiting a route:

 - Go to https://httpbin.localhost.pomerium.io
 - Then visit https://httpbin.localhost.pomerium.io/.pomerium -> error page returned.

[2020-08-18 13:25] #1297 closed

[2020-08-18 14:46] calebdoxsey opened #1299 "azure: derive credentials from client id/secret and provider URL"
Currently we require custom service account credentials for Azure AD, but we actually have all the needed parameters in other configuration settings.

**Describe the solution you'd like**

The client id and secret can be used directly. The directory (tenant) id can be derived from the provider URL. For example for this URL:

- `https://login.microsoftonline.com/0303f438-3c5c-4190-9854-08d3eb31bd9f

[2020-08-18 15:34] calebdoxsey commented on #1254
I believe all the configuration settings have been updated. If we discover additional problems we can address them in separate issues.

[2020-08-18 15:34] #1254 closed

[2020-08-18 16:17] #1299 closed

[2020-08-18 17:39] lukasmrtvy commented on #307
Here is really nice guide for integrating dex and pomerium: https://banzaicloud.com/blog/pomerium-authentication/
How is https://www.pomerium.io/reference/#identity-provider-service-account working for generic OpenID ?
Thanks

[2020-08-19 03:38] seng-siong opened #1302 "Multi-Subdomain support not possible"
## What happened?

We deployed Pomerium in **full production mode** (i.e. multiple containers with dedicated service modes). We have 2 proxy nodes each serving a different subdomain (i.e. app1.example.org, app2.example.org) connected to a single authenticate service (i.e. login.example.org). The cookie domain is set to *.example.org.

The policy is configured as follows:

- from: https://app1.exam

[2020-08-19 04:00] desimone commented on #1302
Hey @seng-siong --

Multi-domain should be working.

Could you provide a bit more context here including your redacted configurations, and the redacted contents of the session tokens that are both working and not working? In particular, what is the audience being presented that is generating the audience is invalid message?

Thanks!

[2020-08-19 08:00] seng-siong commented on #1302
Ok. We figured out the issue.

We remove cookie_domain from config and everything worked fine now.

Thanks @desimone for following up. I'm going to close this issue.

[2020-08-19 08:00] #1302 closed

[2020-08-19 12:22] toonsevrin commented on #1050
adding the application Group.Read.All permission solved this issue for me as well, just make sure to restart your pomerium pods!

[2020-08-19 15:07] #1293 closed

[2020-08-19 21:27] travisgroth opened #1304 "Refactor redis test code"
Remove the external/custom container dependency in the tests by mounting the generated TLS certs directly.

[2020-08-20 11:58] fightforlife opened #1305 "HTTP_REDIRECT_ADDR=:80 breaks the AutoCert functionality (http timeout)"
## What happened?

The AutoCert feature was not able to verify the http requests for issuing a valid certificate.
HTTP_REDIRECT_ADDR was set to :80
(The HTTP_REDIRECT_ADDR option is working correctly when tested on routes which already have a certificate.)

Disabling HTTP_REDIRECT_ADDR allows AutoCert to work.

## What did you expect to happen?

The Autocert feature should be able to fetch the cer

[2020-08-20 14:50] Sidewinder53 commented on #1050
So I just tried setting this up with 0.10 and noticed that there are a whole bunch of new configuration requirements, such as an authorize-service-url and certificate deployment for internal communication. Is there a guide how to configure all of this? The doc guides don't mention these topics, it's just the config reference having many more (required) options.

[2020-08-20 16:44] #1304 closed

[2020-08-20 17:16] desimone commented on #1050
Hi @Sidewinder53  could you elaborate a bit more. The biggest change was that a [service account needs to be provided](https://www.pomerium.io/docs/upgrading.html#service-accounts-required-for-groups-and-directory-data) to pull back directory sync data in v0.10. We have a patch release incoming that has a PR (https://github.com/pomerium/pomerium/pull/1300) that will  pull some of that data from th

[2020-08-20 17:21] desimone commented on #1305
@fightforlife

The lets encrypt acme logs I am seeing are suggesting this could be a DNS problem?

[code]

However, that it does make sense that it is possible for the redirect service route to potentially be clashing with the ad-hoc HTTP server started to support the HTTP challenge. I'm not sure of the best way to fix it.

[2020-08-20 17:34] fightforlife commented on #1305
@desimone
Hi, this is not the real URL `https://acme-v02.api.letsencrypt.org/acme/authz-v3/6559538254`
I changed some of the numbers to redact the real domain.

If i try to get a certificate with http redirect enabled the error looks as follows:

[code]

Maybe a possibility would be to start the redirect server after the certificate job finished?

[2020-08-20 17:51] andreyvital commented on #1282
So Travis, imagine that I'm serving a frontend app in my upstream, I want to be able to access the authenticated user in the JS side, hence I'd need access to the token.

Since I can't read request headers in the browser (JS client side) I wouldn't be able to access that token, hence my idea to also allow to pass the identity header as a Cookie. This can be a custom config on each `policy`

[2020-08-20 17:55] andreyvital commented on #1282
@travisgroth the solution I have right now is to create a middle service that proxies the request through by reading the header and manually sending it as a Cookie down the stream...I want to use only pomerium and remove that middle service

Today:
[code]

Ideally:
[code]

[2020-08-20 18:36] Sidewinder53 commented on #1050
My Pomerium config includes all the required idp parameters, such as `idp_provider`, `idp_provider_url`, `idp_client_id`, `idp_client_secret `and `idp_service_account`. That is, according to the guide.

However, when starting the Pomerium container, it crashes after a few seconds:
[code]

I don't see authorize-service-url being mentioned anywhere (apart from the config reference). As my system is

[2020-08-20 18:42] calebdoxsey commented on #1282
@andreyvital Are you making an ajax fetch call to get data in a single page app? If so you should be able to read the headers that way: https://developer.mozilla.org/en-US/docs/Web/API/Response/headers

[2020-08-20 20:08] #1305 closed

[2020-08-20 20:09] desimone commented on #1305
@fightforlife Thanks this should be fixed by #1310 now. Let me know if that does the trick!

[2020-08-20 23:15] andreyvital commented on #1282
@calebdoxsey I don't think you understood...so basically pomerium is in front of my frontend app (which's pure JS), I need to read the cookie on the JS side to send to my API.

I don't have a way to read headers on JS client side, there's no `document.headers` like you have `document.cookie`.

[2020-08-20 23:44] desimone commented on #1282
👋 @andreyvital,

I hadn't considered this use case before. I think it's possible that we have a setting that adds a SetCookie for every requests on a given request, but I would like  to better understand the use-case before going that route.  I think we want to be careful about modifying the user's response context. I'd like to be as invisible to the end users / upstream hosts as possible. Do you

[2020-08-21 00:18] andreyvital commented on #1282
Hmmm...yes I think I can put my API behind pomerium but that's something I wouldn't like.

Regarding this:

[code]

You kinda have that functionality built in already with `set_request_headers` right? It'd set a header to a request downstream. What I'd need to do is like, have the same kind of thing, but with the current JWT assertion.

[2020-08-21 08:01] Sidewinder53 commented on #1050
@desimone Thanks for pointing this out, this was a stupid oversight.

I have re-configured the configuration, and while I can now log in just fine, I'm still faced with the issues mentioned previously.
I don't see any user details at all.

Pomerium logs this line:
`7:49AM WRN failed to refresh directory users and groups error="azure: error querying api: 403 Forbidden" service=identity_manager
`

H

[2020-08-21 17:52] yegle opened #1314 "0.10.x: cert renewal seems to be broken"
## What happened?

In 0.10.x, when one of the certificate is up for renewal, it seems like port 80 stopped responding to request, and cert renewal failed.

Downgrading to 0.9.6 fixed the issue.

## What did you expect to happen?

## How'd it happen?

1. Update to 0.10.1 (also tested 0.10.0)
2. Let a cert to renew.

## What's your environment like?

- Pomerium version (retrieve with `pomerium --ver

[2020-08-21 19:23] #1314 closed, assigned to travisgroth

[2020-08-23 20:28] KevDBG commented on #811
Hello,

I have the same problem on latest version 10.0.0. Pomerium-proxy return a code 500 error -> ext_authz_error.

With the same config and version 0.8.3 (before envoy) it's works perfectly. Any idea about that ?

Thanks,

[2020-08-24 01:09] desimone commented on #1213
@cuonglm , sounds good. Either way, I think this is reaosnable to support.

[2020-08-24 12:05] travisgroth commented on #811
Hi @KevDBG - please open a new issue with config, logs, etc.

[2020-08-24 12:05] #811 closed

[2020-08-24 15:52] travisgroth opened #1325 "Add nginx ingress forward-auth example"

[2020-08-24 18:23] #1213 closed

[2020-08-24 18:37] travisgroth opened #1327 "Configurable timeout when using websockets"
**Is your feature request related to a problem? Please describe.**

Websockets based connections never expire, even when a user logs out.  Currently we have no request timeout when websockets are enabled.

**Describe the solution you'd like**

Ideally, users could provide a maximum timeout for these requests so that connections must be reestablished and, thus, reauthorized occasionally.

**Describ

[2020-08-25 05:24] bradjones1 commented on #1213
Wow, talk about a quick turnaround - thanks everyone!

[2020-08-25 19:22] calebdoxsey commented on #937
Hi @1rootgear

I was able to confirm that serving a large file results in constant memory usage. I tested this by generating a 10GB file in a Go HTTP server.

I was also able to reproduce large files not being served, but this was due to the default 30s timeout. Have you tried increasing the timeout (https://www.pomerium.io/reference/#route-timeout)?

Once I increased this timeout I was able to se

[2020-08-25 20:08] bradjones1 opened #1333 "Configurable 403 page"
**Is your feature request related to a problem? Please describe.**

When access is denied, it would be nice to show a custom `403 Access Denied` page content, e.g., explaining to the user how to be added to the appropriate group in GitLab, and/or logout instructions to re-authenticate to Pomerium.

**Describe the solution you'd like**

Configuration option to provide or reference (perhaps through

[2020-08-26 00:00] rspier opened #1335 "service account instructions don't seem to work"
## What happened?

Got redirected to Google to log in.

## What did you expect to happen?

Accessed backend.

## How'd it happen?

Following https://www.pomerium.io/docs/topics/impersonation.html#using-the-command-line-interface

[code]

## What's your environment like?

- Pomerium version (retrieve with `pomerium --version` or `/ping` endpoint): 0.10.1
- Server Operating System/Architecture/Cloud

[2020-08-26 04:01] rspier opened #1336 "proxy doesn't pass liveness probe"
## Summary

pomerium proxy (launched via helm charts) sometimes fails to successfully start due to failing liveness probe.

## Details

[code]

[code]

Log from a failed run: [p.log](https://github.com/pomerium/pomerium/files/5127534/p.log)

This only affects `pomerium-proxy`:

[code]

## Environment

Kubernetes v1.17.9 on Bare Metal (via Rancher)

## Thoughts

I had initially speculated that the

[2020-08-26 15:29] desimone commented on #1336
Hi @rspier thanks for making an issue.

Nothing obvious is jumping out at me other than that the warm-up process is taking way longer than I would expect (on most hardware I see this <~seconds). Can you tell me a bit more about the baremetal environment this is running on?

Thanks!

[2020-08-26 15:49] rspier commented on #1336
It's beefy hardware in a packet.com cluster.    (They're awesome, fwiw.)

2 x Intel Xeon E5-2650 v4 @2.2GHz
256GB RAM

* It's not overloaded in any obvious manner.  A lot of idle CPU time.
* Flannel networking.

[2020-08-26 17:56] rspier commented on #776
the log level is fixed:

internal/controlplane/grpc_accesslog.go line 24:
			evt := log.Info().Str("service", "envoy")

It would be possible, but more than a little hacky to downgrade that to Debug()

[code]

[2020-08-27 00:25] desimone commented on #349
With the Envoy changes this should be pretty straight forward for paths and regex.

https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-field-config-route-v3-redirectaction-prefix-rewrite

[2020-08-27 00:30] devstein commented on #349
+1 on this. A common pattern we have previously used is to have the Frontend and the Backends be accessible through a single host, but use path rewriting to abstract it away behind the suffix `/api`.

For example,

[code]
Where the backend services receive the request without the `/api/reviews` or `/api/products` prefix.

So `/api/products/categories/1` would be received by the product service as

[2020-08-27 00:42] desimone commented on #1336
@rspier
Yeah, that's _definitely_ a beefy enough setup! What's especially peculiar is that:

1. this is happening on just the proxy service; the others also use envoy so I'm not sure that's the cause
2. It sometimes works?

Some ideas.

1. Does commenting out these two lines of your config help?

[code]

2. Do you mind also posting the `debug` level'd logs to see if there's anything buried in ther

[2020-08-27 14:10] travisgroth commented on #1336
@rspier can you also please share your helm values?

[2020-08-27 15:21] rspier commented on #1336
Here's the helm values:

[pom-values.yaml.txt](https://github.com/pomerium/pomerium/files/5137308/pom-values.yaml.txt)

[2020-08-27 15:30] rspier commented on #1336
Debug log:

[pom-debug.log.txt](https://github.com/pomerium/pomerium/files/5137352/pom-debug.log.txt)

[2020-08-27 15:52] travisgroth commented on #1336
Could you try taking out the `resources` spec in the chart values?  I wouldn't expect that to be an issue, but it's worth verifying.

[2020-08-27 16:28] rspier commented on #1336
Taking it out seemed to make things worse, as one of the authorize jobs also started failing.

Going the opposite direction worked the first time:

[code]

The original `cpu: 100m` limit came from the sample values.yaml in the repository.

A little bit of experimentation.  `cpu: 200m` limit took about 55 seconds to start.  `cpu: 400m` limit took ~20 -30 seconds in multiple runs.  (There's fuzz in

[2020-08-27 17:48] desimone commented on #264
We should warn if any route has a timeout that is incompatible with the global setting's HTTP listener's timeout.

[2020-08-27 17:49] desimone commented on #367
I believe this issue should now be resolved. Please reopen if that is not the case.

Thanks!

[2020-08-27 17:49] #367 closed

[2020-08-27 17:58] desimone commented on #821
@BenoitKnecht Just wanted to follow up here. Are you still experiencing this issue? Did the above command from @cuonglm provide any context?

Thanks!

[2020-08-27 18:01] desimone commented on #837
@fightforlife Short of making a toggle-able configuration setting, would it solve your use case to have robots.txt not be overwritten if `unauthenticated_public_acces` = true?

[2020-08-27 19:18] KevDBG opened #1341 "OKTA IDP doesn't work for version 0.10.2"
Hello,

## What happened?

We follow this documentation to deploy pomerium on a K8S cluster (rancher RKE) -> https://github.com/pomerium/pomerium/tree/v0.10.2/examples/kubernetes.

Our configuration works with version 0.8.x and we tried to upgrade to the last version v0.10.2. The OKTA authentication works, but the access to the backend application defined in the policy is denied.

We saw a change

[2020-08-27 19:23] desimone commented on #1341
@KevDBG

Thanks for the detailed issue. Could you provide a bit more logging context? In particular, I'm looking to see what type of logs are coming out of the cache service to see if groups are being pulled from Okta successfully.

If you go to the request details on that authorization denied page, what do you see? Are the user's groups listed?

Thanks!
Bobby

[2020-08-27 19:29] travisgroth commented on #1336
Depending on the state of your install, you can get a brief crash loop due to some interdependencies between services.  It should resolve itself if you give it the opportunity.  If you have multiple replicas and are upgrading, you won't see the behavior.

Okay, this is interesting though not completely shocking.  I would recommend a gracious `limits` (1) and low `requests` (100m).  We haven't prof

[2020-08-27 19:29] #1336 closed

[2020-08-27 19:31] desimone commented on #1137
I believe generic, locally hosted, OIDC provider support is reasonably covered in the documentation now.

https://www.pomerium.com/guides/local-oidc.html
https://www.pomerium.io/reference/#authenticate-service

_Nota bene: To pull back custom directory information to write policies against groups, custom provider support will have to be added._

For examples see:

- https://github.com/pomerium/pom

[2020-08-27 19:31] #1137 closed

[2020-08-27 20:00] KevDBG commented on #1341
Hey @desimone !

Thanks for this quick take in charge.

You have right ! I didn't check the cache service because i beleaved that is disappear in future release, so it was not useful (it's a mistake ^^). Indeed, there are interesting logs about OKTA :+1 in the service cache log:

[code]
(my login test is linked to log at 7:55PM)
XXXXXXXXXXXX is my OKTA user ID.

When i checked the page https://aut

[2020-08-27 21:19] desimone commented on #861
Duplicate of #1324

[2020-08-27 21:19] #861 closed

[2020-08-28 04:04] haohaolee opened #1342 "Provide a way to customize the AuthN process"
**Is your feature request related to a problem? Please describe.**

Now we have policies like `allowed_users` and `allowed_groups`, but sometimes we want a more find-grained way to control the Authentication, e.g. allow users to access the services only during working days, but not the weekend (I made up this, but you got my idea)

**Describe the solution you'd like**
Maybe a well-defined webhook

[2020-08-28 07:55] fightforlife commented on #837
@desimone
I think this would be a viable solution, since this is the way `unauthenticated_public_acces = true` should be interpreted

[2020-08-28 12:11] KevDBG commented on #1341
@desimone Hey !

It's seems that we have a problem around the go limiter (rate limiting)... I don't understand why, we are sure that our token is correct.

I just try with api_key in json regarding our version 0.10.2 and https://github.com/pomerium/pomerium/blob/v0.10.2/internal/directory/okta/okta.go#L283

[2020-08-28 13:55] KevDBG commented on #1341
We have almost one hundred okta group, so with the loop on each group we reach maybe some rate limiting in your code :

`const defaultQPS = 100 / 60`

We have an okta enterprise account, so maybe you can add an environment variable to customize this value ?

[2020-08-28 14:36] KevDBG commented on #1341
New tests:

We tried with 0.10.1 and **it's works**. So, we have a problem with this https://github.com/pomerium/pomerium/pull/1271

In 0.10.2 we tried to fix idp_qps to 60.0 with different way (config.yaml or environment variable) and it's doesn't work for us.

It's cool because we can move forward on 0.10.1. We can provide you more test if you need to troubleshoot in 0.10.2.

[2020-08-28 16:18] cuonglm commented on #1341
@KevDBG The thing is that the ability to config QPS is not backported, so you can't config it.

@travisgroth is there any problem that we can't backport the change to config QPS?

[2020-08-28 16:36] travisgroth commented on #1341
@KevDBG not ideal, but I believe you could also extend the timeout setting `idp_refresh_directory_timeout` from the default of 1m.

@cuonglm I don't think there is a technical problem, but it was left out since introducing new options isn't something we typically do in patch releases.  Can discuss further if we need an exception (or better default) here for a v0.10.3.

[2020-08-28 17:48] rspier opened #1343 "/bin/pomerium-cli is missing from pomerium/pomerium:master"
## What happened?

/bin/pomerium-cli is missing from `pomerium/pomerium:master` (but is in `pomerium/pomerium:latest`)

## What did you expect to happen?

/bin/pomerium-cli would be there.

## Details

[code]

[2020-08-28 19:39] #1343 closed

[2020-08-28 20:20] rspier commented on #1335
Some further debugging:

jwt.io doesn't seem to like the generated signature, although it's not clear that's useful.

Playing around with decoding the session JWT myself, go-jose.jwt seems to want a proper key for the shared secret, and not just random bytes.  But I may be holding it wrong.

[2020-08-28 21:53] #546 closed

[2020-08-29 13:19] andreyvital commented on #1282
Any updates on this @desimone? Not sure it's something y'all have interest to go with, so feel free to close the issue if that's the case—no problem.

I just find it'd be way more simpler and cleaner for us to allow pomerium to set a Cookie with the current JWT assertion value rather than wrapping all of our APIs. There's performance concerns too I forgot to mention, because if I do what you're pr

[2020-08-29 18:44] lukasmrtvy commented on #1050
I am using this:

[code]

* `groupMembershipClaims=SecurityGroup` -> only groups from AAD, not synced ones from AD
* `az ad sp show --id $graphId --query "appRoles[?value=='Group.Read.All'].id | [0]" -o tsv` -> Application, instead of Delegation ( appRole vs oauth2Permissions )

As someone pointed here,  seems that Pomerium is downloading groups after startup ( You have to restart deployment after

[2020-08-30 00:14] desimone commented on #685
This should at least be somewhat better as of v0.10.0 all the identity providers wrap their `idp_service_account` in base64 encoded JSON.

[2020-08-30 00:14] #685 closed

[2020-08-30 00:18] desimone commented on #374
Related to #1346 ; \cc @calebdoxsey

As we look to standardize logging between package / scrubbing, it's probably worth while to be make sure we are also being consistent in how we are logging more generically (e.g leveling, package (`zap` vs `zerolog`) etc).

[2020-08-30 00:24] desimone commented on #1050
I'm investigating.

[2020-08-31 03:54] desimone commented on #1335
Investigating.

[2020-08-31 07:04] alceasan commented on #1031
No arm32 images? Last builds are version 0.8.4

[2020-08-31 11:51] travisgroth commented on #1031
Hi there @alceasan - not at this time.  We're leaning on upstream work and the only build that is officially supported is arm64.  Unsure if arm32 works at this time.

OOC, what platform are you on that is arm32?

[2020-08-31 12:09] alceasan commented on #1031
I have Pomerium deployed on a Raspberry Pi 4, but Raspbian ([Raspberry Pi Os](https://www.raspberrypi.org/downloads/raspberry-pi-os) now) only supports as official armv7 arch (32 bit) by now.

[2020-08-31 13:23] KevDBG commented on #1341
Hello,

@cuonglm , i don't understand your return `@KevDBG The thing is that the ability to config QPS is not backported, so you can't config it.`.

Indeed, we tested the version 0.10.2 which include the idp_qps parameter (regarding this https://github.com/pomerium/pomerium/pull/1271) and it's doesn't work (we reach the default limit and the paramater is not taken into account). So, maybe i'm wron

[2020-08-31 13:55] travisgroth opened #1352 "arm32 support"
**Is your feature request related to a problem? Please describe.**

Arm32 is no longer a supported platform.

Raspberry Pi 4 - despite being new - only runs 32bit linux due to linux kernel support limitations.

**Describe the solution you'd like**

Restore support for Arm32.

**Describe alternatives you've considered**

N/A

**Explain any additional use-cases**

**Additional context**

https://git

[2020-08-31 13:55] travisgroth commented on #1031
Thanks.  Appreciate the context.

I opened https://github.com/pomerium/pomerium/issues/1352 to track 32bit support.

[2020-08-31 16:23] cuonglm commented on #1341
@KevDBG I mean the code that allowing set `idp_qps` is not backported, so you can't change the default value of `1`.

[2020-08-31 21:53] travisgroth commented on #535
This is now implemented as part of the change over to envoy.  It should work with `b3` type headers.

Also changed when we switched to envoy.

@desimone I believe this will "just work" if we refactor forward auth so that envoy makes the call to authorize.

Today, I think we're missing the propagation because we aren't running the forward auth handler with our metrics middleware.  I think that's an

[2020-09-01 03:10] desimone opened #1354 "directory: okta should accept non-json service account"
## What happened?

Other providers (Gsuite, Azure, etc) require multiple field to call their directory services to do group sync.

Okta, however, does not. Though we still expect the user to wrap the api_key in a base64 encoded json key. In previous versions of Pomerium we allowed operators to set that value directly as the `idp_service_account.

## What did you expect to happen?

I expect the `id

[2020-09-01 03:24] desimone commented on #535
@travisgroth SGTM

[2020-09-01 03:25] desimone commented on #1354
Looks like the doc fix was already made, just not backported to `latest`

[2020-09-01 13:22] #535 closed

[2020-09-01 15:33] #1354 closed

[2020-09-01 18:12] dmoose commented on #1112
I'm looking to do the exact same thing.  Traefik, Pomerium, and Dex.  Very interested in the resolution of this since reviewing docs for Pomerium and Dex has not led me to a workable solution.

[2020-09-01 18:33] desimone commented on #1112
@dmoose What identity provider are you using with Dex?

[2020-09-01 21:41] calebdoxsey commented on #1136
This appears to be fixed on master. I believe from this PR: https://github.com/pomerium/pomerium/pull/1034.

[2020-09-01 21:41] #1136 closed

[2020-09-01 22:07] travisgroth commented on #1289
Currently, the only way to prevent generating the `pomerium` FreeBSD archive is to stop bundling both `pomerium` and `pomerium-cli` binaries in the `pomerium` archive.

It might actually make sense to start publishing just the [bare binaries](https://goreleaser.com/customization/archive/#disable-archiving) or binaries individually compressed rather than trying to include both in the main archive.

[2020-09-01 22:12] desimone commented on #1289
+1 from me. I think it makes sense to publish the `cli` distinctly;

[2020-09-02 13:55] #1327 closed

[2020-09-02 13:56] #837 closed

[2020-09-02 15:33] dmoose commented on #1112
github internally, but we have a requirement for ldap which is what pointed me at dex.  Also considering fusionAuth, but ldap moves it into the pay tier and this is early in the process.  One client will not allow the system to have an internet connection so the external identity providers are not an option.

[2020-09-02 16:31] sly-net commented on #1112
@dmoose In short, on my side, I've found no solution. I'm still using Traefik but by managing authorization (with Pomerium policies) by users, instead of groups as I wished. It's far from ideal.

The biggest concerns that may apply if you let users change their email address themselves is impersonation or loss of access. Simply because when applying policies by users, access are allowed using emai

[2020-09-02 19:50] calebdoxsey commented on #349
@idaunis I just implemented this on master. You can use the `prefix_rewrite` option to specify what you'd like the new prefix to be. It uses envoy's option for this: https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-field-config-route-v3-routeaction-prefix-rewrite.

[2020-09-02 19:50] #349 closed

[2020-09-02 20:05] desimone commented on #349
\cc @devstein

[2020-09-02 20:27] devstein commented on #349
@desimone @calebdoxsey Thank you for the quick turnaround on this :

[2020-09-02 21:32] #1289 closed

[2020-09-02 21:58] calebdoxsey commented on #579
@RaghavendraP I think the likely cause of this issue is our default sample rate is quite low. If you set `tracing_sample_rate: 1` I think that should fix it. Feel free to re-open if this is still an issue.

[2020-09-02 21:58] #579 closed

[2020-09-03 19:32] namelivia commented on #512
I'm trying to solve this exact same problem (`spa.domain.com` doing AJAX requests to `api.domain.com`).
First my configuration was:
[code]
And having this setup browsing `https://api.domain.com` would correctly redirect me to the identity provider login screen, but the AJAX requests made by the SPA application have the problems mentioned above.

Now after reading your last message this is my curre

[2020-09-03 20:56] desimone commented on #512
@namelivia Do you mind creating a `har` file and sharing it here (make sure to redact any sensitive data)?

[2020-09-03 20:57] #512 closed

[2020-09-03 22:45] devstein opened #1369 "User Info Endpoint"
**Is your feature request related to a problem? Please describe.**
A common pattern we've been using to get the user identity on the Frontend is to have the backend parse the Pomerium JWT header and send it back to the frontend. I noticed all of the user information is already available at the `/.pomerium` endpoint, but its an HTML page, rather than the user info in JSON form.

**Describe the solu

[2020-09-04 09:02] namelivia commented on #512
Sure! Thanks for the fast answer.
This is the `har` file, I cleared most of the crap out of it, but there are still many requests that may be unnecessary, sorry if that's the case! Also I've randomized most of it, if there is some token or something there it actually doesn't matter since this is just a test environment.
[This is the har contents in pastebin](https://pastebin.com/Ja7v6kQF)

[2020-09-04 13:12] Vad1mo opened #1372 "Identity Manager gets 403 when trying to query the API"
We updated from Pomerium 8.x to Helm 12.2.1/ pomerium v0.10.0  and now the users group are not fetched from azure AD or at least aren't visible.

In accordance with the docs, I created the serviceAccount with serviceAccountYAML
[code]
The generated json is:

[code]
For the reference the used directoryID is also contained in the Azure OpenID Connect url.

When now the users gos to https://authentic

[2020-09-04 13:48] Vad1mo commented on #1372
I just found the solution to the problem:

https://github.com/pomerium/pomerium/issues/1050#issuecomment-658721216

After adding `Group.Read.All Application` permission and redeployment  i see the groups fetched

I takes a few min until its there after the restart.

[2020-09-04 13:48] Vad1mo commented on #1372
I think the docs need an update on that:

[2020-09-04 14:31] #776 closed

[2020-09-04 16:20] cuonglm commented on #1341
@KevDBG Would you mind increasing the refresh timeout/interval to see if the problem still occurs?

https://www.pomerium.io/reference/#identity-provider-refresh-directory-settings

[2020-09-05 23:46] desimone commented on #776
\cc @rspier @kernel164 this should be fixed on master with #1368

[2020-09-06 00:04] rspier commented on #776
Thanks!

[2020-09-06 18:20] desimone commented on #1112
Thanks for the context @dmoose , that's helpful.

Thanks @sly-net for fleshing out your use-case / issue with the current model, it's very helpful.

In full disclosure, making Pomerium so `email` centric (instead of `sub`) was a bad early design decision on my part that [I would like to correct](https://github.com/pomerium/pomerium/issues/573). Would `sub` claim correspond to the user's actual pri

[2020-09-06 18:47] desimone commented on #1342
Hi @haohaolee,

This is absolutely on the roadmap. Any chance you could reach out to me offline to chat more about your specific use case? bdd[at]pomerium.com

Thanks!
Bobby

[2020-09-06 18:48] desimone opened #1375 "authorize: allow access based on arbitrary identity claims"
**Is your feature request related to a problem? Please describe.**

Today, we have a limited set of ways a user can define their access control policy with declarative `yaml`. Namely, oeprators can set access based on `allowed_users`, `allowed_groups`, and `allowed_users`.

This feature would be paricularly useful for users :

- with [custom claims](https://openid.net/specs/openid-connect-core-1_0

[2020-09-06 19:05] desimone opened #1376 "authorize: sign claim headers"
**Is your feature request related to a problem? Please describe.**

Today, we provide two mechanisms of passing identity/device request context data to the upstream provider.  (See [Getting users identity](https://pomerium.com/docs/topics/getting-users-identity.html#verification) )

1. An attestation JWT that is signed by AuthZ. Unfortunately, this
2. An optional setting that allows passing throug

[2020-09-06 19:13] desimone commented on #1372
Hey @vad1mo,

I just checked the docs and it looks like the correct permissions are listed. Where you referencing something else that needs to change?

If I missed something, let me know!

Thanks,
Bobby

[2020-09-06 19:26] #753 closed

[2020-09-06 19:26] desimone commented on #753
Please reopen following the issue guide! Thank you!

[2020-09-06 19:32] desimone commented on #523
@kernel-sanders

Sorry this issue seems to have gotten lost in mix a bit. The good news is that this should absolutely be possible. We now support loading an [arbitrary set of certificates](https://pomerium.com/reference/#certificates) that can be used for multiple domains, wild-card or not.

@followsound Multiple IdP support is something we are looking at. Could you reach out directly bdd@pomeriu

[2020-09-06 19:32] #523 closed

[2020-09-06 20:47] Vad1mo commented on #1372
Yes, it is missing:
This is how it currently is:
![image](https://user-images.githubusercontent.com/1492007/92334900-67778900-f092-11ea-8b5f-944d2c316f91.png)

This is how it should be:
![image](https://user-images.githubusercontent.com/1492007/92334948-bde4c780-f092-11ea-8bac-19694187f268.png)

New is:
**Group.Read.All  Application**

[2020-09-06 21:42] desimone commented on #1372
@Vad1mo Cheers. Do you mind if I use your screenshot in the new docs?

[2020-09-06 21:51] Vad1mo commented on #1372
here are better ones,

you can choose, with or without dropshadow.

![Bildschirmfoto 2020-09-06 um 23 49 53](https://user-images.githubusercontent.com/1492007/92335895-b37afb80-f09b-11ea-88c8-ba612a53dd50.png)
![Bildschirmfoto 2020-09-06 um 23 47 12](https://user-images.githubusercontent.com/1492007/92335898-b675ec00-f09b-11ea-855f-f178c8c5dffe.png)

[2020-09-06 23:32] desimone commented on #1372
@Vad1mo thanks, this is really helpful. Working through this, I realized many of the azure screens have changed since I wrote this guide. I took this as an opportunity to clean up the guide, and remove unused permissions and settings.

One that jumps out at me is that I do not think `Group.Read.All` or `Directory.Read.All` are required for delegated permissions anymore, but rather just Applciation

[2020-09-06 23:56] #578 closed

[2020-09-06 23:56] desimone commented on #578
@sylr This should be fixed in master, though I can't recall the exact issue it was fixed in.

By default, the group name will be shown in the UI, but if you hover over the elemnt it will show the guid.

<img width="1215" alt="Screen Shot 2020-09-06 at 4 53 47 PM" src="https://user-images.githubusercontent.com/1544881/92337958-d4265f80-f061-11ea-8226-b70447adfb00.png">

[2020-09-07 00:21] desimone commented on #1050
Sorry for the delayed response. I wanted to walk through a "clean" azure instance to validate things were working. As a result of that walkthrough, I've found -- at least for my azure deployment, which is relatively simple -- things work as expected though a few doc changes are required. Also, it appears that Azure has finally fixed the bug that required us to ask for full directory read access in

[2020-09-07 00:21] #1050 closed

[2020-09-07 00:46] desimone commented on #1282
Hi @andreyvital ,

Sorry, I think I am confused because my brain is planted in the idea most of Pomerium's value is in being able to authorize / authenticate every single incoming request, and having an attestation to that effect, and I am having a hard time conceptualizing what that looks like if only the frontend code is going through pomerium, and how that would be used and extended in an autho

[2020-09-07 00:48] desimone commented on #785
Closing due to inactivity . If this still is an issue, please reopen!

[2020-09-07 00:48] #785 closed

[2020-09-07 01:04] andreyvital commented on #1282
Well, I have a SPA that's hosted on S3. Pomerium is in front of it. If the user is authenticated, then he's allowed to see that UI.

**The issue:** from the frontend I cannot access the JWT assertion because I don't have access to headers on the client-side, hence, I cannot authenticate with my API which isn't behind Pomerium.

Extra roundtrip to get to the destination. Instead of the frontend rea

[2020-09-08 06:30] yegle commented on #1150
Was this fixed?

I'm running `pomerium/0.10.2 (+https://wwww.pomerium.io; f657407; go1.14.7)`, and this is the first time I need to reverse proxy a website with non-standard port.

Policy for the website:

[code]

I ran Pomerium in a docker container, mapping host 8443 to container 443 port. Somehow Pomerium selected the wrong certificate:

[code]

[2020-09-08 06:33] yegle commented on #1150
Debug log from Pomerium:

[code]

[2020-09-08 06:49] yegle commented on #1150
Hmm I'm baffled. It looks like the workaround https://github.com/pomerium/pomerium/issues/959#issuecomment-647341861 also works here. I.e. Having two policies like this will fix my problem:

[code]

Then curl will no longer error due to wrong SSL certificate issue (ignore the 400 error, that's expected):

[code]

[2020-09-08 09:09] Mistic92 opened #1383 "GSuite + endpoint verification"
For GCP & Gsuite customers there is addon named Endpoint Verification. Do you think it would be possible to make it working with Pomerium? We are using it with cloud IAP on Loadbalancer but we'd like to move to Pomerium for most services.

https://cloud.google.com/endpoint-verification/docs/overview
https://chrome.google.com/webstore/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg

[2020-09-08 15:27] calebdoxsey commented on #1150
Just to summarize,

The original issue had to do with traffic not being routed to the appropriate endpoint. The new issue is that it appears to not select the correct TLS certificate. It may also be an issue with the connection of Envoy to the backend, since we're also using TLS in this example. (If that's true `tls_skip_verify` or `tls_server_name` may fix the problem)

I will look into this.

[2020-09-08 15:33] yegle commented on #1150
Ah yes it's the problem of not selecting the correct certificate.

FWIW I was indeed using `tls_skip_verify` in my policy, it was omitted in the example config.

[2020-09-08 18:08] calebdoxsey commented on #1150
@yegle I was unable to reproduce this issue. Using a path like `https://a.localhost.pomerium.io:8443` or `https://a.localhost.pomerium.io` used the correct TLS certificate. I typically use a wildcard certificate, but I also tried with one set to `a.localhost.pomerium.io`.

I also tried a policy like this:

[code]

And didn't see this behavior.

[2020-09-08 18:22] desimone commented on #1376
Closing. After discussion:

- The benefit of claims headers that aren't part of JWT is that they are already supported by third-party applications (e.g. Grafana). However, those applications don't support signature verification so the benefit of this functionality is unclear. If you do have control over the application, you should just use the JWT header which is a _one time_ signature verificatio

[2020-09-08 18:22] #1376 closed

[2020-09-08 19:58] #1372 closed

[2020-09-08 21:16] yegle commented on #1150
In my case, the wrong certificate selected is the one for `adguard.example.com`. This is the first domain of the policies in alphabetical order.

I wonder if you can set up like this:

[code]

Then compare to policy like this to see if the workaround works:

[code]

[2020-09-08 21:26] calebdoxsey commented on #1150
@yegle using this policy:

[code]

And calling:

[code]

It chooses

[code]

[2020-09-09 03:04] whs commented on #1383
I did some investigation last month on this and couldn't find the device state information.

The biggest clue in the documentation I found is that the Cloud IAP auth cookie wraps a Google auth cookie, so you'll be logged out of all Cloud IAP sites. I'm guessing that Cloud IAP use some private API to check whether the wrapped auth cookie is valid, and retrieve the device information from there.

Ho

[2020-09-09 07:18] yegle commented on #1150
I've reduced my policy file to the following and I can still reproduce the issue:

[code]

Environment variables I have on Pomerium, just in case it's useful:

[code]

[2020-09-09 13:12] calebdoxsey commented on #1150
@yegle thanks I was able to reproduce the issue. There's a fix in https://github.com/pomerium/pomerium/pull/1389

[2020-09-09 14:56] #1150 closed

[2020-09-09 14:56] calebdoxsey commented on #1150
@yegle I think this should be fixed if you want to try master. Thanks.

[2020-09-09 19:01] desimone opened #1391 "azure: profile image does not display"
## What happened?

When using azure, the profile image returned by azure is not an image and appears broken in the dashboard.

## What did you expect to happen?

I expected an image to appear.

## How'd it happen?

Go to https://authenticate.localhost.pomerium.io/.pomerium

<img width="748" alt="Screen Shot 2020-09-09 at 11 59 32 AM" src="https://user-images.githubusercontent.com/1544881/92641690-

[2020-09-09 19:28] lukasmrtvy opened #1392 "request details link on pomerium styled error page is pointing to a wrong url"
## What happened?
On Pomerium styled error page with text and link  `If you should have access, contact your administrator and provide them with your request details`, `request details` link is pointing to beyondcorp.example.com/.pomerium url, instead of authentication.pomerium.example.com/.pomerium url.

## What did you expect to happen?
`request details` should redirect You to `authentication.po

[2020-09-09 20:21] matti opened #1393 "what is free and what is not?"
I don't think its clear what parts of this are free and what are commercial.

[2020-09-09 21:35] desimone opened #1395 "backport 1394 to `0-10-0` failed"
The backport to `0-10-0` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `0-10-0` and the `compare`/`head` branch is `backport-1394-to-0-10-0`.

_Originally posted by @github-actions in https://github.com/pomerium/pomerium/pull/1394#issuecomment-689830187_

[2020-09-09 22:48] desimone commented on #1393
Hey @matti ,

Thanks for the inquiry. Everything publicly available today (as covered by the docs, recipes, etc) is free and open-source under the apache 2 license.

We are working on a yet to be released enterprise version of Pomerium that is focused on using and managing Pomerium at scale. This would be an adjunct to the core product. We aren't quite ready to talk about the exact features and fu

[2020-09-09 22:48] #1393 closed

[2020-09-10 04:11] desimone commented on #1395
Fixed by #1396

[2020-09-10 04:11] #1395 closed

[2020-09-10 04:20] desimone commented on #1392
Going to tackle this as part of standardizing the interfaces for forward-auth providers.

[2020-09-10 04:22] desimone commented on #1375
Closing. After a discussion with the team, I think it makes more sense to allow arbitrary adding and removal of claims in the attestation header directly.

See: https://github.com/pomerium/pomerium/issues/1376#issuecomment-689054282

[2020-09-10 04:33] desimone commented on #834
@sly-net

Would it be workable to pull this data out of the JWT or does it need to be a header?

See #1375

[2020-09-10 09:53] sly-net commented on #1112
Hi @desimone. Thank you for your time.

This is what the payload of the JWT looks like:
[code]
The username is _demo_. So the username is accessible via _$.federated_claims.user_id_.

Thanks for the information. Good to know. I'm not experienced in identity providers but if there are not many IdP that do not support modern/standard authentication flows, while being used by many people, it seems to

[2020-09-10 10:59] sly-net commented on #834
@desimone Well, in short, sometimes it may work, sometimes not. For Netbox it will likely work.

The concept of having a backend application retrieving user identity (like username) via an environment variable, and more precisely via a HTTP header, is used by many applications. Sometimes those applications are developed using a well known framework, like Django — this is the case for Netbox. Then,

[2020-09-10 12:57] sly-net commented on #1375
I think this is a first move towards more fine-grained authorization policies.

For my personal needs (as a Dex user), I'd like to be able to allow specific user_id to access backend applications.

[code]

I'm not sure what the Pomerium policy should look like. Something like this?
[code]

In the future, I see a more advanced way to specify authorization policies. The goal again is to write fine-g

[2020-09-10 20:32] matti commented on #1393
Thank you, good answer

[2020-09-11 07:11] Mberga14 opened #1397 "Question: Nested groups for Azure Authentication"
Hello,

I have a question regardign the implementation of Pomerium with Azure AD, we have created a pomerium deployment with a `policy` that uses `allowed_groups` feature.

The Issue is, the group specified in the Pomerium config consists of other groups ( groups are nested), but when the token for the user is returned, the membership of the user is not correct, if the user is not **directly** ass

[2020-09-12 10:40] psychomelet opened #1402 "cookie do not contain full jwt assert"
The `X-Pomerium-Jwt-Assertion` is correct by when try to extract the same info from cookie, the jwt decoded json shows the information as follows without email or user identity info inside.

[code]

[2020-09-12 11:53] psychomelet commented on #1402
The problem exists in v0.10 version and works correctly in v0.9.1 before, should caused by latest change.

[2020-09-13 12:15] fightforlife commented on #837
Any plans when  #1361 will be included in the release?

[2020-09-13 12:58] blmhemu opened #1403 "authenticate: support multiple identity providers"
**Is your feature request related to a problem? Please describe.**
Is it possible to have multiple IdPs ?
Ex: https://github.com/oauth2-proxy/oauth2-proxy/issues/88

**Describe the solution you'd like**
Please see the description of this issue : https://github.com/oauth2-proxy/oauth2-proxy/issues/88

[2020-09-14 16:24] #374 closed

[2020-09-14 22:00] desimone commented on #1402
Hi @psychomelet ,

Pomerium's JWT cookie / token is meant to be internal to Pomerium which is why we strip it before it hits the upstream app. I highly suggest using the `X-Pomerium-Jwt-Assertion` instead. Can you tell me a bit more about how you are using the pomerium cookie?

Thanks!

[2020-09-14 22:04] desimone commented on #1403
Hi @blmhemu ,

This is definitely something we are considering, but would like to better understand why people need this functionality. Specifically, I'd like to better understand which aspects of the multiple IdP support are related to federated identity and authentication versus pulling in additional context for authorization (or maybe both).

Can you tell me a bit more how you'd like to use thi

[2020-09-15 03:29] blmhemu commented on #1403
Thanks @desimone  for the swift reply. The main purpose behind having multiple IdPs is to cover a larger user base. For example some of my friends use google, some outlook, some github (with an edu mail), some facebook etc. Giving an option to select between IdPs would cover all of them.

[2020-09-15 06:22] psychomelet commented on #1402
We use pomerium with an SPA application:
1. request goes to domain1.corp.com, which is static frontend site, then the javascript will read the cookie and use it for auth with the api server hosted in domain2.corp.com.
2. the api server will receive the jwt token and verify it with secret key.

[2020-09-15 06:28] psychomelet commented on #1402
Previously discussed solution in issue https://github.com/pomerium/pomerium/issues/511 and https://github.com/pomerium/pomerium/issues/512

[2020-09-15 06:37] psychomelet commented on #1402
It's pretty common to have an infrastructure to hosting `frontend + api` in different domains, maybe we can make it an option to at least let user decide if it's enabled?

[2020-09-17 04:26] yegle opened #1413 "Regression: HSTS header missing"
## What happened?
HSTS header is missing in HTTP request:

$ curl -I your-dns.run
HTTP/1.1 301 Moved Permanently
Connection: close
Content-Type: text/html; charset=utf-8
Location: https://your-dns.run
Date: Thu, 17 Sep 2020 04:26:08 GMT

## What did you expect to happen?
HSTS header is present

## How'd it happen?

1. Ran `x`
2. Clicked `y`
3. Saw error `z`

## What's your environment like?

- Pom

[2020-09-17 04:34] yegle commented on #1413
Note this happened before: https://github.com/pomerium/pomerium/issues/901

Should we have a regression test to prevent this from happening again?

[2020-09-17 13:04] salekseev opened #1414 "0.10.3 identity_manager unable to pull groups from Okta directory if malformed user entry exists"
## What happened?

Upgraded to Pomerium v10 from v9 and not group information is available for use in policies.

## What did you expect to happen?

Okta groups available for use in policies.

## What's your environment like?

- 0.10.3:
- Kubernetes / v1.16.13-eks-2ba888

## What's your config.yaml?

[code]

## What did you see in the logs?

[code]

## Additional context

I'm not sure how to get de

[2020-09-17 14:26] calebdoxsey commented on #1397
@Mberga14 we updated the azure code to handle nested groups. This was just merged to master if you want to try it.

[2020-09-17 17:54] calebdoxsey commented on #1413
I see the header on normal authenticated requests. Since this is a 301 it may be due to the redirect to HTTPS. I will try and reproduce.

[2020-09-17 19:02] calebdoxsey commented on #1413
@yegle I was able to reproduce with the redirect handler. I merged a fix into master if you want to try it.

[2020-09-17 20:34] Sidewinder53 commented on #1050
I just tried it again with v0.10.3 and configured the API permissions as suggested by the new docs, and it finally works!
I'm convinced, that my issue was caused by the incorrect API permissions (delegated/application-level).

[2020-09-17 21:02] branchmispredictor opened #1417 "Traefik Forward Auth Example doesn't seem to work"
## What happened?

Upgraded from v0.9.2 to v0.10.3. Existing config to use pomerium as fwdauth proxy in Traefik no longer works. Settings are essentially identical to the example here: https://github.com/pomerium/pomerium/tree/master/examples/traefik.

### Reproduction steps:

1. Visit https://whoami.domain in browser
2. Redirected to https://authentication.domain
3. Redirect to Google SAML page,

[2020-09-17 21:20] travisgroth commented on #1369
Hi @devstein - after some discussion, we could add an endpoint under the `/.pomerium` path that returns the attestation JWT in the response body.  Would that work for your use case?

[2020-09-17 21:21] devstein commented on #1369
@travisgroth Yes that is exactly what I am looking for

[2020-09-17 21:22] travisgroth commented on #1369
👍  thanks for the quick feedback.

[2020-09-17 21:28] travisgroth commented on #1417
Hi @branchmispredictor - can you share your forward auth middleware configuration please?

[2020-09-17 21:33] yegle commented on #1413
Confirm issue fixed with container image from master branch.

[2020-09-17 21:38] branchmispredictor commented on #1417
docker-compose.yaml:
[code]

pomerium config:
[code]

[2020-09-17 21:57] #1413 closed

[2020-09-18 13:19] tdorsey opened #1421 "Traefik example references deprecated headers"
https://github.com/pomerium/pomerium/blob/5c226f6fc0e59e5cb680d125add5043dee11b5ec/examples/traefik/docker-compose.yaml#L24

I assume jwt_claims_headers needs to be set, and then these can be switched to X-Pomerium-Claim-* as in https://www.pomerium.io/reference/#headers.

Will verify and patch

[2020-09-18 14:10] #1414 closed

[2020-09-18 14:42] #1421 closed

[2020-09-18 20:23] devstein commented on #1341
I am seeing a similar, possibly the same issue, in `0.10.2` with Okta where Pomerium is getting empty `groups` for all new users. It _seems_ like it could be caching related. Is this a separate issue?

[2020-09-19 01:32] poltakgerem opened #1424 "Gsuite/domain"
I need someon can help me , because i configuration domain in my account gsuite and send mail to hotmail junk all message

[2020-09-19 10:34] simongottschlag opened #1425 "Ability to filter groups with Kubernetes integration"
Hi!

We are having a problem with Azure AD integration and Kubernetes (AKS and on-prem vanilla), where users that are members of more than 200 groups doesn't get these groups in their access token but instead using distributed claims.

Azure AD distributed claims doesn't work with vanilla Kubernetes, but seems to be working fine with AKS.

Now when we want to have the same authentication with both

[2020-09-19 13:35] travisgroth commented on #1417
Given this request, which should be ~ equal to a forward auth setup in an insecure mode:

[code]

Version `0.9.x`:
[code]

Version `0.10.x`:
[code]

It looks like envoy is (correctly) setting `X-Forwarded-Proto` to match how it received the request.  The result is undesirable but in practice this should only happen when calling the forward auth endpoint over `http`.  The only real world case of th

[2020-09-19 16:37] branchmispredictor commented on #1417
One of the benefits to setting the Traefik forward auth url to be a local http endpoint (`https://pomerium`) rather than an https endpoint (`https://pomerium.domain`) is that the forward auth request itself doesn't go through Traefik routing (which normally would strip forwarded headers). This means you actually do not need the `"--entrypoints.websecure.forwardedHeaders.insecure"` and `"traefik.ht

[2020-09-19 17:15] travisgroth commented on #1417
@branchmispredictor just to be clear, still an unwanted regression.  I just wanted to keep the issue updated while we look into it.

FWIW, you should always be using https for authorization calls, but there are cases like service mesh where it is being handled for us and we'd want to do the right thing.

[2020-09-20 02:58] yegle commented on #1413
Any chance the fix can be cherrypicked into a current release, or cut a new version now?

[2020-09-20 23:55] desimone commented on #1413
@yegle / @calebdoxsey I think we cherrypick this and add this a patch release which we can cut in the next few days.

https://github.com/pomerium/pomerium/pull/1427

[2020-09-21 15:19] travisgroth commented on #1417
Looks like the old behavior is at odds with https://github.com/pomerium/pomerium/pull/1023/.

[2020-09-21 15:35] victornoel opened #1432 "Is shared_secret really needed if the services are communicating using TLS?"
This is maybe a naive question, but while I was trying to deploy the latest version of pomerium, I wondered why there was a `shared_secret` configuration that seems to be used to secure communication between services but at the same time, the services are communicating using TLS.

Isn't `shared_secret` useless in that case or am I (most certainly ;) missing something?

[2020-09-21 16:03] mihaitodor commented on #835
Not sure if this helps, but the startup script that the Envoy containers [use as entrypoint](https://github.com/envoyproxy/envoy/blob/f4a800fc8f657116243ded38bb9337e1d8112117/ci/Dockerfile-envoy-alpine#L14) is designed to allow running the envoy process as non-root: https://github.com/envoyproxy/envoy/blob/f4a800fc8f657116243ded38bb9337e1d8112117/ci/docker-entrypoint.sh#L25

[2020-09-21 16:14] desimone commented on #1424
Hi @poltakgerem ,

Do you mind reposting your issue according to the provided templates?

Thanks!

[2020-09-21 16:14] #1424 closed

[2020-09-21 18:47] travisgroth commented on #1425
Hi @simongottschlag -

One thing to keep in mind.  There's an issue with users that have more than one group due to https://github.com/kubernetes/kubernetes/issues/94683.  It seems hard to solve there due to legacy compatibility, so https://github.com/envoyproxy/envoy/issues/13053 is tracking the ability to change the header format.

As to the specific feature here -  do you think you would want t

[2020-09-21 19:58] #1417 closed

[2020-09-21 20:02] poltakgerem commented on #1424
I need fix the issue bro

Pada tanggal Sen, 21 Sep 2020 23.14, bobby <notifications@github.com>
menulis:

[2020-09-21 20:13] branchmispredictor commented on #1417
Thanks for the quick fix! FWIW I'm looking into how to make Traefik -> backend services communication also happen over https using self-signed certs. If I work out something reasonable I'll make a PR to add an example, but at the moment it seems a bit tricky because Traefik uses IPs to talk to backend services, which are dynamically assigned. Perhaps it would be nice for Pomerium to be able to mak

[2020-09-21 22:06] desimone commented on #1432
Hey @victornoel , great to hear from you.

You are correct that TLS provides transport level integrity and confidentiality when services are communicating directly .  However, `shared_secret` is used to encrypt/sign payloads shared between services via the user's browser (e.g. after OAuth2 callback, or after AuthN on callback) and for encrypting data stored in the databroker.

Hope that clarifies

[2020-09-21 22:06] #1432 closed

[2020-09-22 17:55] nihaals opened #1442 "Git server support"
**Is your feature request related to a problem? Please describe.**

Running a Git server behind pomerium is an interesting goal as it includes a variety of features for it to work well:
- SSH support
- Support for CLIs without patches (e.g. Git over HTTP using standard Git client)
- ~~Web client~~

(I guess this is more of a tracking issue for the goal of being able to do this)

At the moment, you

[2020-09-22 18:04] simongottschlag commented on #1425
Hi @travisgroth!

In our use case, we don't need to forward more than perhaps 5-10 groups as separate headers and no there are proxies between the Pomerium and kube-apiserver. This should mean that the issue shouldn't (I hope) apply to our use case.

As a side note, the Azure ADs we work in contain quite a large number of groups and users - and it may be problematic to actually sync all of them on

[2020-09-22 18:05] simongottschlag commented on #1425
And as a reference, the issue we are seeing with Azure AD on-prem is talked about here: https://github.com/kubernetes/kubernetes/issues/62920

[2020-09-23 04:58] whs opened #1448 "Session lost after restarting Pomerium"
Cont. of https://pomerium-io.slack.com/archives/CK92MUAES/p1600835890000900

## What happened?
Sessions are lost and all users get 403 errors

## What did you expect to happen?
User who are logged in can continuously use the service after Pomerium restart

## How'd it happen?

1. Login with forward auth
2. Restart all Pomerium services
3. Refresh and observe 403
4. Workaround: clear Pomerium cooki

[2020-09-23 05:23] whs commented on #1448
Turning on notify-keyspace-events and it seems to work. I think:

1. This should be documented. In Elasticache this can be changed in the console but cannot be changed at runtime
2. IMO application shouldn't change Redis global configuration (it shouldn't assume the Redis is single tenent) - can add a log message to warn this
3. Even though I have changed notify-keyspace-events I'm still getting t

[2020-09-23 13:56] calebdoxsey commented on #1369
@devstein I just merged a change to master that will added a `/.pomerium/jwt` endpoint that returns the attestation JWT. Will that work for you needs?

[2020-09-23 13:56] #1369 closed

[2020-09-23 14:02] devstein commented on #1369
@calebdoxsey Yes thank you!

[2020-09-23 14:41] travisgroth commented on #1448
Hi @whs, are you using elasticache in clustered mode?

[2020-09-23 17:48] ekovac opened #1449 "Support preserving path+parameters on HTTP->HTTPS redirect"
**Is your feature request related to a problem? Please describe.**

I have a branded link shortener sitting behind pomerium. I'd like to be able to write the link without specifying the protocol and still have it work as expected. Eg: http://vix.link/radar (which is what users will hit first if they type 'vix.link/radar' into their address bar if they haven't visited the site before to add it to t

[2020-09-23 22:00] calebdoxsey commented on #1448
@whs I merged a change which will use a pub/sub key instead of keyspace events. We will also no longer use the CONFIG command.

[2020-09-24 03:44] whs commented on #1448
No this is not clustered Redis. I'll test from master.

Yesterday in addition to session lost, I often found that authZ decision seems to get cached when group info is not fetched. The users who get cached then cannot enter any group-locked endpoints. Sometimes even user info is not even present (only ID) and they cannot enter any endpoint at all. I'm not sure if Pomerium has a cache-clearing endp

[2020-09-24 07:06] whs commented on #1448
Installed from master, restarted pomerium twice, everything seems to be working properly.

I have another non-Kubernetes setup that I will try

[2020-09-24 09:01] whs commented on #1448
I'm observing random session timeouts. After a while, I get 403 error but when I clear cookie it works again

[2020-09-24 09:27] followsound opened #1452 "Domain/URL Rewrite"
**Is your feature request related to a problem? Please describe.**

Off the back of a conversation with @desimone relating to #523, it discussed that we could get around the issue of not having multiple IdP support by using domain/URL rewrites.

One could have two (or more) instances of Pomerium running at various domains, with the destination domain being rewritten by Pomerium to avoid applicatio

[2020-09-24 11:38] travisgroth commented on #1448
Okay, thanks.  Hopefully this was all related to the way keyspace notifications were used, then.

master is quite ahead of the patch @calebdoxsey merged into `0-10-0`.  It would be best to test a build from `0-10-0`, rather than master, just to properly isolate the behavior we're working on.

Yes, if you wouldn't mind opening issues around this session behavior.  While we use pubsub to quickly sig

[2020-09-24 13:47] lxfontes opened #1453 "Auth0 Provider"
We would like to integrate Auth0 into Pomerium, allowing user/group information to be used in policy decisions.

Essentially combining logic from https://github.com/go-auth0/auth0/blob/master/management/role.go with https://github.com/pomerium/pomerium/blob/master/internal/directory/provider.go

Would Pomerium be open to a PR adding Auth0 as Directory Provider?

[2020-09-24 15:50] desimone commented on #1453
Hi @lxfontes ,

Definitely.

In addition to pulling directory data back, would it make sense to integrate into auth0 as an oidc provider?

[2020-09-24 17:54] desimone opened #1454 "inconsistent expiration timestamp"
## What happened?

The expires timestamp is inconsistent with our other timestamps which are truncated at the second

![Screen Shot 2020-09-24 at 9.13.33 AM.png](https://images.zenhubusercontent.com/544ecc9d7c6ccc6277a58e6d/8a8d180f-a742-4e95-9cd9-fdbf64dd2c10)

## What did you expect to happen?

Truncated at the second which appears to happen on refresh.

## How'd it happen?

1. Login
2. Go to `.

[2020-09-24 21:12] #1449 closed

[2020-09-24 21:13] calebdoxsey commented on #1449
@ekovac A change has been merged to master which will preserve the path and query string when doing an `HTTP -> HTTPS` redirect.

[2020-09-24 23:58] whs commented on #1448
Just restarted the non-Kubernetes setup and it seems to be working fine.

If I can reliably get session timeout issue then I'll open a new issue. Thanks!

[2020-09-24 23:58] #1448 closed

[2020-09-25 00:39] ekovac commented on #1449
Excellent, thanks!

[2020-09-25 13:35] travisgroth commented on #1448
Great.  Thanks @whs!

[2020-09-25 15:44] calebdoxsey commented on #1452
Hi @followsound . We've just merged a change to master that will allow you to customize host header rewriting via 3 possible options:

1. `host_rewrite` which will rewrite the host to a new literal value.
2. `host_rewrite_header` which will rewrite the host to match an incoming header value.
3. `host_path_regex_rewrite_pattern`, `host_path_regex_rewrite_substitution` which will rewrite the host ac

[2020-09-25 20:43] grounded042 commented on #1453
Hey @desimone 👋 I work with @lxfontes at Auth0. What are the steps needed to integrate Auth0 as an OIDC provider? We have already confirmed that Auth0 works out of the box with the generic OIDC setup, but that setup didn't have groups.

[2020-09-25 21:26] calebdoxsey commented on #1453
Hi @grounded042, we separate oauth login from group data. We call the former `identity` and the latter `directory` in the code.

To implement a new directory provider create a directory under `internal/directory/` and create a type which implements the provider interface:

[code]

The provider should return all of the users and groups for the account. `Group` and `User` are protobuf types and you

[2020-09-27 10:23] followsound commented on #1452
Thanks @calebdoxsey will take a look ASAP 😊

[2020-09-28 02:53] whs opened #1464 "Missing refresh token errors"
## What happened?
After running changes in #1448 , users get logged out every 30 min.

I believe it is due to this error

[code]

Pomerium-redirected Google login URL: https://accounts.google.com/o/oauth2/v2/auth/identifier?access_type=offline&client_id=xxxxx&hd=lmwn.com&redirect_uri=https%3A%2F%2Fxxxxx%2Foauth2%2Fcallback&response_type=code&scope=openid%20profile%20email&state=xxxx&flowName=Gener

[2020-09-28 04:48] desimone commented on #1464
Hey @whs ,

I believe this is due to a (not well documented) quirk with Google's OpenID Connect implementation. When you are setting the hd value, it is replacing the default auth request params which if unset do not allow offline access type to be set, even if specified.

https://github.com/pomerium/pomerium/blob/1e7723f0d29c8d9b72742a0ebe0cca70bd1ae04c/internal/identity/oidc/google/google.go#L27

[2020-09-28 08:34] whs commented on #1464
That definitely helped. Thanks!

[2020-09-28 08:34] #1464 closed

[2020-09-28 14:36] grounded042 commented on #1453
Thanks @calebdoxsey! That does make sense for the `directory` component. I don't understand what would need to be done to support Auth0 for the `identity` piece though.

[2020-09-28 22:50] #1454 closed

[2020-09-28 23:05] calebdoxsey commented on #1453
@grounded042 I went ahead and implemented the identity piece since its just OIDC. If there are no issues with my PR I will merge it to master.

Basically it lets us use the type `auth0` in the config file. Otherwise the other config settings are the same.

[2020-09-28 23:25] grounded042 commented on #1453
Thanks @calebdoxsey! Now that I see the code I understand what you mean by the two different components.

As I mentioned in that PR I'm planning on carving out some time this week to work on docs and the `directory` component.

[2020-09-30 14:29] Mistic92 opened #1472 "GSuite use of Cloud Identity groups API without domain-wide delegation"
Google released Cloud Identity groups API which allow to manage groups without service account with domain-wide delegation
Can we update tutorial to use new method as more secure way to integrate with GSuite?

https://cloud.google.com/blog/products/identity-security/10-new-security-and-management-controls
https://cloud.google.com/identity/docs/how-to/setup#auth-no-dwd

[2020-10-01 14:18] grounded042 commented on #1453
👋 I've opened the above PR for this issue. I noted in the PR that I did not add docs and could either do that as part of this PR, or as a new PR - let me know what is preferred.

[2020-10-01 17:13] calebdoxsey opened #1480 "onelogin: incremental directory sync"
The Onelogin API supports incremental API querying via the `updated_since` parameter on the list users endpoint. We should take advantage of this to avoid having to re-query the full dataset every time.

[2020-10-01 17:50] calebdoxsey commented on #1480
The new API appears to require more credentials than we currently use. I keep getting a 401 for `/api/2/users` even though `/api/1/users` works properly.

This API is still in development, so we should probably wait until its fully released.

[2020-10-02 13:58] p53 commented on #524
check features of https://github.com/louketo/louketo-proxy, this can nicely do m2m or user to API access by verifying token, which you can get from IDP (ways can be different) located in Authorization: Bearer $TOKEN header. It doesn't need cookies for retrieving session state...M2M can be achieved by configuring louketo-proxy as forward-signing on one side https://github.com/louketo/louketo-proxy/

[2020-10-02 17:51] #1453 closed

[2020-10-05 13:54] travisgroth commented on #1472
Hi @Mistic92,

I believe we would need to make some code changes for that to work, but it looks like a better integration method for some environments.

Ideally:

- if the service account contains `impersonate_user`, we function as before
- without `impersonate_user` we skip setting the alternate subject
- if there is no service account, [search](https://godoc.org/golang.org/x/oauth2/google#FindDe

[2020-10-05 17:20] nicgrayson commented on #1054
@dmitrif Sorry to ping you. Do you have an example of running pomerium in nomad? I'm trying to do the same.

[2020-10-05 18:29] spencergilbert opened #1490 "Dynamic loading of certificates"
**Is your feature request related to a problem? Please describe.**

As a user currently using cert-manager for our certs, it would be nice to have support from the Pomerium side to dynamically reload the cert secrets as cert-manager refreshes them.

**Describe the solution you'd like**

Detection of when a cert secret has been updated and refresh the cert that's on disk or regular internal updatin

[2020-10-06 20:16] bcstinch opened #1492 "Weird Parsing Issue When Using Podman"
## What happened?
Whenever I try a very simple pomerium config to enable gitlab as an identity problem I am getting weird parsing issues:
[code]
With no idp_service_account set

[code]
With idp_service_account set

## What did you expect to happen?
A successful authentication to my gitlab app

## How'd it happen?

Running pomerium with podman with the following config mounted:
[code]

## What's yo

[2020-10-06 20:31] bcstinch commented on #1492
I am actually seeing the same issue using the binaries as well for both gitlab and github as the openid provider

[2020-10-06 21:34] desimone commented on #1492
Hey @bcstinch -- thanks for making an issue. In v0.10.0 we had a breaking change that could be responsible for the issue you are seeing.  Are you base64 encoding the `idp_service_account`?

https://pomerium.com/docs/upgrading.html#service-accounts-required-for-groups-and-directory-data

[2020-10-07 18:45] bcstinch commented on #1492
I am using the direct string gitlab gives me when I made the PAT. Do I need to base64 encode that token for it to work?

For awareness the direct PAT from gitlab works in pomerium 0.9.6

[2020-10-08 01:16] whs opened #1496 "cache: potential memory leak"
I believe pomerium-cache has a memory leak:

![Screen Shot 2563-10-08 at 8 08 49 AM](https://user-images.githubusercontent.com/345483/95403824-88efbd00-093d-11eb-9782-2de70c67f7d9.png)

I have Kubernetes memory cap at 1GB, so it hit the limit and keep crashing.

I think there should be about < 50 active users of hundreds of directory users.

## What's your environment like?

- Pomerium version (re

[2020-10-08 02:01] whs opened #1497 "forward-auth nginx behavior changes"
## What happened?
With #1482 the forward auth behavior changed and is not compatible to previous nginx ingress setup

[code]

It seems that authz denied is now 302, previously it was 401. As ingress-nginx [only handle 401](https://github.com/kubernetes/ingress-nginx/blob/master/rootfs/etc/nginx/template/nginx.tmpl#L1144) this would break.

## What's your environment like?

- Pomerium version (retr

[2020-10-08 02:14] whs commented on #1497
Looking further to this:

- I have two pomerium-proxy, namely internal (has FORWARD_AUTH_URL set to Kubernetes service URL) and external (has ingress). nginx-ingress use the internal one, but all other Pomerium instances are configured with external's URL.
- The internal one does return 302:

[code]

- Connecting to the internal one with other host header, but same path returns 404
- The external

[2020-10-08 08:18] Hokwang opened #1498 "update kubernetes dashboard guide"
Hi,

I am reading kubernetes dashboard guide, https://www.pomerium.com/guides/kubernetes-dashboard.html.

and you used stable/kubernetes-dashboard chart in there.
that's too old.

Please update using kubernetes-dashboard/kubernetes-dashboard way.
https://github.com/kubernetes/dashboard/tree/master/aio/deploy/helm-chart/kubernetes-dashboard

and that would be useful that you can control ingress, wi

[2020-10-08 10:04] Hokwang opened #1499 "[FR] can I use subpath style"
Hi,

I am deploying pomerium first time, and find out one problem.

In my case, I can't use `a.domain, b.domain, c.domain`, because in my company 1) does not provide well and 2) does not provide ssl.

so how about provide subpath style like my.domain.com/pomerium ?
it will be more easy for handling ingress too.

Thanks,

[2020-10-08 12:48] calebdoxsey commented on #1499
@Hokwang you can specify a path in the policy: https://www.pomerium.io/reference/#path

In the master branch you can also rewrite the path with `prefix_rewrite`: https://master.docs.pomerium.io/reference/#prefix-rewrite

I'm going to close this issue because I believe this feature is already implemented, but if we're missing something feel free to comment and we can re-open.

[2020-10-08 13:18] Hokwang commented on #1499
@calebdoxsey thanks for your comment. but it doesn't mean the `policy path`. I mean ingress path like

[code]

In my case, I have only my.company.net, not *.my.company.net, and can not create sub domain of my.company.net.

[2020-10-08 13:45] 1rootgear commented on #937
@calebdoxsey Which timeout did you change? I edited the policy per route timeout but that was not working. Is it better to edit the read/write global timeouts?

[2020-10-08 14:12] calebdoxsey commented on #1499
Not sure I follow, but I will re-open.

[2020-10-08 18:13] travisgroth commented on #1497
Hi @whs,

Could you post redacted configurations, ingress and service definitions?

Thanks.

[2020-10-08 18:17] travisgroth commented on #1492
As discussed in slack:

https://www.pomerium.com/docs/identity-providers/gitlab.html#service-account

Currently you need to wrap the GitLab PAT in a custom json structure and then base64 encode it.

[2020-10-08 18:17] #1492 closed

[2020-10-08 18:32] travisgroth commented on #1499
@Hokwang are you trying to support each pomerium component behind a different subpath of the same external hostname?

At least some of our components require hostnames to match the correct handler.  Depending on your ingress controller, you might be able to explicitly set host headers on the upstream request.

[2020-10-08 21:39] calebdoxsey opened #1501 "databroker: authenticate peers"
Currently we don't authenticate peers for API calls to the databroker. We should add this.

We can use a JWT in gRPC metadata signed by the shared key.

[2020-10-09 02:14] whs commented on #1497
Here's the env
[code]

The value in configFile is JSONinfied and mounted as configuration file. The value in config is set as env, with addtional SERVICES key set to the appropriate value.

The internal proxy instance has `FORWARD_AUTH_URL: 'http://pomerium-proxy-internal.' + namespace + '.svc.cluster.local',` overridden.

[2020-10-09 17:08] #1501 closed

[2020-10-11 09:37] stuartpb commented on #268
Shouldn't this be re-opened? As of 1.16.0, [Envoy ships multiarch compatible images](https://www.envoyproxy.io/docs/envoy/latest/start/building.html#arm64-binaries).

[2020-10-11 17:30] desimone commented on #268
@stuartpb Yes!

[2020-10-12 01:10] Hokwang commented on #1499
@travisgroth yes one host multi component paths, like
my.company.net/pomerium
my.company.net/proxy
my.company.net/authen
my.company.net/author

I don't know architecture of pomerium exactly, but I think user can choose some component enable/disable,
and user can select each component's path like
proxy.path: /proxy
and then ingress path can be domain/proxy.

actually current my case is, (very simpl

[2020-10-12 13:43] travisgroth commented on #1499
Just FYI, all of the components are required.  You may run them in all-in-one mode, though.

Understood.  Thanks for confirming.

[2020-10-12 14:52] travisgroth commented on #1496
Hi @whs - I'm not able to reproduce this behavior currently.  Our master branch now has a pprof endpoint.  Would you be able to roll your cache instance up to the latest [`master` image](https://hub.docker.com/layers/pomerium/pomerium/master/images/sha256-b6c8d96da188f45dcc64a18709e308d528a1e8314dcc387b191df48c633095a0?context=repo) and see if the behavior continues?

If so:

[code]

and share the

[2020-10-13 04:58] Hokwang commented on #1499
ok, then user can choose pomerium.my.domain.net or my.domain.net/pomerium like
[code]
or
[code]
is best way I guess.

if you need internally /authen , /author, /proxy, etc ... please make user don't know, don't care.

[2020-10-14 14:20] calebdoxsey commented on #937
@1rootgear I changed the policy route timeout: https://www.pomerium.io/reference/#route-timeout.

[2020-10-14 15:36] RichiCoder1 commented on #524
I want this, except I'd rather just bypass Pomerium if I've already got a token. EG: I want pomerium for interactive access, but I just want to bypass pomerium if I'm using the target application's native authentication.

[2020-10-14 15:37] RichiCoder1 commented on #524
There are DNS/LB based work arounds that I could do, but I'd rather all traffic go through a single endpoint.

[2020-10-14 16:30] jawabuu opened #1517 "Custom OIDC provider does not retrieve X-Pomerium-Claim-* headers except the JWT and Email headers"
## What happened?
Deployed the docker-compose oidc example using the following (Replace ${DOMAIN} with your local domain);
Create certs;
[code]
## identityprovider.json
[code]
## identityprovider-users.json
[code]
## docker-compose.yml
[code]

## What did you expect to happen?
View  at least X-Pomerium-Claim-Name, X-Pomerium-Claim-Groups

## How'd it happen?

1. Ran `docker-compose up -d`
2. Visit

[2020-10-14 18:04] mattotodd opened #1518 "Document the Programatic refresh flow"
**Is your feature request related to a problem? Please describe.**

The docs explain the programmatic access and mention needing to refresh the token,   I cant find docs for the refresh endpoint or flow.  Is that documented?

**Describe the solution you'd like**

It would be helpful to document the refresh api mentioned here:

https://www.pomerium.io/docs/topics/programmatic-access.html#handling-e