[2021-06-18 22:01] sherifkayad commented on #2263
@paddycarey in my view that's not really a debugging topic .. the easiest solution would be documenting that somehow in the Pomerium official docs as a note / limitation / whatever that people need to be aware of and can solve by clearing their caches.

Ultimately I would love to see (maybe in a future release) the ability of Pomerium to clear its own caches shall this scenario happens and re-atte

[2021-06-18 22:01] sherifkayad commented on #2263
@travisgroth what's your take on that?

[2021-06-18 23:08] megalan247 opened #2299 "Pomerium Seems to grab a random 100 groups when user has more than 100 groups in Azure"
## What happened?
Hey everyone. We use Pomerium pretty extensively and it is an amazing product! Unfortunately we are having some problems with a large number of groups in Azure. Seemingly randomly, when a user is assigned to over 100 groups in Azure, Pomerium will show in the user info endpoint only 100 of the groups they are assigned to. This list of 100 groups seems to change after a while, but

[2021-06-21 04:42] cfanbo opened #2300 "Identity verification failed"
## config.yaml

[code]

===================================================
when user loginned success, url https://verify.localhost.pomerium.io/ display content is wrong, why?

[code]

when access url https://authenticate.localhost.pomerium.io/.well-known/pomerium/jwks.json,  output text

[2021-06-21 05:23] cfanbo commented on #2300
root@sxf:/share/pkey# curl --silent https://authenticate.localhost.pomerium.io/.well-known/pomerium/jwks.json | jq
{
  "keys": [
    {
      "use": "sig",
      "kty": "EC",
      "kid": "1b43aa1e8413e53bd6117f9d88b5661de0187d20a237822671dc27653fb2e796",
      "crv": "P-256",
      "alg": "ES256",
      "x": "yQrCWIzxrBN05w_IAVQXOorxkLZ4iRXtio1D8AWzQDo",
      "y": "X4N-5nsMcTukQSqOfJGRU5bgN2tVGNE

[2021-06-21 08:25] cfanbo opened #2301 "pomerium cann't provide service when listen 80"
pomerium can only listen port 443, can't it listenport 80?

now in my config file **config.yaml**
[code]
is ok, but change to
[code]
 Unable to provide service , why?

[2021-06-21 08:55] cfanbo opened #2302 "Identity Provider：keycloak, but not found group"
config.yaml
[code]
I confirm that the group techGroup already exists in keycloak.

![group](https://user-images.githubusercontent.com/887910/122735599-c3be3900-d2b1-11eb-8f4d-edb562b757e1.png)

but output is no group found, why?

![err](https://user-images.githubusercontent.com/887910/122735957-1861b400-d2b2-11eb-829f-63b83f682897.png)

[2021-06-21 14:46] travisgroth commented on #2300
Hi @cfanbo,

That message is because you're using a domain which isn't reachable by the hosted verify endpoint:

`
We tried to verify the incoming user, but failed with the following error: couldn't get json web key: Get "https://authenticate.localhost.pomerium.io/.well-known/pomerium/jwks.json": dial tcp 127.0.0.1:443: connect: connection refused
`

If you use a reachable domain it should fetch t

[2021-06-21 14:57] travisgroth commented on #2301
Hi @cfanbo,

You can set [insecure_server](https://www.pomerium.com/reference/#insecure-server) and [grpc_insecure](https://www.pomerium.com/reference/#grpc-insecure) to disable TLS.   There will need to be another reverse proxy to provide HTTPS between end users and Pomerium in that configuration, however.  This configuration is most common when using Istio on Kubernetes or a similar service mesh

[2021-06-22 02:07] cfanbo commented on #2300
but my domain is reachable!

2021-06-21 14:47:34.981703673 +0800 CST m=+1447.526059234
GET /header HTTP/1.1 "Accept-Language"：["en-US,en;q=0.5"]
"X-Pomerium-Jwt-Assertion"：["eyJhbGciOiAiRVMyNTYiLCAia2lkIjogIjFiNDNhYTFlODQxM2U1M2JkNjExN2Y5ZDg4YjU2NjFkZTAxODdkMjBhMjM3ODIyNjcxZGMyNzY1M2ZiMmU3OTYiLCAidHlwIjogIkpXVCJ9.eyJhdWQiOiAidGVjaC5sb2NhbGhvc3QucG9tZXJpdW0uaW8iLCAiZW1haWwiOiAic3hmQHRlc3QuY29tIiwgI

[2021-06-22 02:10] cfanbo commented on #2302
i'm using oidc，i found a message in source code

[code]
 not support get user group for oidc provider

[2021-06-22 03:00] #2301 closed

[2021-06-22 14:30] travisgroth commented on #2300
The domain in that error is not reachable.  It resolves to localhost:

[code]

If you're seeing this with other domains please send along more info.  Thanks.

[2021-06-22 14:53] travisgroth commented on #2302
Hi @cfanbo,

`allowed_groups` does indeed only work with directory sync enabled providers.  However, we support setting policy based on oidc claims.

You need to add this to your config:

[code]

You should see groups as a _claim_ rather than a group list on the user info endpoint:

![image](https://user-images.githubusercontent.com/6198562/122947163-f31f8500-d347-11eb-8f45-16dd79ac7423.png)

At t

[2021-06-22 15:01] travisgroth commented on #2288
Hi @ChristianKlass,

[code]

That redirect appears normal as part of auth flow.  What occurs at that point?  Are you receiving an error in the browser or the proxy service?  Could you share logs from `authenticate` and `proxy` services from when a user attempts a fresh login to a protected endpoint?

[2021-06-22 15:20] kschu91 opened #2307 "machine to machine authentication"
**Is your feature request related to a problem? Please describe.**

Pomerium looks like a great product and we were very close on using it in our project. But unfortunately we stumbled upon the same issues that others already had:
Machine 2 machine authentication is not possible with pomerium which is unfortunately the only downside of pomerium.

The client credentials flow is a common approach to

[2021-06-22 18:53] desimone commented on #2307
Hey @kschu91 --

Machine to machine support  is coming in the very soon to be publicly announced enterprise version of Pomerium. Feel free to reach out @ bdd {at} pomerium.com and I'd be happy to share more details.

[2021-06-22 18:55] #2307 closed

[2021-06-23 04:34] cfanbo commented on #2302
add option in the config.yaml!

[code]

but a new error has occurred

![abc](https://user-images.githubusercontent.com/887910/123032744-0e0dfa00-d419-11eb-95f1-28dadd1385ef.png)

[2021-06-23 06:20] cfanbo commented on #2302
I ignore IDP_ Scope field, succeeded!  I don't know why

thanks you

[2021-06-23 08:42] davidcollom opened #2308 "Reload of certificates when Re-issued/Renewed"
## What happened?
When the mTLS certificates are rotated (stored in a secret) the certificates are not reloaded, resulting in a 500 response.

## What did you expect to happen?
Certificates should be reloaded from disk and service should continue to work uninterupted.

## How'd it happen?

1. Create a SelfSigned Cert of 1 hour (we used cert-manager to handle generation and renewal)
2. Start up Pom

[2021-06-23 10:55] travisgroth commented on #2302
Those scopes will depend on your IdP settings, that's great news.  Thanks for confirming.

[2021-06-23 10:55] #2302 closed

[2021-06-24 06:24] Seros commented on #2299
Hi ^^
I'm from the same company as @megalan247 and I digged a bit into this as I'm affected by this as well. It seems that for grabing the initial user data the application gathers the groups of the member as well but without using the pagination. At https://github.com/pomerium/pomerium/blob/master/internal/directory/azure/azure.go#L126 the /transitiveMemberOf endpoint is called but this only retu

[2021-06-24 07:57] patrickfnielsen opened #2310 "SPA X-Requested-With / 401 response"
**Is your feature request related to a problem? Please describe.**
No related problem.

**Describe the solution you'd like**
When using a SPA you have to send the "X-Requested-With" header with all requests to get a 401 back, instead of the default redirect.

It's not recommended to use X-Requested-With to detect ajax requests, and I think we should consider alternative solutions.

**Describe alte

[2021-06-24 12:38] calebdoxsey commented on #2299
Hi @Seros

Thanks for digging in. This is extremely helpful and does look like an oversight when we introduced syncing of a single user's groups. (to speed up initial sync)

It should be straightforward to fix and I can take a look today. I think it should also be easy to backport to 0.14.

[2021-06-24 14:52] #2299 closed

[2021-06-24 19:37] travisgroth commented on #2310
Hi @patrickfnielsen,

We just recently tried to address this in `v0.14.6` via https://github.com/pomerium/pomerium/pull/2298.  We are using the same solution you suggested - inspecting the `Accept` type for indications that the client wouldn't handle a redirect correctly.  `application/json` is one of the types we suppress redirects for.

If you're having issues with that feature on `v0.14.6`, ple

[2021-06-24 19:44] patrickfnielsen commented on #2310
I was sure I checked other issues for references must have missed it, and of course I also managed to missed the v0.14.6 release.

I'll give it a test tomorrow, thanks for help and quick response!

[2021-06-24 20:08] travisgroth commented on #2310
👍

[2021-06-24 20:08] #2310 closed

[2021-06-25 22:06] travisgroth commented on #2308
Hi @davidcollom - are you using the helm chart?

If not, could you share your manifest for one of the pod deployments?

[2021-06-28 18:00] travisgroth commented on #2308
@davidcollom just as a follow up, I think I have a PR that fixes what you're seeing.  Would want to confirm there isn't another issue at play though.

Assuming you're using the helm chart, can you see if https://github.com/pomerium/pomerium-helm/pull/200 does the trick?

[2021-06-28 18:09] davidcollom commented on #2308
Hi @travisgroth sorry for not getting back to you sooner, I've had family over this weekend so wasn't able to get on the laptop to check.

We aren't directly using the helm chart.. but let me take a quick look at the proposed solution, as our manifests were originally take from the helm chart

[2021-06-28 18:12] davidcollom commented on #2308
Hi @travisgroth at first glance and from memory, this makes 100% sense and I'm somewhat disappointed that I didn't pick up on the subpath being used 🙈🤣 .. I can confirm tomorrow morning (BST) and report back

[2021-06-28 18:16] travisgroth commented on #2308
No worries!

Great.  Thanks!

[2021-06-30 09:40] davidcollom commented on #2308
@travisgroth I can confirm that this resolves the issue, we created certificates of ~5 Hour TTL's and have confirmed pomerium working as intended - Re-reading the certificates.

Thanks for the quick response and PR / resolution!

[2021-06-30 11:15] travisgroth commented on #2308
Thanks for confirming!

[2021-07-02 13:41] FireDrunk commented on #2185
@yegle Are your claims coming from the ID token or the Access token? I *think* Pomerium only looks in the ID Token for these claims, and not the Access Token. (Which reminds me, that should be a feature request ;) )

[2021-07-02 14:45] #2308 closed

[2021-07-02 17:29] amolvishwakarma opened #2321 "How to get rid of csrf issues"
Below is my sample configuration file:

# See detailed configuration settings : https://www.pomerium.io/docs/reference/reference/

# this is the domain the identity provider will callback after a user authenticates
pomerium_debug: true

authenticate_service_url: https://example.com:9443
authenticate_callback_path: /oauth2/callback

# certificate settings:  https://www.pomerium.io/docs/reference/ce

[2021-07-02 17:33] yegle commented on #2185
Hi @FireDrunk, I'm not sure if I understand your question. I'm using a browser, not accessing Pomerium programatically, so no JWT claim is manually supplied.

[2021-07-02 19:40] FireDrunk commented on #2185
I think you misunderstand me. What is your upstream identity provider?

[2021-07-02 19:45] yegle commented on #2185
I'm using Google as my IDP provider.

[2021-07-02 20:01] FireDrunk commented on #2185
Have you verified that the token contains the email claim? (You can debug via the <url>/.pomerium endpoint)

[2021-07-02 20:15] yegle commented on #2185
Yep I can see `email` listed under `User Claims` section on `/.pomerium`.

(Just a reminder, the setup does work in version 0.13.6, the last version before 1.14.0.)

[2021-07-02 21:33] travisgroth commented on #2263
I think we can provide a command to manually clear out the cache, wherever it may be.  That seems pretty reasonable.

As far as automatically taking corrective action...the tricky thing about the k8s integration is that you have performance/UX and cache at odds with detecting this type of scenario.  We cache your credentials for as long as your initial session is valid, but the k8s exec interface

[2021-07-02 22:02] sherifkayad commented on #2263
@travisgroth First of all thanks for the detailed analysis and conclusion you mentioned.

In my view:
- A command to clear the cache is a perfect starter! Definitely better than the current "workaround" of deleting that manually.
- Great stuff with the improved message. However, if newer versions of the Pomerium CLI are able to detect bad tokens / credentials, why is the browser flow a bad UX from

[2021-07-03 12:24] travisgroth commented on #2263
Just to clarify, this isn't from Pomerium's client side code.  The proxy is responding 401 and kubectl recognizes that as a credentials issue.  The credentials plugin only knows if (a) it has a token already (b) the token is expired.  Credentials helpers unfortunately don't get any feedback from their invoker on whether there is a problem.

See first point.  The problem is we wouldn't _know_ when

[2021-07-03 12:37] sherifkayad commented on #2263
@travisgroth got ya .. thanks again for the detailed arguments. In that case I would agree with you completely; the helper command to clear the cache and the improved error message would be the best option .. at least for the time being.

[2021-07-05 06:59] yegle commented on #2185
OK, I've being bisecting my configuration and policy file, and finally figured out the exact config that result in the missing `X-Pomerium-Claim-Email` header:

[code]

Commenting out these two lines fixed the issue with missing identity header.

[2021-07-05 07:22] yegle commented on #2185
I was attempting to do a bisect between v0.13.6 and v0.14.0 to figure out the commit that introduced the regression, but unfortunately the get-envoy.sh was recently refactored and I was unable to build an image using the Dockerfile. But hopefully https://github.com/pomerium/pomerium/issues/2185#issuecomment-873855789 could give you a hint which commit is the culprit.

[2021-07-05 15:02] dsschneidermann commented on #1946
@wasaga Still happens, here the output as requested:

[code]

Version `pomerium/pomerium:v0.14.6` (first release after this issue resolved). The above is from a container running the proxy service only. `autocert_must_staple: true` is set in config.

I'll not redact the hostname for now for your debugging purposes, just in case it helps you out. Cert used is this: https://censys.io/certificates/3b

[2021-07-05 15:14] wasaga commented on #1946
Hi @dsschneidermann the [OCSP fix](https://github.com/pomerium/pomerium/pull/2286) was not yet backported to 0.14.x

[2021-07-05 15:34] dsschneidermann commented on #1946
Thanks @wasaga - good, got worried there. Anyway to get a running container that includes the fix?

[2021-07-06 02:33] #2300 closed

[2021-07-06 13:38] #2321 closed

[2021-07-07 09:07] amolvishwakarma opened #2339 "Multiple subdomains ssl not working"
Struggling with specifying multiple certs in config.yaml to all my subdomains !

certificate_file: "/pomerium/authenticate.pem"
certificate_key_file: "/pomerium/authkey.pem"
certificate_file: "/pomerium/verify.pem"
certificate_key_file: "/pomerium/verifykey.pem"
certificate_file: "/pomerium/fullchain.pem"
certificate_key_file: "/pomerium/privkey.pem"

And in docker-compose config :
 volumes:

[2021-07-07 10:31] amolvishwakarma commented on #2339
It has been fixed by using this config in config.yaml  thanks anyways:

certificates:
- cert: "/pomerium/pomerium.pem"
  key: "/pomerium/pomeriumkey.pem"
- cert: "/pomerium/authenticate.pem"
  key: "/pomerium/authkey.pem"
- cert: "/pomerium/verify.pem"
  key: "/pomerium/verifykey.pem"

[2021-07-07 10:32] #2339 closed

[2021-07-07 17:27] amolvishwakarma opened #2342 "404 issue after authentication"
I have three subdomains basically which are running on https on port 443:
1.) authenticate.example.com
2.) verify.example.com
3.) pomerium.example.com
All shows 404 google authentication is working properly.

[2021-07-08 08:59] amolvishwakarma commented on #2342
# log:
INF http-request authority=pomerium.example.com duration=0.829666 forwarded-for=someip method=GET path=/ referer= request-id=5496ccc7-46f2-4a58-90be-4aad50b62e0a response-code=404 response-code-details=route_not_found service=envoy size=0 upstream-cluster= user-agent="Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:89.0) Gecko/20100101 Firefox/89.0"

[2021-07-08 09:01] amolvishwakarma commented on #2342
PFA verify.example.com
![image](https://user-images.githubusercontent.com/57523705/124894197-11001180-dff9-11eb-8055-c096f4b7942d.png)

[2021-07-08 09:38] nicolastakashi opened #2345 "Permission denied failed to measure envoy process metrics"
## What happened?
I'm running a Pomerium instance as a non-root user and I get the error regarding permission denied to access the `/proc` directory

## What did you expect to happen?

Scrape metrics regarding the process with a non-root user

## How'd it happen?

1. Run the pomerium as a system.d service as a non-root user
2. Check the service logs
3. Saw error

## What's your environment like?

[2021-07-08 15:54] travisgroth commented on #2342
Hi,

Please share your redacted configuration, version, environment details, etc.  The [bug template](https://github.com/pomerium/pomerium/blob/master/.github/ISSUE_TEMPLATE/bug_report.md) is a good list of things that would be helpful in debugging.

[2021-07-08 16:25] alexfornuto commented on #2345
For additional context, when you say "system.d service as a non-root user", are you saying that you invoke the service with `systemctl --user`, or are you referring to the default behavior of our rpm package?

[2021-07-08 20:01] travisgroth commented on #2345
Hi @nicolastakashi,

Chances are there's another error above that one.  Unfortunately our current envoy build is not compatible with CentOS 7.  Here's an example of the message you should check for:

We'd recommend upgrading to CentOS 8 or using docker at this time.

[2021-07-09 04:13] amolvishwakarma commented on #2342
Hi @travisgroth ,
I am using docker compose version:1.21.2 . Please find the details below :

Below is my config.yaml file .

pomerium_debug: true
proxy_log_level: debug
authenticate_service_url: https://authenticate.example.com
forward_auth_url: https://verify.example.com
certificates:
- cert: "/pomerium/pomerium.pem"
  key: "/pomerium/pomeriumkey.pem"
- cert: "/pomerium/authenticate.pem"
  key:

[2021-07-09 06:10] mahlakka opened #2348 "Differences between Forward Auth and Proxy mode when using Pomerium as an Oauth Proxy"
Trying to understand the pros and cons of using the Forward Auth mode vs Proxy Mode.

I've currently setup Traefik and Pomerium with Forward Auth and it's working great. Are there any advantages/security benefits with switching to Proxy Mode?

[2021-07-09 07:09] leiless opened #2349 "The page at 'https://' was loaded over HTTPS, but requested an insecure resource 'http://' ..."
## What happened?
After a login session expired, normally we need to issue a refresh token or require login again.
When my cookie expired, the browser complained about `The page at 'https://' was loaded over HTTPS, but requested an insecure resource 'http://' ...`

## What did you expect to happen?
A normal re-login.

## How'd it happen?
1. Login.
2. Wait until the cookie/token expires.
3. Met `..

[2021-07-09 07:14] leiless commented on #2349
Accoording to the docs, I saw a suspicious option [`cors_allow_preflight`](https://www.pomerium.io/reference/#cors-preflight), but I don't know if it's related to this problem.

[2021-07-09 11:13] calebdoxsey commented on #2349
It looks like the service worker is making a request of some kind. Because the session is no longer valid,.that request goes through the login flow.

Do you know what the request was for?

We have some recent code written in authorize to treat certain requests as non-interactive so that an http error is returned instead of redirecting through the login flow. This is generally easier to detect by s

[2021-07-10 05:10] ChristianKlass commented on #2288
Sorry, I've stopped working on this, we went with another solution.

Thanks for the response. Maybe it can be reopened if someone else encounters this issue.

[2021-07-10 05:10] #2288 closed

[2021-07-12 02:11] leiless commented on #2349
After an internal discussion, we figured out that maybe it's because of some settings due to Nginx URL rewriting, for example, if I using a relative URI, Nginx may complete it with a full URL, and the protocol may use `http://`.

I suspect the requests for assests still need to check for a valid session since our `log-decryptor` service requires a login to use.

[2021-07-12 12:46] nicolastakashi commented on #2345
When I have a service running like an example below.

[code]

[2021-07-12 12:47] nicolastakashi commented on #2345
Yeah, Dude!
After I search a little bit more I could find that logline, I'll try one of the approaches mentioned by you.

[2021-07-12 13:18] travisgroth commented on #2345
Great thanks for the follow up.

[2021-07-12 13:18] #2345 closed

[2021-07-12 18:33] travisgroth commented on #2349
Thanks @leiless.  Let us know if you need anything further on this.

[2021-07-12 18:33] #2349 closed

[2021-07-13 12:33] amolvishwakarma commented on #2342
Please reply how can i fix this @travisgroth @calebdoxsey

[2021-07-13 13:36] travisgroth commented on #2342
It's very difficult to read your configuration since it isn't block quoted.  However, you have a `forward_auth_url` configured to overlap with the route definition in `from`.

If you're not using another reverse proxy in conjunction with Pomerium, you should remove the `forward_auth_url` line from your configuration.

[2021-07-14 08:34] amolvishwakarma commented on #2342
Below is my config.yaml  file as per your suggestion ,I had removed forward_auth_url but it is still not working @travisgroth
[code]

[2021-07-14 12:28] amolvishwakarma commented on #2342
Thanks @travisgroth ,it is working now something related to the sessions

[2021-07-14 12:29] #2342 closed

[2021-07-14 13:57] travisgroth commented on #2348
Hi @mahlakka,

The pros of using Pomerium's proxy are primarily functional/operational.  Going forward it will increasingly become the recommended configuration, as we have a lot more control with our own proxy:

- Higher performance due to decreased service hops
- Less configuration required - only Pomerium rather than Pomerium + third party proxy
- Less fragile - forward auth is very complicated

[2021-07-15 16:18] stoader commented on #1915
Hi @desimone, do you have any update on whether this feature is still on the table (passing `access_token` in the header to upstream)?

[2021-07-16 14:19] #2348 closed

[2021-07-16 20:58] desimone opened #2372 "tracing: spans are disjointed in jaeger / zipkin"
@desimone commented on [Fri Jul 16 2021](https://github.com/pomerium/pomerium-console/issues/1605)

## What happened?

When exploring spans created in Pomerium, the proxy'ing, and authorization context spans do not seemed to be linked across services (even in all in one mode).

<img width="1592" alt="Screen Shot 2021-07-16 at 1 55 33 PM" src="https://user-images.githubusercontent.com/1544881/12600

[2021-07-19 21:37] calebdoxsey commented on #2372
I don't think this is actually a bug but I don't know enough about Jaeger to prove that. All the code to connect spans is there and being called, so the behavior is working as the libraries were to written to work. I guess we want tracing to work differently than that. I will implement custom code to try and make this work as the issue is asking. (but I don't really know what I'm doing so :man_shr

[2021-07-19 22:12] alexfornuto opened #2375 "Create Icon Component for Docs"
In order to improve the documentation and align it to the product better, I'd like to import and use the same icons as the Pomerium Enterprise Console.

Because some of the documentation is also embedded in the product itself, the format for inserting these icons into the markdown should match how the components are called in Console.

For example, if the icon for a circled plus sign is used in Co

[2021-07-19 23:23] desimone commented on #2372
Do you think this is a jaeger bug?

That's what I thought as well.

Could you elaborate there?

I was thinking maybe we just missed a context propagation somewhere since I do see some cross envoy / pomerium control plane spans between authN and envoy. But maybe I'm mistaken?

<img width="1672" alt="Screen Shot 2021-07-19 at 4 22 43 PM" src="https://user-images.githubusercontent.com/1544881/1262396

[2021-07-20 00:19] calebdoxsey commented on #2372
I don't know.

I created a PR to fix the issue. I manually parse out the headers and build the spans instead of relying on `ocgrpc`. I have no idea if this is right or not. AFAIK Open Census is a dead library.

All the code is there. It doesn't work. I don't know why. I stopped using it.

[2021-07-20 02:06] travisgroth commented on #2372
Some context.  I suspect the zipkin tracer in envoy is the problem.  We changed to it [here](  https://github.com/pomerium/pomerium/commit/c3286aa355983db5e2467096a12b434885e8eaef#diff-98c1638962b19c622bb23546f5d6932de7076735dc0b81f6c75992875c2910f8L40-L50).  We made this change because the zipkin export for the OC tracer is deprecated.

There was explicit configuration for grpc trace bin, which p

[2021-07-20 11:36] #2372 closed

[2021-07-20 15:57] desimone commented on #2089
Moving out of GA. Set for v0.16 per error.

[2021-07-20 15:58] #2089 closed

[2021-07-20 15:58] desimone commented on #2089
Issue moved to [pomerium/internal #474](https://github.com/pomerium/internal/issues/474) via [**ZenHub**](https://www.zenhub.com/)

[2021-07-20 15:59] travisgroth opened #2378 "pomerium-cli: subcommand to flush k8s credentials"
**Is your feature request related to a problem? Please describe.**

If a user logs out their browser's Pomerium session after using the `k8s` integration, their cached session token is invalidated.

- It isn't apparent where the token was stored or how to clear it without deeper digging
- From the auth provider's perspective, we have no way to tell if the credentials are invalid.  We're only aware

[2021-07-20 15:59] travisgroth commented on #2263
Closing in favor of #2378 with a clear feature request.

[2021-07-20 15:59] #2263 closed

[2021-07-20 21:51] #2378 closed

[2021-07-21 21:42] desimone opened #2382 "http/client: add debug logging to outgoing HTTP requests"
**Is your feature request related to a problem? Please describe.**

When there are issues resulting from communicating with external HTTP services (tracing, directory sync, identity providers, etc), it can be difficult to isolate the nature and cause of the problem. This is true

To give a concrete example, there are sometimes issues with downstream identity providers (like API limits, reachabilit

[2021-07-21 21:45] desimone opened #2383 "authorize: add additional tracing spans"
**Is your feature request related to a problem? Please describe.**

Currently, Pomerium adds a good amount of tracing information to requests. One noticeable exception to that is around the authorization decision. Most of the `authorize.grpc.check` function is unaccounted for.

<img width="1681" alt="Screen Shot 2021-07-20 at 1 01 27 PM" src="https://user-images.githubusercontent.com/1544881/12656

[2021-07-22 15:40] calebdoxsey commented on #2383
Fixed with https://github.com/pomerium/pomerium/commit/c7a8f11d9aa156771d4a0ba23ef35151456d250a

Rego does have additional instrumentation and tracing capabilities, but they were very low level. I think having spans for each evaluation will be sufficient. Custom policies are tagged with a checksum so theoretically we could identity which policy is slow.

[2021-07-22 15:40] #2383 closed

[2021-07-22 17:58] #2382 closed

[2021-07-22 22:49] eddiewang opened #2386 "TLS impossible state with Pomerium Istio multi-cluster setup"
Currently I have a 2 cluster setup. Both are running Istio mode, using the guide [here](https://www.pomerium.io/guides/istio.html#istio)

The primary cluster holds all 4 services: authz, authn, databroker, and proxy. It's set to insecure mode, with Istio sidecars managing the TLS between services. This works well, and I've been able to expose services in this cluster. TLS is covered and managed by

[2021-07-22 22:56] eddiewang opened #2387 "Clarify Istio TCP Connect process"
Right now, Istio support seems to end at HTTP services. When we want to proxy TCP based services, the istio-ingressgateway seems to respond back with:

`[2021-07-22T22:36:00.297Z] "CONNECT - HTTP/1.1" 404 NR route_not_found - "-" 0 0 0 - "x.x.x.x" "Go-http-client/1.1"`

[Initial research](https://istio.io/latest/docs/tasks/traffic-management/egress/http-proxy/
) showed a possible way of using a `S

[2021-07-23 17:15] calebdoxsey commented on #2386
Hi Eddie,

Currently we don't support customizing the `GRPC_INSECURE` option by service. There are a few workarounds you could try:

1. If you're using redis for the databroker, you can have multiple databrokers backed by the same redis cluster. So you could have a databroker for each cluster rather than using a single databroker
2. You can turn on TLS for the gRPC connections. I haven't tried thi

[2021-07-23 19:21] thomasleveil commented on #1403
Antoher use case :
- Google Workspace is used at company A
- Pomerium is set up for company A
- Company B uses its own Google Workspace
- Company A buys company B
- It will take 2 months before user accounts from company B's Google Workspace will be migrated to Company A's Google Workspace
- Boss wants all users to access all apps tomorrow

[2021-07-23 20:16] xlejo opened #2388 "Websocket not working if the upstream is HTTPS"
## What happened?

Pomerium fails when try upgrade the connection if the upstream is HTTPS. Pomerium return me a HTTP 400.

If the upstream is HTTP Pomerium upgrade the connection without problems.

## What did you expect to happen?

Upgrade the connection successfully.

## How'd it happen?

1. Install Pomerium with the Helm chart.
2. Config the policy in Pomerium:

[code]
3. Setup a Ingress with

[2021-07-23 20:21] desimone opened #2389 "google: directory sync is broken"
## What happened?

Directory sync is broken for Google (and perhaps others).

[code]

## What did you expect to happen?

Directory sync to work.

## How'd it happen?

ac8ae3ef5b4d26e0a365adb2c889982d24e183c2

[code]

[code]

vs same config on aa0e6872de97793a976bf4223df9ccbed3fc03fc

no errors on startup and endpoint returns groups as expected

https://verify.localhost.pomerium.io/json

[code]

ac

[2021-07-23 21:36] #2389 closed

[2021-07-26 03:56] desimone commented on #264
The original intent of this issue has been superseded by our switch to Envoy which -- while similarly has many timeout knobs -- need to be approached, and documented differently depending on if they are set at the listener, cluster, route, or virtualhost.

[2021-07-26 13:57] travisgroth commented on #2388
Hi - is there any error message from the upstream service?  The log indicates the upstream service isn't happy with the upgrade.  It would be helpful to know what the upstream had an issue with.

[2021-07-26 19:36] wasaga commented on #2388
in the first route, you are providing `tls_server_name` that is equal to server name in the `from` field. However the usage of this option is https://pomerium.io/reference/#tls-server-name

_TLS Server Name overrides the hostname specified in the to field. If set, this server name will be used to verify the certificate name_

in order to rule out the mTLS issue between pomerium not trusting your u

[2021-07-27 18:23] wasaga commented on #2388
in case of double-proxying, i.e. if you have the following configuration:

[code]

most websocket libraries would fail an upgrade request due to `Host` and `Origin` not matching, and you may need to manually adjust the Host header that reaches the websocket server to match the original request host.

i.e. for pomerium used for both external and internal:

*external*

[code]

*internal*
[code]

[2021-07-28 03:41] desimone commented on #1915
@stoader -- We are still considering it but more user requests and details definitely help.

Could you elaborate your specific use case as well so we can make a better informed decision?

- What are you currently doing?
- What would you have to do because this functionality does not exist?
- Would you see this as an "opt-in" feature on a per-route basis?
- How do you see this changing your securit

[2021-07-28 08:58] stoader commented on #1915
@desimone we use Pomerium to provide auth through OIDC to an application which comprises of a couple of services which don't have support for authn/authz through OAuth2 bearer token natively except one of the services which requires the original access_token in order to be able to perform the authorization.

For us is fine if this is an opt-in feature. Without this we'd need to query the databroke

[2021-07-28 14:57] #2388 closed

[2021-07-28 18:23] the-maldridge opened #2403 "Forward auth with Traefik results in a redirect loop."
## What happened?

Trying to configure forward authentication using Traefik results in a 302 request loop between an instance of verify and an instance of pomerium.

## What did you expect to happen?

I expected to see the verify page which would show me as an authenticated user.

## How'd it happen?

I deployed the following files to Nomad, and navigated to verify.voiceops.network, which redirect

[2021-07-30 15:47] hrishikeshdkakkad commented on #494
Yes this needs to comprehensively be added into the docs

[2021-07-30 17:29] calebdoxsey commented on #2403
Thank you for providing the configuration. Unfortunately it seems highly specific to your local environment. I don't think I will be able to reproduce your setup. I attempted to run the jobs locally, but they don't work and I don't understand all the systems involved.

Would it be possible to supply a more isolated example that can run independently?

I will try a pure traefik forward-auth example

[2021-07-30 19:30] calebdoxsey commented on #2403
In my local example I have the middleware setup like this:

[code]

And pomerium:

[code]

Perhaps the forward auth URL is incorrect in your setup?

[2021-07-30 19:43] the-maldridge commented on #2403
Hmm, per the documentation I had added the query param, which it seems is not required.  I now can get forwarded to the verify service, but identity verification fails.  I get "json web key: empty JSON Web Key Set payload".

[2021-07-30 19:51] calebdoxsey commented on #2403
@the-maldridge The assertion header that's passed to verify will contain a URL for validation. I think that that URL is probably not reachable from the verify container?

You should be able to override the JWKS endpoint with an argument to the verify container:

[code]

Does it work if you set that to the publically available authenticate URL?

[2021-07-30 19:59] the-maldridge commented on #2403
Hmm, the authenticate service URL is publicly visible, and when I try to go to the /.well-known/ endpoint for the JWKs keys I get a null keyset.  Are these keys things I should have generated somewhere manually?

[2021-07-30 20:04] calebdoxsey commented on #2403
Did you set a `signing_key` in the config? https://www.pomerium.io/reference/#signing-key

[2021-07-30 20:16] the-maldridge commented on #2403
Having set one it now works.  Thanks so much for your patience with me while trying to get this working.  I will write up a blog post most likely this weekend talking about how to set this whole stack up on Nomad since my workflow is far from unique.

[2021-07-30 20:16] #2403 closed

[2021-08-02 17:07] calebdoxsey opened #2418 "authorize: add additional impersonated session details to the audit log"
Currently we only log the `impersonate_session_id` when impersonating a user. It would be helpful for administrators to also see the impersonated user details.

**Describe the solution you'd like**
Add the impersonated user details.

**Describe alternatives you've considered**
Leaving it as is

**Additional context**
This will result in an additional session lookup. We should be careful to tolerat

[2021-08-02 18:08] #2418 closed

[2021-08-02 22:14] calebdoxsey opened #2424 "tests: frequent test failures during cover step"
## What happened?
Our tests frequently fail during the cover step. Maybe 50% of the time? And it seems always in the same place:

https://github.com/pomerium/pomerium/runs/3225129332?check_suite_focus=true

[code]

## What did you expect to happen?
Not to fail

## How'd it happen?
1. Create a pull request
2. Test fails

## What's your environment like?

- Pomerium version (retrieve with `pomerium

[2021-08-02 23:11] #2424 closed

[2021-08-03 06:17] amolvishwakarma opened #2426 "Redis integration in pomerium not working"
## What happened?

Not able to integrate redis as cache service in pomerium.

## What's your environment like?

Using docker container to setup pomerium

[code]

## What's your config.yaml?

[code]

## What did you see in the logs?

[code]

[2021-08-03 15:03] calebdoxsey commented on #2426
Hi @amolvishwakarma

I see two issues:

1. As the error states, you need to set a shared key in the config.
2. Using localhost will not work, since you're running within a container. You will need to set the host name to `redis`.

[2021-08-03 15:03] #2426 closed

[2021-08-04 01:46] #2283 closed

[2021-08-04 05:19] amolvishwakarma commented on #2426
Hi @calebdoxsey ,

I had updated the configuration but still there is an issue:

[code]
# What did you see in the logs?

[code]

[2021-08-04 05:31] amolvishwakarma commented on #2426
Thank you so much it is working now @calebdoxsey

[2021-08-04 07:31] ventris opened #2429 "Multiple databroker urls returns x509 validation error"
## What happened?

Pomerium seems to incorrectly validate certificates for databroker_service_urls when you add multiple items to the list.

## What did you expect to happen?

Pomerium to be able to validate each FQDN separately when it does its connection.

## How'd it happen?

1. Use `databroker_service_urls` with multiple hosts
2. Start Pomerium with `log_level: debug` and `debug: true`

## Wha

[2021-08-05 15:26] calebdoxsey commented on #2429
The issue here is caused by our custom resolver. It supports URLs like:

[code]

Although it establishes the connections properly, the TLS verification is done using the server name:

[code]

And obviously that doesn't work. We could easily override the server name, but unfortunately it's possible each databroker server will have independent TLS certificates, so we can't rely on a single name.

On

[2021-08-08 23:42] oliverxchen opened #2454 "🐛 in v0.15.0 with GCP cloud run"
## What happened?

A configuration that was previously working using the `latest` tag stopped working, with requests resulting in 401s with the message:

[code]

## What did you expect to happen?

Request should have gone through, like before.

## How'd it happen?

1. Ran a deployment using terraform after v0.15.0 was released.
2. In a browser, go to any subdomain protected by pomerium.
3. Saw the

[2021-08-09 14:30] travisgroth commented on #2454
Hi - a few questions:

- are your policies using groups, claims or users?  Can you share some samples of route definitions that no longer work?
- are there any messages related to directory or OIDC provider?
- are you using the GCP serverless integration with upstream endpoints or no?

[2021-08-09 16:01] JokerQyou commented on #2288
I had the exact same issue.

The error is: the domain `monitor.wfh.com` is not the one handling pomerium-related services, so it triggers a 404 error. The redirect happens like this:

- Visit `https://monitor.wfh.com/some_path/`
- Got redirect to `https://pomerium-autenticate-domain/.pomerium/sign_in?pomerium_expiry=1628524128&pomerium_issued=1628523828&pomerium_redirect_uri=https%3A%2F%2Fmonitor.

[2021-08-13 18:34] desimone opened #2470 "support m1 release of cli"
**Is your feature request related to a problem? Please describe.**

We currently do not release `pomerium-cli` binaries for m1 drawin.

**Describe the solution you'd like**

m1 compatible binaries.

**Describe alternatives you've considered**

**Explain any additional use-cases**

**Additional context**

- https://github.com/pomerium/pomerium/releases/tag/v0.15.0
- https://github.com/pomerium/pome

[2021-08-13 21:04] desimone commented on #2470
I think we'll get this for free if we update the pin versioned of go-releaser.

[2021-08-16 13:23] oliverxchen commented on #2454
Thanks, @travisgroth. Apologies for my late reply:

* the policies allow access by anybody in a domain. The terraform config is:

[code]

* I don't think there are any log messages related to directory or OIDC provider, the closest is this:

[code]

* I'm not sure what "upstream endpoints" are, so I'm assuming no...

[2021-08-19 09:47] fnkr commented on #1943
This is already possible when using nginx and forward auth. Using Pomerium Operator + nginx ingress controller:

[code]

Or just using nginx:

[code]

Make sure nginx _knowns_ the real IP address of the visitor ((`proxy_protocol` or `real_ip_header`) and `set_real_ip_from`).

I'd still like to see this implemented in Pomerium for other use cases.

[2021-08-19 19:06] wasaga opened #2496 "support HTTPS upstream backends"

[2021-08-19 19:07] wasaga commented on #2496
"pomerium.ingress.kubernetes.io/backend-protocol" annotation

[2021-08-20 19:42] #2470 closed

[2021-08-23 18:03] desimone opened #2513 "epic: update exiting tutorials"

[2021-08-24 14:40] kj187 commented on #2307
That is quite a pity that this is a pure enterprise feature. I'm actually super happy with Pomerium, but because of the missing feature in the open source variant, I will probably look for an alternative ;-(

[2021-08-24 14:58] galan opened #2517 "Unable to pass identity headers"
## What happened?
There is no email-address passed, neither as request-header nor as jwt field.

## What did you expect to happen?
I want the email-address being passed by the proxy to the downstream application.

## What's your environment like?
- pomerium in kubernetes, using the helm-chart 20.1.0
- that's pomerium 0.14.4
- I do have the annotation `ingress.pomerium.io/pass_identity_headers: "tr

[2021-08-25 13:27] Mistic92 commented on #2454
We just noticed the same issue today. Looks like pomerium service is not using service to service headers properly to send requests.

[2021-08-25 13:42] calebdoxsey commented on #2429
We now send client traffic through envoy, which should fix this issue in v0.15.

[2021-08-25 13:42] #2429 closed

[2021-08-26 06:23] narcoticfresh opened #2534 "X-Pomerium-Claim-Groups format changed in 0.15.0, breaks things"
## What happened?

We updated pomerium to 0.15.0 (from 0.14.7) and our setup (a Jenkins behind pomerium with the reverse-proxy-auth plugin) failed to work.

As it turns out, the format of the `X-Pomerium-Claim-Groups` changed.

In 0.14.7, the format is:
[code]
Which works with the `reverse-proxy-auth` plugin..

In 0.15.0, the format changed to
[code]

## What did you expect to happen?

That the fo

[2021-08-27 02:29] #2534 closed, assigned to calebdoxsey

[2021-08-27 08:46] 1inh opened #2541 "Different format for X-Pomerium-Claim-Groups after upgrading to 0.15.1"
**Is your feature request related to a problem? Please describe.**
We recently upgraded to `0.15.1` from `0.14.2` and noticed that the format of the header `X-Pomerium-Claim-Groups` changed from `A,B,C,D` to `[A B C D]`.

This is problematic as a lot of our tools cannot parse this new header properly since they either only offer comma as the delimiter or they allow other values as delimiter. Howev

[2021-08-27 14:48] #2541 closed, assigned to nobody

[2021-08-30 14:00] galan commented on #2517
Tried with the latest v0.14.8 and v0.15.1 images for the pomerium-proxy, as well as the different `jwt_claims_headers`, without luck.

[2021-09-01 20:02] schmug opened #2559 "get cert errors every 10 minutes"
## What happened?

We are getting get cert errors consistently for every route.

## What did you expect to happen?

We don't use autocert and use a wildcard, so I wouldn't expect an error at all.

## How'd it happen?

Every 10 minutes, this appears for all routes from Enterpise.

## What's your environment like?

- Pomerium version (retrieve with `pomerium --version`):
[code]
- Server Operating Sy

[2021-09-03 19:06] calebdoxsey opened #2568 "directory: refresh errors require a long time to resolve"
## What happened?
When running pomerium and sending directory calls through itself there is a brief period of time when the envoy control plane isn't available yet, resulting in directory calls failing. The way the code is written, it won't re-attempt a refresh until the next directory refresh interval.

We should instead use exponential backoff on errors so that the call can be retried quicker.

[2021-09-03 21:49] #2568 closed

[2021-09-07 14:36] #2454 closed

[2021-09-07 19:11] desimone opened #2578 "authenticate: date time fields on userinfo (`/.pomerium`) endpoint serialize as scientific notation"
## What happened?

The user info endpoint fields that are dates, unmarshal as floats.

<img width="622" alt="Screen Shot 2021-09-07 at 12 06 50 PM" src="https://user-images.githubusercontent.com/1544881/132397884-9d70212e-67c3-4413-9fb7-58e3eb2bbae0.png">

## What did you expect to happen?

To either serialize as a date time (as we do with session data), or just simply as the existing int in non-s

[2021-09-09 21:30] travisgroth commented on #2185
I believe this was due to changing where we did assertion and signing internally.  We officially stopped supporting EdDSA in v0.15 but in v0.14 it was not functioning properly.

https://github.com/pomerium/pomerium/pull/2430 was the official deprecation.  As you found, using a different algorithm should do the trick.

[2021-09-09 21:30] #2185 closed

[2021-09-10 12:23] #2559 closed

[2021-09-10 12:23] #2578 closed

[2021-09-10 20:51] alexfornuto opened #2589 "TCP client reconnects every 10 minutes, receives wrong certificate"
## What happened?

When using pomerium-cli to establish a secure RDP connection, every 10 minutes the connection is disconnected and attempts to reconnect. I've confirmed that my RDP server settings are set not to timeout or disconnect at that interval (or at all, in fact).
Beyond that, the first reconnection attempt receives the wrong certificate from the server:

[code]

Notice that the connecti

[2021-09-10 21:35] alexfornuto opened #2590 "After auth, TCP connections fail."
## What happened?

On every fresh connection to a TCP route, the connection fails and needs to be restarted. By "fresh", I mean that the JWT is not cached. The connection must be closed and reopened to get a solid connection. Removing the cache re-creates the issue on the next attempt.

## What did you expect to happen?

I expected The first connection to open my browser and authenticate me, and t

[2021-09-13 16:46] alexfornuto commented on #2589
While doing more testing today, this issue happened repeatedly, and not within a 10 minute  time frame:

[code]

[2021-09-13 19:53] calebdoxsey commented on #2590
@alexfornuto do you want to try master? I just merged a change that should fix some of these issues I think

[2021-09-13 20:01] alexfornuto commented on #2590
It was suggested during the meeting that this issue may have been related to removing the cached tokens to simulate a new connection. I can confirm that the issue happens with a fresh connection, not one with removed tokens:

[code]

Sure. To confirm, this is a new master build of `pomerium`  you're referring to? Do I need to update the server, local client, or both?

[2021-09-13 20:02] calebdoxsey commented on #2590
The local client

[2021-09-13 20:17] alexfornuto commented on #2590
Thanks. Unfortunately It didn't change the behavior:

[code]

[2021-09-13 20:19] calebdoxsey commented on #2590
@alexfornuto can you set `log_level` to `debug` in the server config, and grab the logs when you try to make the connection?

[2021-09-13 20:29] alexfornuto commented on #2589
@desimone as suggested I renamed the `adg` route. The error still occurs, just with the new first route alphabetically. What's more, now it doesn't resolve to the right on one when it attempts again:

[code]

So it sort of made things worse.

[2021-09-13 20:34] alexfornuto commented on #2590
I can't at the moment, as I can no longer get to that point as discussed [here](https://github.com/pomerium/pomerium/issues/2589#issuecomment-918551286). Once I can establish the CLI connection again, I can produce relevant debug output for this issue.

[2021-09-13 20:37] calebdoxsey commented on #2589
I don't see this locally. But I can't use autocert because my local machine isn't accessible on the internet. I will try to figure out a configuration that will let me do that.

[2021-09-13 20:43] alexfornuto commented on #2590
I sent you the debug output over Slack, since I'm not sure how to confirm it's sanitized.

[2021-09-13 21:30] alexfornuto commented on #2589
You know, Whatever other changes came in master for #2590 might have also brought a fix for this. After upgrading the CLI (and restarting the server to enable debug logging), I've had no more disconnects. Current RDP connection has been going for over 30 minutes without a disconnect.

I'll keep testing on my end, but if it I don't see the error again I think we can mark this closed at the same tim

[2021-09-15 09:17] yegle opened #2596 "Built-in SSH relay server"
The Chrome ssh client addon (https://chrome.google.com/webstore/detail/secure-shell/iodihamcpbpeioajjeobimgagajmlibd) has a ssh-relay protocol (https://chromium.googlesource.com/apps/libapps/+/master/nassh/doc/relay-protocol.md) that support relaying SSH connections over HTTP.

It's possible to run other open source relay server implementations (e.g. https://github.com/hazaelsan/ssh-relay and http

[2021-09-15 09:18] yegle commented on #2596
FWIW I'm aware of https://www.pomerium.com/guides/tcp.html, but my primary SSH client is a Chromebook and cannot easily run `pomerium-cli`.

[2021-09-15 14:22] calebdoxsey commented on #2590
@alexfornuto does the latest master fix this issue? One with the changes from #2594

[2021-09-15 15:34] alexfornuto commented on #2590
Just tested, bug resolved!

[code]

Thanks @calebdoxsey!

[2021-09-15 15:34] #2590 closed

[2021-09-15 15:35] alexfornuto commented on #2589
I haven't been able to reproduce this issue since. Thanks @calebdoxsey!

[2021-09-15 18:38] calebdoxsey commented on #2517
This is difficult to debug, but a few possibilities:

1. Are the `idp_scopes` being customized? `email` is required in order to fill in the identity token claim.
2. I think a signing key is required for claim headers to work. I believe with the helm chart that should be automatically generated, unless it was overwritten. Are you using a custom signing key?
3. It doesn't look like you're using `idp

[2021-09-16 16:29] alexfornuto commented on #2596
@yegle I can't speak to the technical challenges of the proposed solution here, but I can add my user experience. I use the Linux development environment on my Chromebook to run `pomerium-cli` and use proxied SSH connections, not to mention RDP sessions using Remmina as a client. It's more overhead than an in-Chrome solution just for SSH, but I had the environment installed anyway.

One thing to n

[2021-09-16 19:50] stuartpb opened #2608 "Can't connect to proxied sites - no activity on authorization pod"
## What happened?

I have Pomerium installed via Helm chart, and Ingresses like this:

[code]

However, I get 500 Internal Server Errors when connecting to these sites (or sites defined to go through Pomerium via proxy), and a 404 when trying to connect to my authentication endpoint (authenticate.horn.horse).

## What did you expect to happen?

I expect to be able to authenticate and connect to th

[2021-09-16 20:33] flecno commented on #2517
@galan Is this configured behind a other ingress controller like nginx with external auth? I think you can't expect the headers then

[2021-09-17 12:33] calebdoxsey opened #2609 "PPL Contextual Details"
Currently `allow` rules in Pomerium Policy Language (PPL) simply return true or false without identifying why they're true or false. This limits our ability to provide better error messages and custom workflows.

**Describe the solution you'd like**

The below description is somewhat confusing since its very technical. Hopefully any PR implementing it will be more clear.

We should update the PPL

[2021-09-17 20:01] stuartpb commented on #2608
As an update, changing my `forwardAuth.name` in the Helm chart values to `pomerium-proxy.pomerium.svc.cluster.local` not only made it so forward auth pages would work (though authenticate.horn.horse was still yielding a 404), but for some reason it also made it so the proxy wouldn't fail for apps without forward auth (tested against grafana.horn.horse).

[2021-09-17 20:47] stuartpb commented on #2608
Here are the logs from the authorize pod - I don't see any evidence of activity after startup:

[code]

[2021-09-17 23:20] stuartpb commented on #2608
If I set the log level to "debug", I get a few more messages, but still no indication of activity on the authorization pod:

[code]

[2021-09-18 01:30] stuartpb commented on #2608
Okay, after a while, I tried again, and now the authorization pod shows activity, but everything through authenticate.horn.horse is coming up 404 from Nginx, and I don't see any record of activity in the logs of the authentication pod.

[2021-09-19 11:09] stuartpb commented on #2608
Okay, I dove into this a little more, and I think I figured out the problem: the names for the outside-facing services (ie. authenticate.horn.horse) weren't resolving within the cluster, but they *were* to the outside world. (This was due to my OpenWRT router, after an upgrade, running dnsmasq with rebind protection, instead of unbound, which I had configured to not do rebind filtering.) Fixing th

[2021-09-19 11:17] #2608 closed

[2021-09-20 22:02] #2609 closed

[2021-09-24 15:53] alexfornuto commented on #2589
Looks like this is still an issue on pomerium-cli 1:0.15.3-1

[code]

[code]

[2021-09-24 15:57] #2589 closed

[2021-09-27 21:14] cmo-pomerium opened #2634 "test"

[2021-09-27 21:15] cmo-pomerium opened #2635 "test"

[2021-09-27 21:15] cmo-pomerium opened #2636 "testing"

[2021-09-27 21:18] cmo-pomerium opened #2637 "test"

[2021-09-27 21:19] #2634 closed

[2021-09-27 21:19] #2635 closed

[2021-09-27 21:19] #2636 closed

[2021-09-27 21:19] #2637 closed

[2021-09-30 21:42] yegle opened #2653 "Official docker image may be affected by Let's Encrypt root certificate expiration"
I have Pomerium reverse proxying an HTTPS website which uses Let's Encrypt certificate.

Earlier today the reverse proxy start returning 503 error per my monitoring. The error is:

Which I suspect is related to https://letsencrypt.org/docs/dst-root-ca-x3-expiration-september-2021/

Not sure if Pomerium can do anything as the certificate is from the `golang:latest` base image, but I figure we shoul

[2021-10-01 04:19] yegle commented on #2653
Found a workaround:

Copy ca-certificates.crt from the container:

[code]

Find the certificate corresponding to the expired DST Root CA X3 and delete it. Use this string to locate it `MIIDSjCCAjKgAwIBAgIQRK+wgNajJ7qJMDmGLvhAazANBgkqhkiG9w0BAQUFADA`

Mount the file back to the container.

[2021-10-01 17:50] desimone commented on #2653
Related:

- https://github.com/golang/go/issues/42437#issue-738201579

[2021-10-01 19:33] xlejo opened #2655 "Better message of the error if route is duplicated"
## What happened?

When i put a duplicated route, Pomerium Proxy it didn't start.

## What did you expect to happen?

A better message of the error, saying there is a duplicate route.

## What's your environment like?

- Pomerium version 0.15.3 (using the Pomerium Chart 24.0.0)
- Server Operating System/Architecture/Cloud: Kubernetes

## What's your config.yaml?

[code]

## What did you see in the

[2021-10-02 01:59] desimone commented on #113
FYI -- https://github.com/pomerium/webauthn

[2021-10-04 14:27] travisgroth commented on #2653
Looks like changes to address this from boringssl (used by envoy) are in progress https://bugs.chromium.org/p/boringssl/issues/detail?id=439#c4

[2021-10-04 19:09] stefanhenseler commented on #2103
We are using pomerium-cli as described here (https://pomerium.io/guides/kubernetes.html#kubectl) with kubectl on code server (https://github.com/cdr/code-server) and are getting this error:
[code]
I guess this is where pomerium-cli tries to launch the browser. I would expect pomerium-cli to automatically change the flow if there is no way to open a browser. Maybe device code grant (https://fusiona

[2021-10-04 23:37] #2655 closed

[2021-10-07 15:35] dginther opened #2666 "Pomerium making hundreds of requests to Github API, exhausting the quota"
## What happened?
It appears that Pomerium, when confronted with a Github Org with MANY teams, makes hundreds of requests for 5 results at a time, to determine what group a user is in. I believe the code that is doing this is here:
https://github.com/pomerium/pomerium/blob/8a8dcdf49117e83d1b35757c6fee3858d7e16ed9/internal/identity/oauth/github/github.go#L170

Authenticated users get 5000 requests

[2021-10-07 21:18] travisgroth commented on #2666
Hi @dginther - FYI you may be able to mitigate this somewhat by decreasing the sync frequency: https://www.pomerium.com/reference/#identity-provider-refresh-directory-settings.

[2021-10-13 00:22] xlejo opened #2675 "If user change an idp claim, Pomerium don't refresh user session"
## What happened?

When change the IDP claim of the user, like `groups` this not reflect in the route when Pomerium (with Redis) is running, showing  me a `403 Forbidden`, having to delete the Redis data and restart the Pomerium Databroker.

## What did you expect to happen?

If change the group of a user logged, Pomerium should refresh the user session.

## How'd it happen?

1. Make a route with

[2021-10-13 19:19] fightforlife commented on #2653
Sorry for spamming this thread, it seems this is due to an error in Android or LineageOS18.1.
I have a Poco F1 with the latest LineageOS18.1 nightly and a Pixel 4A with the latest Android 11 Update. Both phones were working correctly with privatedns before the cert expire.
These are the only clients which are not working right now. My router, PC and Chrome browser are working fine.

These are the

[2021-10-13 21:33] alexfornuto opened #2676 "Move pomerium-cli install to /usr/bin"
## What happened?
The Debian installation from Cloudsmith (and others I'd bet) installs `pomerium-cli` to `/usr/sbin`, which is not a standard part of a user's `PATH`.  From the [Filesystem Heirarchy Standard](https://www.pathname.com/fhs/pub/fhs-2.3.html#AEN1058):

## What did you expect to happen?

I expected to have `pomerium-cli` in my standard user `PATH`

## What's your environment like?

-

[2021-10-14 14:16] vkperumal opened #2678 "Redirecting to internal to address on the browser"
## What happened?

When i hit the from url defined on the pomerium policy on the browser i get redirected to the "to" url defined.

## What did you expect to happen?
Get the url displayed

## How'd it happen?

1. Put From url on the browser
2. Get redirect to the "to" url
3. Since the url is kubernetes internal getting dns failure

## What's your environment like?

pomerium:v0.15.3
Kubernetes EKS

[2021-10-15 20:31] fightforlife commented on #2653
Fo someone googling this in regards to private DNS on Android. It is an Android DoT problem.
I found this:
https://community.letsencrypt.org/t/lets-encrypt-certificate-is-reported-expired-on-android-10-private-dns-feature/161281/10
https://issuetracker.google.com/issues/201661947?pli=1

[2021-10-17 13:31] mescanne commented on #1442
Looking into the same thing for me, wouldn't it make sense to simply use pomerium ssh tunneling:
https://www.pomerium.io/docs/tcp/ssh.html

Mark

[2021-10-17 19:39] nihaals commented on #1442
At the time I don't think SSH support was implemented, now that it has, this should be possible. It might still be worth adding documentation (for e.g. GitLab self-hosted) though, which will both serve as a tutorial and a chance to see if it works as expected with Git

[2021-10-26 10:20] Zmegolaz opened #2708 "Homebrew :unneeded is deprecated"
## What happened?

Updating pomerium via homebrew on MacOS gives a deprecation warning:
[code]

Everything still works, but the `:unneeded` is ignored by the bottler bot, see https://github.com/Homebrew/brew/pull/11239

## What did you expect to happen?

No warning.

## How'd it happen?

1. Have `pomerium/tap` as a Homebrew tap
2. Run `brew update`

## What's your environment like?

- Pomerium ver

[2021-10-26 14:37] #2678 closed, assigned to travisgroth

[2021-10-27 17:47] alexfornuto opened #2716 "Docs: Update Console Docs re: Upstream/Downstream CA"
Update the docs and inline copy to better differentiate settings that provide CA certs for user <-> Pomerium connections from Pomerium <-> Service connections.

[2021-10-27 17:50] #2666 closed, assigned to calebdoxsey

[2021-10-28 12:23] Dracyr opened #2722 "kubernetes_service_account_token_file not reloaded after rotation by k8s"
## What happened?

Following the kubernetes/kubectl guide at https://www.pomerium.io/guides/kubernetes.html
We have a working setup, and I can properly use `kubectl` to interact with the running cluster.

We are mounting the serviceAccountToken in as a projected volume, with a set experationSeconds. And then specifying it's location with `kubernetes_service_account_token_file`
When this gets rotat

[2021-10-28 12:56] rguichard opened #2723 "Upstream application doesn't get pomerium headers"
## What happened?

My upstream application doesn't get any Pomerium headers, neither X-Pomerium-Jwt-Assertion or X-Pomerium-Claim-*.

## What did you expect to happen?

Some headers, please.

## What's your environment like?

- Pomerium version 0.15.2
- Pomerium Helm chart 24.0.0 (operator enabled)

Pomerium is in forwardAuth mode and Traefik is my Ingress Controller
## What's your config.yaml?

[

[2021-10-29 17:06] calebdoxsey opened #2728 "docs: traefik example uses legacy claim names"
## What happened?
Our traefik example is using the legacy `x-pomerium-authenticated-user-` claim names:

[code]

## What did you expect to happen?
It should be using `x-pomerium-claim-` names. See https://www.pomerium.io/reference/#jwt-claim-headers

[2021-10-29 17:57] #2723 closed, assigned to calebdoxsey

[2021-10-29 20:30] #2676 closed

[2021-11-01 00:38] desimone commented on #2004
Closing due to inactivity. Please reopen if you see this again with additional configuration and logs.

[2021-11-01 00:38] #2004 closed

[2021-11-01 03:23] dannytech opened #2729 "Redirect loop with Redis databroker"
## What happened?

When the Redis databroker is enabled, Pomerium is entering a redirect loop when I try to access any proxied service requiring authentication.

## What did you expect to happen?

Pomerium should redirect to its `authenticate_service_url` for authn/authz, then redirect back to the service successfully (i.e. a 302 to the service URL, a 302 back to a callback URL, a 302 back to what

[2021-11-01 03:25] desimone opened #2730 "Users with many groups (>200) can create assertions JWTs that are incompatible with some webservers"
## What happened?

If a user has many (over ~200) group memberships, it can result in a situation where we can be injecting headers that break many web-servers and other reverse proxies with strict limits on header sizes.

## What did you expect to happen?

I would expect we have a way to support situations where (especially for collections) we can trim down / and filter an assertion header with o

[2021-11-01 14:35] dginther commented on #2666
I will tell the team that is now handling this and they can give it a try. Thanks!

[2021-11-01 15:55] alexfornuto opened #2733 "Docs: Update Footer with License"
Update the Docs template footer describing the various licenses different content on the site is subject to, with links.

[2021-11-01 17:59] travisgroth commented on #2729
Hi @dannytech,

A few questions:

- You mention that this is specifically with redis databroker.  Does this not occur with an in-memory configuration?
- Is there a specific reason you're putting nginx in front of pomerium?  Generally we recommend being deployed at the edge.
- Could you get the pomerium logs?  If you've installed via package manager there shouldn't be anything additional needed to

[2021-11-01 21:54] travisgroth opened #2740 "Incorrect TLS certificate can be selected with databroker on alternate port"
## What happened?

TLS connections can be terminated by a fallback/incorrect certificate rather than a certificate matching the databroker hostname when the following conditions are true:

- there are 2+ certificates in the `certificates` configuration key
- the databroker certificate is not first in the `certificates` list
- databroker is running on an alternate port such as `:8443`

I suspect th

[2021-11-01 22:16] dannytech commented on #2729
Thanks @travisgroth for the reply, and my sincere apologies for the delay.

* Yes, this occurs exclusively with the Redis databroker. When I remove the configuration lines to use Redis (thereby defaulting to in-memory), the issue does not occur.
* Yes, I've extensively automated Nginx to distribute a customized configuration with extra monitoring/health check endpoints (which I excluded from the c

[2021-11-02 01:32] #2728 closed

[2021-11-02 20:57] travisgroth commented on #2729
@dannytech I can't reproduce from your nginx config and a basic pomerium configuration.

Did you change your `shared_secret` after enabling redis?  The data is stored encrypted and you'll need to flush redis if you've changed the key.  If I change the `shared_secret` while using redis, I can get a redirect loop.

[2021-11-02 22:09] dannytech commented on #2729
🤦‍♂️ Of course, that makes so much sense! I was experimenting with Ansible creating my Pomerium config, which generated and separately stored a different shared secret. I've also had this issue in the past with my previous config, presumably also changed it accidentally then. Running a `flushall` fixed this completely. Thank you for the help @travisgroth!

[2021-11-02 22:09] #2729 closed

[2021-11-03 16:05] kroshner commented on #1990
@travisgroth Trying to create multi-cluster setup and get stuck a bit.
Idea is similar to what @eddiewang mentioned in the first comment: cluster A hosting all Pomerium services, cluster B hosting as minimum services as possible.
At the moment I have working setup with old Pomerium version (0.6.2) which looks like this:
- Cluster A with all Pomerium services
- Cluster B with Proxy and Authorize (n

[2021-11-04 11:42] boskisam commented on #2675
I struggle with the same issue. Would like to see this resolved.
Every group change must be followed with databroker restart. (i have redis turned off).
Even when forcing logout client-side, changing groups, logging back in authenticate.example.com/.pomerium/ displays that the new groups are visible, but need to restart databroker for policy to refresh user groups.

[2021-11-04 13:40] travisgroth commented on #2675
Hi @boskisam sorry for the silence.  We anticipate releasing a patch that addresses this soon.

[2021-11-04 14:43] wasaga opened #2743 "api: Listener changes"
- make Update idempotent
- add GetStatus so that UI can get current listener state in one call without memoizing Update responses

[2021-11-05 02:42] travisgroth commented on #2675
This is now fixed in [v0.15.6](https://github.com/pomerium/pomerium/releases/tag/v0.15.6).  Thank you for opening the issue @xlejo.

[2021-11-05 02:42] #2675 closed

[2021-11-05 06:30] szymonpk opened #2748 "logs filled with "get cert" error"
## What happened?

My logs are filled with the following error:

[code]

See 'Additional context' section.

## What did you expect to happen?

No errors in logs.

## How'd it happen?

n/a

## What's your environment like?

- Pomerium version 0.15.5
- EKS 1.18

## What's your config.yaml?

n/a

## What did you see in the logs?

[code]

## Additional context

This was already fixed by https://github

[2021-11-05 20:54] travisgroth commented on #2748
Hi - backported here https://github.com/pomerium/pomerium/pull/2750.

It will go out soon in the next patch release.

[2021-11-05 20:54] #2748 closed

[2021-11-06 15:08] szymonpk commented on #2748
Thank you!

[2021-11-08 18:59] #2708 closed

[2021-11-15 15:04] robertgates55 opened #2761 "ENV interpolation/substitution in config settings"
Not all settings are settable directly with environment variables. Eg https://www.pomerium.com/reference/#set-request-headers

Others might require combinations (eg combining multiple ENVs into one setting var - `"${ONE)_${TWO}"`).

It'd be useful to be able to have this keys interpolated/substituted:

[code]

Is this possible?

[2021-11-15 16:43] travisgroth opened #2766 "authenticate: redirect `/` to `/.pomerium`"
**Is your feature request related to a problem? Please describe.**

During initial install or debugging, users frequently reach for a public endpoint on Pomerium that doesn't rely on a defined route.  The obvious choice is `authenticate`, but the service responds with a 404 error unless the user knows to hit `/.pomerium` instead.  This can lead to confusion and the assumption that something is wro

[2021-11-15 19:37] travisgroth commented on #2761
Related:

https://github.com/pomerium/pomerium-helm/issues/175
https://github.com/pomerium/pomerium/issues/1781

Going to close this in favor of #1781 to centralize the conversation.

[2021-11-15 19:37] #2761 closed

[2021-11-15 19:48] travisgroth commented on #1781
Hi @robertgates55,

After some discussion, we're hesitant to introduce an interpolation syntax for this.  The general recommendation is to use [`envsubst`](https://www.gnu.org/software/gettext/manual/html_node/envsubst-Invocation.html) or [`consul-template`](https://github.com/hashicorp/consul-template) to render out a pomerium config with substitution performed.  The latter supports environment v

[2021-11-15 22:11] calebdoxsey commented on #2740
I believe this was fixed with https://github.com/pomerium/pomerium/pull/2760.

[code]

[2021-11-16 18:58] kmushegi commented on #1403
Have there been any developments on this?

I was hoping to use Pomerium in front of services and be able to authenticate using both Google and Auth0 as an identity provider depending on the request. Based on the docs this does not seem possible and I must choose one or the  other?

[2021-11-16 23:00] calebdoxsey commented on #1403
@kmushegi currently the only way to use multiple identity providers is to run separate instances of Pomerium. If your sites are on different domain names this should be possible, albeit with a more complex setup. (e.g. point domain 1 to the first pomerium, domain 2 to the second pomerium)

When you say "depending on the request" do you have more details about what you had in mind? In Pomerium we r

[2021-11-16 23:43] kmushegi commented on #1403
Thanks for the tip - sounds like something I'd want to avoid doing.

What I meant here is the following scenario:
1. Let there be a backend API that does not implement its own authentication - this is what I want to put behind Pomerium.
2. Let there be a Frontend website that will talk to the API from step (1). This frontend is currently sitting behind BuzzFeed SSO which uses Google SSO.
3. Let th

[2021-11-17 15:19] #2722 closed

[2021-11-18 15:49] #2766 closed

[2021-11-18 19:03] bluecmd opened #2773 "Unable to use `oidc` when `access_type` is not allowed to be set"
## What happened?

I tried to use OIDC to interface to a OIDC provider that does not allow setting `access_type` to the `/authorize` endpoint.

## What did you expect to happen?

There would be a way to change the default `access_type=offline` to allow not sending this parameter.

## How'd it happen?

1. Configured the `idp_*` settings.
2. OIDC provider sends error "Unsupported request parameter"

[2021-11-19 06:08] desimone commented on #2773
I think it makes sense to keep offline as the default as that preserves the current functionality, and is the optimal pomerium operating model (otherwise we can't do session refresh and sessions will expire after ~1 hr).

Maybe the easiest fix here is encourage users to set `access_type` to be `online` (the default when not set for the oauth2 package), and drop the `offline` value if so.

Actually

[2021-11-19 07:01] bluecmd commented on #2773
No, if `access_type` is explicitly set, the authorize request is rejected on this particular IdP.

[2021-11-20 00:43] desimone opened #2778 "support passing credentials via a pomerium specific header"
**Is your feature request related to a problem? Please describe.**

Many http packages and libraries do not treat headers as a map of _multiple_ string values. This can be especially problematic when clients need to set an `Authorization` bearer token for both Pomerium, and for upstream application.

## What did you expect to happen?

The internet to follow the HTTP RFCS 😉

**Describe the solution

[2021-11-23 10:10] narcoticfresh opened #2781 "Access Forbidden responses after a time period in 0.15.6"
## What happened?

After updating to 0.15.6, we experience many "access forbidden" responses while trying to access services behind pomerium using Github IDP.

This was not the case with 0.15.5.. i've noticed the changes in #2725, don't know if it could have caused the changes in behavior.

The reason pomerium throws access forbidden is the empty groups list at the time of the request. It seems po

[2021-11-23 23:30] desimone commented on #2239
This should be fixed with https://github.com/pomerium/pomerium/pull/2617. If not please reopen @gvolpe :)

[2021-11-23 23:30] #2239 closed

[2021-11-24 08:06] gvolpe commented on #2239
Thank you! 🚀

[2021-11-24 18:25] desimone commented on #2773
Taking another look at the [OpenID Connect spec](https://openid.net/specs/openid-connect-core-1_0.html#OfflineAccess), and how various identity providers implement "offline" (e.g. refresh-able sessions), we should probably _not_ be setting a default request param for `access_type` for any provider except Google.

## related

- https://github.com/int128/kubelogin/issues/405

[2021-11-24 19:02] travisgroth commented on #2781
Hi @narcoticfresh,

Thanks for reporting.  Though I think this needs investigation, we realized that v0.15.6 contains changes which were not intended for a patch release.  We'd recommend upgrading to v0.15.7 in the short term and see if that addresses your issue.  Please let us know either way.

[2021-11-25 09:42] narcoticfresh commented on #2781
@travisgroth
thanks for your feedback.. i upgraded to 0.15.7 and will keep an eye on it - will report back here after ~a week to see if we still experience that behavior..

[2021-11-28 21:04] fightforlife commented on #1990
`If I am correct - then probably minimum setup for Cluster B is still only Proxy service but both Authentication and Authorization services from Cluster A being accessible?`

Same question here, If we run with option 1 with only the proxy service in Cluster B, we have to make the authorize service in Cluster A "public" available, right? (and ofcourse the authenticate service, but that is already s

[2021-11-29 03:01] #2773 closed

[2021-11-29 03:02] desimone commented on #2773
https://github.com/pomerium/pomerium/pull/2782 should fix the default behavior. Let me know know if that does the trick, @bluecmd

[2021-11-29 10:19] narcoticfresh commented on #2781
@travisgroth
great, i didn't see that error anymore.. normally it would have surfaced already.. the update to 0.15.7 solves the issue described here, closing..

thanks!

[2021-11-29 19:19] #2778 closed

[2021-11-30 21:23] fightforlife opened #2793 "How to set authorize_service_url external/public for multiple clusters to use"
## What happened?

I tried to connect two clusters by making the authorize service publicy on Cluster 1
Cluster 1 running all services with public authenticate and authorize services
Cluster 2 running just the proxy server (not yet tested)

All routes fail on Cluster 1  with HTTP 500
Sending local reply with details ext_authz_error name=http service=envoy
TLS error: 268435581:SSL routines:OPENSSL_

[2021-11-30 21:39] alexfornuto opened #2794 "Per-Route mTLS Fails with Non-Standard Ports"
## What happened?

When using alternate ports for routes (not `443`), mTLS works when set globally with `client_ca_file`, but not when set per route with `tls_downstream_client_ca` or `tls_downstream_client_ca_file`. Removing the alternate port from the `from` key allowed for the client certificate to be confirmed, but of course breaks the route afterwards.

## What did you expect to happen?

I ex

[2021-12-01 02:16] #1498 closed

[2021-12-01 12:52] sherifkayad opened #2796 "Infinite redirect loop when users are authenticated but not authorized"
## What happened?
**DISCLAIMER:** I know that similar issues have been reported in the past, however, here it's still happening with a relatively new version of Pomerium.

I setup Pomerium behind Nginx Ingress and using it in the `forwardauth` mode + the Pomerium Operator (OR even with the new Ingress Contoller as this issue here is relevant for both). I also do use the standard annotations e.g. `

[2021-12-01 19:47] travisgroth commented on #2781
Re-opening as this is still likely to be an issue for the next minor release.

[2021-12-02 09:56] sherifkayad commented on #2796
@travisgroth any feedback here? I know that you responded to some older similar issues, however, as I mentioned that's still happening with newer versions of Pomerium.

[2021-12-02 15:49] travisgroth commented on #2793
Hi @fightforlife - can you share your configured routes as well?

[2021-12-02 15:55] #2740 closed

[2021-12-03 09:06] sherifkayad commented on #1677
@travisgroth Wildcards in the `from` aren't interpreted by Pomerium as of today, is that correct? .. If so, will there be any plans to work on that as a future enhancement?

[2021-12-03 11:10] fightforlife commented on #2793
Hi @travisgroth, I just tried the following config. I still get a HTTP 500 on the configured routes/policies.
Most likely I am just doing something wrong. Do I need to manually create a policy for the authorize endpoint?

[code]

[code]

Log
[code]

[2021-12-06 15:59] travisgroth commented on #2793
Yes you need to define a route for authorize if you're sending traffic to it through the proxy.  It will be treated just like any other service.

[2021-12-08 17:48] #2794 closed

[2021-12-08 22:01] calebdoxsey commented on #2796
I was able to reproduce this issue on the latest 0.15 release, but not on master. I have a PR to fix it in 0.15.

[2021-12-08 22:57] #2796 closed

[2021-12-09 13:20] sherifkayad commented on #2796
@calebdoxsey amazing! let me try that right away.

[2021-12-09 16:18] travisgroth commented on #2796
@sherifkayad Yes this should make it into a 0.15.8 release soon.

[2021-12-09 23:35] desimone commented on #549
As far as I have been able to test Traefik forward auth is working as expected in the latest release. We also have integration tests for the integration.

Since the original report was quite a while ago (v0.6.x) it would be best to open a new issue.

[2021-12-09 23:35] #549 closed

[2021-12-09 23:44] desimone commented on #1697
Closing due to inactivity. This is working as far as I've tested recently. If still an issue, please reopen.

[2021-12-09 23:44] #1697 closed

[2021-12-09 23:48] desimone commented on #577
It's difficult to understand what you are trying to do but this looks like an error where an ES512 key was given instead of an ES256 key.

I would guess your signing key but it's difficult to say. I do not think this is related to your identity provider configuration.

If still an issue, could you please post a new issue with a more complete version of your configuration. Thank you.

[2021-12-09 23:48] #577 closed

[2021-12-10 00:20] desimone commented on #1797
Closing due to inactivity. If still an issue on v0.15 (original post was v0.12), please reopen.

[2021-12-10 00:20] #1797 closed

[2021-12-10 17:05] calebdoxsey commented on #2781
I was not able to reproduce this issue. The error logs above imply there was something `Unauthorized`. Perhaps the permissions on the token were wrong? Or the scopes were incorrect?

[2021-12-10 17:50] fightforlife commented on #2793
What should a policy for the authorize endpoint look like? I tried the following but it didnt work. Thanks in advance!
Is it even possible to route authorzie for pomerium through pomerium own proxy?

[code]

[2021-12-13 03:04] desimone commented on #113
This should be dropping in the next release. Stay tuned :)

Related:

- https://github.com/pomerium/pomerium/pull/2700
- https://github.com/pomerium/pomerium/pull/2699
- https://github.com/pomerium/pomerium/pull/2696

[2021-12-13 03:04] #113 closed

[2021-12-14 06:23] cfanbo opened #2821 "https-ingress: cannot bind \\'[::]:443\\': Permission denied"
## What happened?
current login user is  `root`

server cann't bind listen port 443, other port is normal

but! if you execute command in terminal
[code]
it's ok, why?

## What did you expect to happen?

Listen 443

## How'd it happen?

1. `systemctl start pomerium` start service
2. `systemctl status pomerium`, it's status is `active(running)`

## What's your environment like?

- Pomerium version

[2021-12-14 07:10] cfanbo commented on #2821
if modify file `pomerium.service`, remove `User` and `Group` files， The service is normal!

[2021-12-14 07:10] cfanbo commented on #2821
if modify file `pomerium.service`, remove `User` and `Group` fileds， The service is normal!

[2021-12-14 16:09] calebdoxsey commented on #2821
Hi @cfanbo ,

This error is usually related to the user running the service not having the appropriate permissions to bind a privileged port. There are generally two solutions:

1. Run as root
2. Use `setcap` with `cap_net_bind_service=+ep`: https://stackoverflow.com/a/414258/216488

If neither of these solutions work feel free to respond and we will investigate further.

[2021-12-15 04:22] cfanbo commented on #2821
but pomerium assign file `pomerium.service`  allow running the service by a user https://github.com/pomerium/pomerium/blob/master/ospkg/pomerium.service

[2021-12-15 15:45] bryonbrill opened #2823 "Claims are not being passed through the Proxy"
## What happened?
There are no claims passed into the jwt token when user authenticates into to a basic Webpage located in the back end.
## What did you expect to happen?
Claims to appear inside the jwt token from Pomerium.
## How'd it happen?
I configured Pomerium inside of docker and setup my Identity Provider using setup instructions that were on Pomeriums website.

## What's your environment l

[2021-12-16 17:59] travisgroth commented on #1837
Related https://github.com/pomerium/pomerium/issues/1442

[2021-12-17 04:59] desimone opened #2828 "deps: unpin to latest go release"
deps: unpin to latest go release

_Originally posted by @desimone in https://github.com/pomerium/pomerium/pull/2827#r771104437_

Reminder to update this back once upstream for `.X` is fixed.

[2021-12-20 22:12] alexfornuto opened #2837 "Delete button from #2829 doesn't render properly in FF"
## What happened?

The Delete option for Device IDs doesn't render correctly in Firefox, but does in Chrome.

## What did you expect to happen?

I expected the letters in delete to be on one line.

## How'd it happen?

1. Authenticated
2. went to `/.pomerium`
3. Scrolled down and saw:

![image](https://user-images.githubusercontent.com/2349184/146839265-d6986ac9-d2d1-44ef-a8e8-98d3fcd2c475.png)

#

[2021-12-21 05:31] Bubby4j opened #2838 "Envoy segfault on startup in LXC Container"
## What happened?
During startup Envoy has a segfault, causing Pomerium to not function.

## What did you expect to happen?
Pomerium & Envoy to start normally.

## How'd it happen?

1. Created an LXC container (TurnKey Linux, Debian based) on my Proxmox host.
2. Installed & configured the latest version of Pomerium via apt per the instructions into this container.
3. Started the service and receiv

[2021-12-21 18:29] calebdoxsey commented on #2838
I've not attempted to run Pomerium within LXC so there may be some incompatibility there we've not seen before. LXC can restrict OS-level functionality in various ways that Envoy may not like and perhaps that's whats leading to the segmentation fault. We will need to do further investigation.

Looking at the config you have `insecure_server` with `address: :443`. Was that intentional? This would i

[2021-12-21 18:35] Bubby4j commented on #2838
I also tried changing to :80 but behavior is the same.

I did follow the instructions "To run on :443 set AmbientCapabilities=CAP_NET_BIND_SERVICE" per https://www.pomerium.com/docs/install/binary.html so in theory it shouldn't need to run as root, but I also tried running it directly as root and saw similar behavior.

I can try playing around with relaxing some of the LXC container restrictions t

[2021-12-21 19:03] Bubby4j commented on #2838
I changed the container from unprivileged to privileged but Envoy still crashed, and this time there's no stack trace from Envoy, so likely not as simple as I had hoped. I know LXC has other settings which can further decrease isolation and security, though of course it would be a bad idea to run in production like that, so at this point I'm thinking that I'll just run it in a VM instead of a cont

[2021-12-21 21:12] #2837 closed

[2021-12-22 16:41] fabioce opened #2843 "Identity Provider AD onPremise"
Hi,
I'm seeing the "zero trust" solution with Pomerium, but in this documentation:
https://www.pomerium.com/docs/identity-providers/
I don't understand if I can autenticate with an AD onPremise.
Can you help me to understand?
Thanks

[2021-12-22 16:49] calebdoxsey opened #2844 "envoy: http/2 no longer possible in all-in-one mode"
## What happened?
Due to https://github.com/pomerium/pomerium/pull/2839 the default `codec_type` is now `HTTP1` in all-in-one mode and there's no way to override it to `auto`. This means gRPC routes (or any other route that depends on HTTP/2) no longer work.

## What did you expect to happen?
gRPC routes to be possible for all-in-one mode.

## How'd it happen?
1. Ran the pomerium-console integrati

[2021-12-22 18:16] JeffMatson commented on #2838
I've been converting some of my VMs into unprivileged containers and am running into the exact same issue from what I can tell.

Following this thread. If I manage to come up with a solution, I'll follow up. Although so far, no luck.

[2021-12-22 19:34] #2844 closed

[2021-12-22 19:37] travisgroth commented on #2793
If you're using all-in-one, the local grpc port is `http`.  What were your log messages at the time?

[2021-12-23 17:41] desimone commented on #2828
Master has the correct values. The previous PR just affected the 15 branch.

[2021-12-24 05:38] cfanbo opened #2850 "How do ignore invalid Certificatesof proxy service?"
**This is a question, no bug or feature requests**

if backend service Certificates is expired or Self-signed  certificate, How to provide normal service？

in my case, backend service using  Self-signed  certificate， but pomerium Not working properly。

[2021-12-25 11:02] robertgates55 opened #2851 "Use ‘has’ operator with claim subpath in PPL"
We're using dex as our IDP, which pulls user groups from google and passes these back as a user claim - the groups are not direct pomerium groups.

Is it possible to use the claim field with a subpath and the 'has' operator? I'd like to do something like this:

[code]

I've seen that I can combine with existing annotations, eg:
[code]
But this seems to apply the `allowed_idp_claims` policy as an `

[2021-12-26 11:59] yegle opened #2852 "0.16.0: crashloop when cert request was rate limited by Let's Encrypt"
## What happened?
One of my certificates is due to refresh but due to my misconfig on other parts of the system, the `/.well-known/` URL was returning 404, this failed the cert renew process and apparently caused crashloop of Pomerium. Eventually the crashloop triggered the rate limiting on Let's Encrypt.

## What did you expect to happen?
1. A temporary failure to get certificate should not crash

[2021-12-26 19:09] yegle commented on #2852
One easy way to misconfigure and trigger this is to set up a route for foo.bar.com (a domain you don't own and does not resolve to the ip of your Pomerium instance).

[2021-12-29 04:42] desimone commented on #2843
Hey @fabioce -- we support on premise versions of active directory that use OpenID Connect which has shipped since Windows Server 2016 as I understand. Hope that helps.

[2021-12-29 04:42] #2843 closed

[2021-12-29 05:44] EdgardGomez opened #2866 "Google groups synching is broke with V0..16"
## What happened?
Google groups cannot be synched.

## What did you expect to happen?
properly authenticate with the idp service account and populate group membership

## How'd it happen?
after updating pomerium to V0.16, synching of google groups started to fail

## What's your environment like?
- Pomerium version (0.16.0):
- Server Operating System/Architecture/Cloud:
    ubuntu 20.04 LTS
    do

[2021-12-29 06:11] alexrudd2 commented on #2866
The `idp_service_account` data is set correctly (with `impersonate_user` and all), and everything is setup on the Google side.  It works in 0.15.8

[2021-12-29 15:44] bluecmd commented on #2082
When using Autocert this behavior (using an unmapped service) seems hard/impossible to tap into. Is there a way to make Pomerium include a domain for this kind of usage in its certificate list to Let's Encrypt?

[2021-12-29 17:30] alexfornuto commented on #2850
You can use `tks_skip_verify`: https://www.pomerium.com/reference/#tls-skip-verification
If you have further questions on using this route config option, please open a thread in our [support forums](https://discuss.pomerium.com/c/support/9).

[2021-12-29 17:30] #2850 closed

[2021-12-29 17:56] calebdoxsey commented on #2851
@robertgates55 IDP claims are always a map of string keys to lists of values:

[code]

So the `claim` criterion implicitly uses the `has` operator. You should be able to create a policy by removing the `has` operator and just using the value directly:

[code]

The criterion should return true if any of the values in the list match the value. (in this case if any of the groups are `mygroup`)

Have

[2021-12-29 17:59] calebdoxsey commented on #2852
@yegle this does appear related to #2777. We are fatally exiting because Envoy is rejecting our Listener configuration. This made sense for port binding issues, but doesn't make sense for this case, since eventually `autocert` will generate a correct configuration.

We need to do some investigation and discussion about whether we should revert the change, modify it to make it more restrictive, or

[2021-12-29 19:47] calebdoxsey commented on #2866
@alexrudd2 @EdgardGomez

I was able to reproduce this. The problem is the `idp_provider_url`. The default URL we use is `https://www.googleapis.com/` and `https://accounts.google.com` doesn't work.

The reason this worked in 0.15 is that we previously ignored the `idp_provider_url` when using Google, but because of the addition of more exhaustive integration tests, we now mock the Google API which

[2021-12-29 21:48] desimone opened #2876 "@alexfornuto should we track that effort separately? I'm sure there's other terminology that would fit the bill. Some that come to mind are:"
@alexfornuto  should we track that effort separately? I'm sure there's other terminology that would fit the bill. Some that come to mind are:

- upstream / downstream
- identity provider
- secure enclave / TEE / security keys
- peremeter / zero trust
- least user privilege
- Namespaces
- mutual authentication
- authentication
- authorization

and so on. Even if they are just links to other resourc

[2021-12-29 22:13] calebdoxsey commented on #2823
@bryonbrill I believe you also have to add the corresponding claims to the Azure AD configuration. Have you done that?

Under App Registration -> Token Configuration -> Add Optional Claim

![Screenshot-20211229151245-796x394](https://user-images.githubusercontent.com/395272/147707264-c69066b3-fc15-4efa-ad93-ce98c89caf7a.png)

[2021-12-30 09:06] robertgates55 commented on #2851
Aha!

I had not, but that works perfectly - thanks.

Fwiw - I'd read the docs, and "if a token claim matches the supplied value exactly" had led me to think I'd need to string-match the whole array... I now see that that's _not_ what it says. Might be worth clarifying though for future people, or maybe supporting the has matcher as well for consistency and policy readability?

[2021-12-30 13:33] bryonbrill commented on #2823
Yes I do have the Optional Claims defined.
![image](https://user-images.githubusercontent.com/14927066/147756068-af428014-ff7a-42f4-b0c0-bd9c13b23c76.png)
They are also showing up when I visit  https://myurlhere/.pomerium/
![image](https://user-images.githubusercontent.com/14927066/147756205-9f15ac0a-3aa2-433b-9079-9a78cf590f19.png)
But nothing in the cookie when I successfully authenticate into t

[2021-12-30 15:45] calebdoxsey commented on #2823
@bryonbrill The JWT is passed in the `X-Pomerium-Jwt-Assertion` header. We also use a JWT for the cookie, but its only used for the session id. We sometimes use the httpbin.org (http://httpbin.org/headers) site to see if the request header is at we expect it. You can test this with a route like:

[code]

[2021-12-30 23:58] alexrudd2 commented on #2866
@calebdoxsey I can confirm that running 0.16 works with blanking out the configuration override, i.e. not setting `idp_provider_url`.  Thanks!

However, excuse me for re-opening this issue since I don't think everything is solved.  For starters, the docs still list the broken configurations, and any user following the examples will run into the same problem.  I attempted to work on a PR for this p

[2021-12-31 03:08] desimone commented on #2866
Great!

[2021-12-31 03:25] desimone commented on #2866
Great.

That would be great -- thank you for considering making a fix.

I agree.

Indeed. It looks like `idp_provider_url` overrides both provider url  used for authentication (OIDC) and the URL used to do directory sync for groups. Confusingly, they are both called provider urls, and in the case of Google, point to different things.

To your point, in the case of google, it would not make sense t

[2021-12-31 15:35] bryonbrill commented on #2823
So I did enable the to: in my config for pomerium to point to https://httpbin.org and was able to then find the Request Inspection and fetched the headers. They are returning properly. Even when I visit https://mysite.com/headers the output is correct.
When I switch back to my local server config I still am not seeing the headers. Is this something that requires logic on the backend (nginx)webserv

[2021-12-31 17:05] desimone commented on #2823
@bryonbrill

Could you elaborate? The local web server would need to be able to inspect (or echo back) the incoming **request** headers.

[2021-12-31 19:09] alexrudd2 commented on #2866
The linked PR brings the docs to a consistent state where following the examples will not break things.

Your suggestions of an error on invalid config, and potential expansion to different directory sync endpoints can be done separately.  I am not a Go coder and cannot help in this regard. :)

[2022-01-03 15:54] #2828 closed

[2022-01-03 16:39] ramzcode opened #2887 "Pomerium based Grafana JWT auth not working"
using the latest version of Pomerium Helm and grafana(prometheus community stack).

authentication redirection not working and it says

{
"message": "invalid API key"
}

[2022-01-03 16:55] travisgroth commented on #584
As discussed we should add this for releases too before calling it closed.

[2022-01-03 21:10] desimone opened #2891 "feat: display enrollment confirmation page following device registration"
**Is your feature request related to a problem? Please describe.**

It's not clear if a user has successfully enrolled their device with Pomerium.

**Describe the solution you'd like**

- We should have successful registration endpoint (a under `.pomerium`) on the authenticate service that notifies the user that they've successfully enrolled their device.
- We should show the user the device enrol

[2022-01-04 07:45] cfanbo opened #2893 "How to remove response header "server: envoy""
## What did you expect to happen?
remove response header "server: envoy" or change it to other value.

response content:
[code]

why cann't modify field "server" value

## config.yaml
[code]

## What's your environment like?
v0.15.7
ubuntu

[2022-01-04 15:12] travisgroth commented on #2887
Hi @ramzcode,

Unlike many projects on GitHub, Pomerium does not use its bug tracker for general discussion or asking questions. We only use our bug tracker for tracking bugs, feature requests, and proposals. We use Discuss at <https://discuss.pomerium.com/> to answer and archive support questions for users that may not be as comfortable with GitHub as developers.

If you believe you've found a bu

[2022-01-04 15:12] #2887 closed

[2022-01-04 15:45] calebdoxsey opened #2894 "integration: tests are failing due to verify not starting"
## What happened?

The integration tests are failing because the verify image can't start.

## What did you expect to happen?

The integration tests to pass.

## How'd it happen?

Create a PR.

## What's your environment like?

Github CI

## What's your config.yaml?

N/A

## What did you see in the logs?

[code]

## Additional context

See https://github.com/pomerium/verify/issues/5

[2022-01-04 16:02] alexrudd2 commented on #2894
Can confirm this happens on a live install.  It's still a testing environment and not production, so if you'd like anything more, let us know.  @EdgardGomez

[2022-01-04 16:32] travisgroth commented on #2851
Hi @robertgates55 do you have a suggestion on where/how we could clarify?  We'd be glad for some input there.

[2022-01-04 16:45] travisgroth commented on #2838
Can you share the complete logs from this crash?  If there's no stack trace I suspect something else is going on.

How did you apply the NET_BIND_SERVICE capability?  I'm not sure if doing so via systemd unit file in the VE will work.  I'm not very familiar with LXC but I suspect it's not that simple.

[2022-01-05 00:10] wasaga commented on #2893
`set_response_headers` manipulate headers set by the upstream (aka your application/web server).
`Server` field is set by the Envoy itself and you cannot change it using that setting.
Could you please describe your use case that requires `Server` field adjustment?

[2022-01-05 19:48] #1442 closed

[2022-01-05 19:48] #2894 closed

[2022-01-06 05:03] cfanbo commented on #2893
removeing or hidden this filed is primaryly for security reasons, Avoid directed envoy attacks

[2022-01-06 17:01] #2891 closed

[2022-01-07 17:21] #2866 closed

[2022-01-07 17:47] desimone opened #2904 "identity: investigate whether `idp_provider_url` needs to be unique for sync and auth flow"
More investigation needs to be done confirm my understanding as to whether those provider URLs would ever need to be set to something else. It looks like Google's API does support different directory sync endpoints.

https://github.com/pomerium/pomerium/blob/6916352aaaefd3aa046728c712a1bfe2837333bb/internal/directory/google/google.go#L244-L246

_Originally posted by @desimone in https://github.com

[2022-01-10 17:48] travisgroth commented on #2904
It looks like this is only impacting google.  Docs update should properly update this.  Waiting to see if other providers have issues but it doesn't appear that will be the case from a review of the code.

[2022-01-10 17:51] #2852 closed

[2022-01-11 06:53] narcoticfresh commented on #2781
@calebdoxsey as a side note to this issue.. is there any way to actually log all http communication in the logs? some kind of debug debug mode that also logs all requests and responses that are sent?

if so, it could be documented as part of this issue so it could be analyzed easier next time..

[2022-01-11 15:22] travisgroth opened #2920 "404 after WebAuthN Registration"
## What happened?

From the user info page on the authenticate service, I attempted to register a device.  During the subsequent flow, I received a 404 from `https://authenticate.localhost.pomerium.io/.pomerium/callback/?pomerium_expiry=1641914073&pomerium_issued=1641913773&pomerium_redirect_uri=[snip]`

## What did you expect to happen?

Not a 404

## How'd it happen?

1. Open to `https://authent

[2022-01-11 16:56] desimone commented on #2920
Possibly related?
https://github.com/pomerium/pomerium-console/issues/2262#issuecomment-1007148496

[2022-01-12 01:00] cfanbo commented on #2893
If hackers know your server information, they will be able to exploit their vulnerabilities to attack! so i need hiddle it。

[2022-01-12 01:01] cfanbo commented on #2893
Seems like it's not currently cann't to modify it

[2022-01-12 02:16] cfanbo opened #2926 "how to get tcp access logs?"
## What happened?
cann't find any tcp access logs

## What did you expect to happen?
get tcp protocol access logs

## How'd it happen?
only http access logs

[2022-01-12 02:26] desimone commented on #2893
Hey @cfanbo -- could you elaborate a bit more on your threat model? Do you want to disable all / any of [the default envoy headers](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_man/headers#x-envoy-internal)? I understand the desire to leak as little information as possible but at some level this is not possible. For example, an attacker could scan for the `.pomerium` en

[2022-01-12 14:55] cfanbo commented on #2893
You are right, but i I think the server field is the most sensitive for scanner tools，pomerium current not support modify it

[2022-01-12 15:41] travisgroth commented on #2926
Hi,

As mentioned in https://docs.pomerium.io/docs/community/#get-help and the issue templates, please see our [discussion forums](https://discuss.pomerium.com/) for help using Pomerium.

[2022-01-12 15:41] #2926 closed

[2022-01-12 21:53] calebdoxsey commented on #2920
I was not able to reproduce this issue in distributed service mode locally. I ran 4 services with a config like this:

[code]

Based on looking at the code, there's no reason there should be a 404.

I will try to reproduce this using the ingress controller, though its unlikely I will be able to setup the environment identically to however the original environment was created.

[2022-01-12 23:30] alexrudd2 opened #2930 "Docs: verify default port has switched from 80 to 8000"
@calebdoxsey in https://github.com/pomerium/pomerium/pull/2895

The docs have not been updated, so following the default config or quickstart guides will not work.  Example: [here](https://github.com/pomerium/pomerium/blob/4583ecc730e900687575189525fdf736a5466752/examples/config/config.docker.yaml#L30)

[2022-01-13 14:23] travisgroth commented on #2920
It was using helm so it should be reproducible.  @alexfornuto originally tripped over this in his environment when we were testing something.

Maybe it's related to the chart/ingress controller though I'm not sure how that would be substantially different than what you have there.  That said, the integration environments _don't_ have this issue that I'm aware of and they don't presently use the in

[2022-01-13 15:32] travisgroth commented on #2920
Correction, I forgot my own comment from yesterday.  I can reproduce in the integration environment.  Still not sure why it would be different than what you have when using the helm chart.  Will look further.

[2022-01-13 16:00] travisgroth commented on #2920
I believe the problem is because of the proxy being in front of authenticate, not just because of distributed mode itself.

- Going _directly_ to https://authenticate.localhost.pomerium.io initially will reproduce (again, helm chart but I think this should happen with any proxy-in-front config).
- Starting from https://[otherroute].localhost.pomerium.io/.authenticate will **not** reproduce

If I'm

[2022-01-13 16:14] calebdoxsey commented on #2920
I tested with the proxy in front of authenticate and it did not occur. Unfortunately I typically test directly using linux and don't have all these additional abstraction layers setup locally. It will take me a while to get it running.

[2022-01-13 17:57] calebdoxsey commented on #2920
I was able to reproduce the issue with `kind` and `helm`. It seems to be caused by a missing endpoint in the authenticate service and the above PR should fix it.

[2022-01-14 07:44] narcoticfresh opened #2934 "User groups assignments are lost in 0.16.0"
## What happened?

This is a follow up/try on a more precise report on #2781, on what we see happen regularly..

It seems pomerium users "loose" their group ids - probably (this is an assumption) after a time of inactivity. The error always surfaces in the morning, after there wasn't much activity at night.

Also, in the logs we see various github sync errors that could also cause this loosing of

[2022-01-14 07:45] narcoticfresh commented on #2781
Closed in favor of #2934

[2022-01-14 07:45] #2781 closed

[2022-01-14 17:22] #2920 closed

[2022-01-14 19:04] dannytech opened #2938 "Self-signed certificate overrides manually defined certificate"
## What happened?

When upgrading to v0.16.0, one of the certificates I have specified in `certificates` stopped being used, and Pomerium now serves a self-signed certificate instead, as added in #2760. The "route" in question is not an actual route defined in the config, but rather a dummy domain (say, `proxy.example.com`) that I use with `--pomerium-url` on the CLI, to fix the issue in #2082. Be

[2022-01-18 18:51] travisgroth commented on #2838
Closing pending additional info.

[2022-01-18 18:51] #2838 closed

[2022-01-18 18:52] travisgroth commented on #2793
Closing due to inactivity.

[2022-01-18 18:52] #2793 closed

[2022-01-18 19:59] alexfornuto opened #2945 "Feature Request: Match Google Group Members Outside of Org"
**Is your feature request related to a problem? Please describe.**

This applies specifically to Pomerium configurations using Google as an IdP, because it's the one IdP that could have users both in and outside of the org.

Scenario: An org creates a Google group around which policies are written. They add a non-domain user (i.e. a `@gmail.com` address) to that group.

Google will not provide Pom

[2022-01-18 20:55] calebdoxsey commented on #2934
I'm still not able to reproduce this issue. Those errors indicate that the access token used to refresh user information by the identity provider doesn't have access to the GitHub APIs. According to the docs the two scopes needed are `user:email` and `read:org`. If no scopes are defined in the config these should be the default ones used:

[code]

These are the scopes used as part of the authentic

[2022-01-18 23:05] calebdoxsey commented on #835
It is already possible today to run the app as non-root if you don't bind 443 or use setcap to give it access. This is how I regularly test the app. What do we want to change?

[2022-01-20 20:20] travisgroth commented on #2938
Hi @dannytech,

Could you help explain your use case further?

Given your configuration, why not use the route `from` directly?  For example, all of your routes seem to be X.example.com.  Why not have users run `pomerium-cli tcp harry.example.com:5432` rather than `pomerium-cli tcp --pomerium-url proxy.example.com harry.example.com:5432`?

I can provide some insight into the internals as they are

[2022-01-20 20:30] travisgroth commented on #1924
Though not using CRDs, we now support Ingress natively with our [ingress controller](https://docs.pomerium.io/docs/k8s/ingress.html).  Let us know if that doesn't fit your use case!

[2022-01-20 20:30] #1924 closed

[2022-01-20 20:31] travisgroth commented on #1638
We have a full writeup of this approach now available - https://docs.pomerium.io/guides/kubernetes-dashboard.html.  Closing.

[2022-01-20 20:31] #1638 closed

[2022-01-20 20:49] travisgroth commented on #2386
We've been updating our deployment guide for Istio but I'm not sure there's any concrete solution in the new configuration recommendations.

@eddiewang would it be practical to use istio between the clusters rather than going outside the mesh?

[2022-01-20 21:03] dannytech commented on #2938
Thanks for the thorough reply, @travisgroth.

Absolutely, I really should have included that information in the initial issue. The crux of the issue is that I use Pomerium in a split-DNS setup. Inside my network, I can access all of those hosts directly, never going through the Pomerium server. Outside the network, the same hostnames resolve to the IP of the Pomerium server. As a result, when I'm

[2022-01-20 21:09] travisgroth commented on #2938
Thanks for expanding on this.  Need to read through the rest more thoroughly but for immediate informational purposes:

Yes, exactly.  If you had multiple certificates and `proxy` wasn't the first one, you would have gotten something else.

[2022-01-21 02:23] alexfornuto opened #2952 "regex key does not accept ^ char"
## What happened?

When creating routes in core with the regex key or in Enterprise with the regex matcher, values that start with `^` do not work.

## What did you expect to happen?

I expected the key to accept `^`, needed to ensure the pattern doesn't match when the path has other content before the match.

## How'd it happen?

Example routes:

[code]

In the example above, going to a matching

[2022-01-21 15:05] calebdoxsey commented on #2952
To be clear

The `^` and `$` should not be needed since the HTTP path matcher in Envoy is an `RE2::FullMatch` which doesn't allow matching of subsequences:

And the envoy docs also mention this:

I spent some time reading the source code but don't have an explanation for why `^` isn't working. I believe it should be ok, as it just switches the mode in the regular expression engine, which will alre

[2022-01-21 15:25] alexfornuto opened #2955 "JWT Debugger Icon Not Visible in FF"
## What happened?

When viewing the `.pomerium` endpoint in FF, the JWT debugger icon is not visible, though the link is still there.

## What did you expect to happen?
I expected it to look the same as it does in Chrome:
![image](https://user-images.githubusercontent.com/2349184/150552866-bb27a48a-3197-4e45-9dc6-40fd5f66a43f.png)

## What's your environment like?

- Pomerium version (retrieve wit

[2022-01-21 16:36] #2945 closed

[2022-01-21 18:04] calebdoxsey commented on #2952
Apparently the documented behavior described above is not the behavior we're actually seeing. I wonder if this is something that changed between versions. Envoy's latest is v1.21, but the issue was happening in v1.19. We need to investigate further by coming up with a pure envoy config to remove any Pomerium code from the equation. If the issue is still happening in v1.21 I will submit an upstream

[2022-01-21 22:50] travisgroth commented on #2938
I think we'd make two recommendations here.

1. Always go through the proxy regardless.  Ideally your systems would only accept traffic that has gone through Pomerium and they would be unreachable from arbitrary points inside the network.  In other words, they should be completely segmented from normal direct access paths for ZTNA.
2. Regardless of (1), use a different domain for non-public hostna

[2022-01-21 23:20] dannytech commented on #2938
You're probably right that the first option would be more zero-trust than what I currently have, but that would be a pretty big shift to make at the current time. I'll take it under consideration, though. For the second option, this runs into the same issue with just using `pomerium-cli` without `--pomerium-url`, where depending on whether I'm inside or outside of the network, I need to specify di

[2022-01-21 23:23] calebdoxsey commented on #2952
Using this config:

[code]

I see the same behavior in envoy 1.19, 1.20 and 1.21. `^` and `$` are unnecessary as it always does a full match. (eg `/before/match` and `/match/after` both won't match). And adding them also works as expected. `/match` still matches.

(run with `docker run -it -p 8080:8080 -p 9901:9901 -v "$(pwd)/envoy.yaml:/etc/envoy/envoy.yaml" envoyproxy/envoy:v1.19-latest --log-le

[2022-01-23 01:16] rspier commented on #1335
It looks like [programmatic access](https://www.pomerium.com/docs/topics/programmatic-access.html) solves *some* of the use case here, but there's no obvious way to authenticate as a non-real account.  For example, as a Google Cloud Service Account (@...gserviceaccount.com) which could be granted specific access to a specific backend.  It's also not clear how long the programmatic access jwt lasts

[2022-01-24 17:19] travisgroth commented on #2955
From discussion - we've been talking about rewriting this page already so we should address this bug as part of the rewrite.

[2022-01-24 17:28] calebdoxsey commented on #2952
Next possibility is how we choose which policy to evaluate in the authorize service. This block of code:

[code]

[2022-01-24 18:19] calebdoxsey opened #2967 "User Info page HMAC errors"
## What happened?

The User Info page (`/.pomerium`) will sometimes result in an HMAC error when refreshed.

<img width="691" alt="Screen Shot 2022-01-24 at 11 17 21 AM" src="https://user-images.githubusercontent.com/395272/150840881-b1d68999-924c-493e-9485-d186dbf75af2.png">

This is because the query string contains an HMAC that expires.

## What did you expect to happen?

Refresh to work.

## H

[2022-01-24 19:20] alexfornuto commented on #2716
Assigning to @travisgroth to move to the console repo and assign/process through Dev processes.

[2022-01-24 19:21] alexfornuto commented on #2716
@travisgroth / @alexfornuto to write copy to provide to Console

[2022-01-24 23:12] tgardiner opened #3005 "Error: Invalid formula"
Got the following error while following the guide ([https://www.pomerium.com/docs/releases.html#homebrew](https://www.pomerium.com/docs/releases.html#homebrew)) to install `pomerium-cli` through homebrew on an M1 mac

[code]

[2022-01-25 07:12] sherifkayad commented on #2952
@wasaga @calebdoxsey did I get that right, that the `^` prefix and `$` suffix of a regex won't be needed to match a regex still when this bug is fixed?

So basically something like `/admin/.*` would still be a valid Pomerium regex that evaluates correctly for e.g. `/admin/some-page`?

[2022-01-25 15:48] #2952 closed

[2022-01-26 05:15] eddiewang commented on #2386
@travisgroth do you mind explaining what that means?

current topology is as follows:
Main cluster - whole helm stack is installed
Child cluster - Authorize and Proxy is installed

challenge:
- When using istio, we have to use all sorts of tricky SNI stuff to get this all wired up happily
- We are forced to turn on secure mode in Istio because without it on, the child cluster services cannot reach

[2022-01-26 13:17] travisgroth commented on #2386
It sounds like you have two clusters with somewhat independent meshes.  My understanding is there are several models for mesh federation in istio, but you should be able to route traffic to the main cluster's databroker using the service mesh for TLS.  Once you have some federation established, I _believe_ this is facilitated with a CRD for the service in the child cluster pointed at an appropriat

[2022-01-26 15:53] eddiewang commented on #2386
Ah yes, Istio multicluster does exist and is a possible solution, but in our deployment model it creates more complexity than solutions, so we don't opt-in for that feature. I appreciate the suggestion though!

Fwiw we are able to get this independant mesh model to work with Pomerium as is. It just requires some trickery with SNI routing that make the experience substandard. The idea solution here

[2022-01-26 17:53] travisgroth opened #2972 "Databroker listener not selecting correct certificate with `address: :443`"
## What happened?

When running in distributed mode, the databroker listener is falling back to a certificate with a SAN subject of `*` even when a certificate that covers the databroker URL is present.

The issue appears to have started after upgrading to https://github.com/pomerium/pomerium/commit/95d6d97143c907ef1da82475dbcdd2b986b92ae4.

## What did you expect to happen?

Correct certificate t

[2022-01-26 20:29] travisgroth commented on #2938
I may not have explained that well.  The idea here would be when you consume that _service_ you always use the same name.  It always goes through the proxy.  No reconfiguration.  I believe this is how you have it now.  The recommendation is to adjust your DNS (or config) such that it doesn't require an extra flag regardless of your location.

The original intent for that flag was to provide a way

[2022-01-26 21:22] travisgroth commented on #2387
Hi @eddiewang this should be resolved with our new guidance for setting up Pomerium and Istio together.  https://github.com/pomerium/pomerium/pull/2943.

The crux of the solution is that we now have a way to deploy Pomerium at edge (bypassing the Istio proxy for inbound traffic) but still taking full advantage of the rest of the service mesh for all the rest of the traffic flow.  That should allow

[2022-01-26 21:22] #2387 closed

[2022-01-26 21:23] travisgroth commented on #2386
👍 yes understood.

[2022-01-27 14:31] calebdoxsey commented on #2972
This appears to be caused by the http and gRPC addresses being the same. I didn't realize that was possible and the changes in #2936 broke this.

[2022-01-27 23:10] #2967 closed

[2022-01-28 10:25] abh opened #2978 "auth0: can't use groups with custom auth0 domain"
If I configure my auth0 idp url to https://login.example.com/ instead of https://example.auth0.com/ then groups don't work. The data broker logs:

[code]

According to the auth0 documents, the management API has to be example.auth0.com even if login.example.com is used for logins.

[2022-01-28 11:19] abh commented on #2978
At a glance this patch adds support for it -- I'm not sure if it's the appropriate fix though. Another path would be adding an option to the service account (for Auth0 only).

[code]

[2022-01-28 15:17] bryonbrill commented on #2823
Could you elaborate? The local web server would need to be able to inspect (or echo back) the incoming request headers.

So we have tried using JavaScript to echo the headers, that did not work. I believe it is a bit more involved than just echoing the headers.

We are going to attempt using the example with nginx to see if we can get the headers come across properly.

However, internally, if the

[2022-01-28 20:03] calebdoxsey commented on #2978
Hi @abh. This may be the route we need to go, but I'd rather avoid a new configuration parameter if possible. I think custom domains have `/.well-known` endpoints we might be able to use to find the original auth0 domain so we can use it for the management API. Unfortunately I don't have a paid auth0 account to explore this so its hard to know if such an approach would be viable.

Off-hand do you

[2022-01-28 20:42] abh commented on #2978
@calebdoxsey Another path would be to add the extra configuration as part of the "service account" configuration. It'd keep the "configuration creep" scoped to just the auth0 provider. I only thought of this after I'd already deployed the change pasted above for my use case, so I didn't try it.

At a glance I don't think there's a way to discover one domain from the other. I posted a question to t

[2022-01-28 21:17] abh opened #2979 "Support ingress.kubernetes.io/rewrite-target"
I converted an old Ingress object to use Pomerium and it appears `ingress.kubernetes.io/rewrite-target` isn't supported?

I had a configuration of `ingress.kubernetes.io/rewrite-target: "/"` to make the prefixes configured in the ingress object be stripped, for example

[code]

will have requests for `pomerium.example.com/someapp/foo` be sent to `someapp.ns.svc.cluster.local/foo` (no path).

I tho

[2022-01-28 22:22] calebdoxsey commented on #2978
I was not able to find a `well-known` configuration entry we could use, but after experimenting I believe adding a `domain` property to the service account is the best option, since I believe its possible to configure the management API using the custom domain as well, so it doesn't make sense to always use one or the other. The above PR should fix it.

[2022-01-29 00:27] desimone opened #2982 "device identity: safari respond with operation "cannot be completed" on m1 mac"
## What happened?

I cannot register or authenticate on my m1 mac using safari Version 15.2 (17612.3.6.1.6); I previoulsy was able to complete this workflow.

## What did you expect to happen?

To enroll or authenticate

## How'd it happen?

1. Go to device policy protected route (see config).
2. Get redirected to `https://authenticate.int.nas.bdd.io/.pomerium/webauthn`
3. Cannot complete registra

[2022-01-29 05:22] dannytech commented on #2938
Alright. For what it's worth, I've explained my use case, and I think #2082 would be an excellent addition that should in theory fully solve it. Setting up a full ZTNA (everything-through-Pomerium) network is a bit beyond what I have time for/wouldn't really be an optimal setup without quite a bit of redesign, so for the time being I'll just switch my SSH config or stay DCed from VPN as much as po

[2022-01-29 05:22] #2938 closed

[2022-01-30 01:30] #2893 closed

[2022-01-30 01:50] cfanbo opened #2983 "Unable to connect to target host when the Pomerium TCP client is used and mTLS is enabled"
## What happened?
Unable to connect to target host when the Pomerium TCP client is used and mTLS is enabled

pomerium TCP CLIENT for windows:
[code]
if both of SERVER and Pomerium TCP client  disable mtls , no problem！

## What's your environment like?
Pomerium: v0.15.7
TCP client: v0.0.1
OS: ubuntu 20.0.4 Linux x86

## What's your config.yaml?
[code]

## What did you see in the logs?

[code]

##

[2022-01-31 15:57] travisgroth commented on #2979
Hi @abh would [`prefix_rewrite`](https://www.pomerium.com/reference/#prefix-rewrite) or [`regex_rewrite`](https://www.pomerium.com/reference/#regex-rewrite) do the trick?  I don't think `ingress.kubernetes.io/rewrite-target` is  a standard annotation.

[2022-01-31 16:57] calebdoxsey commented on #2982
I am able to reproduce this. It appears safari does not support webauthn for platform keys. https://discussions.apple.com/thread/251080288

[2022-01-31 17:02] calebdoxsey commented on #2982
I suspect the `any` type in your database is corrupted. There was a bug months ago that resulted in the `any` type requiring platform keys. AFAIK this bug is now fixed, but if the type is wrong in the database there's nothing that would catch that. I guess we could create a new migration to ensure the types are correct.

[2022-01-31 17:49] calebdoxsey commented on #2982
We should improve the error message for safari.

[2022-01-31 17:51] travisgroth commented on #2982
@desimone to check on his local database contents to confirm.

[2022-01-31 17:57] travisgroth commented on #2983
@cfanbo FYI your credentials were posted in the issue form.  I've edited the issue but you should roll those.

[2022-01-31 20:53] abh commented on #2978
@calebdoxsey yeah, someone on the auth0 community forum confirmed the same about not having a mapping API from one to the other.

I'll update my local build to use your change instead of my quick hack.

[2022-02-01 07:45] cfanbo commented on #2983
The sensitive information in the post is invalid，They have been modified

[2022-02-01 15:25] nhayfield commented on #2851
@travisgroth I think he is just saying that we should support has/is as well as just : for consistency

[2022-02-01 16:54] travisgroth commented on #2983
It looks like you're setting a client cert as the CA on the client side.  That option is to specify a trusted CA connecting to the Pomerium proxy.

I don't think we support setting a client certificate for the `tcp` command presently.

[2022-02-01 23:59] alexfornuto commented on #2851
I'm closing this as we currently have no action to take. While the `claim` operator does behave differently from the other operators because of the implied `has`, but we provide examples in the documentation to show how it's used.
Regarding the language "if a token claim matches the supplied value exactly", that's referring to the _value_ of the claim and not the construction of the PPL line. If a

[2022-02-02 15:58] #2978 closed

[2022-02-02 17:09] rspier commented on #1335
My prometheus behind pomerium scraping worked for ~10 days, and then the JWT appears to have expired or otherwise become invalid.

Poking at the logs, it looks like maybe the session on the Google side expired.  (No manual action was taken to do this.)

[2022-02-02 17:44] travisgroth commented on #835
As @calebdoxsey points out, our standard OS install can run without root as long as you don't bind to privileged ports.  The out of box os package uses 8443.

As far as container images go, because we use distroless for releases, this is harder than it sounds on paper without breaking a lot of deployments and documentation.

1) We need to fetch/build/include a binary like su-exec or gosu.  There's

[2022-02-02 19:02] travisgroth commented on #2386
Just to restate @calebdoxsey's proposal - I think using the URI to specify the scheme for clients makes sense.  Though it would be a breaking change, it seems worth making for the next minor release.  I suspect this won't impact many users.

[2022-02-02 19:46] travisgroth commented on #835
Some additional news...it looks like docker now sets the unprivileged port range to start at 0 on containers by default.  https://github.com/moby/moby/pull/41030.  This isn't universal and will vary by container runtime, so a separate image is probably a good starting point but we might be able to safely default to non-root in the near future.

[2022-02-03 00:38] rspier commented on #1335
Actually, the Pomerium JWT has the 10 day expiration.

Looks like what I'm looking for is the M2M functionality which is part of the enterprise product.  see https://github.com/pomerium/pomerium/issues/2307

[2022-02-03 19:37] travisgroth commented on #2983
Closing in favor of https://github.com/pomerium/cli/issues/35

[2022-02-03 19:37] #2983 closed

[2022-02-03 20:54] #835 closed

[2022-02-06 00:28] spenceradolph commented on #1677
I currently have a use-case for this. Want to experiment with using pomerium as an identity aware network access tool. User would hit pomerium at the front, authenticate / authorize, and then be allowed to multiple (changing) subdomains. Without wildcards I may have to find another solution that fits well but I can understand from a zero-trust perspective how wildcards aren't exactly the best appr

[2022-02-07 07:43] narcoticfresh commented on #2934
@calebdoxsey
what i asked in the last issue: would it be possible to log the raw HTTP communication (urls/payloads/headers) between pomerium and github if the debug flags are set?

that would enable us to see exactly what pomerium sends and what github answers in order to maybe uncover new findings..

[2022-02-07 10:32] vanhtuan0409 commented on #667
Hi, I experienced this again with the latest v0.16.2 version. Running with the following config
[code]

[2022-02-08 03:20] vanhtuan0409 commented on #2221
Hi @travisgroth , I would like to bring up this issue again since I experienced the same thing with pomerium 0.16.2
This is my config:
[code]

Testing with httpbin showed that the `Impersonate-Group` is merged into 1 header instead of multiple headers
[code]

Testing with k8s dashboard directly also failed to authorized

[2022-02-08 12:19] travisgroth commented on #2221
Unfortunately, httpbin normalizes the headers to the single key format regardless of the format of the incoming request.  You need to test through something like [mitmproxy](https://mitmproxy.org/) to be sure of what the original outbound request looks like.

That said, this is not the same problem originally reported in this issue.  Please either open a community [help](https://www.pomerium.com/d

[2022-02-08 12:19] #2221 closed

[2022-02-08 12:27] #584 closed

[2022-02-08 12:49] bryonbrill commented on #2823
Update. So, apologies from my end. I went through your example with nginx mentioned here: https://github.com/pomerium/pomerium/tree/master/examples/nginx
Then was able to find another docker container, with some assistance of a colleague, that does receive the headers properly.
With the additional docker container which has its own little web server on the backend for echoing http-https headers is

[2022-02-08 16:01] desimone commented on #2823
Great -- glad you got things working @bryonbrill !

[2022-02-08 16:01] #2823 closed

[2022-02-09 03:43] vanhtuan0409 opened #3021 "URL Hmac validate failed in insecure mode"
## What happened?

Running pomerium in insecure mode (reversed proxy also no TLS). Trying to sign in or sign out via `.pomerium/sign_{in|out}` got error `internal/urlutil: hmac failed`

Is TLS strictly required for pomerium to work correctly?

## What did you expect to happen?

Able to successfully sign in/sign out

## How'd it happen?

1. Go to authenticate url
2. Click on Logout button
3. Saw er

[2022-02-10 16:03] travisgroth commented on #3021
Hi,

TLS is required between user browsers and whatever proxy defines the edge of your network.  Using Pomerium with only `http` across the internet is not secure.

[2022-02-10 16:03] #3021 closed

[2022-02-10 17:08] #2930 closed

[2022-02-10 19:25] alexfornuto commented on #2716
The copy updates are [applied](https://github.com/pomerium/pomerium/pull/3026) to the source, so I think we can close this issue while we wait for https://github.com/pomerium/pomerium-console/pull/2327 to be finished, ya?

[2022-02-10 19:26] alexfornuto commented on #2930
@alexrudd2 thanks for bringing this up!

[2022-02-10 20:19] travisgroth commented on #2716
👍

[2022-02-10 20:19] #2716 closed, assigned to travisgroth

[2022-02-11 15:46] travisgroth commented on #3005
Since we only publish an amd64 version for mac, I think the right thing to do is install via the x86 homebrew rather than the arm version.

Releated - https://github.com/goreleaser/goreleaser/issues/1804

We're hoping for a native arm build of envoy to be available soon, which will allow us to publish an official release.

FWIW, it's possible to bundle an x86 version of envoy in the arm binary but

[2022-02-11 16:43] travisgroth opened #3037 "grpc: set client transport security from URL"
**Is your feature request related to a problem? Please describe.**

We currently use `grpc_insecure` to configure both our grpc listener and grpc client configuration.  This lack of granularity prevents configuration of some corner case architectures like:

1. secure listener but insecure client to one or more grpc services
2. insecure listener but secure client to one or more grpc services
3. ins

[2022-02-12 10:15] unsubtleguy commented on #2979
Hey - Not OP, but I can +1 a benefit from `prefix_rewrite` annotation (which doesn't appear to exist in doco).

Also in the same situation of moving from the old policy config blob to individual ingresses :)

[2022-02-14 17:26] desimone commented on #2982
i have not been able to reproduce since I cleaned existing devices from my environment.

[2022-02-14 17:26] #2982 closed

[2022-02-14 20:51] calebdoxsey commented on #3037
This seems to have changed significantly from when the original issue was submitted. `grpc_insecure` is now only used for the listener, though I'm not seeing it work properly locally. I will continue to investigate to find out where its going wrong, but I think `http` vs `https` is already implemented.

[2022-02-14 21:37] calebdoxsey commented on #3037
The issue I was running into locally is caused by an infinite ext_authz check on the authorize service when the proxy is fronting the authorize service. This appears not to be a supported use-case as we only have code to handle fronting of the authenticate service:

[code]

I will try to create a test case using two entirely separate pomerium clusters as described in the original issue. (though th

[2022-02-14 21:54] travisgroth commented on #3037
Interesting.  Thanks @calebdoxsey.

Istio shouldn't be needed, fortunately.  I believe it just happens to encourage patterns that lead to this (former?) issue.

[2022-02-14 22:32] calebdoxsey commented on #3037
I spent all day on this but I can't figure out how to configure it. The complexity of the requirements are beyond my ability to understand. Pomerium doesn't support operation without using TLS and the routing in envoy doesn't work properly if you try to set it up that way. There are apparently additional services sitting in front of Pomerium, but the configuration of those services isn't documente

[2022-02-17 21:47] travisgroth commented on #3037
As @calebdoxsey indicated, it looks like this is already implemented.  When we reworked our inter-service communication to use envoy, the URL parsing behavior was likely updated.  Here's a very minimal test setup to show that a service (authorize) can be set up to _listen_ with an insecure socket but communicate to a databroker using secure transport.

authorize:
[code]

databroker:
[code]

If the

[2022-02-17 21:47] #3037 closed

[2022-02-17 21:53] travisgroth commented on #2386
@eddiewang it looks like this was addressed already as part of #2469 and should be on v0.16+.

[2022-02-17 21:53] #2386 closed

[2022-02-21 13:12] megalan247 opened #3069 "When a user is added to a large number of groups, the X-Pomerium-Jwt-Assertion header gets very large"
**Is your feature request related to a problem? Please describe.**

When the user is added to a large number of groups, the X-Pomerium-Jwt-Assertion header gets very large as it contains the groups of the user even if the jwt_claims_headers option only contains "email". This then causes problems due to large header sizes (applications often cannot handle very large HTTP headers)

**Describe the so

[2022-02-22 15:55] travisgroth commented on #3069
Related:

https://github.com/pomerium/pomerium/issues/1750
https://github.com/pomerium/pomerium/issues/2730

[2022-02-23 17:02] #3069 closed

[2022-03-02 08:13] cfanbo opened #3090 "How to Implement Directory-level Proxy Function？"
**Is your feature request related to a problem? Please describe.**

domain `www.example.com` proxied `foo.internal.test.com` and  `bar.internal.test.com` by Directory
www.example.com/foo/  => foo.internal.test.com
www.example.com/bar/  => bar.internal.test.com

[2022-03-02 10:06] #3090 closed

[2022-03-03 06:16] cfanbo opened #3095 "In production deployments, how to deploy each component separately?"
**Is your feature request related to a problem? Please describe.**

Pomerium is composed of 4 logical components，how to deploy each component and what is the configuration content used by each component? i didn't find any relation document。
https://www.pomerium.com/docs/architecture.html
https://github.com/pomerium/pomerium/tree/main/examples

**Describe the solution you'd like**
deploy each compo

[2022-03-03 20:08] alexfornuto commented on #3095
Hi @cfanbo - You've identified a gap where our documentation could be better.

The short version is: set the [service mode](https://www.pomerium.com/reference/#service-mode) key to determine which instance will serve as which component. Otherwise they will each act in "all-in-one" mode.

I think this deserves a short article or guide describing this in more detail. What do you think?

[2022-03-04 01:40] cfanbo commented on #3095
Here are four different configuration files, each file content is different, dependencies between them，has some dependencies  wrong when service startup, each service is a controlPlane, I don't know what to do。

Where should the route configuration items be in the file？

[code]

[2022-03-04 16:20] calebdoxsey commented on #3095
Hi @cfanbo

You can also run pomerium in all-in-one mode if you plan on using it on a single machine. I don't know if we have any examples of setting up independent services, though the Helm chart will do this by default. We also have an integration test that you could look at: https://github.com/pomerium/pomerium/blob/main/integration/clusters/oidc-multi/compose.yml.

Most of the properties in th

[2022-03-08 20:37] alexfornuto commented on #3095
@cfanbo The [Reference Page](https://docs.rtfm.life/reference/) is sorted on the left to answer the question of what keys go where. When using split service mode with multiple configs:
- [Shared settings](https://docs.rtfm.life/reference/#shared-settings) belong in each config file.
- [Authenticate Service](https://docs.rtfm.life/reference/#authenticate-service) keys go in the config file with `se

[2022-03-09 05:12] HighWatersDev opened #3124 "Additional parameter in Auth0"
Currently, I set up Auth0 IdP with Pomerium but my authentication with Auth0 wouldn't work. It took me several hours to figure out but once I switched JWT signature algorithm to RS256, it worked right away. I think it'd be helpful to add that to the documentation for clarity

![image](https://user-images.githubusercontent.com/37680855/157377183-8a9d5858-bc61-407c-80b6-03b15bc01acd.png)

[2022-03-09 20:21] #3095 closed

[2022-03-10 10:49] dedene commented on #2934
We're observing the same behaviour. Rollback to before pomerium 0.15.6 (helm chart 25.0.0) fixed the issue. We are using forwardauth and Github as IDP. I observe the groups are fetched and stored in redis. When adding the github username as allowed, I can see the X-Pomerium-Claim-Groups header is missing. When only allowing certain groups, the proxy is returning a 403.

[2022-03-10 18:14] alexfornuto commented on #3124
Hi @HighWatersDev! Thanks for making this issue. I created a new test application in Auth0, and when I opened up Advanced Settings it was already set to use RS256.

![auth0](https://user-images.githubusercontent.com/2349184/157727894-0a1da8da-624b-4317-b71c-d2ca00aefd30.png)

I'm happy to note that this needs to be set in our docs, but I also want to better understand how your config came to the p

[2022-03-10 18:42] #3124 closed

[2022-03-10 18:49] alexfornuto commented on #3124
@HighWatersDev the issue was closed with the merging of the related PR, but I'd still be interested in hearing back from you on the questions above. This situation confuses me.

[2022-03-14 15:50] wangee opened #3139 "invalid service account for Google directory provider -"
Hello all,

I'm setting up Pomerium in my company with Google as an identity provider, but I'm facing a problem that might be a bug

Pomerium will run in a docker container using docker-compose.

**My config**
Here's my current config.yaml (**idp_client_id and idp_client_secret not shown for obvious reasons, but I'm sure they're the ones generated when I created the google service.**)
[code]
The d

[2022-03-14 16:33] desimone opened #3146 "user info endpoint loses the profile picture when you click the right menu"
## What happened?

The profile picture on the user info page goes away if you click the icon.

## What did you expect to happen?

The profile picture to persist.

## How'd it happen?

1. Click the user's profile picture
2. See that the profile picture goes away.
3. click around it persists
4. clicking the logo makes it come back

<img width="312" alt="Screen Shot 2022-03-14 at 9 31 07 AM" src="htt

[2022-03-14 16:36] calebdoxsey opened #3147 "directory: support non-base64 idp service accounts for all providers"
**Is your feature request related to a problem? Please describe.**

Some of our directory providers support a non-base64-encoded service account. For example `auth0`:

[code]

However some do not. For example `gitlab`:

[code]

We should update all the directory providers to support either.

**Describe the solution you'd like**

Use `encoding.DecodeBase64OrJSON` everywhere.

[2022-03-14 16:44] desimone opened #3148 "user info: make footer and version hash consistent"
## What happened?

This is two part.

1. Version is not shown on every page.
2. The footer is inconsistent with enterprise. (Text is oddly large, and the double column takes up a lot of real estate with the large version text )

<img width="1112" alt="Screen Shot 2022-03-14 at 9 35 31 AM" src="https://user-images.githubusercontent.com/1544881/158218479-50197031-2d79-44d3-8ee5-08a44ce14618.png">

#

[2022-03-14 20:38] #3147 closed

[2022-03-15 08:29] wangee commented on #3139
Hi @alexfornuto,

Indeed, idp_service_account was missing.  I'm facing other issues, but at least the "invalid google service account" are gone and I can go any further.

May I suggest to add "idp_service_account" at the installation doc (https://www.pomerium.com/docs/install/), point 1 Configuration, as it's missing in the example of config.yaml ?   This is from were I ran pomerium in a docker co

[2022-03-15 15:08] alexfornuto commented on #3139
Hi @wangee. I'm glad to hear you got past this error. If you're having additional configuration issues, I highly suggest using our forum, [Discuss](https://discuss.pomerium.com/).

The `idp_service_account` key isn't in the example config because not all IdPs require it. It's dependent on which service you use for identity and what information you need from it. That's why the config file says abov

[2022-03-15 17:34] xlejo opened #3153 "Databroker warns a unknown provider OIDC in refresh directory process"
## What happened?

Databroker warns about a unknown provider oidc and fails to refresh directory, but the directory seems to be refreshed.

I test set `IDP_REFRESH_DIRECTORY_INTERVAL=30s` and change some claims (like username) of a user, and seems to refresh fine.

## What did you expect to happen?

No warns about that.

## How'd it happen?

1. Configure Pomerium with a oidc provider (like Keycloa

[2022-03-15 19:13] calebdoxsey commented on #3153
The generic OIDC provider does not have a directory implementation.

[2022-03-16 02:49] HighWatersDev commented on #3124
I have to admit I might have changed that while troubleshooting. Sorry for the confusion this issue might have caused. After the initial issue was resolved via a separate PR, I encountered a separate issue and noticed that the JWT signature algorithm was the culprit. I thought creating this issue would save someone else in the future some troubleshooting time.

[2022-03-16 13:13] xlejo commented on #3153
Effectively. I confused it with the refresh session.

Btw, I will set the `IDP_REFRESH_DIRECTORY_INTERVAL` to `876000h` for skip the refresh directory.

Thanks for the reply!

[2022-03-16 13:13] #3153 closed

[2022-03-16 14:20] alexfornuto commented on #3139
After discussing amongst ourselves, it was pointed out to me that we could add the config value to the example file commented out, so I've included that as well.

[2022-03-16 16:06] #3146 closed

[2022-03-17 13:57] alexrudd2 opened #3156 "Request: Ability for client to determine access to routes"
**Is your feature request related to a problem? Please describe.**

We're replacing another auth solution with pomerium, using routes that are access-controlled on a per-group basis.  Our webserver serves a static index, with JS that goes through and grays out links for which the logged-in user has no access.  This is possible because the auth server adds an `X-Access` header that lists all the al

[2022-03-17 15:50] #3139 closed

[2022-03-17 19:25] travisgroth opened #3159 "Remove version from user info footer"
**Is your feature request related to a problem? Please describe.**

Currently, we display the version of Pomerium to logged in end-users.  This could be sensitive information in the event that there is an exploitable issue with the installed version of Pomerium.

**Describe the solution you'd like**

Contrary to previous discussion, we should remove the version from the user info page footer.

**D

[2022-03-17 22:30] unsubtleguy opened #3160 "Github Groups not populated on account sign-in"
## What happened?

When using pomerium latest, using helm chart 30.1.1 and github as an identity provider, user groups are not populated, resulting in routes requiring group membership to return a 403 forbidden.

After an amount of time (somewhere between minutes to tens of minutes), group memberships are populated, allowing route checks to pass.

Group memberships when hitting the `authenticate`

[2022-03-18 19:18] travisgroth commented on #2955
This was removed as part of the rewrite.  We can add a new issue if we want to re-add the feature.

[2022-03-18 19:18] #2955 closed

[2022-03-18 20:58] alexfornuto commented on #2955
@travisgroth Was the removal of this feature discussed somewhere?

[2022-03-18 21:42] travisgroth commented on #2955
@alexfornuto no, I don't think it was an explicit decision so much as lost along the way.  Discussed if we should re-add with @desimone and we decided against it for now.

[2022-03-22 03:28] desimone commented on #3159
Related
- https://github.com/pomerium/pomerium/pull/1774 "Don't leak version from error page" 🦤

[2022-03-22 17:17] calebdoxsey commented on #3160
@unsubtleguy this was caused by a bug in our directory sync code. We weren't querying the GraphQL API properly. I have a PR to fix it.

[2022-03-22 18:07] #3160 closed

[2022-03-22 20:15] unsubtleguy commented on #3160
Awesome - thanks for that @calebdoxsey

[2022-03-23 04:22] unsubtleguy commented on #3160
Can confirm, updated helm chart to use the latest image tagged main, works as intended

Thanks again!

[2022-03-23 11:07] sherifkayad opened #3181 "Infinitely opening browser when using Pomerium with Pomerium-CLI for Kubernetes auth"
## What happened?
After upgrading to Pomerium `v0.17.0`, using the CLI to authenticate / authorize Kubernetes and running any `kubectl` command e.g. `kubectl get pods`, browser windows are opening indefinitely after the login!

Until Pomerium `v0.16.4` this issue was never present.

## What did you expect to happen?
Login to Kubernetes should be working as expected!

## How'd it happen?

See above

[2022-03-23 11:27] sherifkayad commented on #3181
@wasaga any idea why that might be happening? am I missing something in the configs?

[2022-03-23 17:51] #3159 closed

[2022-03-23 21:24] sherifkayad commented on #3181
@travisgroth my values.yml is as follows:
[code]

[2022-03-23 21:50] sarasensible opened #3187 "500 Errors when redirected from AuthN when Redis is enabled"
## What happened?
I enabled redis, then went through an authentication flow and was greeted with 500 errors when successfully auth'ed
When redis is disabled, authentication flow succeeds.

## What did you expect to happen?
I should be able to enable redis and successfully navigate to my page after authentication.

## How'd it happen?

Enabled redis

[code]

## What's your environment like?

Pomeri

[2022-03-24 21:28] clementblaise opened #3190 "Helm Chart exception using defaultCertSecret"
## What happened?

## What did you expect to happen?

## How'd it happen?

Configured pomerium using a default certificate

## What's your environment like?

- Pomerium Helm Chart version : 31.0.0

## What's your config.yaml?

[code]

## What did you see in the logs?

[code]

## Additional context

Neither config.generateTLS nor authenticate.ingress.tls.secretName should be required when using def

[2022-03-24 21:31] clementblaise commented on #3190
Will open i

[2022-03-24 21:31] #3190 closed

[2022-03-24 22:00] travisgroth opened #3191 "HMAC failure when registering a new device"
## What happened?

When registering a device by starting from authenticate, the redirect to `/.pomerium/webauthn` results in an hmac failure.  I believe this is related to the use of `AUTHENTICATE_INTERNAL_SERVICE_URL` as part of the helm based deployment.

## What did you expect to happen?

No hmac failure.

## How'd it happen?

1. Go to https://authenticate.localhost.pomerium.io
2. Click "Device

[2022-03-24 22:14] travisgroth commented on #3181
I'm able to reproduce this with a pretty minimal config.  It looks like we're redoing the browser auth flow for every request, but they do actually _succeed_.  I suspect something is up with either the storage or retrieval of the session credential cache on the cli side.

values:

[code]

[2022-03-24 22:18] sherifkayad commented on #3181
@travisgroth that's what I thought as well that it's a nasty bug in the CLI .. Web works fine as far as I have tested .. seems also to me that the user session is saved in the databroker cache.

Would you be working on a fix for this? Also how do you explain that it's happening with Pomerium 0.17.0 and not with the previous version?

[2022-03-24 22:44] travisgroth commented on #3181
@sherifkayad the behavior doesn't change with v0.16 of the cli so it _may_ be some interaction with the authenticate and the callback to the cli.  This does need more investigation.

Yes, we will be looking at fixing this.  It doesn't appear to be working as intended.

[2022-03-25 14:45] sarasensible commented on #3187
Now with a reinstall disabling TLS for the moment I am seeing 404s immediately with no redirect.

Logs:
[code]

[2022-03-25 15:39] sarasensible commented on #3187
I see that the issue here is the redis-cli is not able to connect over TLS, so it requires some tomfoolery perhaps with stunnel to execute the FLUSHALL command.  If there is a simpler way to do this please let me know, otherwise I'm going to mount a sidecar with stunnel so I can execute this command.

[2022-03-25 16:18] sarasensible commented on #3187
Ok figured out how to do this with TLS enabled and FLUSHALL and FLUSHDB enabled.

Working config (note that this has the redis-master installed in the `tools` namespace):
[code]

[code]
And voila, everything works.  I still believe this should be handled on reinstall on the pomerium side, but this is acceptable as a workaround.  I'll submit a PR to the docs to include this nugget when enabling red

[2022-03-28 12:36] #3191 closed

[2022-03-30 14:41] calebdoxsey opened #3213 "docs: kubernetes/helm guide updates"
## What happened?
Recent changes to the helm chart mean that the https://www.pomerium.com/docs/k8s/helm.html guide needs some updates.

1. The helm values file needs:
[code]

2. The helm values file needs:
[code]

[2022-03-30 19:24] alexfornuto opened #3216 "Add name claim to JWT payload"
**Is your feature request related to a problem? Please describe.**

Some systems (Like Grafana) require a name claim in order to auto-create new users based on the JWT payload. While we're not intending to be an Identity Provider for upstream services, there's no harm and only benefit from it.

**Describe the solution you'd like**

Include the 'name' claim in the JWT payload when provided by the I

[2022-03-30 19:25] sarasensible commented on #3216
For the record the name claim is not required it will still create a user without the Name field populated.  The workaround is to set extraEnv.JWT_CLAIMS_HEADERS equal to email,name as discussed in https://discuss.pomerium.com/t/grafana-auto-sign-up-with-pomerium-identity/97/3

[2022-03-30 22:51] sherifkayad commented on #3181
@travisgroth I assume this is still under investigation and hasn't made it to 0.17.1 yet, is that right?

[2022-03-31 16:28] travisgroth commented on #3216
@alexfornuto it looks like setting `name` in https://docs.pomerium.io/reference/#jwt-claim-headers should also add the claim in to the assertion JWT.  Could you test that in your setup?

[2022-03-31 18:41] alexrudd2 opened #3221 "crashloop if autocert cannot grab a cert for a route"
## How'd it happen?
I have pomerium in a test environment, where an upstream nginx forwards most traffic based on a different domain.  I haven't figured out how to have **autocert** work through nginx, so every now and then (outside working hours) I re-route gateway traffic from nginx directly to pomerium.  It grabs the certs, stores them, and then I give nginx the traffic back.

This worked fine

[2022-03-31 18:45] alexrudd2 opened #3222 "no way to test for valid configuration"
**Is your feature request related to a problem? Please describe.**

Pomerium crashes, hard, on the slightest misconfiguration.  There appears to be no way to check for configuration validity before crashing.  See also #3221

**Describe the solution you'd like**

`nginx -t`
https://adamtheautomator.com/nginx-test-config/

**Describe alternatives you've considered**
I wrote a script to backup old co

[2022-03-31 19:12] calebdoxsey commented on #3181
So the reason this started happening is actually because of daylight savings time. We were parsing the expiry date:

`time.Unix(claims.Expiry, 0)`

And then doing an `IsZero` check. It turns out `IsZero` was true when we were in standard time, since 1970-01-01 is during standard time, but is no longer true, since we're now in daylight savings time (well a lot of us are anyway).

The result of this

[2022-03-31 19:27] #3181 closed

[2022-03-31 21:57] alexfornuto commented on #3216
I have tested and confirmed this. It was not documented as doing so, which will be resolved by #3226. Up to you if it should be included by default or not.

[2022-04-01 15:56] calebdoxsey commented on #3222
Agreed that this would be valuable. It's slightly complicated because we have a layered configuration where there can be multiple configuration sources on top of each other.

The most common is one file/environment source and then a configuration that comes from the databroker.

That said a basic version that tests just the file/environment would be pretty straightforward and would catch a lot of

[2022-04-03 09:49] cfanbo opened #3229 "Why subpath didn't it work"
[code]
is this case, tom can still access other url paths?
No usage documentation for subpath was found（`http_path` and `http_method`）

[2022-04-04 15:56] narcoticfresh commented on #2934
So last friday i updated to `0.17.1`... and somehow today our usual routine (let's make our first request, see the `403` error, wait 10 minutes for the next sync) didn't materialize as I didn't see the `403` error.. maybe #3176 actually fixed this..(?)..

will keep updating this issue.. if we don't see any `403` during this week, we may as well close it.

[2022-04-04 16:27] alexfornuto commented on #3216
From discussion, worth adding by default to reduce complexity for user config.

[2022-04-04 16:51] calebdoxsey commented on #3221
Hi @alexrudd2 ,

I agree that the current behavior is subpar, but unfortunately because of certificate stapling we have to be careful about never serving an invalid (self-signed, or wrongly named certificate) because it can end up being stapled by the browser which is very annoying to fix. (you have to go to a chrome-internals page to clear the HSTS cache)

At first glance it seems like we could a

[2022-04-04 17:00] travisgroth commented on #3229
Hi @cfanbo.  Please open a thread up in our [support forum](https://discuss.pomerium.com/c/support/9) for help with usage.  Thanks!

[2022-04-05 00:23] alexrudd2 commented on #3221
Thanks for the consideration, and apologies for not being well-informed on HSTS.

Agreed that the optimal response is a `503` or `500` with some sort of certificate/config that doesn't cause OCSP stapling problems.  However, if that's tricky what about _no response at all_?  After all, the current behavior is _not_ "pomerium serves all valid routes except one with a bad certificate."
 It's "pomeri

[2022-04-05 15:32] #2934 closed

[2022-04-05 18:08] #3216 closed

[2022-04-06 06:32] narcoticfresh commented on #2934
@calebdoxsey yes... can confirm that it's fixed now.. great! thanks so much!

[2022-04-07 08:56] sherifkayad opened #3245 "Forward Auth is not working anymore (0.17.1)"
## What happened?
Forward Auth is not working anymore! .. If you use https://forwardauth.mydomain.com/verify?uri=https://demo2.mydomain.com running Pomerium 0.17.1 then you would get a 404 as shown below:
<img width="657" alt="image" src="https://user-images.githubusercontent.com/8362784/162159411-fb720c35-4e79-4ea1-a40e-7d617d2e517d.png">

The same 404 would happen if you call the auth sign in UR

[2022-04-07 11:26] cfanbo opened #3246 "The pomerium service cannot start(v0.17.1)"
## What happened?

The service cannot start.

## How'd it happen?
[code]
## What's your environment like?

- v0.17.1
- Ubuntu21 amd64

## What's your config.yaml?

[code]

run pomerium in "all-in-one mode."

## What did you see in the logs?

[code]

## Additional context

- https://www.pomerium.com/reference/#data-broker-service-url

[2022-04-07 16:42] travisgroth commented on #3246
Hi @cfanbo - we don't see any specific error message in that log.  Is this persistent behavior?  We can't reproduce locally, and suspect it is something specific about the system you're running on.

[2022-04-08 03:52] cfanbo commented on #3246
I'm sorry, this thread is not correct, The service can be started.

but There is a lot of error log message

[code]
these service can be listen

[code]
Check whether the log level is correctly used？

[2022-04-08 11:09] travisgroth commented on #3245
I'm not able to reproduce this with an existing route on v0.17.1.  Without a helm values overrides and other details, it's hard to try the exact configuration.  That said, simple config testing forward auth endpoint directly:

[code]

- `curl 'http://forwardauth.localhost.pomerium.io/?uri=https://foo'` will return 302 regardless of whether `foo` is defined as a route so I'm not sure how you'd get

[2022-04-08 11:23] sherifkayad commented on #3245
@travisgroth I guess https://github.com/pomerium/ingress-controller/issues/177 could be the isssue .. I can't say for sure if the Pomerium Ingress Controller is rejecting the route and hence causing this route not to be found in the Pomerium list of routes, however, that looks legit yeah.

I tried with statically defined routes in my config and I think that's working fine. We could probably close

[2022-04-08 12:12] travisgroth commented on #3245
This should be logged by the ingress controller.

In any event, closing since it appears to be related to the ingress side of things.

[2022-04-08 12:12] #3245 closed

[2022-04-08 13:39] calebdoxsey opened #3256 "rego: using http.send in a rego policy results in an http.Transport error"
## What happened?
Any rego policy that includes an `http.send` will result in an interface conversion error. For example:

[code]

[code]

## What did you expect to happen?
Not to see this error and for the http request to be made.

## How'd it happen?
Created a route using custom rego and tried to access it.

## What's your environment like?
- git commit: 5e836913ae53e70c0db91693631d576ae755326f

[2022-04-08 17:07] #3256 closed

[2022-04-11 14:44] wasaga commented on #3246
Those errors are transient as multiple modules are starting up in parallel and may not be immediately ready. There's a fix to make startup sequence less chatty https://github.com/pomerium/pomerium/pull/3253

Please kindly confirm that your only concern is the temporary errors/warnings in the logs, and after the system is initialized it is working as intended.

[2022-04-12 11:26] #3246 closed

[2022-04-13 16:28] alexrudd2 opened #3270 "Mismatch between .pomerium session info and JWT served"
## What happened?
Pomerium is telling me that I'm logged in at the `.pomerium` endpoint , but serving a JWT (and enforcing access permissions) based on another user.

## What did you expect to happen?
JWT should match `.pomerium` and should be updated if I logout/switch users.

## How'd it happen?

1. Other user (J) logged in to a resource behind pomerium
2. I went to our landing page and noticed

[2022-04-13 17:14] alexrudd2 commented on #3270
OK, I was able to get some logs from docker itself, although they tend to be out of order.

[code]

[2022-04-14 19:08] desimone commented on #3270
Hey @alexrudd2 -- Are you deploying two totally different instances of Pomerium (with different configurations) or are you deploying multiple instances with a shared configuration in a high availability setup with a shared redis instance?

[2022-04-14 19:29] desimone commented on #3221
We may want to rethink setting HSTS by default. 🤔

[2022-04-14 20:23] alexrudd2 commented on #3270
Shared config with shared redis.  The intent is to use ability to use docker's auto-rollback strategy for updates.

[2022-04-16 06:15] virtazp opened #3272 "I can't generate JWK"
## What happened?
Hello,

I can't generate JWK. JWK = null. and I get an error: Unsigned identity headers

## What did you expect?
To generate a JWK
## How did it happen ?

1. Run `x`
2. Click 'y'
3. `z` saw error

## What does your environment look like?

- Pomerium version (retrieve with `pomerium --version`):
latest
- Server OS/Architecture/Cloud:
Debian 11
Docker version 20.10.14

## What is y

[2022-04-16 14:09] virtazp commented on #3272
I found my mistake. The information is not easy to find in the documentation. it's here: https://github.com/pomerium/pomerium/tree/main/docs/reference#signing-key

It works.

[2022-04-16 14:09] #3272 closed

[2022-04-20 00:05] alexfornuto commented on #3213
@calebdoxsey does `authenticate.tls.secretName` make `authenticate.existingTLSSecret` obsolete?

[2022-04-20 00:06] alexfornuto commented on #3213
Is the second item supposed to be a different file?

[2022-04-22 15:23] calebdoxsey opened #3286 "databroker: scaling improvement suggestions"
**Is your feature request related to a problem? Please describe.**

Currently the databroker exposes an interface that has several challenges when working with 100s of thousands of records and nearly unusable when working with millions of records. Since this amount of data can be stored in memory, we should update the databroker to better support this use case.

**Describe the solution you'd like*

[2022-04-22 16:53] #3213 closed

[2022-04-23 14:33] WojoInc commented on #2979
Can +1 this as well. Trying to move to using the Pomerium ingress controller from Traefik + forward auth.

However, I have a few applications which don't support a base path, and as a result I have to rewrite the path during forwarding.
I've tried adding `ingress.pomerium.io/prefix_rewrite: '/'` (though it isn't listed [here](https://www.pomerium.com/docs/k8s/ingress.html#supported-annotations)).

[2022-04-26 12:38] krasnican opened #3299 "double URL encoding in pomerium_redirect_uri in forwardauth mode"
Hello,

we're using pomerium as forwardauth server. We are seeing unwanted behavior where, if URL contains ? char, user is redirected (pomerium_redirect_uri) to malformed/double-encoded URL when IDP authentication is passed.

It also seems that encoding of character "?" (and possibly others) in pomerium_redirect_uri differs between deployments pomerium as proxy and pomerium as forwardauth service

[2022-04-26 22:41] #3286 closed

[2022-04-28 16:21] desimone commented on #3299
@krasnican Do you mind sharing your nginx configuration?

[2022-04-28 20:36] calebdoxsey opened #3303 "config: remove internal service URLs"
**Is your feature request related to a problem? Please describe.**

The various internal service URLs seem to cause a lot of problems, ala https://github.com/pomerium/pomerium/pull/3279. They were introduced with https://github.com/pomerium/internal/issues/658.

I didn't understand these requirements when the [were added](https://github.com/pomerium/pomerium/pull/2801#issuecomment-985880647). I st

[2022-04-29 22:34] krasnican commented on #3299
Hello @desimone,

nginx is not present in queries/curl(s) above - it's direct (inside-host) communication to pomerium running in docker container (with attached config). You should be able to reproduce with docker and info/config attached above.

I'm happy to share any additional info, generally nginx is not present in our deployment/configuration, please clarify what info you look for. We use Tra

[2022-04-29 22:59] desimone commented on #3299
Hey @krasnican ,

Sorry, I assumed nginx because nginx in forward auth mode can do extra url encoding to query params. I guess traefik does that too.

Can you post your traefik / docker configuration? We have no experienced this path/queryparam wrapping directly.

[2022-05-02 17:58] alexfornuto commented on #2851
Closing per @desimone

[2022-05-03 10:39] clwluvw opened #3319 "High cpu usage"
## What happened?

Slicely high CPU usage during runtime
![Screenshot from 2022-05-03 12-33-25](https://user-images.githubusercontent.com/46720919/166439023-b10bc093-c6e6-4189-a016-50b710eeae64.png)

## What did you expect to happen?

Stable CPU usage

## How'd it happen?

Using memory data broker storage and google provider with hundreds of users and 10 req/s

## What's your environment like?

-

[2022-05-03 17:41] bl0m1 opened #3321 "Route/policy options tls_custom_ca and tls_skip_verify not working in 0.17.2"
## What happened?

I tried to upgrade pomerium to 0.17.2 but quickly run into problems due to the options `tls_custom_ca` and `tls_skip_verify` stopped working.

## What did you expect to happen?

I expected everything to work exacly as in the 0.17.1 release since no mention of config chagnes exists in the releasenotes.

## How'd it happen?

1. Upgraded from 0.17.1 to 0.17.2 (identical config)

##

[2022-05-04 15:55] #3319 closed

[2022-05-05 00:32] #3321 closed

[2022-05-05 14:36] #2517 closed

[2022-05-09 14:51] imlonghao opened #3331 "[Auth0] failed to refresh directory users and groups"
## What happened?

Refresh directory users and groups failed.

I can't see my groups info in `https://{authenticate_service_url}/.pomerium/`

## What did you expect to happen?

Refresh directory users and groups success.

I can see my groups info in the dashboard.

## How'd it happen?

1. Create Applications on Auth0 as the [docs](https://www.pomerium.com/docs/identity-providers/auth0.html) said
2

[2022-05-09 15:06] calebdoxsey commented on #3331
The error seems clear to me:

Did you try the steps outlined in the referenced page?

[2022-05-09 15:43] #3331 closed

[2022-05-10 17:18] alexfornuto opened #3343 "DOCS: Broken example commands"
https://www.pomerium.com/enterprise/install/quickstart.html under the YUM tab has improperly formatted markdown.

[2022-05-10 17:20] alexfornuto opened #3344 "Docs: Add license key to Enterprise quickstart"
Add new license key config key to all Enterprise Installation docs.

[2022-05-12 02:54] heywoodlh opened #3349 "invalid memory address"
## What happened?
When I run the container on my Raspberry Pi it crashes with the following error:

[code]

## What did you expect to happen?

Pomerium container to run without crashing (or at least provide more informative error)

## How'd it happen?

This is my config:

[code]

This is how I'm running pomerium:

[code]

## What's your environment like?

- Raspberry Pi
- Ubuntu 20.04 64 bit ARM f

[2022-05-12 23:51] wasaga opened #3355 "authenticate_service_url change requires restart"
## What happened?

1. set `authenticate_service_url` to`https://auth.localhost.pomerium.io`
2. start pomerium
3. change `authenticate_service_url` to `https://login.localhost.pomerium.io`
4. navigate in browser to some route that requires authentication, you will get redirected to the `https://login.localhost.pomerium.io`, however the route would be 404.
5. you have to restart pomerium for the cha

[2022-05-13 02:17] #2082 closed

[2022-05-13 02:17] #1997 closed

[2022-05-13 11:25] krasnican commented on #3299
Hello @desimone ,

thank you for looking into this. First, let me please point out that no proxy is present in example(s) request(s) above causing bugy/unwanted behavior; there are naked curl(s) replicating backend communication from proxy (traefik in our case) to pomerium. Pomerium config is attached in bug report, the rest is default docker engine on ubuntu (or any) host.

However, our Traefik c

[2022-05-14 00:10] #2979 closed

[2022-05-14 02:17] #1383 closed

[2022-05-16 07:46] sylr opened #3356 "/.pomerium/ visual endpoint not working since v0.17.0"
## What happened?

Since I've upgraded all pomerium components with version >= v0.17.0 the /.pomerium/ HTML endpoint which displays identity information does not work (it redirects me to the the authentication provider for login).

FYI downgrading the authorization component back to v0.16.4 resolves the problem.

## What did you expect to happen?

## How'd it happen?

1. Ran `x`
2. Clicked `y`
3.

[2022-05-16 16:38] CitadelCore opened #3364 "Infinite redirect at /.pomerium endpoint after navigating to proxied application"
## What happened?

I have a fresh deployment of Pomerium using the Helm chart on Kubernetes. I have a route for Grafana as well as the proxied authenticate service. When I navigate to the Authenticate /.pomerium endpoint all is well, but after I load Grafana any /.pomerium endpoint I access for the duration of my session sends me into a redirect loop with Proxy trying to redirect to itself.

## Wh

[2022-05-16 17:10] desimone commented on #3356
@sylr -- Would you mind recording a loom or creating a `har` file so we can take a look at the flow?

Can you share your forward auth config as well / downstream proxy details?

Thanks!

[2022-05-16 19:59] desimone commented on #3364
You have a route and authenticate service on the same domain.

[code]
Could you split those? Maybe...

[code]

?

[2022-05-16 20:03] CitadelCore commented on #3364
The reason why the route is to the authenticate service is because it's being proxied through the Proxy service - this is required for Kubernetes, since Authenticate is a Service and not a LoadBalancer, and the internal address is different from the external one.

This behaviour is turned on by default in the Helm chart, see https://github.com/pomerium/pomerium-helm/blob/main/charts/pomerium/value

[2022-05-16 23:04] CitadelCore commented on #3364
I can confirm that this also happens when following the Helm chart installation guide to the letter.

[2022-05-17 00:27] CitadelCore commented on #3364
It's almost certainly something to do with the behaviour of proxying the Authenticate service itself. I configured the Helm chart to directly expose the service as a LoadBalancer, and the problem went away.

[2022-05-17 19:46] calebdoxsey commented on #3364
@CitadelCore does the problem persist with 0.17.3? There were some fixes related to the internal service url.

[2022-05-21 02:02] #2137 closed

[2022-05-21 02:02] #2060 closed

[2022-05-22 02:12] #1972 closed

[2022-05-22 02:13] #1781 closed

[2022-05-22 02:13] #833 closed

[2022-05-22 02:13] #339 closed

[2022-05-22 02:13] #291 closed

[2022-05-23 02:51] yegle opened #3371 "Incorrectly configured policy depleted Let's Encrypt quota very fast"
## What happened?

Configure a policy without mapping the domain name to Pomerium

[code]

## What did you expect to happen?

The attempt to get certificate from Let's Encrypt should have exponential backoff, thus not deplete the "300 New Orders per account per 3 hours" (per https://letsencrypt.org/docs/rate-limits/) in minutes.

## How'd it happen?

1. Add a new policy from `foo.bar.com` without

[2022-05-23 03:12] yegle commented on #3371
Hmm this also has the side effect of hanging the start of pomerium, presumably until all the certificates are ready. It looks like the fix to https://github.com/pomerium/pomerium/issues/2852 is insufficient?

[2022-05-23 17:26] calebdoxsey commented on #3364
I was not able to reproduce this issue following our helm guide. `/.pomerium/` works as expected without an infinite redirect, either going to it directly, or going to it via `https://hello.localhost.pomerium.io/.pomerium/`.

I will try to adjust my configuration to match what was provided.

[2022-05-23 18:27] calebdoxsey commented on #3364
I can reproduce if I change the helm config to:

[code]

I don't understand what this option does but it's not configuring Pomerium properly.

[2022-05-23 18:27] calebdoxsey commented on #3364
(this is a helm bug)

[2022-05-23 18:35] calebdoxsey commented on #3364
Alright here's the fix, you must specify the `name` for authenticate to match the `authenticateServiceUrl`:

[code]

If the two don't match the proxy will not route traffic properly.

[2022-05-23 18:36] #3364 closed

[2022-05-23 21:33] calebdoxsey commented on #3270
This can happen when the authenticate endpoint is managing a different session from the route. You get logged out of one without getting logged out of the other. (due to multiple oidc support)

[2022-05-23 21:48] calebdoxsey commented on #3270
The url is `/.pomerium/sign_out`. Using the proper URL results in the correct behavior.

[2022-05-23 21:48] #3270 closed

[2022-05-24 19:15] desimone commented on #3371
Thanks for the report @yegle ; Maybe we can make the backoffs more conservative here. Out of curiosity, were you creating a single or multiple routes when you hit the quota? What was the root cause of the failure?

[2022-05-24 19:22] yegle commented on #3371
It was a single new policy.

The misconfiguration is that I forgot to map the new domain to the IP address of the machine hosting Pomerium.

[2022-05-26 02:16] #3356 closed

[2022-05-29 02:17] #2596 closed

[2022-05-30 06:45] ventris opened #3379 "Stateful sessions towards backend"
**Is your feature request related to a problem? Please describe.**

If you load-balance requests towards an policy in Pomerium that goes towards two or more backends you will experience some issues if the services are not fully in sync.

This can be replicated by using multiple Alertmanagers behind a single policy in Pomerium.
Try adding a silence and you will more often than not get a 404 back wh

[2022-05-30 14:30] wasaga commented on #3379
please see [`lb_policy`](https://docs.pomerium.io/reference/#load-balancing-policy) parameter. For session affinity to work, you need to use one of the hashing load balancers - either `MAGLEV` or `RING_HASH`.

[2022-05-31 07:08] ventris commented on #3379
Do you have any examples of a working configuration for this?

I'm trying to find something in the envoy documentation regarding this but I can only find how it does the hashing for MAGLEV and/or RING_HASH. There is nothing about session stickyness from what I can find, but it can be that Im not reading the documentation correctly.

I have tried both MAGLEV and RING_HASH but in their default state

[2022-05-31 13:36] calebdoxsey commented on #3379
Both of these load balancing policies pick a backend server based on a hash of the session ID, so they are session sticky. We call this the routing key, and it is based on the session ID:

[code]

As far as I know this functionality still works. We have an integration test configured here:

https://github.com/pomerium/pomerium/blob/0b0fba06b3374557ed7427d165190570ce4997f1/integration/tpl/backends/

[2022-05-31 16:42] calebdoxsey opened #3387 "integration: convert integration tests to postgres"
We should convert the integration tests to use postgres instead of redis. This will be our preferred installation going forward so should be the basis for testing.

[2022-05-31 19:24] #3355 closed

[2022-06-02 04:08] #2904 closed

[2022-06-02 15:23] ventris commented on #3379
Verified this on latest Pomerium and its working as intended with stickiness.

We were running an older version that did not behave in the same way and threw us to a different server each time.

[2022-06-02 15:23] #3379 closed

[2022-06-02 16:25] alexfornuto commented on #3343
Fixed in the new Docs site.

[2022-06-02 16:25] #3343 closed

[2022-06-02 19:55] #3344 closed

[2022-06-03 21:15] #3387 closed

[2022-06-06 16:11] alexrudd2 commented on #3221
Has there been any update here?

We (finally) put pomerium into limited production use, and got bitten hard during the deploy.  After fighting it for a few hours, I ended up having to disable autocert and use a wildcard cert.

[2022-06-06 16:12] calebdoxsey opened #3398 "readme: update readme with instructions for how to run the integration tests locally"
It's not super obvious how to run the integration tests. We should have some instructions for how to do this in the readme.

[2022-06-08 13:15] #3398 closed

[2022-06-09 01:28] desimone commented on #3221
Thanks for circling back with your experience. Having been bit by this myself, I think it's worth the breaking change to remove the HSTS / certificate pinning by default behavior. It's way too much of a foot-gun / point of frustration for initial users.

[2022-06-09 04:01] alexrudd2 commented on #3221
FWIW, it wasn't (yet?) the stapling that caused problems.  It was the fact the pomerium straight up crashes on boot in many scenarios.

We had an internal meeting today writing up our deploy experience and hope to reach out with more concrete information soon.  Not sure if GitHub issues are best, or we should got through the Enterprise support.

Overall we're glad to be making the switch from our

[2022-06-10 17:01] pol opened #3414 "Enable darwin-arm binary"
The darwin-arm binary is skipped, and should be built.

https://github.com/pomerium/pomerium/blob/2487e9af209352a23db1f360822539b35dd98262/.github/goreleaser.yaml#L31-L33

One of the consequences of skipping this binary is that the GoReleaser does not generate an arm arch section for the `pomerium` formula in the homebrew-tap. As a result, it can't be successfully tapped without forcing the arch t

[2022-06-14 20:03] enenum opened #3424 "set a header with a dynamic value"
**Is your feature request related to a problem? Please describe.**

Can Pomerium set a header with a dynamic value?

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I would like to set a header value based on a token claim - e.g. group so that the application can apply rules based on the header value. I can use set_request_header but it only sets a sta

[2022-06-14 20:56] calebdoxsey commented on #3414
I'm guessing this won't actually work. Github doesn't have runners for darwin/arm64. I will try removing the ignore.

[2022-06-15 01:18] alexrudd2 commented on #2930
I believe the [quickstart page](https://www.pomerium.com/docs/install/quickstart) is still using 80.

[code]

[2022-06-15 02:24] yegle commented on #3371
Was there a recent change to crash pomerium when failed to get a certificate? I unfortunately triggered this bad state again and here's the error I'm seeing:

[code]

[2022-06-15 14:38] calebdoxsey opened #3427 "docker: error pulling main"
## What happened?

Tried to pull the latest image in docker and got an error:

[code]

## What did you expect to happen?

For it to pull down successfully.

[2022-06-15 18:02] #3427 closed

[2022-06-16 15:47] wasaga commented on #3424
https://www.pomerium.com/docs/enterprise/reference/configure#jwt-claim-headers

[2022-06-16 17:00] desimone commented on #3424
Hey @enenum  --  let us know if that was what you are looking for, but we could certainly better document / crosslink how we talk about setting request headers to mention that we also support passing custom claims as well.

[2022-06-16 18:10] alexrudd2 opened #3431 "500 server error - sessions corrupted after network disconnect"
## What happened?

A localized partial power/network outage occurred.  We believe all-in-one pomerium stayed running but it may have lost network connectivity to its Redis backend.  (It's also possible one or both of those containers rebooted.). Users which had an active session got a 500 error and could not do anything further.  Users without an active session could create one without problems.
!

[2022-06-16 18:14] alexrudd2 commented on #3431
<details><summary> redis logs </summary>
2022-06-16 10:46:03 | 1:M 16 Jun 2022 15:46:03.371 * Ready to accept connections

  |   | 2022-06-16 10:46:03 | 1:M 16 Jun 2022 15:46:03.371 * Opening AOF incr file appendonly.aof.1.incr.aof on server start
  |   | 2022-06-16 10:46:03 | 1:M 16 Jun 2022 15:46:03.370 * DB loaded from append only file: 0.564 seconds
  |   | 2022-06-16 10:46:03 | 1:M 16 Jun 202

[2022-06-16 18:42] desimone commented on #1837
I believe this was fully implemented by https://github.com/pomerium/cli/pull/56

[2022-06-16 18:42] #1837 closed

[2022-06-17 17:18] wasaga commented on #3371
https://github.com/pomerium/pomerium/blob/113424407588e44005058abf461ab30594e3906d/internal/autocert/manager.go#L93-L96

we probably can relax the error and just log a warning and allow autocert subsystem to proceed.

[2022-06-17 18:17] #3424 closed

[2022-06-17 18:18] alexfornuto commented on #3424
@enenum I've updated the reference pages for `set_request_header` and `jwt_claim_headers` to crosslink to each other for dynamic/static header values, respectively. Feel free to let us know if need any additional help.

[2022-06-20 20:23] alexrudd2 opened #3441 "Support secrets loaded from files in Docker Swarm or Kubernetes"
**Is your feature request related to a problem? Please describe.**

On Docker there are only two options for storing e.g. [`idp_client_secret`](https://www.pomerium.com/docs/reference/identity-provider-client-secret): directly in a config file or in an environment variable (envvar).

Envvars are pomerium's [recommended solution](https://www.pomerium.com/docs/reference).   For Docker standalone, at

[2022-06-21 10:49] krasnican commented on #3299
ping ping ^ 
let me know if you miss any info / if there is anything I can help.

[2022-06-21 16:22] desimone commented on #3431
Thanks for the detailed report @alexrudd2 . Are you using redis in persistent mode?

[2022-06-21 17:52] alexrudd2 commented on #3431
[code]

Yes, bitnami's [redis container](https://hub.docker.com/r/bitnami/redis/) uses AOF persistence by default, and I've put it on top of glusterFS on all nodes.  The idea is that we can move redis around freely between nodes, since the session data isn't very much and glusterFS is quite fast on a local network.  In theory this is fast enough where pomerium only notices a bit of latency on a re

[2022-06-21 20:41] alexfornuto opened #3443 "Enable jwt_claim_headers per route"
From discussion in another issue:

_Originally posted by @enenum in https://github.com/pomerium/pomerium/issues/3424#issuecomment-1161090384_

So the idea here is to possibly create a `jwt_claims_headers` key that's assigned on a per-route basis.

Discussion is required on how this key would behave in relation to the global setting.

[2022-06-21 20:56] calebdoxsey commented on #3441
@alexrudd2 The solution I typically use for this problem is to use a separate container which can build the configuration as a file on a shared volume which Pomerium can then access. We do this in docker-compose in our integration tests:

[code]

Unfortunately docker swarm apparently doesn't support `depends_on`. Docker swarm is not a technology I have ever used, so I don't know what the equivalen

[2022-06-21 21:12] alexrudd2 commented on #3441
Only replying to this part since I have to think through the rest of your reply.  Docker Swarm does [support](https://docs.docker.com/compose/compose-file/compose-file-v3/#depends_on) `depends_on`.  The only time it doesn't is when using `docker stack deploy`, in which case all the services are started anyway.

[2022-06-22 13:26] alexfornuto commented on #3443
@enenum we need to figure out how it would work *with* the global key; if it would be additive, if it could be used to overwrite a global setting for a route, and how this would work with the permissions various user types have in Enterprise environments.

[2022-06-22 18:26] kking124 opened #3444 "[Feature Request] Allow envoy to log additional HTTP request headers to the log statement"
We would like the ability to designate additional http request headers to appear in the envoy access logs (e.g. `Geolocation` or `X-Amzn-Trace-Id`).

**Describe the solution you'd like**

An additional configuration parameter/environment variable where a list of headers can be supplied that, if they exist, would be included in the envoy access log.

**Describe alternatives you've considered**

Alt

[2022-06-23 02:23] #494 closed

[2022-06-23 16:29] calebdoxsey opened #3445 "postgres: error deleting record"
## What happened?
Seeing this error:

[code]

And the record is not being deleted.

## What did you expect to happen?
No error and the record to be deleted.

## What's your environment like?

- 270f8b4f2c539ca73f97eb6667df9aa2b51d43b5
- Server Operating System/Architecture/Cloud: darwin arm64

## What's your config.yaml?
Will happen with any record delete

[2022-06-24 02:16] #3349 closed

[2022-06-24 02:16] #377 closed

[2022-06-24 15:32] #3445 closed

[2022-06-27 22:56] calebdoxsey commented on #3441
Kubernetes secrets can be loaded as environment variables which are compatible with Pomerium. We use this in the helm chart.

A similar problem exists for users of Hashicorp vault. They provide a program, [consul-template](https://github.com/hashicorp/consul-template), which does what I was suggesting above. It loads the secrets from vault, dumps them into a templated config file, and then you can

[2022-06-28 16:12] alexrudd2 commented on #3441
Hmm, perhaps I should have led with this. :)
_Does pomerium "officially" support Docker Swarm, or not?_

You publish docker config files, and the [Deploy guide](https://www.pomerium.com/docs/production/production-deployment) talks a lot about horizontal scaling with as "much physical and logical separation as possible."  Docker standalone can't do that; it has to be Swarm.  A fair answer would be

[2022-06-29 04:07] hanzhe179 opened #3456 "met a problem when handle websocket connection"
Hi Experts,

Hope if anyone has every met same issue can help me on this if any configuration mistakes.
I am trying to use Pomerium to protect a website which serve websocket connection. But after the main login authentication past and the websocket service is brought up for the session, then failed on ws connection.
The error messages like below:

Jun 29 11:33:28 eoc-gate pomerium[109648]: {"leve

[2022-06-30 02:43] wasaga opened #3455 "re-initialize the ingress controller if bootstrap secrets changed"
## What happened?

perpetual error renewing lease if bootstrap secrets are rotated.

## What did you expect to happen?

when bootstrap secrets are rotated, an ingress controller has to restart as its databroker connection is no longer valid.

## How'd it happen?

rotate secrets, the bundled pomerium would be updated, but ingress controller would no longer be able to talk to the databroker.

## Wha

[2022-06-30 17:48] wasaga opened #3457 "PostgresSQL Flavour Testing"
There are number of cloud offerings that maintain PostgreSQL wire interface, yet they are not really Postgres inside.

[2022-06-30 19:31] wasaga opened #3458 "test PostgreSQL: AlloyDB compatibility"
https://cloud.google.com/alloydb

[2022-07-01 06:39] lukasmrtvy opened #3459 "ForwardAuth is broken in version >= v0.17.0"
## What happened?
Forward Auth does not work correctly in versions higher than v0.16.4. At least the Forbidden page does not work ( User is redirected to https://netdata.arm.example.com, even without proper permissions, but it's a blank page ) the browser wants to load static content from /.pomerium context.  With proper permissions, everything is working ok and the User is redirected correctly to

[2022-07-05 14:20] alexrudd2 opened #3465 "400 Bad Request: CSRF token invalid"
## What happened?

Users which had previously authenticated and accessed routes started receiving 400 Bad Requests

## What did you expect to happen?
Functional authorization

## How'd it happen?
1. Last week, users accessed routes as normal.
2. This week, they attempted to access the same routes but received the error message below.
![Screen Shot 2022-07-05 at 9 01 51 AM](https://user-images.gith

[2022-07-05 15:07] desimone commented on #3441
This should be possible with #3453

[2022-07-05 15:13] desimone commented on #3465
Thanks for the detailed issue @alexrudd2

What was the user doing when they hit the CSRF error? Typically, we only check that value on protected pomerium endpoints. I've only seen the error when services had differing `shared_secret` /  `cookie_secret` values. Do all your services use the same values there? Were the rolled by any chance?

[code]

Suggests that `access_token` associated with that u

[2022-07-05 15:23] alexrudd2 commented on #3465
This happened to both myself and at least two other users, both trying to access a "normal" route behind pomerium (i.e. not any pomerium administration).  Accessing `/.pomerium`  worked fine.  Users refreshing the page and/or working appeared to fix it with no other intervention.

We only have a single all-in-one instance.

No changes this week.  Last week I had restarted pomerium a few times tryi

[2022-07-05 15:23] alexrudd2 commented on #3465
This happened to both myself and at least two other users, both trying to access a "normal" route behind pomerium (i.e. not any pomerium administration).  Accessing `/.pomerium`  worked fine.  Users refreshing the page and/or working appeared to fix it with no other intervention.

We only have a single all-in-one instance.

No changes this week.  Last week I had restarted pomerium a few times tryi

[2022-07-05 16:41] desimone commented on #3441
Reopening because this still needs to be documented. \cc @alexfornuto

[2022-07-05 20:12] alexrudd2 commented on #3441
Yup, I should have read the [Troubleshooting Guide](https://www.pomerium.com/docs/troubleshooting#redis-secret-mismatch).  o_0

I tried again using `idp_client_secret_file` instead, and it worked beautifully.

[2022-07-07 20:22] alexfornuto commented on #3441
@alexrudd2 thanks for all the useful feedback! If you don't mind, I'm going to use the content here as part of the docs updates for this feature.

[2022-07-07 21:27] alexfornuto commented on #3441
Just curious... Why not add these values as secrets and then use them to generate the env vars in the compose file? There's an example of this in the [Docker Swarm docs](https://docs.docker.com/engine/swarm/secrets/#use-secrets-in-compose):

[code]

[2022-07-08 00:17] alexrudd2 commented on #3441
that's exactly what this feature request was! 0_o

Re-read the example you've provided and note the `_FILE`.  Pomerium did not support this until #3453.   Swarm secrets are available to the container _at runtime_ not to docker-compose.

[2022-07-08 02:38] alexfornuto commented on #3441
...derp.

[2022-07-08 09:04] TheMisterEletric opened #3466 "Add podAntiAffinity to each one of the deployments"
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Is not possible to make a true high availability with out the podAntiAffinity, currently the same pods(Ex proxy) may run on the same node.
If that node dies the service may be affected, if the pods are on the same node
**Describe the solution you'd like**
Add the possibility to do this automatically with a

[2022-07-08 20:44] mohit2104 opened #3467 "Running into issue with cognito as identity provider"
I am using cognito identity provider to protect a simple nginx server. The authenticate phase works fine, i.e I am able to see the cognito login window and after login it redirects me to /.pomerium page showing all the details of the logged in user. However, when I navigate to nginx.example.com, it see the error

### `**"upstream connect error or disconnect/reset before headers. reset reason: conn

[2022-07-10 12:45] hanzhe179 commented on #3456
Hi @calebdoxsey, thank you very much for the answers on this.

I tried to add the option xff_num_trusted_hops as below. Also tried option skip_xff_append as true. But both no luck.

xff_num_trusted_hops: 2
routes:
  - from: https://login.example.com
    to: https://10.0.0.127
    allow_websockets: true
    allow_any_authenticated_user: true
    tls_server_name: login.example.com
    preserve_host_

[2022-07-11 14:04] #3459 closed

[2022-07-11 17:42] alexfornuto commented on #3441
Docs updates are merged, will be live with v18.

[2022-07-11 17:42] #3441 closed

[2022-07-11 21:12] kevintater opened #3473 "Alternate Pomerium URL not presenting valid SSL certificate"
## What happened?
Using "Alternate Pomerium URL" in the desktop app or --pomerium-url in the CLI for a tcp connection results in a TLS error and requires disabling tls verification to function. Pomerium proxy will return a self signed certificate.

## What did you expect to happen?

Using the "Alternate Pomerium URL" or  "--pomerium-url" feature will trigger the Pomerium proxy service to serve a d

[2022-07-12 16:54] mohit-wecp commented on #3467
Yes, so I have exposed the port 3000 to internet as well. When I open the url on the browser with :3000 at the end of the URL, the nginx page comes up. So, the nginx service is working fine.

I also curled directly to http://localhost:3000 and getting a proper response.

My main use-case however is to use code-server instead of nginx but that is having the same issue "delayed connect error: 111".

[2022-07-13 14:43] calebdoxsey commented on #1677
We could support wildcards but not like some of the examples given above. We are limited to what Envoy supports:

[2022-07-14 21:36] calebdoxsey commented on #3458
Apparently AlloyDB does not support public network access. This will require a significant amount of work for me to figure out how to do and I may not be able to get it to work at all.

[2022-07-15 02:18] vsdesai opened #3481 "Allow client TLS renegotiation"
**Is your feature request related to a problem? Please describe.**

Yes, we currently have several internal sites which are failing when trying to access them via pomerium. Pomerium is returning 503 with "upstream connect error or disconnect/reset before headers. reset reason: connection termination" to users

From pomerium logs:
 response-code-details: upstream_reset_before_response_started{conne

[2022-07-15 14:41] calebdoxsey commented on #3443
This issue needs more definition. We can implement it so the setting replaces the global setting. Or we could make it add to the global setting (so you get the headers from both the global setting and the per-route setting). Or we could do something else entirely.

[2022-07-15 18:00] desimone commented on #3443
My thinking is as follows.

1. No changes to the global setting.
2. Add a per-route setting of the same name.
3. If _both_ global and per route settings are defined, the list of passed headers are additive.

Open questions (\cc @calebdoxsey  / @enenum  / @alexfornuto ):

- Should we prevent administrators from allowing the `_pomerium` session cookie / auth-header being added to this list for secur

[2022-07-17 18:56] v4dkou commented on #1677
@calebdoxsey The quoted part with partial wildcards is not something I made up, but rather a part of the Envoy v2 documentation.

The link to the relevant Envoy doc from the original post is dead, here's the new link for Envoy v3
https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto

(see description of the `domains` key)

Judging by this doc, Envoy **does** sup

[2022-07-18 16:41] desimone commented on #1250
Related discussion:

- https://discuss.pomerium.com/t/keep-session-alive/118

[2022-07-20 03:10] wasaga opened #3494 "move certificate b64 bytestring / file path logic into mapstructure hook"
I see we accept both files and b64 strings there. That explains how cert data from the databroker got into the `certFile` field. https://github.com/pomerium/internal/issues/915

may I suggest we resolve the confusion by
- renaming `CertificateFiles` var into `Certificates`
- renaming `certificateFilePair` type into `certificatePair`
- adding `certBytes` and `keyBytes` to `certificatePair`
- writin

[2022-07-20 15:25] yegle opened #3495 "HTTP3 support for DNS-over-HTTP3"
**Is your feature request related to a problem? Please describe.**

It was recently announced that Android supports DNS-over-HTTP3 now. I'd like to be able to use this feature and finally ditch DNS-over-TLS.

https://security.googleblog.com/2022/07/dns-over-http3-in-android.html

**Describe the solution you'd like**

Able to enable HTTP3 by default or have a global or per policy option to enable i

[2022-07-27 17:57] calebdoxsey commented on #3221
I no longer see this behavior with main. Pomerium starts even if we're unable to retrieve a certificate for one of the routes.

[2022-07-27 17:57] #3221 closed

[2022-07-27 19:42] bennycooly opened #3504 "Debug images not using distroless debug base"
## What happened?

It looks like #3185 started using the `latest` sha256 pinned image instead of the `debug` one.

## What did you expect to happen?

Tried to exec into the debug container but found no shell environments.

## How'd it happen?

1. Ran `x`
2. Clicked `y`
3. Saw error `z`

## What's your environment like?

- Pomerium version (retrieve with `pomerium --version`):
- Server Operating Sy

[2022-07-28 06:09] bennycooly opened #3505 "Istio mTLS doesn't work in strict mode due to incorrect outbound authority"
## What happened?

I've configured Istio mTLS in strict mode and deployed pomerium with `insecure_server` and `grpc_insecure` on. However, Istio is unable to match the outbound gRPC traffic coming from the pods since the authority is set to `127.0.0.1:<outbound_port>`.

Is there a way we can set the outbound authority when constructing the local Envoy gRPC outbound instance?

## What did you expec

[2022-07-28 10:31] ajcollett opened #3506 "Outlier detection and Health check aren't valid keys"
## What happened?
When using Outlier detection, and the health_checks (in any combo) they are not used, and I see:
[code]

in the logs.

This was on 0.17.03 and 0.18
## What did you expect to happen?

Outlier detection and healthchecks should work, and not be thrown out by config.

## How'd it happen?
Added the settings to the config, and observed the above logs.

Then restarted pomerium, and foun

[2022-07-28 18:09] EdgardGomez commented on #3431
![Annotation 2022-07-28 130914](https://user-images.githubusercontent.com/93156387/181607521-6bbb1104-9980-46ba-847a-f2911fce270d.png)

[2022-07-28 18:10] EdgardGomez commented on #3431
![Annotation 2022-07-28 131018](https://user-images.githubusercontent.com/93156387/181607717-b10122c7-c1db-457a-a0e3-bb21b730fdbc.png)

[2022-07-28 18:15] alexrudd2 commented on #3431
Some context here: somewhere around 12:30PM local time GlusterFS went down, which is used for storage by the databroker backend redis at `/media/glusterdata/pomerium-redis`. Redis therefore had its disk file handles yanked from under it, but its memory store would have been otherwise unaffected.
[code]

I brought back up GlusterFS after 1PM.  Some users (such as me) remained logged in fine.  Eddy