[2020-10-14 19:57] spencergilbert commented on #1490
I'll see if I can find some time to check it out

[2020-10-15 16:34] desimone commented on #1517
Related to #1112

[2020-10-15 16:41] jawabuu commented on #1517
@desimone How can the auth server be modified so that these headers are returned?

[2020-10-15 16:45] jawabuu commented on #1517
Additional context for GItlab OIDC which may be related.
JWT, Email and Groups are returned. However Name, Nickname are not.

[2020-10-15 16:59] calebdoxsey commented on #1517
Hi @jawabuu,

We don't currently support arbitrary claims from the id/access tokens. We use directory provider information to fill the corresponding groups and email claims. Since generic OIDC doesn't have a directory provider this limits its usability.

We should be able to store the arbitrary claims returned from the tokens in the session itself and then pass them through as claim headers. We wi

[2020-10-15 17:05] jawabuu commented on #1517
Hey @calebdoxsey Thank you for the explanation.
Just to be clear, is directory provider information along the lines of querying the `userinfo_endpoint` for example?

[2020-10-15 17:11] jawabuu commented on #1517
If this is the case, would an implementation for using the `client_id` and `client_secret` as the `service_account` for OIDC provider make sense?
Then the querying would be done on the `user_info` url returned form `<auth_server>/.well-known/openid-configuration`
The only requirement being that the OIDC provider is standards-compliant.
This IMHO may be a quicker, more general resolution to OIDC th

[2020-10-16 03:33] desimone commented on #1518
Hey @mattotodd , thanks for making an issue!

The documentation is [actually outdated here](https://master.docs.pomerium.io/docs/topics/programmatic-access.html#handling-expiration-and-revocation) (#1316) as we now handle session refresh work on the backend as part of the cache/databroker service. That said, scripts should still anticipate that Pomerium may fail to refresh the parent refresh_token

[2020-10-16 03:33] #1518 closed

[2020-10-16 03:35] #1499 closed

[2020-10-16 03:36] desimone commented on #1498
Hi @Hokwang -- Thank you for the issue and we would very much welcome a PR with the updated recipe.

[2020-10-16 03:37] desimone commented on #1497
@whs would you be able to test if #1505 provides the expected behavior in your deployment?

Thanks!

[2020-10-16 03:40] desimone commented on #1472
Gsuite is now..... 🥁 .... Google Workspaces!

Also related #1052

[2020-10-16 03:59] desimone commented on #1341
@devstein / @KevDBG  -- Are you able to test this on v0.10.6?

[2020-10-16 04:03] desimone commented on #591
I believe this is _partially_ resolved as we now support [path, regex, and prefix](https://pomerium.com/reference/#path) based routing capabilities as of #615.

We do not support different routes for method.

@sylr let me know if you disagree!

[2020-10-16 04:03] #591 closed

[2020-10-16 04:04] #525 closed

[2020-10-16 04:10] desimone commented on #821
@BenoitKnecht Currently unable to reproduce. Please reopen, and retry with the latest code if possible!

[2020-10-16 04:10] #821 closed

[2020-10-18 09:45] otherguy opened #1520 "ext_authz_error after upgrade to 0.10.6"
## What happened?

I'm running Pomerium on a Synology NAS as a Docker container. After updating the container to 0.10.6 (from 0.8.3), I get an empty `HTTP 500` response on all routes. The log shows `ext_authz_error`, but no warnings, errors or fatals.

## What did you expect to happen?

There shouldn't be any breaking changes causing this to happen.

## How'd it happen?

- fetched the new pomerium

[2020-10-19 00:11] #1392 closed

[2020-10-19 00:32] desimone opened #1532 "proxy: redirect url is not always added to dashboard links breaking impersonation"
## What happened?

Status 400 Bad Request: url cannot be empty when trying to impersonate a user.

<img width="593" alt="Screen Shot 2020-10-18 at 5 27 31 PM" src="https://user-images.githubusercontent.com/1544881/96389982-3d23eb80-1167-11eb-9386-e710762454c4.png">

I believe this is related to #1521 because there is no longer a query param which is set to the redirect url.

## What did you expect

[2020-10-19 05:30] stuartpb opened #1534 ""upstream connect error or disconnect/reset before headers. reset reason: connection termination" for any Pomerium ingress"
## What happened?

I'm running the system defined by https://github.com/stuartpb/stubernetes, ie. one where the Pomerium Helm chart is installed with these values:

[code]

As you can see from the linked definitions, I'm using Contour as my Ingress operator for the `internal` class.

When I go to either alertmanager.horn.horse or authenticate.horn.horse, I get a 503 response with this body:

[code

[2020-10-19 15:09] #1497 closed

[2020-10-19 15:10] whs commented on #1497
Sorry for not updating, I'm quite busy atm. I'll let you know asap when I'm available to test both pprof and this

[2020-10-19 15:17] desimone commented on #1497
@whs Totally understand. The fix should now be on master. I've been able to manually confirm the fix but wanted to ping you as well. Thanks again for reporting the issue.

[2020-10-19 15:56] ChipWolf opened #1535 "Operator not writing any policies"
## What happened?
We recently took one of our cluster configurations purposed for deployment on AWS out of cold storage, reimplemented it for bare-metal use, and deployed it to machines supplied by a new provider.

The annotations for the Pomerium operator are present on our ingresses, however, the operator doesn't appear to be generating any policy configuration so all endpoints are returning 403

[2020-10-19 16:28] ChipWolf commented on #1535
The cluster hasn't been used since the chart version v10.1.4, now we're running the latest.
I can't see anything in the changelogs or upgrade processes which would indicate a cause, perhaps I've missed something?

[2020-10-19 16:44] ChipWolf commented on #1535
@travisgroth I've now managed to 'fix' this by setting `operator.config.ingressClass` to `nginx`, but I'm not sure if this is the intended configuration.

I understand now the operator adds `pomerium` as an ingress class, which must be a relatively new thing as I distinctly remember it looking for `kubernetes.io/ingress.class: nginx` previously.

[2020-10-19 17:48] travisgroth commented on #1535
Hi Chad - Yes that would be the issue.  The operator will match ingresses that either (10 have no ingress.class set, or (2) have the same ingress class as the operator set.  This is similar to how ingress controllers use the same annotation.

Thanks for following up.  Going to close this as it's working as expected.

[2020-10-19 17:48] #1535 closed

[2020-10-19 17:55] jtheo opened #1536 "Authenticate lose original URI (Pomerium v0.10.x with Nginx)"
I apology in advanced if it's a problem already discussed (and maybe solved), it could be a duplicate of [issue #1248](https://github.com/pomerium/pomerium/issues/1248), and potentially connected to [PR #1447](https://github.com/pomerium/pomerium/pull/1447). I tried to dig in the issues and the PRs already opened, but I couldn't find the solution.

## What happened?
I'm using Pomerium with Nginx l

[2020-10-19 18:03] travisgroth commented on #1534
Hi @stuartpb,

This is expected since those are secure ports.  Try:

`curl --insecure https://pomerium-authenticate.pomerium.svc.cluster.local:443 -v`.  You should get a 404, at least.

It sounds like your ingress controller isn't using TLS to speak to the upstream pomerium services.  There's usually an annotation to set this behavior.

The helm chart also has an insecure mode, but we only recomme

[2020-10-19 18:08] travisgroth commented on #1279
Closing this out as we've put in a way to limit the length of lingering connections.

[2020-10-19 18:08] #1279 closed

[2020-10-19 23:20] stuartpb commented on #1534
Got it. Fixed this by setting this in the Helm values so Contour will connect to the Pomerium services via TLS-wrapped HTTP/2:

[code]

[2020-10-19 23:22] #1534 closed

[2020-10-19 23:28] stuartpb commented on #1534
This would have been easier to debug if Pomerium logged incoming non-TLS connection failures.

[2020-10-20 01:19] stuartpb opened #1537 "TLS error when connecting to Kubernetes Dashboard via proxy"
## What happened?

I have this policy defined in my configuration:

[code]

While I can connect to other internal services via the Pomerium proxy, when I try to connect to https://kubernetes-dashboard.horn.horse, after going through the authentication cycle I get a 503 error back with this message:

[code]

When I run `kubectl logs` for the proxy container, here's the event I see corresponding to

[2020-10-20 01:32] stuartpb commented on #1537
I just realized that I had `protocolHttp: true` set on my Helm Release of the dashboard. Removing that, as you'd probably expect, restored the Dashboard's TLS connectivity, fixing this issue.

[2020-10-20 01:32] #1537 closed

[2020-10-20 02:19] travisgroth commented on #1534
FYI, you should see something like this if you set log level to `debug`:

[code]

[2020-10-20 02:55] whs commented on #1497
I'm still seeing this behavior:

[code]

[2020-10-20 03:16] whs commented on #1497
I think what happened is that the internal envoy probably pass the request to some other pomerium services for authZ. That service check its own env for expected forward host which is different, so it return 302.

I tried reading the source, but I'm not familiar with how XDS work so I'm not sure if this is the case. If it is, then I'll open a new ticket requesting for support of this internal forw

[2020-10-20 03:22] whs commented on #1497
Seems like settings authN to the internal URL does fix this

[2020-10-20 23:56] whs commented on #1496
Seems like the redis pool is leaking? https://upload.disroot.org/r/zvsnfA9u#yWX1aacRmI0iKXE2Vu1FByDnNXPrqjYJEwwpOEsKb1w=

[2020-10-21 03:55] desimone commented on #1520
Hey @otherguy !

Thank you for your detailed bug report.

A few things jump out at me.

[code]

[code]

[code]

[code]

I'm a little confused by the interplay of the certificate settings `certificate_file*` / `auto_cert` / and `SSL_CERT_FILE` as well as the `VIRTUAL_` settings.

Some other ideas, some of the old internal-url's are no longer required.

[code]

[2020-10-21 16:33] desimone commented on #1536
@jtheo Thank you for your detailed issue. I think I have an idea what's going on here. Will investigate and get back to you.

[2020-10-21 16:59] jtheo commented on #1536
Thank you very much.
I was trying to do some debug on my own but I'm not really proficient in go, and when it starts in debug mode it seems to work as expected...

[2020-10-21 17:09] desimone commented on #1536
Oh, that's strange. So if debug mode is set it works as expected?!?

[2020-10-21 19:33] jtheo commented on #1536
So sorry, my last message was misleading.

I assumed that docker tag latest was the last build and not the last stable.

It's working in "debug" mode because the code is the one from the master, being precise the one from 2 days ago (9be50c712e23440011a44be56c004e0bd6db362d) AND if the X-Forwarded-Uri in proxy.conf is commented.

I've rerun some tests using pomerium/pomerium:master and
- With the

[2020-10-22 08:46] psychomelet commented on #1402
Any updates on this issue, the problem prevents us from upgrading pomerium.

Maybe we can add an option in config to bring back the feature when we're thinking about it?

[2020-10-22 11:30] travisgroth opened #1541 "Okta logout error"
## What happened?

When logging out from the dashboard screen on the authenticate service, we wind up redirected to Okta's signout and get the following error:

`{"errorCode":"invalid_client","errorSummary":"Invalid value for 'client_id' parameter.","errorLink":"invalid_client","errorId":"oaemDBAXkH3TCy9o7SQlux2Ug","errorCauses":[]}`

We are signed out of Pomerium, but not Okta.

## What did you e

[2020-10-22 14:31] otherguy commented on #1520
@desimone thank you for your help!

I followed your advice and removed `AUTHORIZE_INTERNAL_URL`, `AUTHORIZE_SERVICE_URL` and `AUTHENTICATE_INTERNAL_URL` as well as `AUTOCERT_DIR`, as it is not needed -- like you mentioned.

After a container restart, everything works as expected, which, ironically, I did not expect!

This line still shows up and I assume it's because there is no `/etc/ssl/certs/ca

[2020-10-22 14:31] #1520 closed

[2020-10-22 15:10] desimone commented on #1520
@otherguy great to hear 🥳

[2020-10-22 22:09] otherguy commented on #1520
Thanks :) Would be interesting what causes it and maybe it would be useful to add a check for environment variables that cause this issue.

[2020-10-23 06:49] pflipp commented on #1541
I also have troubles on logout with [ory/hydra](https://github.com/ory/hydra). While the symptom is not exactly the same, the cause could be.
hydra returns back to pomerium which, as it cleared the session before, immediately returns back to hydra so i'm logged in again.
hydra returns the error:

referencing to https://openid.net/specs/openid-connect-rpinitiated-1_0.html#RPLogout the `id_token_hin

[2020-10-26 06:28] robincher opened #1553 "Pomerium Docker Container - Defining IAP OIDC Client Secret , URL and ID via container env variables"
**Is your feature request related to a problem? Please describe.**

Hi ,

This is more of a questions (there could be existing capability that i might not know) than actual feature request.

I am attempting to set-up Pomerium in my kubernetes cluster with GitOps process, and managed to follow the quick-start guide.

Just a question, can i set these parameters as container env variables?

[code]

A

[2020-10-26 09:00] toshipp opened #1554 "An error is logged with github authentication."
## What happened?

When I log in to my service with pomerium using github authentication,
An attached error has appeared in the log.
BTW, I can login to the service successfully.

## What did you expect to happen?

No error should happen.

## How'd it happen?

1. Browse my service URL backed by pomerium.
2. Log in with github.com
3. Saw the error in log

## What's your environment like?

- Pomeriu

[2020-10-26 15:14] desimone commented on #1553
Hey @robincher  -- yes it's possible to set any configuration variables [as environmental variables](https://pomerium.com/reference/#configuration-settings). See [this example](https://github.com/pomerium/pomerium/blob/master/examples/config/config.example.env)

[2020-10-26 15:14] #1553 closed

[2020-10-26 16:17] calebdoxsey commented on #1375
@sly-net I've merged a change to master in https://github.com/pomerium/pomerium/pull/1542 that should provide this functionality. It matches the example you provided so hopefully should work if you want to try it. I've only tested it with azure, which also has many custom claims, and it worked for that. Let me know if you have any trouble.

[2020-10-26 16:20] #1541 closed

[2020-10-26 16:22] calebdoxsey commented on #1541
@pflipp I've merged a change to master that should fix the issue. It's based on your changes, so thanks for the contribution.

[2020-10-26 23:49] sly-net commented on #1375
@calebdoxsey I've just tested your change. It works very well. Good improvement! Thanks :raised_hands:
[code]

[2020-10-27 10:09] pflipp commented on #1541
cool, thank you for finalizing @calebdoxsey

[2020-10-28 08:06] alceasan commented on #1352
Have you considered using Docker Hub for multi arch builds? [https://github.com/docker/build-push-action](https://github.com/docker/build-push-action)

[2020-10-28 12:54] laszlocph commented on #573
Right now with Github, none of `allowed_users`, `allowed_groups`, and `AllowedDomains` give the right options for me as an operator. I want to grant access to everyone who is part of a Github org.

- `allowed_users` does not scale

- As an org matures, first they need to grant access to everyone who is part of the Github organization.
Today this is not possible.
`AllowedDomains` might achieve some

[2020-10-28 14:34] travisgroth commented on #1352
Hi @alceasan - yes, we have.  It requires refactoring some of the build pipeline and still depends on an architecture appropriate version of envoy.

We're looking at how to approach this in the near future.

[2020-10-28 15:56] #1375 closed

[2020-10-29 10:13] MattiasGees opened #1558 "Dashboard can't evaluate field GetClaim"
## What happened?

When visiting https://example.com/.pomerium I am getting an internal 500 server error. I wanted to test the new claims future that has been introduced for policy checking.

<img width="768" alt="Screenshot 2020-10-29 at 10 07 30" src="https://user-images.githubusercontent.com/2216724/97554425-a6f58e00-19ce-11eb-8a7a-c9714a734545.png">

## What did you expect to happen?

To see m

[2020-10-29 11:00] davidcollom opened #1559 "Issue with URL Encoded strings in URI"
## What happened?
When visiting a URL with `%0A` in the URI we receive a 403 response from nginx-ingress, and no request make it to the backend service.

## What did you expect to happen?
A successful request to the backend service

## How'd it happen?

1. Visit https://web-test.example.com/random/%0A/path/ - Fail (403)
2. Visit https://web-test.example.com/?query=testing%0A1234 - Fail (403)
3. Vi

[2020-10-29 11:10] chauffer commented on #1536
I have (and have had for as long as this remember) this issue in Kubernetes deployments.

[2020-10-29 14:14] calebdoxsey commented on #1558
Oops. I broke this because I forgot this method was used in the dashboard template. I'll work on a fix.

[2020-10-29 16:49] #1558 closed

[2020-10-29 16:49] calebdoxsey commented on #1558
@MattiasGees I just merged a change that should fix this in master. Apologies for the regression.

[2020-10-29 19:58] enenum opened #1561 "identity/oidc: could not connect to oidc - x509: certificate signed by unknown authority"
## What happened?
Error: cmd/pomerium error="error creating authenticate service: identity/oidc: could not connect to oidc: Get \"https://<idp keycloak url>/.well-known/openid-configuration\": x509: certificate signed by unknown authority"

## What did you expect to happen?
Pomerium to connect to IDP without problem

## How'd it happen?
[code]
1. Made a pod with this and the supporting resources
2

[2020-10-29 22:43] desimone commented on #1561
Hey @enenum,

Does your identity provider require client certificates to read the `well-known/openid-configuration` endpoint in addition to trusting the same (self-signed/ custom?) CA?

By default, Pomerium will use Go's HTTP client which uses the underlying system's default certificate storage location to connect to the OpenID Connect providers discovery endpoint. Can you add the CAs to the syste

[2020-10-29 23:19] calebdoxsey commented on #1559
@davidcollom it looks like we should be using `$escaped_request_uri` instead of `$request_uri`. Could you try swapping it out in your annotations:

[code]

If that fixes it I will update our docs and examples.

[2020-10-30 00:00] desimone commented on #1536
@jtheo  -- Can you share your nginx config? The example config does not have `X-Forwarded-Uri` nor does nginx-ingress generate one. Did you add it, or do you mean `X-Original-URL`?

[2020-10-30 01:22] enenum commented on #1561
Thanks @desimone
That works. I mounted the ca in the /etc/ssl/certs folder - since pomerium is build with a distro-less base container, it is not possible to copy files or run any utilities to shuffle files around...

[2020-10-30 02:44] desimone commented on #1536
@jtheo / @chauffer - just to follow up a little further here, I am not able to reproduce the forward-auth redirect issue on master using the nginx configuration.

Here's a video: https://youtu.be/ui6oJY0a_fU

[2020-10-30 03:18] #1554 closed

[2020-10-30 03:27] desimone commented on #1561
Just to clarify -- were you able to get it working or no?

I think we can leverage the existing certificate authority settings here similar to the following:

https://github.com/pomerium/pomerium/blob/cf0a93f429cc04c3a16bcc34e7934ed6f73afb2b/pkg/grpc/client.go#L103-L126

[2020-10-30 03:57] enenum commented on #1561
I was able to get past that step - because although can't add the cert to the trust the regular way, mounting it works.

Now I am getting status code 495 - I think from some of the following steps. I see a couple 200's in the pomerium pod log and then the 495. I am not sure I understand how some the intermediate authorization steps need to be configured.

[code]

[2020-10-30 04:07] desimone commented on #1561
Pomerium takes care of all of that. If you have a single node, you should be able to run roughly the following (assuming you have port 443 available externally)

[code]

[2020-10-30 09:40] MattiasGees commented on #1558
Thanks, tested it and it works

[2020-10-30 10:03] davidcollom commented on #1559
Hi @calebdoxsey thanks for your reply. Unfortunately this caused more issues than expected, I was unable to complete the Authentication flow to the backend service with the changes suggested 😞

It did seem a reasonable change, however it looks as though Pomerium wasn't able to decode/unescape correctly.
Quickly looking at the logs, it appears that the query string was prepended multiple times befo

[2020-10-30 15:04] chauffer commented on #1536
@desimone I confirm that it indeed works with `pomerium/pomerium:master`! not in 0.10.6, though.

[2020-10-30 16:59] desimone commented on #1559
@davidcollom -- Could you provide an example URL that pomerium is tripping up on to see if we can replicate on our end?

Thanks!

[2020-10-30 18:04] enenum commented on #1561
By available externally, does that mean a nodeport service for instance?

[2020-10-30 18:11] desimone commented on #1536
@chauffer / @jtheo  thank you for testing.

Glad to hear. We should have this part of v0.11.0 which should be released soon.

[2020-10-30 18:11] #1536 closed

[2020-10-30 22:22] desimone commented on #1559
Hey @davidcollom - Could you elaborate a bit more about the upstream application that is using newlines in query params?

[2020-10-30 22:26] davidcollom commented on #1559
Sure, the upstream is Prometheus, alertmanager and grafana. When a query to Prometheus has new lines in, is where the main issue was observed.

For the interim I've switch grafana to POST over GET requests as a means of work around for the time being.

I can try and get some logs from the proposed changes, but it could take me a while to ensure that I've truly redacted all data as it appears doubl

[2020-10-30 22:45] desimone commented on #1559
Thanks for the additional details @davidcollom !

Interesting! Did you notice issues with any other special characters? We experimented some with the obvious ones like spaces but did not find the same behavior.

Glad you have a temporary workaround.

Thanks -- that would be helpful if it's possible, but I understand that it may difficult due to the sensitivity of the underlying logs. In the meanti

[2020-11-01 13:34] AlexShuraits commented on #1015
Hi @cuonglm after upgrading to 0.10.6 a week ago I can't reproduce the issue. Looks like it has been fixed.

[2020-11-01 13:34] #1015 closed

[2020-11-01 17:36] desimone commented on #1517
Related context:

Now that we support arbitrary claims via the id_token, I think this is worth another look. It might make sense to further enrich the user's identity context by pulling claims from the user endpoint s well. Right now it looks like the UserInfo endpoint is _just_ being used to check on a few standard claims like Subject / Email / Email_Verified. Also, we just do it on authenticatio

[2020-11-01 18:28] lukasmrtvy opened #1564 "(bug): X-Pomerium-* headers are not injected in master"
`X-Pomerium-Jwt-Assertion` and `X-Pomerium-Claim-*`  headers are not injected when `pass_identity_headers` is true in `pomerium/pomerium:master@sha256:85b9aef581ab23e70e88a82eb9b2066053c027315c8abbe6dcb90c6a96bd4bf2` docker image.

Its working correctly in v0.10.6

Thanks

[2020-11-02 14:34] #1490 closed

[2020-11-02 17:38] jmalobicky opened #1569 "pomerium_redirect_uri goes to https on insecure setup"
## What happened?

Setting the server to use `insecure_server: true` keeps setting the `pomerium_redirect_uri` in http-request to use https instead of http. In the browser, a 400 Bad Request: CSRF token invalid is after selecting the user to authenticate with.

## What did you expect to happen?

Able to use localhost for verifying services locally with Docker

## How'd it happen?

1. Ran `docker r

[2020-11-02 21:21] travisgroth opened #1570 "Support CERTIFICATE_AUTHORITY for internal http client"
**Is your feature request related to a problem? Please describe.**

Cannot connect to a directory sync or OIDC endpoint with a TLS certificate from a custom CA.

**Describe the solution you'd like**

The `CERTIFICATE_AUTHORITY` option should update the trusted certificates used by our http client in addition to the grpc client.  Ideally this should be a common client that is used by any components

[2020-11-02 21:29] travisgroth opened #1571 "Call IdP user info endpoint on session refresh"
**Is your feature request related to a problem? Please describe.**

Currently we hit the user info endpoint for claims upon initial session creation but do not update the claims we have stored when a user's session is refreshed.

**Describe the solution you'd like**

Call the user info endpoint upon session refresh.

**Describe alternatives you've considered**

N/A

**Explain any additional use-ca

[2020-11-02 23:28] desimone commented on #1561
@enenum  -- I'm a little confused by those 495 errors myself. Is there some mTLS going on in this stack?

[2020-11-03 05:24] desimone commented on #1564
This looks like a regression from the latest stable. Previously, we added any `X-Pomerium-*` to the _RESPONSE_ headers when being used in a forward-auth mode and I believe that logic got missed in the forward-auth refactor (#1313) .

[2020-11-03 06:42] jawabuu commented on #1570
@travisgroth
Would you also consider a `server_name` option similar to you `tls_server_name` config?

[2020-11-03 12:27] travisgroth commented on #1570
@jawabuu additional CA certs relatively harmless to apply to all connections, so this issue is specifically scoped that way.

To enable server name overrides it would need to be specific to each client, which requires a bit more care and configuration options.  Would you mind opening a feature request with details?

[2020-11-03 14:59] #1571 closed

[2020-11-03 16:09] sylr opened #1573 "Revamp settings documentation"
Hi,

The current layout of the settings documentation is very frustrating when setting up pomerium. Especially when you break down every components and don't use the All in One setup.

It would really be appreciated if you could have **one section per component with the complete list of available settings for that component**.

I know it implies duplicating a lot of things across sections but for

[2020-11-03 19:22] salekseev commented on #1559
I'm encountering the same issue with another application https://kubecost.com/

[2020-11-03 19:32] desimone commented on #1559
@salekseev Do you mind providing the (redacted) url that caused the problem?

[2020-11-04 01:20] salekseev commented on #1559
Turns out it's also a grafana application on the backend...

For example:
[code]

[2020-11-04 11:20] Mberga14 commented on #1397
Hey @calebdoxsey , I finally found the time to upgrade pomerium and test it out, but my problem is still persising.  I have tested this with dynamic and assigned groups but I cannot get it working. Current setup is like this:

* Group1, which is in the `allowed_groups` part of the pomerium config, users in here can access my page
* Group2, which is part of group1, and pomerium reports that users a

[2020-11-04 17:01] calebdoxsey commented on #1570
Looking at the go code there may be two consequences from appending a custom CA to the root CAs:

1. HTTP/2 may be disabled by default
2. We will need to duplicate the search process for root CAs, which could result in code drift, and doesn't seem to account for windows, which uses an entirely different mechanism for root CAs.

The other option would be to replace the root CA entirely (which would

[2020-11-04 18:15] namelivia commented on #1282
I may be wrong, but I would say this scenario is very similar to the one discussed on #1402

[2020-11-04 19:01] andreyvital commented on #1282
Yeah @namelivia—sort of!

[2020-11-04 22:35] #1570 closed

[2020-11-05 00:44] desimone commented on #1561
Closing as I believe the initial issue is fixed by by either:

 - configuration per https://github.com/pomerium/pomerium/issues/1561#issuecomment-719065681
- @calebdoxsey 's PR https://github.com/pomerium/pomerium/pull/1576

[2020-11-05 00:44] #1561 closed

[2020-11-05 01:34] desimone commented on #1517
@jawabuu  I believe this is fixed by @calebdoxsey 's PR https://github.com/pomerium/pomerium/pull/1572

[2020-11-05 01:34] #1517 closed

[2020-11-05 13:30] servo1x commented on #1112
This would be great because our org has restricted access to the user info endpoint and do not want to provide full access to reading group directory data on azure.

[2020-11-05 17:31] #1564 closed

[2020-11-05 21:56] travisgroth commented on #1569
Hi @jmalobicky - we only support `https` as a scheme for the application and authentication redirects.  This is primarily for security reasons, though there are some implementation reasons as well.

If you wish to use pomerium itself in an inscure mode, you need a proxy in front of it to terminate https.  If you could share a little about the use case here we might be able to make some recommendat

[2020-11-05 22:12] namelivia opened #1580 "Configuration Example for integrating with an existing reverse proxy"
On previous versions of pomerium there [was an example for NGINX microservices](https://0-4-0.docs.pomerium.io/docs/reference/examples.html#docker). I've read that was the proper way of integrating pomerium with an existing reverse proxy like [jwilder/nginx-proxy](https://github.com/jwilder/nginx-proxy). However I've not been able to find documentation for such an scenario in the latest versions,

[2020-11-05 22:22] jmalobicky commented on #1569
Hello @travisgroth, the use case I was trying to operate with was a local development environment where I/other devs on the team would not need to generate certs or use of something like Let's Encrypt all for localhost. There is nginx sitting behind pomerium listening on a different port, 8181, in the config I listed.

In production, I will have valid certificates where this is not an issue and wo

[2020-11-06 08:53] pflipp opened #1581 "authenticate: endpoint for Single Sign Out with oidc frontchannel-logout"
**Is your feature request related to a problem? Please describe.**

Logging out on the idP from a different client does not destroy the session on Pomerium.

**Describe the solution you'd like**

A endpoint like `/oauth2/sessions/frontchannel-logout` which just terminates the session (if it exists).

Many idPs let you register a endpoint to terminate the session within an iframe during the logout

[2020-11-06 14:49] bazzuka commented on #1341
I am seeing still empty groups in 0.10.6.

[2020-11-06 15:49] desimone commented on #1341
@bazzuka -- could you provide your redacted configuration?

[2020-11-06 17:09] travisgroth commented on #1569
For local testing, I'd recommend putting https://mitmproxy.org/ in front of pomerium.  It's the lowest friction method that I've found.

https://github.com/FiloSottile/mkcert is another good option for generating certs, though it does require you run a command for initial setup.  mitmproxy is a bit more automatic.

Yes this is unfortunately easy to get tripped up on.  While we support the immediat

[2020-11-06 17:10] #1569 closed

[2020-11-08 13:04] bazzuka commented on #1341
[code]

[2020-11-08 13:21] bazzuka commented on #1341
<img width="822" alt="Screen Shot 2020-11-08 at 3 07 15 PM" src="https://user-images.githubusercontent.com/15695060/98466070-e5145e00-21d5-11eb-9b1b-bcccdab1e384.png">
<img width="996" alt="Screen Shot 2020-11-08 at 3 17 47 PM" src="https://user-images.githubusercontent.com/15695060/98466090-f8272e00-21d5-11eb-8be0-9bd451d25295.png">
<img width="756" alt="Screen Shot 2020-11-08 at 3 18 20 PM" src=

[2020-11-08 13:25] bazzuka commented on #1341
[code]

[2020-11-09 04:53] desimone commented on #1342
I believe this can be resolved per https://github.com/pomerium/pomerium/issues/1472#issue-711998960

Let me know if that is not the case @haohaolee

[2020-11-09 04:53] #1342 closed

[2020-11-09 18:15] desimone commented on #1580
Hey @namelivia  -- thanks for making this issue.

If you are already using nginx-proxy, yes. Otherwise, Pomerium is suitable to be used without a fronting proxy (we use Envoy to do the heavy lifting). Can you tell me a bit more about your setup?

It's still there:

https://github.com/pomerium/pomerium/blob/eb19d6e125679a179112faec03f00f28cfbdded9/examples/docker/nginx.docker-compose.yml#L1-L103

b

[2020-11-09 22:23] desimone commented on #1341
@bazzuka do you mind posting a complete (but redacted) gist of your logs?

[2020-11-10 02:49] desimone commented on #1559
@salekseev  / @davidcollom / @MattiasGees I believe I have a fix. if you are able to test #1578 that would be a huge help.

Thanks!

[2020-11-10 05:05] desimone commented on #1581
Hey @pflipp,

Thanks for making the issue, and PR! I'm not familiar with the front channel draft spec, so I'll need to spend some time with that. You mention that

Would you mind linking to a few IdPs that do this, and maybe a few concrete use-cases just to help me get my head around this?

At first glance, I think this is totally doable, I just need to familiarize myself a bit more.

[2020-11-10 07:42] yegle opened #1587 "Allow per-policy mTLS support"
**Is your feature request related to a problem? Please describe.**

Most of my reverse proxied websites are accessed from a browser. Using IDP to authorize/authenticate is not an issue.

There are handful of the them that are accessed from Android apps, example includes Bitwarden and HomeAssistant. They usually have their own user authentication method (username+password) and the upstream projects

[2020-11-10 07:44] yegle commented on #1587
I think this is technically feasible based on my read of Go's tls package. Setting either `GetCertificate` or `GetConfigForClient` on `tls.Config` should do the trick: http://go/godoc/crypto/tls/#Config

[2020-11-10 13:20] bazzuka commented on #1341
[logs.txt](https://github.com/pomerium/pomerium/files/5517498/logs.txt)
@desimone

[2020-11-10 14:33] ajcollett opened #1588 "Struggling with JWT Claims Headers"
Hi,

So I have a similar forward-auth setup as: https://www.pomerium.io/guides/nginx.html
With Pom v0.10.6 and NGINX as the Reverse Proxy.

I have set my NGINX config for my site as linked, here's the full thing with extra headers:
[code]
I have also enable the claims with an Env Var
[code]
And in Policy:
[code]

I can reach my final site, but the Name, Email and User `X-Pomerium-Claim`s don't see

[2020-11-10 17:32] davidcollom commented on #1559
Hey @desimone,
Just tried this on our dev cluster and all looks great! I confirmed multiple endpoints and query's.
For additional clarity I did NOT change the nginx-ingress annotations for this which was previously suggested.

[2020-11-12 02:30] desimone commented on #1402
Hey @psychomelet

I am reluctant to support this functionality as the pomerium session cookie  was never intended to be used this way; unfortunately, if using forward authentication we don't control what cookies are stripped or not so I can see how you ended up thinking it was okay to use for this purpose.

As a work around, would it be possible to use the recently introduced jwt endpoint instead?

[2020-11-12 02:33] desimone commented on #1402
(closing because this does feel like a dupe of #1282 but happy to continue the discussion there)...

[2020-11-12 02:33] #1402 closed

[2020-11-12 02:35] desimone commented on #1282
Hey @andreyvital / @namelivia --

As a work around, would it be possible to use the recently introduced jwt endpoint instead?

- #1369 (comment)
- #1446

[2020-11-12 08:37] namelivia commented on #1580
Thank you for helping me!
My setup is the following, I normally to run virtual hosts with dockerized web applications on them, it also runs `jwilder/nginx-proxy` and [docker-letsencrypt-nginx-proxy-companion](https://github.com/nginx-proxy/docker-letsencrypt-nginx-proxy-companion).That way I can point `https://app1.mydomain.com`, `https://app2.mydomain.com`, `https://app3.mydomain.com` to the host

[2020-11-12 17:09] namelivia commented on #1580
Nevermind! I got it, I read your answer [here](https://github.com/pomerium/pomerium/issues/490) and found out that `GRPC_INSECURE=TRUE` is also needed on the ` pomerium-authenticate` so it opens the connection as insecure, not just on ` pomerium-cache`, it works now!

So as a summary, what was missing for my particular case was:
- A docker network for all pomerium containers.
- Setting `databroker

[2020-11-12 17:09] #1580 closed

[2020-11-12 18:10] #1559 closed

[2020-11-17 04:31] desimone commented on #1112
@servo1x et al,

I believe this is fixed as part of https://github.com/pomerium/pomerium/pull/1542 by @calebdoxsey

[2020-11-17 04:31] #1112 closed

[2020-11-18 18:13] calebdoxsey commented on #1341
@bazzuka is your `idp_service_account` setup with an API token in this format:

[code]

https://www.pomerium.io/docs/identity-providers/okta.html#service-account ?

If the databroker is unable to sync groups there should be an error message on startup. It'd be in the logs of the databroker (cache) service. Do you see anything there?

[2020-11-18 19:03] calebdoxsey commented on #1397
@Mberga14 sorry for the delayed response. I've not been able to reproduce this issue. Perhaps there's something different about the configuration I'm using?

I have a user that pomerium sees in these groups:

[code]

Group `f8f3e689-668d-4536-a37b-7a7d24e4795b` is named `child` and has a single user member.

![Screenshot from 2020-11-18 12-00-53](https://user-images.githubusercontent.com/395272/99

[2020-11-18 21:25] travisgroth opened #1599 "Large directory sync prevents databroker from starting"
## What happened?

Failed to start up after syncing a large user and group population with redis storage backend

## What did you expect to happen?

Subsequent starts to be successful.

## How'd it happen?

1. Started pomerium with an idp_service_account configured
2. Waited for initial directory sync to complete
3. Restarted pomerium and received an error

## What's your environment like?

- Pome

[2020-11-18 21:34] travisgroth opened #1600 "Excessive connection churn with redis storage backend"
## What happened?

When doing an initial sync of a particularly large directory, pomerium eventually runs out of ephemeral ports when communicating with redis.  It leaves them all in time_wait state.  From the network perspective, it looks like we're creating and then closing a connection for each user or group object.

This can be mitigated by setting `net.ipv4.tcp_tw_reuse=1`

## What did you ex

[2020-11-19 00:02] #1599 closed

[2020-11-19 19:16] #1600 closed

[2020-11-20 00:15] desimone opened #1604 "authenticate: dashboard returns malformed user gravatar"
## What happened?

The dashboard user icon does not evaluate.

It instead evaluates to

[code]

![Screen Shot 2020-11-19 at 4.12.35 PM.png](https://images.zenhubusercontent.com/544ecc9d7c6ccc6277a58e6d/64532bac-b8e2-4e72-8583-b67ea1e8e8ef)

## What did you expect to happen?

I expect to see the user's icon.

## How'd it happen?

1. Go to https://httpbin.localhost.pomerium.io/.pomerium

## What's y

[2020-11-20 00:24] desimone commented on #1604
Thank you @spencergilbert for reporting

[2020-11-20 00:49] jawabuu opened #1605 "Azure IDP cannot support login for personal Microsoft accounts"
## What happened?
Follow pomerium guide for AzureAD.
 Created an application on AzureAD  to allow any Microsoft account to login
Pomerium exits with error code 1.
~Who can use this application or access this API?
Accounts in any organizational directory (Any Azure AD directory - Multitenant) and personal Microsoft accounts (e.g. Skype, Xbox)`
Retrieve provider url from application  endpoints
`http

[2020-11-20 02:37] desimone commented on #1605
Adding some additional context.

- https://pomerium-io.slack.com/archives/CK6SVMPU0/p1605829372137500
- https://github.com/coreos/go-oidc/blob/e05c4c73b4b5f159727021bf2921c214f61b2688/oidc.go#L141
- https://github.com/coreos/go-oidc/blob/3bc5a7eb4df0b0cb7f6e9f1f082ee815c60f77df/oidc/oidc.go#L151-L152

[2020-11-20 16:26] pflipp commented on #1581
Hi @desimone
ok, I researched the "special" Providers implemented in pomerium and it seams only Azure provides something similar: the `logoutUrl`. at least [hydra](https://www.ory.sh/hydra/docs/concepts/logout/#openid-connect-front-channel-logout-10), [connect2id](https://connect2id.com/products/server/docs/datasheet#session-mgmt) and gluu supports it but there should be more.
In standard complian

[2020-11-22 18:38] Apt1tude opened #1606 "Support Certificate Chaining for Redis Connections"
**Is your feature request related to a problem? Please describe.**

Many users use managed redis instances in the cloud, which manage their own certificates using a set of intermediate certificates and rotate them often. Currently it looks like Pomerium will only recognize certificate chains of length 1, so whenever the provider rotates their intermediate certificate, Pomerium has to be reconfigur

[2020-11-23 07:11] Mberga14 commented on #1397
Hey @calebdoxsey , the configuration you are using to test is exactly the same as I have in my environment, I am not sure why it isn't working on mine. I will test further and try to report back.

[2020-11-23 11:27] #1425 closed

[2020-11-23 14:15] calebdoxsey commented on #1397
@Mberga14 are you running the master tag (or the 0.11 rc)? I believe these changes weren't backported to 0.10.

[2020-11-24 14:31] travisgroth opened #1619 "Improve speed of authorize service startup for large directories"
**Is your feature request related to a problem? Please describe.**

Currently we load directory data in small batches to prevent message size issues, but in very large directories the current implementation can lead to excessively long startup times.

**Describe the solution you'd like**

Ideas discussed offline include paging the redis query retrieval or switching to a pure streaming model.

**De

[2020-11-24 14:45] travisgroth opened #1620 "authorize: defer listener startup until directory is loaded"
**Is your feature request related to a problem? Please describe.**

When loading directory data from the databroker service at startup, authorize will return 403 errors for group based roles.  In distributed deployments, this can lead to rolling restarts causing perceived outages by end users.

**Describe the solution you'd like**

Ideally, we would not start listening/serving until the initial di

[2020-11-24 18:21] travisgroth commented on #809
Arm64 on Linux is now supported fully.  Arm32 is still hampered by envoy, though.

I'm going to rescope this as arm32 only.

[2020-11-24 21:16] travisgroth commented on #1588
Hi @ajcollett,

- As implemented now, `set_request_headers` will not work with forward auth.  We'd recommend setting custom headers with nginx in that configuration.
- The `x-pomerium-claim-*` headers should work with forward auth.  They do come back from the forward auth call and you should just need to configure nginx to copy the header from the response to the upstream request.

[code]

Adding

[2020-11-24 23:13] desimone opened #1622 "storage/inmemory: panic on delete"
## What happened?

The cache server appears to have panic'd when refreshing a user.

## What did you expect to happen?

:)

## How'd it happen?

I do not believe Pomerium was under active use when this happened this was on my dev environment.

## What's your environment like?

- Pomerium version (retrieve with `pomerium --version`): `v0.10.0-dirty+7fd7b3f`

## What did you see in the logs?

[code]

[2020-11-25 15:33] calebdoxsey commented on #1472
I did some research into this:

1. There does not appear to be a users API, so I think we would still need to pull user data from the Admin SDK.
2. The API calls require a customer ID. I wasn't able to find a way to discover this purely from the service account or API calls, so user's would need to add it to the service account JSON.

[2020-11-25 17:44] monotek opened #1623 "pomerium cloudrun docu seems not complete"
## What happened?

After succesful login via oauth providers azure ad (gitlab.com as well) i get an 401 error, instead seeing the website:

[code]

## What did you expect to happen?

Website of the cloud run service is shown.

As the docs states that "Run Pomerium with access to a key for the corresponding service account" i guess this is the missing part, as i could not find a description of how

[2020-11-26 07:22] Mberga14 commented on #1397
@calebdoxsey  I have just noticed that helm version has not been updated yet, and I deploy pomerium to my cluster with helm. I will wait for the chart to be updated. My mistake, sorry!

[2020-11-26 19:42] monotek commented on #1623
I found the problem. I've used a custom domain for "to" in the policy.
Using the https://...-ew.a.run.app domain fixed the problem.

[2020-11-26 19:42] #1623 closed

[2020-11-27 11:01] Mberga14 commented on #1397
@calebdoxsey  Had time today to manually update the versions. Everything looks good! Thank you for your help!

[2020-11-27 11:01] #1397 closed

[2020-11-27 11:24] Mberga14 opened #1625 "Question: pomerium cache cointainer refresh time"
Hello, I have a question regarding the cache and databroker containers.
We currently have an in-memory setup and sometimes when we add people to groups it takes more than 24 hours for the cache to refresh. We have a workaround (we restart the cache, and it works instantly) but we would like to avoid restarting containers. My question is, how much time does it take for cache service to sync groups

[2020-11-28 00:19] Vad1mo opened #1626 "JWKS set should also provide RSA PKI"
At the moment JWKS set has one entry with ES-256 as RSA is quite popular pomerium should support multiple entires in JWKS.

See chat: https://pomerium-io.slack.com/archives/CK92MUAES/p1606498282249300

[2020-11-29 00:29] #1625 closed

[2020-11-29 00:36] desimone commented on #1626
Though RSA is slow, it's ubiquitous. I'm in favor of supporting it but would like to but warning cones around any actual use since (in my limited testing) it's an order of magnitude slower than EC based signing algorithms.

I'd also like to support Ed25519 / Ed448 which although technically is not part of the JOSE spec is propably the best asymmetric signature choice atm.

[2020-11-29 14:45] bazzuka commented on #1341
idp:
 serviceAccount: (output of base64 -i token.json with proper format)
[code]

[2020-11-29 14:45] bazzuka commented on #1341
idp:
 serviceAccount: (output of base64 -i token.json with proper format)
[code]

[2020-11-29 14:51] bazzuka commented on #1341
fixed by adding instead of api_token
{
    "api_key": "my_key"
}
[code]

[2020-11-30 19:21] #1619 closed

[2020-11-30 19:32] amiral-fu opened #1633 "Keycloak with `idp_service_account` and `allowed_groups`"
Hello,

## **What happened?**

From **Pomerium 0.10.0** and the change :

`config: add check to assert service account is required for policies with allowed_groups`

Use `allowed_groups` policy for access to an app is not possible without configuring `idp_service_account`.

Unfortunately, I could'nt find in the documentation the page specifying the necessary configuration for the **Keycloak** iden

[2020-11-30 20:01] calebdoxsey commented on #1620
This isn't possible to do in all-in-one mode because the listener is shared between all services. Defering the listener will also likely lead to the rolling restart issue described above, since it may take a long amount of time for the container to begin listening on the port. In kubernetes this requires setting up a readiness probe with longer timeouts than the liveness probe.

I will implement i

[2020-11-30 20:21] travisgroth commented on #1620
That all makes sense.  Any production deployment should be using some sort of health checking already, so this will create a proper signal for it.

As a follow up, we may need to expose an option for extending the probe thresholds and timing in the community helm chart.  Currently, we're using the defaults.

[2020-11-30 22:45] #1620 closed

[2020-12-01 01:14] #1626 closed

[2020-12-01 08:21] sylr opened #1638 "Authenticate user with bearer token for kubernetes-dashboard"
**Is your feature request related to a problem? Please describe.**

I don't know if it is technically feasible but I thought I would ask anyway.

I would like to be able to proxy `kubernetes-dashboard` via pomerium but, instead of using a fixed token with the `set_request_headers` directive in the policy section [as described in the documentation ](https://www.pomerium.com/guides/kubernetes-dashbo

[2020-12-01 09:17] bazzuka commented on #1341
@desimone I think we can close this issue, just update json key in documentation.

[2020-12-01 14:58] #1604 closed

[2020-12-01 15:00] calebdoxsey commented on #1341
@bazzuka it appears updated on the master branch so should get fixed when we release 0.11.

[2020-12-01 15:00] #1341 closed

[2020-12-01 17:22] LewisLebentz opened #1641 "Query one group rather than listing all for Google Workspace"
**Is your feature request related to a problem? Please describe.**
I manage a large Google Workspace (ex G Suite) domain, with 35k users and over 1k groups. I attempted to use Pomerium on Google Cloud Run but seem to be hitting API limits Google's side and timeouts on the actual container itself.

It looks like Pomerium lists _all_ groups in the accounts, which is the main cause of the limits/time

[2020-12-01 17:37] desimone opened #1642 "deployment: docker multi-arch support"
**Is your feature request related to a problem? Please describe.**

GoReleaser v0.148.0 is out, and with it, the ability to release multi-platform Docker images, a.k.a. Docker Manifests. This should make cross platform builds much easier.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Explain any additional use-cases**

**Additional context**

- https://githu

[2020-12-01 17:38] desimone commented on #1642
Oops, this is a dupe of https://github.com/pomerium/pomerium/issues/268

[2020-12-01 17:38] #1642 closed

[2020-12-01 17:38] desimone commented on #268
GoReleaser v0.148.0 is out, and with it, the ability to release multi-platform Docker images, a.k.a. Docker Manifests. This should make cross platform builds much easier.

- https://github.com/goreleaser/goreleaser/pull/1923
- https://carlosbecker.com/posts/multi-platform-docker-images-goreleaser-gh-actions/

[2020-12-01 21:23] #1622 closed

[2020-12-01 21:43] calebdoxsey commented on #1641
@LewisLebentz thanks for submitting this feature request. In the past this is something we've discussed but haven't come up with a good approach yet.

@desimone not sure querying just what's defined in `allowed_groups` would work, but we could probably add a config setting `idp_group_query`?

This is supported by:
* Google, via the above option
* Azure, via [`$filter`](https://docs.microsoft.com/e

[2020-12-01 23:14] therealmik opened #1644 "Pomerium arm64 docker images don't listen on port 443"
## What happened?

Pomerium wasn't listening on port 443

## What did you expect to happen?

Pomerium should've been listening on port 443 and proxying traffic (I think?)

## How'd it happen?

Ran `pomerium/pomerium:arm64v8-v0.10.6` docker image

Other recent images had similar/same problem.  Building myself had a glibc version conflict with the envoy binary.

## What's your environment like?

Doc

[2020-12-02 03:15] desimone commented on #1641
@calebdoxsey I think that's a reasonable approach. Though we could use what's in `allowed_groups` to auto-populate what goes into the various filter forms, I think it may be better / less error prone to leave the building of the filtering query t the end user (especially in the case where the directory api expects the filtering param to be in a different format (e.g. Onelogin).

What do you think

[2020-12-02 04:34] travisgroth commented on #1644
Hi @therealmik,

I believe this is an issue with glibc support in the alpine image we're based on.  I can't quite reproduce that exact error message but there's definitely an issue executing envoy:

[code]

We're revamping our arm image building presently and should have a fix for this problem included in #1643.  Would you mind trying image `travisgroth/pomerium:arm64v8-v0.11.0-rc2-23-g48a1e779`?

[2020-12-02 13:18] ajcollett commented on #1588
Hey, sorry for the late reply. Let me look into this and let you know.

[2020-12-02 15:53] travisgroth commented on #1641
+1 on a field that is just a passthrough to the identity provider.  Much easier than trying to layer our own syntax on.

Would it make sense for the parameter to be a list of filter strings (implicitly an OR)?

[2020-12-02 21:42] therealmik commented on #1644
Yep, that docker image works!

[2020-12-02 22:58] travisgroth commented on #1644
Great!  Thanks @therealmik.

[2020-12-03 15:36] travisgroth commented on #1644
FYI, we've republished the `pomerium/pomerium:arm64v8-v0.10.6` docker image as well.  This should be fixed going forward.

[2020-12-03 16:07] #268 closed

[2020-12-03 16:07] #1644 closed

[2020-12-04 16:42] #1605 closed

[2020-12-08 22:24] calebdoxsey commented on #1606
@Apt1tude I'm attempting to understand the issue, so apologies if I've missed something obvious.

We rely on Go's built-in TLS capabilities, which should support certificate chaining out of the box. If you use the root CA as `databroker_storage_ca_file` does that not work?

[2020-12-09 02:34] Apt1tude commented on #1606
Yep, that's the issue. I gave the root CA another try, and it was giving this error:
[code]

[2020-12-09 02:47] Apt1tude commented on #1606
Ok just looked into this a bit more. I think my certificate was using wrong encoding. It seems to work after PEM conversion. Perhaps having the log reflect that it failed to read the root, instead of indicating that the redis connection failed due to unknown CA would make it easier to catch these types of errors?

Thanks for looking into this issue 🙂

[2020-12-09 16:16] calebdoxsey commented on #1606
@Apt1tude thanks for the quick response. We can work on adding a clearer error message.

[2020-12-09 18:16] #1606 closed

[2020-12-09 20:41] travisgroth commented on #1633
Hi @amiral-fu,

We currently integrate with Keycloak via generic OIDC, so `allowed_groups` is not possible.  However, in the newest [release](https://github.com/pomerium/pomerium/releases/tag/v0.11.0) of Pomerium, we've added the ability to set policy on arbitrary claims from your identity provider.  I believe you can use this to achieve the `allowed_groups` functionality as long as Keycloak can r

[2020-12-10 19:17] davidcollom opened #1670 "proxy: Memory leak"
## What happened?
We've noticed an increase in memory utilisation when we update pomerium's config.yaml without restarting it.

## What did you expect to happen?
Memory profile stays relatively

## How'd it happen?

1. Ran `pomerium` in proxy mode only
2. edit config.yaml
2.1. Add/Remove Policies
3. See memory increase
4. Restart proxy
5. See memory return to a much lower level

This was with arou

[2020-12-11 08:48] rd-michael-pasdziernik opened #1673 "runtime error on google directory sync"
## What happened?

Cache service crashes while syncing with google directory service after service start.

## What did you expect to happen?

Not to crash.

## What's your environment like?

- Pomerium version (retrieve with `pomerium --version`): 0.11.0
- Server Operating System/Architecture/Cloud: Google GKE

## What's your config.yaml?

[code]

## What did you see in the logs?

[code]

## Addit

[2020-12-11 10:45] sylr opened #1674 "Forward auth broken in v0.11.0"
## What happened?

I've upgraded all pomerium components to `v0.11.0`.

My Traefik dashboards protected with the forward auth middleware started to entered in **infinite redirection loop**.

Reverting the proxy to `v0.10.6` fixed the issue.

<img width="1680" alt="Fullscreen_11_12_2020_11_31" src="https://user-images.githubusercontent.com/153052/101894257-31243b00-3ba6-11eb-9eb3-0b407d1179a8.png">

[2020-12-11 11:44] wesleyw72 commented on #298
I've had a go with ADFS OIDC. It almost works but I hit an issue where when Pomerium hits the `userinfo` endpoint it gets an unauthorised.

Looking in the ADFS logs shows:
[code]

I've had a Google around and it seems that ADFS requires a non standard `resource` parameter ([link](https://github.com/IdentityServer/IdentityServer4/issues/812#issuecomment-472492012) also mentioned in their [docs](htt

[2020-12-11 16:18] desimone commented on #1674
Thanks @sylr  -- Can you post your redacted configuration both Traefik and Pomerium?

[2020-12-11 16:50] sylr commented on #1674
proxy's config:

[code]

Traefik dashboard

[code]

[2020-12-11 16:51] sylr commented on #1674
proxy's config:

[code]

Traefik dashboard

[code]

[2020-12-11 21:43] #1673 closed

[2020-12-12 18:32] v4dkou commented on #659
It would be great if invalid identifiers would throw an error on config load then.

I was hoping "*.domain.tld" would work the same way it does with cert management and rules in other reverse proxy solution, but apparently it just makes a rule that does nothing. It is not treated as wildcard and an asterisk cannot be used in actual subdomain identifiers, so there's no way to trigger this policy.

[2020-12-12 19:55] desimone commented on #1674
@sylr

I just tested forward-auth and seems to be working with the following configuration.

https://github.com/pomerium/pomerium/blob/1a9ac2fef5e9a9a7d8e8fb2b521dfe3442c28956/.devcontainer/envs/traefik.yaml#L26

The only thing that jumped out at me about being different was the  `trustForwardHeader` setting. Does setting that to true fix it in your configuration?

https://github.com/pomerium/pome

[2020-12-12 20:00] v4dkou opened #1677 "proxy: Wildcard Virtual Hosts"
**Is your feature request related to a problem? Please describe.**

I would love to be able to use wildcards in `from` argument to have one policy cover a bunch of internal services at once.
Going in working with Pomerium, I intuitively assumed that there should be wildcards, as _wildcard certificates_ are mentioned, but it turned out there aren't any.

**Describe the solution you'd like**
Envoy's

[2020-12-12 20:10] #1282 closed

[2020-12-12 20:32] sylr commented on #1674
The traefik config I pasted is the config of the traefik dashboard I protect with forward auth.

The forward auth requests are sent to another traefik instances which does reverse proxy for pomerium.

In the config of that latter traefik I do have trustForwardHeader turned on:

[code]

Like I said my current config works well with pomerium proxy v0.10.6 and does not work any more with v0.11.0 so I

[2020-12-12 21:05] desimone commented on #1674
We changed the way Pomerium does forward auth so that all forward providers (envoy, traefik, nginx, etc) leverage the same code path (https://github.com/pomerium/pomerium/pull/1482).   Previously, we used the hardcoded `uri` in traefik's address (e.g. `?uri=https://k8s-cluster-traefik-v2.dev.company.com`)  but now instead depend on the `x-forwarded-*` headers for those details.

Confusingly, I thi

[2020-12-14 07:48] rd-michael-pasdziernik opened #1686 "Certificate validation fails in 0.11.0"
## What happened?

Internal communication from proxy to authorize fails when using a self-signed certificate.
Same setup works using pomerium 0.10.6.

## What did you expect to happen?

Working communication.

## What's your environment like?

- Pomerium version (retrieve with `pomerium --version`): 0.11.0
- Server Operating System/Architecture/Cloud: Google GKE

## What's your config.yaml?

[code

[2020-12-14 15:35] #1633 closed

[2020-12-14 16:58] eh-am commented on #1633
Hi, that works great!

The only problem I see, however, is that impersonation does not seem to work, since we aren't using "real" groups:
https://github.com/pomerium/pomerium/blob/091b71f12e0c27ff72442b87733f90e3625b8fdb/internal/sessions/state.go#L105

But I guess that's more of an impersonation issue than the actual `idp_service_account` implementation? I can create a different issue

[2020-12-14 18:08] amiral-fu commented on #1633
Thanks for your help @travisgroth

Indeed, it works very well!

[2020-12-14 18:23] travisgroth commented on #1670
Hi @davidcollom,

Can you go into a little more detail on your change patterns?  Is it a static set of routes with regular small changes, or is it a constant churn of new routes and old ones being deleted, or something else?

Also, is this usage accumulated over time or is it directly correlated with changes?  How long does it take to grow so substantially?  Can you show that memory usage graph ov

[2020-12-14 20:23] desimone commented on #1633
@eh-am  / @amiral-fu -- Glad it is working. By the way, several folks have asked us for a guide for a generic oidc provider (#307 ). If you'd be willing to contribute one for Keycloak, I'm sure many in the community would find it useful. I've been unsuccessful in setting it up myself.

[2020-12-14 20:24] desimone commented on #1633
@eh-am

That's right. We are looking at ways of refactoring to support this, but it would be helpful to create an issue to track it.

[2020-12-15 16:21] reakaleek opened #1690 "Nginx example fails"
## What happened?

When cloning the nginx example and running `docker-compose up` the nginx container exits with `code 1`.

[code]

## What did you expect to happen?

## What's your environment like?

https://github.com/pomerium/pomerium/tree/master/examples/nginx

## What's your config.yaml?

https://github.com/pomerium/pomerium/tree/master/examples/nginx/config.yaml

## What did you see in the l

[2020-12-15 20:47] travisgroth commented on #1686
Hi @rd-michael-pasdziernik,

I can reproduce locally.  Interestingly, this works if you just set:

[code]

I'm not entirely clear on why this has changed, but I don't _think_ that should be needed for self signed certs.  We're still investigating.

[2020-12-15 21:25] #1690 closed

[2020-12-15 23:50] travisgroth commented on #1686
@rd-michael-pasdziernik Actually, I see the same behavior through the entire v0.10.x series with that Certificate.  Can you confirm your CRD hasn't changed?  It doesn't look like this is new, and may be coming directly from envoy.

[2020-12-16 00:33] tsujamin opened #1693 "identity_manager 403's when refreshing AAD users and groups if Pomerium documentation followed"
## What happened?
Following the v.0.11.0 release we were unable to connect to proxied services that relied on `allowed_groups` due to identity_manager having insufficient permissions to query the AAD API to retrieve groups.

I think this is just a matter of the Azure IdP docs ([link](https://www.pomerium.io/docs/identity-providers/azure.html)) not being updated following https://github.com/pomeriu

[2020-12-16 07:05] rd-michael-pasdziernik commented on #1686
Using "isCA: true" with 0.11.1 works here too. On 0.10.6 it works without "isCa: true". I have double-ckecked with new deployments. We are using cert-manager 1.0.3 deployed via helm chart.

[2020-12-16 16:22] travisgroth commented on #1686
Deployed the same version of cert-manager and used your CRD.  v0.10.1 and v0.10.6 fails:

[code]

[code]

Note: your CRD API does not match your syntax.  You're using the older version, so I matched that just in case the key options made a difference.

helm chart v14.0.0 values:
[code]

I'm not sure this conversation is authoritative but it seems to indicate that full validation will fail if the C

[2020-12-17 09:14] rd-michael-pasdziernik commented on #1686
Thank you for your investigation and the hint for the syntax error in the certificate. That the certificate needs the CA constraint sounds reasonable. I checked again and am still wondering why it works without in 0.10.6 in my setup, but I think the issue can be closed.

[2020-12-17 11:06] namelivia opened #1697 "prefix_rewrite sending original path after redirection"
## What happened?

When setting both `prefix` and `prefix_rewrite` on the config file, asking for a prefixed url performs the redirection, but the destination host receives the path with the prefix still included.

## What did you expect to happen?

If I understood documentation right,  by setting something like:
[code]
Querying `https://origin.org/test` should redirect to `https://destination.org

[2020-12-17 11:21] namelivia commented on #1697
An update, I tried it with `v0.11.0-rc1` and it worked as expected.

[2020-12-17 11:24] #1686 closed

[2020-12-18 22:58] MrSaints commented on #1674
I'm not using Traefik, but in my custom proxy implementation, removing / not passing `uri` fixes the issue.

[2020-12-18 23:16] sly-net commented on #1674
I had the same issue.
I fixed it by removing `uri` as suggested by @MrSaints . Thanks!

[2020-12-19 13:13] sylr commented on #1674
I can confirm that removing the `?uri=...` parameter from the `address` property value in the traefik `forwardAuth` middleware configuration fixes the issue.

[2020-12-19 14:10] FireDrunk commented on #834
I would like to 'upvote' this feature. I'm using Keycloak which is linked to Google as an Identity Provider (I know pomerium can do this, but i have my reasons :-) ).

Keycloak passes the firstname and lastname (or given name) to Pomerium, because I can see it in the /.pomerium/ session details. This means that Pomerium reads the claims from the Keycloak identity.

Problem is, they don't exist in

[2020-12-19 20:48] desimone commented on #1674
Thanks for posting the fix @MrSaints.

I did some digging, and there's no easy way to support backwards compatibility here because the matcher for nginx's start auth-flow endpoint (`/` with the `uri` queryparam set)....

https://github.com/pomerium/pomerium/blob/ad828c6e84870b39c01bbad42a24f8601ddc3801/internal/controlplane/xds_routes.go#L77-L77

... will also match the traefik verify route when t

[2020-12-19 20:48] #1674 closed

[2020-12-21 13:52] renecouto commented on #1403
On my case, the organization I work at has different teams using different IdPs (google, microsoft, github), and we wanted a simple and secure way to give access to a static html website through oauth2-proxy.

[2020-12-21 16:01] travisgroth commented on #1670
FWIW, I'm able to reproduce in a few different ways fairly easily.  Investigating further.

[2020-12-21 16:34] davidcollom commented on #1670
Hey @travisgroth sorry for not getting back to you on this one, last week was a busy week with focus elsewhere.

The usage on this was dynamic based off a teams deployment but was rather 3-4 different policies Bering added/removed every 20-30 minutes.

The main config was being generated by a controller/sidecar and inadvertently writing the config regardless of change (i.e no change, it was re-wri

[2020-12-21 19:10] dmitrif commented on #1054
@nicgrayson Just saw this notification. Yes I do, I have HAProxy on a different server forwarding requests to the pomerium instance.

[2020-12-21 19:12] travisgroth commented on #1670
Thanks @davidcollom.  Appreciate the follow up - this is useful info.  Follow up questions:

- In your case, I assume the memory usage was a slow and steady increase?
- When those 3-4 policies were being changed, was something making each resulting iteration unique or was it the same identical file content each time?

[2020-12-21 19:42] davidcollom commented on #1670
1. No, it was a very quick ramp up to the memory limit (but not instantaneous) as we were writing the entire config for each and every policy (at the time I believe there was 60+ policies) in a very short period of time.

2. It was the same identical configuration file being written to disk for each policy defined (as above, approximately 192 policies.

Our solution was to ensure md5 checksums on

[2020-12-22 21:23] desimone commented on #1697
@namelivia  -- I took a look and nothing jumped out at me as causing a regression as it related to prefix_rewrite between those versions. Were the policies exactly the same? You just changed the docker image used?

[2020-12-22 22:40] yegle opened #1715 "Ability to protect a route with basic auth"
**Is your feature request related to a problem? Please describe.**

I have a Pomerium instance that's hosted on the Internet and I want to collect metrics from it on my home server. I want to protect the access to the metrics page in case there's anything sensitive.

**Describe the solution you'd like**

Initially I was going to ask a feature request to protect the access to metrics address with a

[2020-12-24 22:23] desimone opened #1717 "deployment: go action linter silently fails sometimes"
## What happened?

Files that were not gofmt'd passed the linter check.

## What did you expect to happen?

The linter should have failed because the file was not go fmt'd.

## How'd it happen?

It looks like gometalinter can fail without setting std err?

## What did you see in the logs?

[code]

## Additional context

- https://github.com/pomerium/pomerium/pull/1586
- https://github.com/pomerium

[2020-12-24 22:30] #1581 closed

[2020-12-24 22:31] desimone commented on #1581
Thanks @pflipp !

[2020-12-28 15:25] lukegb opened #1721 "JWK key rotation"
**Is your feature request related to a problem? Please describe.**

Pomerium seems to only support exposing a single static JWK at a time (which must be specified in an environment variable), which makes key rotation difficult.

In particular, I'd like to just automatically rotate my signing key (say, every 24 hours), by doing something like:

* Have a starting state in which we're using key A for

[2020-12-29 20:20] #1693 closed

[2020-12-30 17:02] desimone commented on #1721
Hi @lukegb , thanks for the feature request.

That's partially true. It's true that Pomerium only currently supports a single JWK at a time currently and if you supply the `signing_key` as an environmental variable, the key will be static. However, if the JWK is set as part of the configuration file (`config.yaml`) that key is hot reloadable. I understand that may not be ideal for all configuratio

[2020-12-30 17:03] desimone commented on #1717
Fixed by #1728

[2020-12-30 17:03] #1717 closed

[2021-01-04 03:55] haozhou opened #1730 "Reverse proxy works but verify container complains "Identity verification failed""
## What happened?
Auto-obtain certificate works.
Reverse proxy works.
pomerium/verify complains "Identify verification failed"

## What did you expect to happen?
pomerium/verify being able to retrieve user identity

## How'd it happen?

1. Ran docker-compose up
2. Navigate to "https://verify.abc.net"
3. Saw error "Identity verification failed" (generated by pomerium/verify container)

## What's yo

[2021-01-04 06:11] haozhou commented on #1730
This is because the signing_key was not properly generated and filled in the config.yml

For anyone who experiences the same issue, please refer to https://www.pomerium.io/docs/topics/getting-users-identity.html#verification

[2021-01-04 06:11] #1730 closed

[2021-01-04 13:25] SimonKlausLudwig opened #1731 "Programmatically create policy"
We would like to change the policy dynamically.

Bases on the user group we want to decide if a user is authorized or not. As the domain which the user tries to acess will be dynamically 'created' we need to change the policy also dynamically.

Solution: When a user tries to acess a domain a phython script or a external service will be asked if the user is allowed to access this resource. The serv

[2021-01-05 21:21] enniomara commented on #494
For anyone looking into doing group based auth in Cognito I found a way. Cognito embeds the group membership into the [access token](https://docs.aws.amazon.com/cognito/latest/developerguide/amazon-cognito-user-pools-using-tokens-with-identity-providers.html#amazon-cognito-user-pools-using-the-access-token). Pomerium does have an option called [`allowed_idp_claims`](https://www.pomerium.io/referen

[2021-01-06 00:10] calebdoxsey opened #1740 "TCP connections disconnected after ~5 minutes"
## What happened?
When using SSH if the connection is idle for ~ 5 minutes it will be forcibly disconnected.

## What did you expect to happen?
Not be disconnected.

## How'd it happen?
[code]

[2021-01-06 16:54] samarth-gupta-traceable opened #1742 "Unable to integrate with grafana running in istio mesh"
## What happened?
I followed the steps in https://www.pomerium.io/guides/istio.html#istio
however when I try to access `https://grafana.yourcompany.com`  it get below it redirects to

[code]

**Note:** I dont have a public DNS and working around with making changes in `/etc/hosts`

## What did you expect to happen?
Expected to go to github / google for auth

## How'd it happen?

Followed the steps

[2021-01-06 17:31] samarth-gupta-traceable commented on #1742
ok .. i think I was missing the option of `rootDomain: yourcompany.com`  config in pomerium-helm-chart` , once i did that I am able to move ahead and login using github creds :)
however when I am redirected back I end up with 403
below is the log in authorize service
[code]

[2021-01-06 18:27] #1742 closed

[2021-01-06 18:27] samarth-gupta-traceable commented on #1742
closing. was able to figure out the problem. Needed to configure policy domains correctly ....

[2021-01-07 03:33] desimone commented on #1740
Unfortunately, I am still hitting timeouts on TCP routes for build 672b9c7

[2021-01-07 03:42] desimone opened #1747 "deployment: debug build is not listing version or hash"
## What happened?

`pomerium/pomerium:debug` does not list any version.

## What did you expect to happen?

`pomerium/pomerium:debug` image should at least list the git hash it is built with.

## How'd it happen?

## What's your environment like?

Run the following image:

https://hub.docker.com/layers/121243308/pomerium/pomerium/debug/images/sha256-f9bd6af5abef4a5b0e4ae51b20de55a63c41876ee2976edf

[2021-01-07 03:47] desimone opened #1748 "deployment: `master` and taged git releases don't have version"
## What happened?

`master` and `git-*` branches do not properly list their version, although they do have their git hash. Ideally, we'd have both (as when built locally).

## What did you expect to happen?

Both the tagged version and the git hash should be displayed. Perhaps, even having something like `+next` like we do with snapshots

[code]

## How'd it happen?

n/a

## What's your config.yam

[2021-01-07 03:52] #1740 closed

[2021-01-07 12:14] samcgarry opened #1749 "Autocert debug output"
I'm not sure this is really a bug rather than a question on how to diagnose errors with the autocert feature.

## What happened?

I enabled the autocert: true flag in the config.yaml file.

## What did you expect to happen?

I hoped the pomerium system would auto-renew the certificates for the routes in the configuration using lets encrypt. The logging output doesn't really give me a clue as to wh

[2021-01-07 12:44] sylr opened #1750 "Add option to only pass identity headers users groups intersecting allowed_groups"
**Is your feature request related to a problem? Please describe.**

Since pomemium added recursive groups to Azure users groups list increased enough to be larger that what node.js or nginx servers accept by default in the HTTP headers.

**Describe the solution you'd like**

I'd like a `pass_only_allowed_groups_identity_headers` property which set to True would only forward users groups intersecti

[2021-01-07 16:21] Ptyool commented on #1638
Same wish here ^^

It would be great if a config option could set the Authorization header with the user token, and not set a static bearer token like in the documentation.

We have users with different access right on the k8s api (namespace restriction for example) and we don't want them to have a full access. Currently we are using keycloack-gatekeeper to achieve this but this product is EOL unf

[2021-01-07 17:17] #1052 closed

[2021-01-07 20:38] travisgroth opened #1752 "[Impersonation and Service Accounts] update OPA to get impersonation state from databroker session"

[2021-01-08 21:45] PKizzle commented on #1352
@travisgroth were you able to compile envoy for arm32 (armv7l)?

[2021-01-10 05:02] benmccann opened #1756 "oauth2-proxy compatibility"
**Is your feature request related to a problem? Please describe.**

I'm building an application and I'd like users to be able to choose a SSO solution for it including Pomerium, oauth2-proxy, or buzzfeed/sso. These packages all descend from Bitly's oauth2_proxy.

It looks to me like `buzzfeed/sso` and `oauth2-proxy` add an `X-Forwarded-User` and `X-Forwarded-Email` to the request and then sign the

[2021-01-11 01:25] desimone commented on #1756
Hey @benmccann -- thanks for the feature request

Understandable. What do you think about making these header keys configurable, that way you can set the desired key name as a configuration option?

This is the trickier part. From my understanding, will be to handle verifying signatures. We use a different signing methodology compared to SSO/oauth2-proxy (using symmetric / request signing). Pomeri

[2021-01-11 03:24] benmccann commented on #1756
Seems fine to me

Ah, I was thinking the difference was just the header where the signature occurs and also that the JWT has claims that need to be verified. I missed the symmetric vs asymmetric difference.

Hmm. It looks AWS does too: https://docs.aws.amazon.com/elasticloadbalancing/latest/application/listener-authenticate-users.html

Since the big guys are doing it this way it seems more likely

[2021-01-11 03:24] #1756 closed

[2021-01-11 17:11] travisgroth commented on #1750
Possibly related to #1641

[2021-01-11 18:42] jawabuu opened #1766 "Cannot access services requiring authentication behind cloudrun & pomerium"
**Is your feature request related to a problem? Please describe.**

When using pomerium to proxy to Google cloudrun services, Protected **app** pages that require login e.g. /admin /api will fail with Pomerium.
This happens where authentication haapens via an `Authorization` header.
Example;
`https://ghost_blog_url/ghost` requires a header in the form `Autorization: Ghost xxx`.
This is overwritten

[2021-01-12 10:36] servo1x commented on #298
With this change: https://github.com/pomerium/pomerium/pull/1542

It seems like we would just need the ability to disable querying the `userinfo` endpoint?

[2021-01-12 15:33] #1749 closed

[2021-01-12 16:42] travisgroth commented on #1749
Hi @samcgarry in the next release of `v0.12` there should be some better debug information available when issuing fails.  Thanks for reporting!

[2021-01-12 17:05] travisgroth opened #1770 "nil pointer panic in directory code"
## What happened?

Panic / crash after running for period of time

## What did you expect to happen?

Not that

## How'd it happen?

1. Ran `x`
2. Clicked `y`
3. Saw error `z`

## What's your environment like?

- Pomerium version (retrieve with `pomerium --version`): `0.11.1-1607973170+40b878e`
- Server Operating System/Architecture/Cloud: CentOS 8

## What's your config.yaml?

[code]

## What did

[2021-01-12 19:47] #1770 closed

[2021-01-13 17:55] travisgroth commented on #1670
@davidcollom the increasing usage when no changes are made should be fixed by #1732 and shipped in `v0.12`.  Closing this.

We're looking at the total stable memory usage as a related but separate effort.

[2021-01-13 17:55] #1670 closed

[2021-01-13 20:03] davidcollom commented on #1670
Thanks @travisgroth for the heads up. We noticed the related PR and Release of `v0.12` , we've seen some improvement in the memory footprint and great to hear that there's further improvements in the works!

We look forward to seeing them! 👍

[2021-01-14 22:51] desimone commented on #1721
@lukegb Ping :)

[2021-01-15 00:33] lukegb commented on #1721
Whoops! Sorry, didn't mean to suddenly disappear.

Basically: I hate keys. I hate provisioning them, I hate dealing with them, I hate managing their lifecycle. If there's an opportunity to have a key that's automatically rotated so I don't need to think about it (in the sense of "oh no it got compromised, guess I need to update all these endpoints to know about the new one"), then I'll go for it.

[2021-01-15 20:33] mongrelion opened #1778 "Example from the demo video"
I'm trying to setup Pomerium together with a reverse proxy ([Caddy](https://caddyserver.com)) but to no avail because of some infinite redirection going on.
I see that the example from the demo video successfully puts Pomerium in front of several subdomains.
Could you please share this snippet? I could use that as a starting point and if it works then submit a PR to update the documentation.

[2021-01-15 21:24] desimone commented on #1778
Hey @mongrelion -- Thanks for making the issue. Pomerium itself is a first-class reverse proxy. Is using Caddy (in addition to Pomerium) a hard requirement? Can you tell me more how you are trying to configure pomerium ?

[2021-01-15 22:18] mongrelion commented on #1778
Caddy per sé is not a hard requirement.
I guess for development it's easier to use Caddy as it takes care of the whole HTTPS certificates for you in localhost (with stubbed subdomains in the `/etc/hosts` file) which is a must otherwise the the browser will reject the cookie because it's marked as safe but the content is being served over HTTP.

I just put Pomerium as the first-class reverse proxy

[2021-01-15 22:35] mongrelion opened #1780 "Pomerium won't start if IdP is unreachable"
## What happened?
Pomerium refuses to boot up if the configured `idp_provider` is `oidc` and the provider is offline.

I think this is a chicken and egg problem.
The idea is to put Keycloak (listening on port 8080) behind Pomerium, but Keycloak is also Pomerium's IdP. So when Pomerium is starting, it tries to fetch the OIDC information but to no avail because Keycloak is not yet routable.

See the

[2021-01-15 22:38] desimone commented on #1778
If not, to start I would suggest using just pomerium if possible and layer on additional proxy / infrastructure pieces as required.

Well, yes an no. We also support the same auto HTTPS certificate capabilities (indeed, we use caddy's great [certmagic](https://github.com/caddyserver/certmagic) library to do it!). Check out [autocert](https://www.pomerium.io/reference/#autocert) which is what our [

[2021-01-15 22:38] #1778 closed

[2021-01-15 23:18] mongrelion commented on #1778
Ditto. Even though Caddy (via certmagic) can generate certificates for local domains (localhost, .localhost and .local), it seems like Pomerium does not yet support this functionality.
While setting up `prometheus.local` with Caddy, I do get the certificate no problem.
But when I try to set things up with Pomerium, I get this error:
[code]

This can be reproduced with any Pomerium config file for

[2021-01-17 18:41] robertgates55 opened #1781 "Unable to set policy config via ENVs"
I’m looking to set `set_request_headers` in a policy via an env variable (since I’m looking to pass a basic auth token as a header)

Is this possible? It looks like most settings can be configured via ENVs, but not many of the policy config, and I wondered if I was missing something

[2021-01-18 11:17] SnehaMore20 opened #1782 "Kubernetes Group impersonation with OIDC"
## What happened?
Implemented securing Kubernetes using Pomerium and keycloak as identity provider.
Unfortunately, I could'nt find the way to grant kubernetes permission to group as per https://pomerium.io/guides/kubernetes.html#user-permissions

## What's your environment like?
Pomerium 0.11.1
kubernetes v1.16.15
Keycloak 10.0.1 (through OIDC)

## What's your config.yaml?

[code]

I tried hardcod

[2021-01-19 04:30] desimone commented on #1781
Hey @robertgates55 -- yes [that is possible](https://www.pomerium.io/reference/#set-request-headers).

Take a look at our kubernetes dashboard example for an [example](https://www.pomerium.com/guides/kubernetes-dashboard.html#pomerium).

[code]

[2021-01-19 07:24] robertgates55 commented on #1781
Sure - I’ve seen that. However, that is a secret (Albeit a b64 encoded one), and we don’t check those into our gitops.

So I was wondering about setting it via an env instead, since we can create secrets and then read them into the pomerium deployment with env fromSecret.

Any options? Or any ways to use multiple policy files and reference them from one central one?

[2021-01-19 09:07] ishiijp opened #1784 "Cloud Run example is not working"
## What happened?

I couldn't deploy pomerium image to cloud run with the following instruction
https://www.pomerium.io/guides/cloud-run.html#deploy

## What did you expect to happen?
I want to deploy the [image](gcr.io/pomerium-io/pomerium:latest-cloudrun) to cloud run

## How'd it happen?

I followed the [instruction](https://www.pomerium.io/guides/cloud-run.html#deploy) and executed the command

[2021-01-20 13:53] 1inh opened #1787 "Automatically reauthenticate users"
**Is your feature request related to a problem? Please describe.**

I understand that the validity of the session cookie can be set by `COOKIE_EXPIRE`. After this interval (default is 14h), the user must reauthenticate through their IdP.

**Describe the solution you'd like**

Would it possible to automatically log users (who are already authenticated to their IdP) in and what would that entail? Th

[2021-01-20 14:39] calebdoxsey commented on #1787
Hi @1inh ,

User sessions are refreshed using the refresh token returned by OIDC. The `COOKIE_EXPIRE` is a security measure, but it can be changed. For example you could set it to a year and, assuming refresh tokens continue to work, you wouldn't need to login again for a year.

Does this work?

[2021-01-20 14:54] 1inh commented on #1787
Hey @calebdoxsey, thank you for the quick response! We can certainly increase the `COOKIE_EXPIRE` field to a year but that introduces more security concern as session cookies are persisted for a long period of time. Also if people leave the org, and still have the cookies, they could still access right? (assuming refresh tokens continue to work)

[2021-01-20 22:23] desimone opened #1792 "autocert: fails to load route cert, instead presents self-signed"
## What happened?

Pomerium is replying to all requests with an internal self signed certificate, instead of using the routes certificate.

## What did you expect to happen?

I expected the proper certs to be loaded (originally) from autocert. Downgrading back to `pomerium/pomerium:latest` fixes the issue.

## How'd it happen?

Updated to the latest `master`

## What's your environment like?

- Po

[2021-01-20 23:01] #1792 closed

[2021-01-21 10:57] pflipp commented on #1787
Hey @calebdoxsey, I think the main issue here is that the pomerium session cookie never gets renewed, once `COOKIE_EXPIRE` is reached the user gets logged out, regardless of the users activity.

renewing the pomerium session cookie on each users activity, would enable us to set a short `COOKIE_EXPIRE` but only logs the user out if the user was inactive for `COOKIE_EXPIRE` period.

what do you thin

[2021-01-21 14:07] derN3rd opened #1795 "Restart with redis broker fails: decryption failed (GSuite)"
## What happened?
When I restart the server after having the redis databroker storage enabled, the server does not start correctly. Syncing fails with `error getting data error="rpc error: code = Unknown desc = cryptutil: decryption failed (mismatched keys?): chacha20poly1305: message authentication failed" type_url=type.googleapis.com/directory.Group`

Removing `databroker_storage_type`/`databrok

[2021-01-21 14:21] #664 closed

[2021-01-21 14:37] travisgroth commented on #1795
Hi @derN3rd - you need to set `shared_secret` in your config file so that it is persistent between restarts.

[2021-01-21 14:45] derN3rd commented on #1795
That was a quick reponse! Thanks, works now

Should I prepare an PR to add this to the docs?

[2021-01-21 15:32] travisgroth commented on #1795
If there's an area of the docs that you could help clarify, absolutely.  Improvements are always welcome.

Technically it is a required option, but we allow single all-in-one instances to autogenerate it for easier setup.

[2021-01-21 16:00] travisgroth commented on #1352
@PKizzle unfortunately, no.  While arm64 is becoming a generally important platform, it doesn't seem like arm32 is going to have much support from envoy.

We would gladly take community contributions here.

[2021-01-21 19:24] travisgroth commented on #1795
We can also enforce that `shared_secret` is explicitly configured when `databroker_storage_type ` is not `memory`.

[2021-01-21 20:10] carpenike opened #1797 "Issue with ForwardAuth & Helm Deployment"
## What happened?
Using helm chart for pomerium + pomerium operator to configure pomerium. Config works fine for proxied services, but those using forwardAuth are not working as expected.

## What did you expect to happen?

ForwardAuth should allow for nginx configured ingress objects to get authentication and then provide service back to the app

## How'd it happen?

1. Ran `x`
2. Clicked `y`
3.

[2021-01-21 23:41] desimone commented on #1787
That's right. By default, the backend will refresh session tokens every ten minutes so any revoked users should be evicted pretty quickly.  I'm not sure we can solve having both very long lived session lifetimes, and an identity provider that does not revoke refresh tokens. Pomerium's depends on the downstream identity provider to stop issuing new access tokens to users who no longer should have v

[2021-01-21 23:53] desimone commented on #1721
Hey @lukegb --

Say no more -- I am in. :)

For now, we use `.pems` but I'm not opposed to eventually adding `jwks` support and would accept the enhancement.

Contribution would be very welcome. I updated the go-sdk (https://github.com/pomerium/sdk-go/pull/1) to support multiple keys as a starting point.

[2021-01-22 02:52] ishiijp commented on #1784
@travisgroth
I can deploy it now..
I don't know why, but I think I took a mistake in config.yaml.
Maybe you can close this task

[2021-01-22 17:41] travisgroth commented on #1784
👍  @ishiijp thanks for letting me know.  closing.

[2021-01-22 17:41] #1784 closed

[2021-01-22 21:28] #1795 closed

[2021-01-22 21:50] travisgroth commented on #1781
Hi @robertgates55 - We do allow policy to be set via environment variable, but this is an all-or-nothing proposition.  The bearer token case in `set_headers` has come up before.  We store the entire configuration in a secret specifically because this comes up, but it's worth considering how people are looking to source the data.

Some possibilities:

- interpolate any env var in the config: this i

[2021-01-23 03:55] ishiijp opened #1805 "How to implement "SSR application" with Pomerium"
I'm using pomerium to implement SSR application in Cloud Run.
I have 2 instances in cloud run for Application and API. They are behind pomerium, and have difference domain.

Application = app.example.com
API = api.example.com

Connections from browser to Application and from browser to API  are no problem, because they share session-cookie as ".examle.com".
But because of SSR, when the application

[2021-01-23 14:50] robertgates55 commented on #1781
I like 2), since the generic case of 1) will almost certainly have some unexpected edges; and as you say - most cases are already covered. An alternative is interpolation just in policies, I guess?

option 4) - Conf.d - this would allow me to mount just the secret policies (ie ones containing secrets) - which we’d store in a secret. It’d work, but I think is a bit clunkier - I’d prefer to store ju

[2021-01-25 16:33] desimone opened #1818 "config: hot-reloading of configuration and policy not working"
## What happened?

Policy is not hot-reloaded.

## What did you expect to happen?

Policy to be hot reloaded.

## How'd it happen?

1. Start pomerium with the following configuration policy.

[code]

2. Update the policy

[code]

3. `bdd@pomerium.com` still has access.

If I hard restart pomerium / envoy, I get the expected behavior.

## What's your environment like?

- Pomerium version (retrieve

[2021-01-26 01:31] mleklund opened #1824 "Improperly set X-Forwarded-For header"
## What happened?

It seems that pomerium is setting imporperly formatted X-Forwarded-For header.

The generally accepted format of the field is:

[code]

where the value is a comma+space separated list of IP addresses, the left-most being the original client, and each successive proxy that passed the request adding the IP address where it received the request from. In this example, the request pa

[2021-01-26 06:53] ishiijp commented on #1805
@travisgroth @desimone @wasaga
Thank you for adding the "thinking" label.

https://github.com/pomerium/pomerium/issues/512

I understand this discussion.
But it means there is no **easy** way to implement server-to-server communication, even if these servers are all behind Pomerium. Is this situation what Pomerium wants to achieve?

Pomerium can
- authenticate client-to-server communications
- and

[2021-01-26 08:38] yegle opened #1825 "telemetry/metrics: metric for certificate renewal requests count"
It looks like there's no metric for autocert renewal requests. I'd like to set up alerts for renewal failures.

[2021-01-26 16:20] #1780 closed

[2021-01-27 02:12] wasaga commented on #1824
according to https://tools.ietf.org/html/rfc7239#section-7.1 space after comma is optional

[2021-01-27 15:18] mleklund commented on #1824
rfc7239 does not cover `X-Forwarded-For` it covers `Forwarded-For`.  `X-Forwarded-For` is a defacto standard which would fall under [rfc2616 section 4.2](https://tools.ietf.org/html/rfc2616#section-4.2), which does only require a comma.  However, being a defacto standard, we are left with how it is implemented by the internet.  Here is a sampling of the top relevant results from google in order fr

[2021-01-27 23:07] travisgroth commented on #1805
Hi @ishiijp,

A few questions just to help understand the use case:

- In your request flow, the browser requests content from `app.example.com`.  The code running on that endpoint needs to render content by calling another API and that application will "internally" call `api.example.com` without the browser's involvement.  Is that correct?
- Which frontend framework/library are you using for this

[2021-01-30 12:58] bluecmd opened #1837 "cli: General HTTP proxy mode"
**Is your feature request related to a problem? Please describe.**

Infrastructure scripts in general do not understand the SSO flow of Pomerium. This can be solved today by using the `tcp` tunnel mode. However when running e.g. `pomerium-cli tcp my-internal-service:8080` with/without `-listen` you end up having a lot of ports listening all over the place. It is hard to keep track of, and worse in

[2021-01-30 18:01] carpenike commented on #1797
Bump. Any help?

[2021-01-31 13:43] mologie opened #1838 "Debian Package manager warns with every dpkg command after installing Pomerium"
## What happened?

I installed Pomerium on Ubuntu 20.04, but now dpkg throws warnings with every invocation:

Example:

[code]

The cause are missing (required) maintainer fields in Pomerium packages. Please refer to Debian's packaging manual:

https://www.debian.org/doc/debian-policy/ch-controlfields.html#binary-package-control-files-debian-control

## What did you expect to happen?

The installa

[2021-02-01 15:53] #1747 closed

[2021-02-01 15:53] #1748 closed

[2021-02-01 17:33] calebdoxsey opened #1843 "Pomerium always asks for client certificates"
## What happened?
Due to a recent change (#1835), Pomerium now appears to always ask for client certificates, even if they aren't actually used. Although it allows access if one is not provided, it should only be asking when necessary.

## What did you expect to happen?
Not to be prompted to provide a client certificate.

## How'd it happen?
1. Install a client certificate in your browser
2. Acces

[2021-02-01 19:44] #1843 closed

[2021-02-02 14:40] travisgroth commented on #1797
Hi - Is the `config.yaml` sample from when you're using forward-auth, or direct proxying?  Could you provide both types of config?

Could you also provide the authorize log from the failed requests?

[2021-02-02 15:44] darks73 commented on #113
There is a way for the IDP to tell downstream services which authentication factors were used.

https://tools.ietf.org/html/rfc8176
Authentication Method Reference Values - or in short amr.
An addition claim that states which auth methods were used.

For example:
"amr": ["pwd", "kba"]

[2021-02-02 18:22] desimone commented on #113
Thanks @darks73  -- Do you know which IdP's currently support this claim?

[2021-02-02 18:49] darks73 commented on #113
Well, worst case you can usually manually add them. In the end it is just another claim. I do know that Microsoft will rely on amr claims for 3rd party integration in the future so there is a good chance that it will be common soon.

[2021-02-02 20:18] travisgroth commented on #1838
Thanks for reporting!  Will try to release `v0.12.2` with this addressed.

[2021-02-02 20:42] travisgroth commented on #1837
Hi @bluecmd - thanks for the suggestion.

Question: Is your use case for user based workstation access, or more server or service-to-service communication?

[2021-02-02 20:45] bluecmd commented on #1837
Workstation is what I had in mind!

[2021-02-02 21:21] #1838 closed

[2021-02-04 15:34] travisgroth commented on #1824
Further complication - this is handled by envoy so I don't believe there's anything we can do directly here.  If this is a widespread problem, I'd expect them to address it.

Digging into a little history, it seems like this was an intentional choice - it broke something, then was reverted, then was re-reverted once the incompatibility was addressed: https://github.com/envoyproxy/envoy/pull/3609.

[2021-02-04 15:58] mleklund commented on #1824
Since this is upstream of pomerium, I suppose we can close this.  The app I was having an issue with is fixing their XFF code to handle either spaces or no spaces.  It looks like envoy has made their decision that lists are valid with and without spaces so they are going without.  Sorry to be trouble here.

[2021-02-04 15:58] #1824 closed

[2021-02-04 15:59] travisgroth commented on #1824
@mleklund no problem.  Appreciate you taking the time to report.  Glad your app folks are addressing!

[2021-02-05 02:17] azoom-y-ishii commented on #1805
@travisgroth
Thank you for your comment.

[Nuxt.js](https://nuxtjs.org/)

Yes. I'll explain in detail below.

Yes

api.example.com needs session or other context.

Yes.

Nuxt.js have [data fetching](https://nuxtjs.org/docs/2.x/features/data-fetching) features, asyncData and fetch.
Generally, asyncData and fetch call APIs to fulfill contents not only client-side but server-side.

[code]
This code w

[2021-02-05 02:20] ishiijp commented on #1805
@travisgroth
Thank you for your comment.

[Nuxt.js](https://nuxtjs.org/)

Yes. I'll explain in detail below.

Yes

api.example.com needs session or other context.

Yes.

Nuxt.js have [data fetching](https://nuxtjs.org/docs/2.x/features/data-fetching) features, asyncData and fetch.
Generally, asyncData and fetch call APIs to fulfill contents not only client-side but server-side.

[code]
This code w

[2021-02-05 04:02] desimone opened #1855 "authorize: allow arbitrary claims in assertion / identity headers"
**Is your feature request related to a problem? Please describe.**

Today, it possible to get a [user's identity](https://www.pomerium.com/docs/topics/getting-users-identity.html#verification) either from a signed attestation header (`X-Pomerium-Jwt-Assertion`) or via a subset of optional unisgned [identity headers](https://www.pomerium.com/reference/#jwt-claim-headers) (`X-Pomerium-Claim-Email` /

[2021-02-05 16:20] SergeyLadutko commented on #1782
Empty groups and mine

[2021-02-06 11:29] yegle opened #1859 "HSTS header is present in plaintext HTTP response"
## What happened?

Looks like the plaintext HTTP server is responding HSTS header.

## What did you expect to happen?

HSTS header should not present in plaintext HTTP request.

## How'd it happen?

curl -v your-dns.run

Check the response

## What's your environment like?

- Pomerium version (retrieve with `pomerium --version`): 0.12.1-1611179121+77abb5
- Server Operating System/Architecture/Clou

[2021-02-06 11:33] yegle opened #1860 "HSTS is not present on authentication server"
## What happened?

HSTS is not present on the authentication server.

## What did you expect to happen?

It should present when accessing authentication server via HTTPS

## How'd it happen?

curl -v https://pomerium.your-dns.run/ping

## What's your environment like?

- Pomerium version (retrieve with `pomerium --version`): 0.12.1-1611179121+77abb53
- Server Operating System/Architecture/Cloud: D

[2021-02-06 11:44] yegle commented on #1859
While you are at it, I think you should also remove `X-Frame-Options` and `X-Xss-Protection`. Any modern browser will not connect to the HTTP port beyond the first connection, and if all HTTP requests are 301 redirected away I don't see those headers could be useful.

[2021-02-07 19:12] desimone commented on #1859
Thanks for reporting @yegle

[2021-02-07 19:22] desimone commented on #1782
@SergeyLadutko  -- Could you provide your complete (redacted) configuration?

Thanks!

[2021-02-07 19:58] desimone commented on #1859
This is coming from the redirect server or on one of your routes?

[2021-02-07 20:29] desimone commented on #1859
@yegle  --

I'm confused. This seems to be the inverse of https://github.com/pomerium/pomerium/issues/1413
 which was fixed in https://github.com/pomerium/pomerium/pull/1416.

[2021-02-07 20:39] yegle commented on #1859
I think the fix to #1413 is incorrect per the RFC. It looks like HSTS should only present in HTTPS connection, not HTTP connection.

[2021-02-08 18:48] ventris commented on #1383
This feature would be greatly appreciated if it would be possible to implement as there is currently no way of limiting access based on what device you come from when you log in with your Gsuite account.

[2021-02-08 19:05] #1859 closed

[2021-02-08 19:28] travisgroth commented on #1855
After discussion - for unsigned identity headers we should only support the claims as we do today.  Exposing the databroker values arbitrarily will need more thought and documentation.

1. Allow customization of the unsigned identity claim header names
1. Allow adding arbitrary claims to the assertion header
1. Support these on a per-route basis, since the needs likely vary by route
1. Should we s

[2021-02-08 20:30] #1860 closed

[2021-02-09 21:57] travisgroth commented on #1782
To follow up here, we don't currently support mapping oidc claims into kubernetes impersonation headers.  That functionality only works with directory sync identity providers.

[2021-02-11 12:34] gordoncaleb opened #1877 "Programmatic access docs use wrong query param"
## What happened?
I was using https://master.docs.pomerium.io/docs/topics/programmatic-access.html#components with Pomerium 0.12.x and wasn't seeing the described behaviour in the docs with our instance.

curl "https://verify.example.com/.pomerium/api/v1/login?redirect_uri=http://localhost:8000"

With verify.example.com replaced by our instance, I got back an empty response body and status 200.

A

[2021-02-12 17:23] zackb opened #1885 "Problem updating OneLogin to OIDCv2"
## What happened?
OneLogin is [deprecating OIDCv1](https://developers.onelogin.com/openid-connect/api/upgrade) and when I tried to update our Pomerium deployment to the OIDCv2 urls I get an error about
[code]

## What did you expect to happen?
Updating `idp_provider_url` to the OIDCv2 version to work as it does before.

## How'd it happen?
Using the helm chart, I changed `idp.provider.url` to `htt

[2021-02-14 00:59] flecno commented on #1472
Hey @calebdoxsey,
isn't the [groups.Membership](https://cloud.google.com/identity/docs/reference/rest/v1/groups.memberships) API useful to validate the users per group? But of course you need the customer ID of your Google Workspace account. That is not available in a service account or google cloud platform.

[2021-02-16 16:47] travisgroth commented on #1838
@mologie sorry about the delay but v0.12.2 should be out with this addressed.

[2021-02-16 17:17] desimone commented on #296
Current state is draft. See google docs.

https://docs.google.com/document/d/1rcieiLEEYN_k0I47CsGklY5t-K1NqHCKDF5gsW8UXJg/edit#

Need to dive deeper into :

- who the threat actors are, and how they are likely to attack pomerium
- what those mitigations are

[2021-02-16 21:21] zackb commented on #1885
I think if the Groups url was overridable, or if there's a way to disable the UserGroups function it would be a suitable workaround for the time being: https://github.com/pomerium/pomerium/blob/v0.9.5/internal/identity/oidc/onelogin/onelogin.go#L25

[2021-02-16 22:29] calebdoxsey commented on #1885
@zackb The version of Pomerium you are using is quite different from the latest version. We changed the way groups are queried. We now use a separate service account: https://www.pomerium.io/docs/identity-providers/one-login.html#service-account.

I was able to reproduce the issue about the wrong scopes, so I will make a PR to fix the default scopes, but I don't think we can fix the group issue yo

[2021-02-16 22:42] zackb commented on #1885
@calebdoxsey thanks for the quick reply and detailed explanation!

If you don't mind I have one more question. I looked to upgrade a while back and got stuck on the new data broker. As we have many independent k8s clusters and pomerium installations I couldn't get a databroker setup working across clusters. So a login to any of the pomerium instances worked across all of the rest. Do you happen to

[2021-02-16 22:46] calebdoxsey commented on #1885
@zackb would it be possible for the various clusters to access to a shared redis instance? We have a redis backend for the databroker which should work with multiple databroker instances.

[2021-02-17 06:47] yegle opened #1898 "0.12.2 regression: Missing identity headers"
Updating to 0.12.2 seems to cause the identity headers (`X-Pomerium-Claim-Email` and `X-Pomerium-Jwt-Assertion` in my case) to be missing.

Reverting to 0.12.1 fixed the issue.

Config I used:
Environment variable:
[code]

Policy:
[code]

[2021-02-17 07:38] yegle opened #1899 "Policy to do an HTTP redirect"
**Is your feature request related to a problem? Please describe.**

It would be convenient to be able to do a simple HTTP redirect to external website. E.g. you can have `help.example.com` redirect to `https://stackoverflow.com/questions/tagged/FOO`.

**Describe the solution you'd like**

The easiest solution that I can think of is to (ab)use the `To` field in the policy to do something like this:

[2021-02-17 10:25] SergeyLadutko commented on #1782
forwardAuth:
  enabled: true

config:
  # routes under this wildcard domain are handled by pomerium
  rootDomain: "k8s.MY.com"
  policy:
    - from: https://test-my-pomerium.k8s.MY.com
      to: http://hello-kubernetes-first.default:80
      allowed_groups:
        - admins

extraEnv:
  IDP_SCOPES: "openid,profile,email,groups"

authenticate:
  idp:
    provider: oidc
    clientID: "k8s-pomerium"

[2021-02-17 11:41] mologie commented on #1838
Awesome, thank you for the update, appreciate it!

[2021-02-17 12:13] SergeyLadutko commented on #1782
When we applied this option,
[code]

[2021-02-17 15:49] calebdoxsey commented on #1899
@yegle Thanks for the request. It turns out we already recently implemented this feature. You can see the documentation here: https://master.docs.pomerium.io/reference/#redirect.

I'm going to close this issue, as I think that option should cover the request, but we can re-open if you notice something missing.

[2021-02-17 15:49] #1899 closed

[2021-02-17 19:53] yegle commented on #1899
Ah cool, thanks!

[2021-02-17 20:44] calebdoxsey commented on #1855
I implemented the claim headers. I'm not sure how to implement adding data to the assertion header.

[2021-02-17 21:11] yegle opened #1907 "redirect does not work as expected"
## What happened?

With the following policy:

[code]

I'm getting the following error:

[code]

## What did you expect to happen?

A 301/302 redirect to `https://github.com/yegle/your-dns`.

## How'd it happen?

1. Config the server with the policy example above.
2. Wait for autocert to kick in, do a curl

## What's your environment like?

- Pomerium version (retrieve with `pomerium --version`):

[2021-02-17 21:49] travisgroth commented on #1898
Hey @yegle - FYI, we had a release error with v0.12.2 which has been fixed.  If you upgrade to v0.12.2 it should be commit hash `2060f4e` and not contain this regression.

[2021-02-17 21:56] travisgroth commented on #1907
Hey @yegle - redirect support isn't landing until v0.13, which we're working on releasing very soon.  It looks like the version you have there is the correct v0.12.2 release, so we wouldn't expect this feature to work yet.

[2021-02-17 22:12] desimone commented on #1898
I am unable to reproduce on `master` or f3a9ab170b7c507a902cc286f381d3a4f82059f8.

- https://gist.github.com/6a322589493834ba8b3efa6ce9d04fa8
- https://gist.github.com/fb187b4d11eec862dd44b5ab77cbf7cf

[2021-02-17 23:58] yegle commented on #1898
Yes I did noticed two different docker images both labeled v0.12.2.

I pulled a new image and it now correctly passed identify headers to the back end.

[2021-02-17 23:58] #1898 closed

[2021-02-18 02:08] #1782 closed

[2021-02-18 02:19] rawtaz commented on #1855
Here's a potentially very stupid question, but nonetheless: Shouldn't it be possible to define what we want the signed attestation header to be?

For example, at https://jwt.io/introduction/ it says under "How do JSON Web Tokens work?" that "Whenever the user wants to access a protected route or resource, the user agent should send the JWT, typically in the Authorization header using the Bearer sc

[2021-02-18 18:47] wasaga opened #1912 "identity provider should set a metric once sync is complete"
![image.png](https://images.zenhubusercontent.com/600622a9c28f517c8c6081c9/48475ef8-6d9c-4cba-8b0a-2144d775c9ce)

for both error and successful completion.

[2021-02-19 01:14] zackb commented on #1885
Hey @calebdoxsey unfortunately it's not an option for us for some pretty uninteresting reasons. I tried sharing a single in-memory cache between clusters and that works. But in the end I patched version 0.9.5 to parameterize the group url. This is a short term solution. Both of these actually work but ideally there'd be a cookie storage option again as that really fit our use case well, and the la

[2021-02-19 01:14] #1885 closed

[2021-02-19 07:59] pflipp opened #1915 "option to pass oAuth access token as authorization header to upstream"
**Is your feature request related to a problem? Please describe.**

I would like to authenticate to an API which is backed by the same identity provider which I use in pomerium.

**Describe the solution you'd like**

An option which allows me to forward the origin access token as `Authorization: Bearer [Access-Token]`-Header.

**Describe alternatives you've considered**

Re-implementing the whole

[2021-02-19 10:33] pflipp commented on #1787
thank you @desimone for the insights.
ok, my PoC then just worked because I had everything under the same domain ;)

I'm with you that `server-side inactivity detection` really is to heavy and `periodically 302 to authenticate service` has performance and client-side drawbacks.

i dont have a clever idea now, maybe we could implement refreshing the cookie for the upstreams and something like a "se

[2021-02-19 20:56] #1877 closed

[2021-02-21 22:30] derrickburns opened #1924 "Configure service proxying with Kubernetes CRDs"
It would be helpful to configure specific service proxies using Kubernetes CRDs. This would enable new services to be added without restarting or reinstalling Pomerium.

[2021-02-22 03:35] desimone opened #1925 "docs: demonstrate how to use envoy / sidecar to validate JWT assertion headers"
**Is your feature request related to a problem? Please describe.**

 [Pomerium's assertion jwt](https://www.pomerium.com/docs/topics/getting-users-identity.html#verification) cannot be validated by legacy applications, or third party applications where oeprators do not have access to modify the source code.

**Describe the solution you'd like**

Ideally, it would be possible to document how to val

[2021-02-22 12:56] Mistic92 opened #1926 "0.13.0 google identity provider not working - no groups for users, 404 for refresh directory users"
## What happened?
After upgrading from v0.10.0 to v.0.13.0 users can't login into any service. When I take a look at session details page I see that there are no groups.
After enabling debug mode for Pomerium I see few weird things like
[code]

## What did you expect to happen?
Login using gsuite account
## How'd it happen?

1. Update from v0.10.0 to v.0.13.0

## What's your environment like?

- P

[2021-02-22 17:32] yegle commented on #1907
I tested this feature in 0.13 and it works as intended. Thank you!

[2021-02-22 17:32] #1907 closed

[2021-02-22 18:21] #1926 closed

[2021-02-22 18:44] travisgroth commented on #1907
👍

[2021-02-23 00:02] desimone opened #1933 "metrics: hash before constant time compare"
Sorry, I just realized another subtle thing about (no pun intended) `subtle.ConstantTimeCompare`.

https://golang.org/pkg/crypto/subtle/#ConstantTimeCompare

I think we have to hash (sha256) each value first to make sure the bytes are the same length.

_Originally posted by @desimone in https://github.com/pomerium/pomerium/pull/1917#r580409418_

[2021-02-23 07:54] ventris opened #1935 "Exit service results in fatal error"
## What happened?
When one is breaking the running application it shuts down with an error which causes services such as systemd to set the application as failed.

I have observed this with both memory and redis datastorage.

## What did you expect to happen?
Application should exit cleanly

## How'd it happen?

1. Ran `pomerium -config config.yaml`
2. Break with `Ctrl + c`
3. Saw error `{"level":

[2021-02-23 16:31] #1933 closed

[2021-02-23 19:47] travisgroth commented on #1496
We've done a significant number of changes to the databroker/cache code since this issue was reported and were never able to reproduce.  If this is still an issue with the latest release, please let us know.  Closing for now.

[2021-02-23 19:47] #1496 closed

[2021-02-24 16:37] desimone commented on #1787
Not the worst of situations. A single domain definitely simplifies some assumptions.

Inactivity detection has been on my radar for a while, but so far I haven't been able to come up with a great solution that will scale. I'm definitely open to ideas and proposals.

I'm going to close this thread in favor of https://github.com/pomerium/pomerium/issues/1250 which I think better covers the desired f

[2021-02-24 16:37] #1787 closed

[2021-02-24 16:51] AlexShuraits opened #1943 "Allow to specify IP whitelist to bypass the auth"
**Is your feature request related to a problem? Please describe.**

In our organization, we want to have the ability to bypass authentication from office IP addresses. In addition, this will be useful when we want to test a protected environment with various tools that don't support OAuth and for e2e tests.
Since we need the application to receive the original host header, we would have to impleme

[2021-02-24 17:46] wasaga commented on #1825
@travisgroth I think UI spec for this metric is missing. I think it
- has to be per-certificate
- have a gauge of certificate status - i.e. LIVE
- have a gauge of seconds remaining to renewal

Also, Envoy exposes a handy metric `days_until_first_cert_expiring` - however it does not say you which cert specifically, its a server-wide metric.

[2021-02-25 04:43] yegle opened #1946 "OCSP staple sometimes missing"
## What happened?

Note I cannot reproduce this issue but I'm pretty certain it happened.

It looks like in some cases the HTTPS response does not contain OCSP staple result, which conflicts with OCSP Must-Staple and cause HTTPS connection to fail.

This only happened to one of my routes. Chrome would fail to connect. When I test the server using ssllabs.com it returned A+ with warning that there'

[2021-02-25 04:49] yegle commented on #1946
The error I got from Chrome is `ERR_SSL_VERSION_OR_CIPHER_MISMATCH` FWIW.

[2021-02-26 12:54] fightforlife commented on #1946
I just got the same error, with latest docker container.

[2021-02-26 21:52] travisgroth commented on #1825
Just to be clear, autocert metrics won't have an actual UI component.

All autocert managed certs are live so I'm not sure what a status would give us - is there something I'm not thinking of?

Useful information to me would be:

autocert_renewals_total counter with a status label for failure/success
certificate_time_to_expiration_secs gauge (this name isn't great)

@yegle anything else that makes

[2021-02-26 22:13] yegle commented on #1825
For my use case `autocert_renewals_total` is sufficient.

I think the `certificate_time_to_expireation_seconds` is not necessary, there are tools like https://github.com/joe-elliott/cert-exporter to cover more than just Pomerium. I'll leave you to decide.

[2021-02-26 22:14] travisgroth commented on #1825
Cool thanks for the feedback!

[2021-03-01 03:00] desimone commented on #1946
Thanks for reporting. I'm not sure what to do without more context.

This is a real long shot (and doesn't make sense given your error ) but, by any chance could this be related to LE's recent downtime?

https://status.io/pages/incident/55957a99e800baa4470002da/6032bcc06a601504d1dbbdf0

@fightforlife  -- is this persistent? Could you provide a bit more context / logs?

[2021-03-01 13:32] fightforlife commented on #1946
I restarted pomerium after I noticed the error and it's working fine since then. If it happens again I will try to provide the logs.
Maybe it really had something to do with the downtime.

[2021-03-02 20:33] travisgroth commented on #1935
Hi @ventris - I'm not sure a non-zero exit from SIGINT is a problem.  However, it does appear that we're exiting non-zero even for SIGTERM, which isn't ideal.  Opened #1958 to change this.

[2021-03-02 20:47] #1935 closed

[2021-03-03 15:31] olivierpilotte commented on #1818
This is still not working as of v0.13.2
Been trying 2 different approaches since and nothing works.
- using Prometheus-operator: the configuration is being updated by the operator, but the policies don't seem to be applied (reloaded).
- using a job I wrote back in the days to patch the configmap (now secret) with the appropriate policies (based on service annotations). This used to work about a ye

[2021-03-06 13:11] Knappek commented on #1031
Raspbian 64-bit version is in beta officially: https://www.raspberrypi.org/forums/viewtopic.php?t=275370

[2021-03-08 17:20] desimone opened #1971 "directory: add directory provider support for Ping"
**Is your feature request related to a problem? Please describe.**

Our users use Ping, it would be nice to support directory synchronization.

**Describe the solution you'd like**

We should support Ping directory sync.

**Describe alternatives you've considered**

Using the generic OIDC provider.

**Additional context**

Ping has several versions and flavors included a hosted version. It would b

[2021-03-08 19:29] isaacpz opened #1972 "TCP service proxy breaks with "METHOD_UNSPECIFIED" envoy error"
## What happened?
An error is thrown when I attempt to use `pomerium-cli` to connect to a proxied TCP service.

## What did you expect to happen?
I am able to successfully connect to my proxied TCP service using `pomerium-cli`

## How'd it happen?
1. I ran `pomerium-cli tcp [snipped external ip]:27017 --listen localhost:27017 --disable-tls-verification` locally
2. Connected to `localhost:27017`
3.

[2021-03-08 22:50] calebdoxsey commented on #1972
@isaacpz Are you using a load balancer or ingress in front of this? Based on the annotations a google cloud load balancer? It's possible it doesn't like the HTTP CONNECT verb.

I've not used metallb before so it's taking me a bit to setup a test case, but it'd be nice to rule out anything else that might be interfering with the traffic. Thanks.

[2021-03-08 22:59] calebdoxsey commented on #1972
@isaacpz I found this issue in the envoy repo: https://github.com/envoyproxy/envoy/issues/13114. I think we may be using an older version of envoy that doesn't have the fix. Would it be possible to try your config with a domain name instead of an IP address?

[2021-03-08 23:21] travisgroth commented on #1972
@isaacpz Another question.  Your command above shows you using ip address to set up the tunnel:

`pomerium-cli tcp [snipped external ip]:27017 --listen localhost:27017 --disable-tls-verification`

but your route is defined as such, presumably with a DNS name:

`from: tcp+https://[external url snipped]:27017`

Can you use the external URL in your `tcp` command and see how that works, or did you mea

[2021-03-09 03:11] isaacpz commented on #1972
@calebdoxsey - we are not using any third party load balancers in front of this. The annotations are redundant (they are left-over from a previous installation of pomerium). I just removed them and was able to reproduce the problem.

@calebdoxsey @travisgroth That is my mistake when snipping the data - I am using the host name in both commands. I do not use an IP address in any of the commands.

[2021-03-09 20:40] travisgroth commented on #1972
@isaacpz Can you share your MetalLB configuration?  I'm not able to reproduce with a GKE cluster based on your helm configuration.  As far as I'm aware there _should_ be no difference here with MetalLB vs any other cloud provider LoadBalancer provider.

I can reproduce the proxy side error message artificially by crafting an invalid HTTP request, but that shouldn't occur with `pomerium-cli`.  I no

[2021-03-10 22:45] #1925 closed

[2021-03-11 15:50] travisgroth commented on #1972
Thanks just wanted to double check.

In the helm chart:

[code]

There is a _lot_ of info with that set.  I didn't see anything in that output that might help show this kind of issue, but feel free to take a look.

Running https://docs.mitmproxy.org/stable/mitmproxytutorial-interceptrequests/ between the client and your external IP might be the best way to see what's going on with that request.

Q

[2021-03-12 17:20] #1971 closed

[2021-03-12 22:15] travisgroth commented on #1818
Hi @olivierpilotte - the issue reported here was resolved.  I just confirmed that it's working in a typical kubernetes deployment as well.

If you're still having problems can you please open a new issue with as much info as you can?  The reloading support in a container environment is largely dependent on viper's [ability to detect changes](https://github.com/spf13/viper/pull/415).  It's a bit of

[2021-03-12 22:16] #1818 closed

[2021-03-14 20:45] eddiewang opened #1981 "DNS-1123 subdomain error when exposing TCP service on Helm Chart"
## What happened?
When trying to applying the following config:
[code]

An error occurs on helm upgrade:  `helm upgrade -f values.yaml pom pomerium/pomerium -n auth`
[code]
## What did you expect to happen?

The helm upgrade the config succesfully.

## What's your environment like?

- Pomerium version (retrieve with `pomerium --version`): v0.13.2
- Server Operating System/Architecture/Cloud: Kuber

[2021-03-15 04:05] nareddyt commented on #492
Just to double check, is this feature removed in 0.13.x? I see user impersonation is removed.

[2021-03-15 09:27] volvotrax commented on #1335
I'm facing the same problem.
Pomerium version v0.10.0
Tested with pomerium-cli 0.10.0, 0.10.6 and 0.12.2-1
The generated JWT signature is not valid.
I see that this feature has been removed from the latest version (v0.13)? Why?
It would be very useful to us to run automated end-to-end tests in our CI pipeline.
Is there another way to generate a valid Pomerium session cookie by bypassing the Google

[2021-03-16 03:39] desimone commented on #492
Hey @nareddyt  -- yes, that's correct. We removed SA and user impersonation.

[2021-03-16 06:15] eddiewang opened #1990 "Multicluster support for Pomerium?"
Are there general steps for setting up access to multiple kubernetes clusters? If not happy to contribute a guide if this is at all possible.

In this setup I was hoping to have:
1 master cluster, hosting the full Pomerium stack (auth.internal.company.com)
1 child cluster, hosting a subset of Pomerium services (e.g. proxy, cache) that validates against the master auth endpoint

This would allow us

[2021-03-16 21:16] travisgroth commented on #1981
Hi @eddiewang - thanks for reporting.

I have a PR that should fix this.  Would you mind trying it out with your configuration to confirm?  https://github.com/pomerium/pomerium-helm/pull/185

[2021-03-17 14:01] travisgroth commented on #1990
Hi @eddiewang -

A guide contribution would be very welcome!

The exact topology depends a bit on how you want to balance latency vs deployment/resource overhead.  Two ways to go that make general sense, depending on your environment and needs:

1) Run just proxy in each secondary cluster.  In the primary cluster run the rest of the components.  If your clusters are co-located in the same region/s

[2021-03-19 00:37] derrickburns opened #1997 "Integrate with istio 1.9 external authorization"
Once you have a pomerium controller in k8s, the next step may be to integrate with commonly used ingress controllers like istio ingress.

[2021-03-19 05:43] Pavankumar6997 opened #1998 "TCP tunnel error when connecting to database hosted in kubernetes"
Hey guys,
##### What happened?

After applying the following config in kubernetes:

    - from: "tcp+https://qa-postgres.corp.redacted.com:5432"
      to: "tcp://postgres.qa.svc.cluster.local:5432"
      allowed_groups:
        - folks@org.com

An error occurs on when connecting using `pomerium-cli`
[code]
referred the document here https://www.pomerium.com/docs/topics/tcp-support.html#using
it sa

[2021-03-19 17:12] desimone commented on #1998
Hey @Pavankumar6997  -- could you elaborate a bit more about the infrastructure in front of Pomerium. Is it being fronted by any other load balancer or reverse proxy by any chance?

[2021-03-19 17:33] Pavankumar6997 commented on #1998
@desimone we are using AWS ALB ingress that load balances application traffic

[2021-03-20 06:03] eddiewang commented on #1981
I was able to apply the file, but upon attempting to connect, I get:

[code]

The correct virtual service routes are added, and the external load balancer recognizes the new opened service ports on 5432 (postgres). Any ideas why that could be?

Really appreciate the help so far 👍

[2021-03-20 07:03] eddiewang commented on #1981
Scratching my head on this one. Understand I need the HTTP Connect to work... but not sure how to get this paradigm working nicely with Istio for TCP services.

https://github.com/istio/istio/issues/31557

This issue seems relevant.

[2021-03-20 11:41] ntoofu opened #2002 "Support Envoy's `xff_num_trusted_hops` config option"
**Is your feature request related to a problem? Please describe.**

When pomerium is deployed with a reverse proxy in front of it, `x-envoy-external-address` and `x-forwarded-proto` which upstream servers observe are based on the request from the reverse proxy to pomerium.

**Describe the solution you'd like**

Add a new config option and set the value to [Envoy's `xff_num_trusted_hops`](https://w

[2021-03-21 04:30] saltbo opened #2004 "The groups is null for github"
jwt claims:
[code]

I already set the `idp_service_account`.

[code]

base64: YYYYY

[2021-03-21 07:03] saltbo commented on #494
https://cognito-idp.ap-northeast-1.amazonaws.com/ap-northeast-1_mz1mLazJM/.well-known/openid-configuration

This is my `.well-known/openid-configuration` of cognito, It seems that there is no `revocation_url `.

Is there any way to implement logout？  @desimone

[2021-03-21 07:09] saltbo commented on #494
https://docs.aws.amazon.com/cognito/latest/developerguide/logout-endpoint.html

I found this from the official doc

[2021-03-22 03:40] HarshCasper opened #2013 "Potential Bug Risks and Anti-Patterns"
## Description

Hi 👋

I ran DeepSource Static Code Analysis upon the Project, the results for which are available [here](https://deepsource.io/gh/HarshCasper/pomerium/).

The Static Code Analysis Tool found potential bugs and anti-patterns in the Code, that can be detrimental at a later point in time with respect to the Project. DeepSource helps you to automatically find and fix issues in your cod

[2021-03-22 04:20] desimone commented on #2013
Thanks @HarshCasper.

These look very similar (the same?) as the checks run as part of `golangci-lint` but have explicitly ignored for [various reasons](https://github.com/pomerium/pomerium/blob/master/.golangci.yml).

[2021-03-22 04:20] #2013 closed

[2021-03-22 14:04] eddiewang opened #2014 "Getting access to Slack?"
Hi there,

I tried to join: http://slack.pomerium.io/

Not sure if this is meant to be a private channel, but getting this error:
![image](https://user-images.githubusercontent.com/2057997/112002094-8b119680-8aed-11eb-9b70-bb63f831a296.png)

[2021-03-22 15:30] #1981 closed

[2021-03-22 15:35] eddiewang commented on #1990
Going to try that on a few of our test clusters and give that a go. Will update here if I have any issues. Once I get a PoC working will try to get a guide written up as a MR :)

[2021-03-22 15:50] travisgroth commented on #1981
@eddiewang If I'm understanding your configuration correctly, you'll need istio to treat the proxy service's HTTP port as plain TCP or directly expose the proxy to external traffic as a service type LoadBalancer.  You don't want to access TCP routes via an Ingress or Ingress-like service due to the way HTTP CONNECT works.

As a heads up - currently, the helm chart sets all Services to the same typ

[2021-03-22 16:15] travisgroth commented on #2004
@saltbo please revoke your personal access token ASAP.  Editing your message to remove it, though.

[2021-03-22 16:16] desimone commented on #2014
Hey @eddiewang  -- looks like there was a change that broke our invite bot https://github.com/rauchg/slackin/issues/417

For the time being, this link should work: https://join.slack.com/t/pomerium-io/shared_invite/zt-o2ith4qr-_qYANnwpW09p1R_~fYPP4w

[2021-03-22 16:25] saltbo commented on #2004
Don't worry, already regenerate it

[2021-03-22 16:30] #2002 closed

[2021-03-22 18:24] travisgroth commented on #2004
Okay, good to hear :)

As far as the lack of groups - please provide a redacted but complete configuration and check for log messages at startup.  Chances are there's something off there.

Also, please make sure you've set the right scope for your PAT: https://www.pomerium.com/docs/identity-providers/github.html#service-account.

[2021-03-22 18:28] travisgroth commented on #1997
Hi @derrickburns - could you elaborate more on the ask here?

[2021-03-22 21:37] travisgroth commented on #1998
Hi @Pavankumar6997 - When using TCP routes, you must not send the traffic through another HTTP proxy.  In your example, `qa-postgres.corp.redacted.com` must point directly at the `pomerium-proxy` service's HTTP port and not at your ingress controller's HTTP port.  If you're using our helm chart, you'd want to set `service.type` to `LoadBalancer` so that a public TCP service is provisioned for `pom

[2021-03-23 01:28] #2014 closed

[2021-03-23 06:59] desimone commented on #584
@travisgroth  I believe this was completed in https://github.com/pomerium/pomerium/pull/1513 ?

https://hub.docker.com/layers/pomerium/pomerium/debug/images/sha256-040a8abff61d19226a7849baff3cfbb2ee151044bf8d4882dcfc89a4547b8d48?context=explore

[2021-03-23 12:51] bangau1 opened #2015 "How to define `allowed_groups` policy for OIDC Provider Type that support `groups` claim?"
## What happened?

- I setup pomerium with provider type `oidc`, which is [dexIdp](https://dexidp.io/) server.
- I installed pomerium with the helm chart, here is the relevant helm chart configuration
[code]

As you can see, I provided `groups` scope as well. Upon accessing the website, it redirects me to the Dex Login (which I choose Github there - Dex can provide multiple login options), I can s

[2021-03-23 13:07] bangau1 commented on #2015
After reading through the `policy` config documentation, I can see there is `allowed_idp_claims`

It works now with this policy
[code]

I will close this issue.

[2021-03-23 13:07] #2015 closed

[2021-03-23 13:13] Pavankumar6997 commented on #1998
@travisgroth like you said, we have deployed pomerium with a service of type `LoadBalancer` which creates a Classic Load Balancer in AWS - but while accessing URL configured in the policy -> `https://prod-prom.corp-1.domain.com` we are getting
[code]
installed the latest helm charts `0.13.2` via terraform

config.yaml:
[code]
  root domain: `corp-1.domain.com`

additional info: we have added dns r

[2021-03-23 14:16] Pavankumar6997 commented on #1998
@travisgroth We have fixed the above issue

[2021-03-23 15:58] travisgroth commented on #1998
Thanks @Pavankumar6997.  From what you have there, It looks like you were sending traffic for authenticate to the proxy.  You'd need to add an extra public route to support that.

[2021-03-23 15:58] #1998 closed

[2021-03-24 11:36] dharmendrakariya commented on #1633
I have tried, please let me know #2018

[2021-03-25 04:53] derrickburns commented on #1997
Istio 1.9 offers support for external authorization. https://istio.io/latest/blog/2021/better-external-authz/

I suppose that I am asking a Pomerium CRD that sets up a Pomerium as an ext auth service using the expected GRPC interface.

[2021-03-25 05:36] eddiewang commented on #1990
quick update. I was able to confirm scenario one works (with some helm edits). However, scenario two seems to have trouble working, primarily due to the fact that the databroker is not accessible cross cluster. Is it safe to expose the databroker service over the internet publically?

[2021-03-25 11:29] travisgroth commented on #1990
FYI - working on https://github.com/pomerium/pomerium-helm/pull/187, which might help in both scenarios.  If there's other changes, feel free to file an issue or a PR in the helm repo to track them.

The databroker communication is gRPC/HTTPS and uses the `shared_secret` parameter to do mutual authentication.  From a defense-in-depth perspective, the less access to the service, the better.  If you

[2021-03-25 14:03] #1825 closed

[2021-03-25 21:15] travisgroth commented on #1997
Thanks!  Our Authorize service actually implements the envoy extauthz API already.  It is _possible_ that you could do this today with a standard pomerium deployment, but this would need testing.  You'd simply configure the pomerium authz endpoint as your extension provider.  Example:

[code]

[2021-03-27 08:24] yegle commented on #1946
I'm getting the same error right now.

Seeing this error repeatedly from the log:

[code]

FWIW I also used ssllabs to test the server and here's the screenshot:

![Screenshot_20210327-011940.png](https://user-images.githubusercontent.com/146133/112715043-1e0a5200-8e9b-11eb-82ea-8872923632d0.png)

[2021-03-27 16:30] erikespinoza opened #2025 "Pass username in proxy header"
**Is your feature request related to a problem? Please describe.**

I have a closed source app that can process user auth via http headers. I sent the headers by setting jwt_claims_headers to user. Unfortunately this prepends authentication method to the username. Is there a way to turn this off?

Ex:

[code]

**Describe the solution you'd like**

Header sends just username without ```oidc/```

**

[2021-03-28 16:34] nareddyt commented on #1335
One thing to note is that you must use a persistent data broker to support service accounts. https://0-12-0.docs.pomerium.io/docs/topics/data-storage.html#persistence

Otherwise Pomerium will lose the service account session and redirect you to the sign in screen.

Using a persistent data store helped. Instead of a redirect, I now get a 403 Forbidden directly. Probably means i configured the user

[2021-03-29 03:05] desimone commented on #1335
@volvotrax  / @nareddyt ;

As of version [v0.13.0, client side service accounts and impersonation](https://docs.pomerium.io/docs/upgrading.html#client-side-service-accounts-removed) have been removed in an effort limit the attack surface area.

That's exactly right.

@nareddyt -- how are you adding the service account? Is this in v0.13?

[2021-03-29 03:54] desimone opened #2038 "control plane: lua cannot index nil value error"
## What happened?

Pomerium logs suggest there is an error in some of our custom `lua` code.

[code]

## What did you expect to happen?

No error.

## How'd it happen?

I would speculate, but am not sure, that this is because the header for request authority is not found.

https://github.com/pomerium/pomerium/blob/5be71b8e076b47aac31129cc32c5f794c7953de9/internal/controlplane/luascripts/fix-misdir

[2021-03-29 04:08] desimone commented on #1946
Hey @yegle  -- I think the `lua` error (#2038) is possibly unrelated.

Hunting through my own logs, I do see something that may be related.

[code]

Do you see anything similar?

Even so, I am seeing OCSP working for those routes. I am using auto-cert. Not sure if that would matter.

https://www.ssllabs.com/ssltest/analyze.html?d=authenticate.int.nas.bdd.io&hideResults=on
https://www.ssllabs.com/s

[2021-03-29 04:18] yegle commented on #1946
I kept a copy of the log when this happened, but I don't see anything related to ocsp in my log.

[2021-03-29 04:25] nareddyt commented on #1335
This is in v0.12.2. I'll try to debug it more next weekend, but this is what I've gathered so far.

Create JWT with the command:

[code]

Request with `Authorization: Pomerium ${jwt}` fails with 403 Forbidden as mentioned above. Info logs:

[code]

[2021-03-29 04:29] rspier commented on #1335
So what's the recommended mechanism for robot access through Pomerium?  Using curl to authenticate as a Google account is non-trivial and will be fragile.

[2021-03-29 18:00] travisgroth commented on #2025
Hi @erikespinoza - thanks for opening this issue.  Yes, I think this is something we can change for the v0.14 release.

[2021-03-30 03:26] erikespinoza commented on #2025
That's awesome. Thanks!

[2021-04-02 14:08] hammadzz commented on #1130
I have a use case that this is fitting for and am wondering what the alternative is going to be.

I want to secure ArgoCD with Pomerium. It will be publicly accessible through this proxy. Unfortunately this restricts programmatic access by CI tools like GitHub actions that need to invoke the ArgoCD API via the cli tool.

I imagine this is a common use case for others as well.

[2021-04-06 06:34] lokkersp opened #2060 "Is pomerium can handle auth for gRPC services?"
Hello everyone.
I would like to ask about authentication for services, which don't have a UI and used by machines through pomerium(CE).
In my case, we already have this auth flow:
`[internet] -> traefik ingress -> pomerium [forward auth middleware] -> keycloak as an idp.`
And it's working perfectly for cases with UI auth flow.
At some point, I want to provide the ability to call our backend servic

[2021-04-06 20:04] calebdoxsey commented on #2060
Hi @lokkersp ,

When [`pass_identity_headers`](https://www.pomerium.io/reference/#pass-identity-headers) is enabled we attach a `x-pomerium-jwt-assertion` header, which contains some authentication information, for example the session id, user id and groups. We also pass these as separate headers (`X-Pomerium-Claim-*).

Since gRPC is just HTTP/2 underneath, you can retrieve these header values wit

[2021-04-07 21:06] #2025 closed

[2021-04-08 09:19] moisei commented on #2060
@calebdoxsey
would you have time to discuss the issue via some chat?
I am feeling it will be easier to explain to you our setup and the problem

[2021-04-08 16:24] travisgroth commented on #296
@desimone to hit publish

[2021-04-09 03:29] pmahoney opened #2076 "403 Forbidden from proxied kubernetes when using group authorization and google idp"
## What happened?

I've configured pomerium as a kubernetes proxy. To confirm that everything works, I created a RoleBinding to my individual user, and was able to list pods, for example:

[code]

With the above RoleBinding deleted and the following in place:

[code]

I get 403 Forbidden.

From the kubernetes cluster logs (not sure if these are from apiserver or some other component), I can see th

[2021-04-09 14:14] calebdoxsey commented on #2076
Hi @pmahoney,

Thanks for the detailed bug report. This issue was recently fixed in master https://github.com/pomerium/pomerium/pull/2051 and should be released with 0.14. If possible do you want to try this version to see if it fixes the issue for you?

For context the issue is that envoy coalesces multiple headers into a single comma-separated header. This is valid by the spec, but Kubernetes ca

[2021-04-09 15:44] pmahoney commented on #2076
That's great news.

I did try it out, but may have done something wrong...  (maybe some cache is stale and needs to be cleared?) I'm using the pomerium helm chart @ version 16.0.4. I simply set `image.tag` to `git-6d1d2bec` which is also the version of `pomerium-cli` I have locally.

`kubectl get pods` shows this:

`error: yaml: line 11: mapping values are not allowed in this context` (without pop

[2021-04-09 15:58] calebdoxsey commented on #2076
@pmahoney I think our credentials cache isn't handling reauthenticating well. Could you try removing:

* Linux: `~/.config/pomerium-cli/cache/*`
* MacOS: `~/Library/Application Support/pomerium-cli/cache/*` (I think)

(there was a change to how sessions were encrypted, so it should've invalidated the old token and tried to get a new one, but doesn't seem to be doing that)

[2021-04-09 16:05] pmahoney commented on #2076
Deleting my local pomerium-cli cache got me farther (browser auth popped up).

Now pomerium-proxy is complaining `http: proxy error: x509: certificate signed by unknown authority`. Could configuration of that have changed?  Looking...

(previously i was providing the cert via `tls_custom_ca` but I also had to set `tls_server_name`, and that stuff may have been changed recently in https://github.co

[2021-04-09 16:08] calebdoxsey commented on #2076
@pmahoney this may be a bug with the recent kubernetes change we made. We're re-proxying through our go control plane and it may not be handling all the TLS options properly. You're using `tls_custom_ca` and `tls_server_name`? Any other TLS options?

[2021-04-09 16:11] calebdoxsey commented on #2076
We're definitely not using `tls_custom_ca` properly. Only the one at the global level. I'll work on a fix for that.

[2021-04-09 16:12] pmahoney commented on #2076
Just those two for tls. Here's the config snippet (this is an EKS cluster on AWS if that matters; I don't have control over the TLS cert on kubernetes API, and it has only `Subject: CN=kubernetes`)

[code]

[2021-04-09 18:45] pmahoney commented on #2076
It worked!

I tested the image from https://github.com/pomerium/pomerium/pull/2077 (docker image git-8924b1a5), and I no longer get the certificate error, and the group-based RoleBinding works as expected.

Thanks for your help, that was extremely fast turnaround :)

[2021-04-09 19:10] #2076 closed

[2021-04-11 18:50] karlbateman opened #2080 "Identity verification failed. No attestation JWT!"
## What happened?

First let me start by saying, this is a great project. Kudos for making such a feature rich IAP!

I've been using the [NGINX] recipe which I've configured with [Google] and [Auth0] IdP's. I have everything running fine locally without issue but I'm not seeing the signed identity token information. Because this is not included, I'm unable to assert a users identity details progra

[2021-04-12 03:42] desimone commented on #2080
Thanks for your kind words @karlbateman !

If you are running in all in one mode, a signing_key will be automatically generated on each restart.

It is a base64 encoded string. See the [reference docs](https://www.pomerium.io/reference/#signing-key) and the [getting a user identity](https://www.pomerium.io/docs/topics/getting-users-identity.html#verification) guide.

The assertion header is not be

[2021-04-12 10:41] karlbateman commented on #2080
Thanks for getting back to me @desimone, I've tried adding `auth_request_set $auth_resp_x_pomerium_jwt_assertion $upstream_http_x_pomerium_jwt_assertion;` to the `proxy.conf` but I'm still unable to get user information. I'm hoping there maybe someone else who is using Pomerium in a similar way and who has a solution 😄

[2021-04-12 20:16] mescanne commented on #1943
I would like the same thing for my home network. Many self hosted services require Https, and while I'd like to expose them via Pomerium over the internet I'd like them on the home network open.

[2021-04-12 23:10] bl0m1 opened #2082 "One domain to use as --pomerium-url for all proxys"
## What happened?

I try to use pomerium-cli to forward a tcp service with the `--pomerium-url=authenticate.mydomain.com `. However this request will fail with a `route_not_found` error

## What did you expect to happen?

I expect my traffic to be forwarded towards my backend as long as the host applied as the last part of my command (host and port) is configured  in the policy section.

## How'd

[2021-04-13 00:43] trydalch opened #2083 "URLs won't load in browser if I don't type https"
## What happened?
I cannot load webpages of a newly added domain without typing the protocol.

## What did you expect to happen?
Be able to just type the domain and have it load the web page.

## How'd it happen?

1. Added the new policy document to the pomerium config file
2. Restarted the pomerium container to force a reload of the config.
3. Navigated to `subdomain.domain.com`

When I added htt

[2021-04-13 02:54] calebdoxsey commented on #2083
@trydalch by default your browser will attempt an HTTP connection to the domain. We support redirecting to HTTPS urls with the [http_redirect_addr](https://www.pomerium.io/reference/#http-redirect-address) setting. Does this work for you? Or did you have something else in mind?

[2021-04-13 03:00] trydalch commented on #2083
I hadn't seen that. That's perfect. Thank you.

[2021-04-13 03:00] #2083 closed

[2021-04-13 03:52] desimone opened #2084 "proxy: support setting route response headers."
**Is your feature request related to a problem? Please describe.**

Currently, while it is possible to set **request** headers on individual routes in Pomerium, it is not possible to do so with **response** headers.

**Describe the solution you'd like**

We should support setting response headers scoped to a given route.

**Describe alternatives you've considered**

N/A

**Explain any additional u

[2021-04-13 04:23] desimone opened #2085 "controlplane: re-revert recommended defaults / best practices"
For my own reference later - https://www.envoyproxy.io/docs/envoy/v1.17.0/version_history/current#deprecated:

I guess we should just wait for 1.17 and then re-apply this change.  No sense in reworking it for a deprecated protobuf.  🤷

_Originally posted by @travisgroth in https://github.com/pomerium/pomerium/issues/1735#issuecomment-754767384_

[2021-04-13 04:24] desimone commented on #2085
Now that we have migrated to `v0.17` it makes sense to try these again.

Related:
- https://github.com/pomerium/pomerium/pull/1734
- https://pomerium-io.slack.com/archives/CK6SVMPU0/p1617712008014100

[2021-04-13 05:14] sc7565 commented on #2085
hi @calebdoxsey, I do realize this https://github.com/pomerium/pomerium/pull/1735 was brilliantly done by you and would be grateful if you can create/update code with defaults. I am not so pro-efficient with go. Tried locally but seems I am doing something wrong. Thanks once again

[2021-04-13 23:23] ajcollett commented on #1588
Hello,

Okay, so it's been a while, but I have come back to this.

I eventually took the fwauth part out, and am using Pomerium directly.

I now have this in my config:
[code]

And yet, I only get:
[code]

I don't get "Name" or any of the other claims I request.

Could this be something in the Azure config for the IDP client? What are the default claims I should be able to access? I see these in t

[2021-04-14 05:38] pingssgp commented on #2080
@karlbateman this may be relevant. I'm trying to set up a simple local development environment with a local OIDC IDP, following the instructions here : https://www.pomerium.io/guides/local-oidc.html

I am facing the same issue as in your last post. The user is able to authenticate with the IDP. However, the next step fails as you describe. The verify service says it's unable to connect:

[code]

M

[2021-04-14 17:17] desimone opened #2089 "config: remove deprecated option `headers` in v0.16"
We should remove the deprecated option as advised.

[code]

_Originally posted by @desimone in https://github.com/pomerium/pomerium/pull/2081#discussion_r613432149_

[2021-04-15 08:45] ajcollett commented on #1588
So, I see this high up in the process when I try login:
[code]

But I can't tell if this happens before or after I login.

[2021-04-15 09:47] ajcollett commented on #1588
I have requested my IT dept to look into the issue too, maybe there is something on the Azure side.

Can you advise what I should be expecting back from Azure, or rather, what Pomerium requests?

[2021-04-15 11:37] Ptyool commented on #1915
Hi,
I believe it is the same feature request describe in this issue : https://github.com/pomerium/pomerium/issues/1638

[2021-04-15 21:28] travisgroth opened #2091 "Databroker fails to associate correct TLS cert with listener downstream context"
## What happened?

When providing multiple certificates to databroker, the name resolution fails to locate the correct certificate by DNS name.  We fall back to the "default" cert, whatever that happens to be.

## What did you expect to happen?

If a cert with a name which matches the databroker URL is present, we should use that in the downstream context.

## How'd it happen?

1.
[code]

2. Confi

[2021-04-16 10:48] ajcollett commented on #1588
I think my issues come from the optional claims that MS introduced. I am going to debug that then revert back here.

[2021-04-16 13:10] anjmao commented on #1335
I'm looking for this too.
@desimone Maybe it would sense to have static api tokens provider to generate api tokens and share for programatic access.
For example I want to access argo cd api from gitlab CI job, this is how configuration could look to support both google idp and static tokens via Authorization header.

[code]

[2021-04-16 13:27] ajcollett commented on #1588
So I sat with my IT personal and we enabled a whole bunch of optional claims.

No change, at all. I cannot fathom what is wrong.

I am using the latest. I will try a few different versions now. Maybe something will make a difference.

[2021-04-16 14:12] ventris opened #2094 "Policy specific client CA error"
## What happened?
Settings specific client CA for selected policies results in a `495 invalid client certificate` when visiting that address.

## What did you expect to happen?

Im trying to add client certificates for specific policies. From your documentation it seems like its possible to do this with the `tls_downstream_client_ca_file` flag in each policy. As the documentation states [HERE](htt

[2021-04-16 14:31] calebdoxsey commented on #1588
@ajcollett I'm not sure, but looking at the code I think we only attach a predefined set of JWT claims. There was a major refactor of this code to move it to rego:

[code]

But I can't remember if this is how it was always intended to work, or if we accidentally removed a feature. Regardless we should be able to update the code to support arbitrary claims by updating the code.

[2021-04-16 14:46] #2091 closed

[2021-04-16 15:23] ajcollett commented on #1588
Hello @calebdoxsey

Ah that makes a lot more sense. I decoded the JWT assertion and only got those on the list you posted.

I used to get "name" as well for the JWT headers, but I am not sure what that was pulled form, since azure doesn't have a "name" claim. But that changed at some point.

This is the list of optional JWT claims I wanted to make:
JWT_CLAIMS_HEADERS=email,user,family_name,given_n

[2021-04-16 21:50] travisgroth commented on #2082
Hi @bl0m1,

To give you an idea of what's happening internally, in case it helps:

By default, pomerium-cli connects to the `destination` and requests a tunnel to `destination`.  This assumes your `from` parameter is a resolvable DNS record.  In the event that it is not, pomerium-cli can connect to `--pomerium-url` and request a tunnel to `destination`.  In this case, you could have `proxy.localho

[2021-04-16 23:21] bluecmd commented on #2082
Can't the authenticate hostname also handle these tunnel requests? I think that's the confusion here, having to set up a dummy name instead of just using the authenticate hostname that is already there would be less confusing I think.

[2021-04-17 05:11] desimone commented on #1335
Thanks for the suggestion, @anjmao . Let me think it over. Could you elaborate a bit more on how these tokens would be ideally used? What would be your expectations on those tokens have identity as part of the assertion header (or not?).

[2021-04-17 19:50] travisgroth commented on #2082
This is up to envoy's routing behavior.  I _believe_ it considers the `Host` header for the incoming request first and will match the authenticate route with no chance to match the internal `CONNECT` target of the request.

[2021-04-19 11:07] ajcollett commented on #1588
@calebdoxsey okay now I am properly confused. I just had a student login and they got a Name attribute. However, after I decoded the JWT assertion, it wasn't there. . . how is the name retrieved for the user? Why would it be missing for some people?

[2021-04-19 14:36] bl0m1 commented on #2082
Roger, that will work for us. However we are a bit worried about the future if we build our infrastructure around Pomerium. Would it be acceptable if I open a PR adding this scenario to the documentation?

[2021-04-19 14:57] bl0m1 opened #2100 "Would it be possible to drop tun.cfg.dstHost from jwtCacheKey"
**Is your feature request related to a problem? Please describe.**
Running Ansible through Pomerium-cli causes hundreds of popus a day, See #2082

**Describe the solution you'd like**

Currently the `tcptunnel` `jwtCacheKey` using both destination host, proxyhost and tlsconfig. Would it be possible to remove destination host and only have proxyhost here? We have tested the following patch with gre

[2021-04-19 16:00] calebdoxsey commented on #1588
@ajcollett no problem. We'll be discussing this issue today and we'll get back to you.

[2021-04-19 16:15] #296 closed

[2021-04-19 18:48] travisgroth commented on #2082
More docs are always welcome if you think there's something worth calling out.

Can you elaborate on the concern here?

[2021-04-19 19:09] calebdoxsey commented on #2094
@ventris Have you added both certificates to your browser? When I test this locally I'm prompted to choose the certificate I want to use. I was able to get it to work with two routes on different domains:

[code]

This can be somewhat tricky to test because browsers seem to cache your choice, with no easy way to change it. Have you tried in an incognito window?

[2021-04-19 20:56] calebdoxsey commented on #1588
@ajcollett I've re-added arbitrary JWT claim support and merged to master. If you have a chance could you test it to see if it works for you? Thanks.

[2021-04-19 21:46] ventris commented on #2094
I redid my tests on my local environment and now it worked. I think that I had some cached things laying around. I could have sworn that I tried it in a fresh environment. Closing this issue as there is no longer an issue.

[2021-04-19 21:46] #2094 closed

[2021-04-20 07:43] anjmao commented on #1335
Hi, now I'm thinking that static tokens would not solve the problem for all cases as some applications still expects identity headers and claims.

One way to access internal services programatically bypassing pomerium would be to proxy via k8s api server which actually doesn't require any changes in pomerium.

[2021-04-20 08:19] ajcollett commented on #1588
Very nice work. From my limited testing, it works like a bomb. I deployed the master docker image.

I am getting all, well most, of the claims. But all the ones I am not getting are likely due to them being empty (language related, and "in corporate net" for example).

That really helps me. You mention that this was re-added. What was the reason it was removed? Or was it just how things landed up?

[2021-04-20 13:20] calebdoxsey commented on #1588
@ajcollett The removal was accidental. We did a major refactor and it was a feature I overlooked. Thanks again for your patience.

[2021-04-20 13:20] #1588 closed

[2021-04-20 14:37] ajcollett commented on #1588
Ah okay. No worries!

[2021-04-20 15:56] bl0m1 commented on #1943
Another scenario where this could be useful is if you have a service connecting over the internet to another.
For example if you have Prometheus and want to federate metrics to another central Prometheus server.

[2021-04-20 17:13] ventris opened #2103 "Running pomerium-cli headless"
**Is your feature request related to a problem? Please describe.**

The problem that we are having is that we would like to be able to run pomerium-cli from a computer or server that does not have a browser for the normal authentication flow. Which today is not possible.

**Describe the solution you'd like**
We have been looking at a way to generate a jwt from your laptop and move that token to th

[2021-04-20 17:17] ventris opened #2104 "mTLS client certificate revocation"
**Is your feature request related to a problem? Please describe.**

The client certificate auth today does not check if the certificate that is presented is revoked before allowing access which poses a security issue as the certificate can be used after it has been revoked.

**Describe the solution you'd like**

A way for pomerium to do a certificate revocation check for each client certificate th

[2021-04-21 15:45] vsdesai opened #2110 "HSTS header for external control plane endpoints"
**Is your feature request related to a problem? Please describe.**
We would like to see HSTS header added to the domains/endpoints that are exposed to the internet for the control plane. More specifically the proxy service and authenticate service currently do not return HSTS header, while the managed routes do.

Was it a conscious choice to leave it out for the proxy/authenticate service? If yes,

[2021-04-22 16:37] travisgroth commented on #2104
Hi @ventris,

I believe we can support a CRL in a future release but we need to do some research to confirm.  Will follow up.

[2021-04-22 17:59] travisgroth commented on #2082
Got it.  The routing behavior in a standard configuration - using a DNS name (or names) associated with the proxy service and distinct from `authenticate` - is understood/documented/tested.  The matching of the `authenticate` service given the overlapping host header isn't surprising.

Conversely, if TCP proxying _happened_ to work with conflicting routing information, I'd be worried about relying

[2021-04-22 21:14] calebdoxsey opened #2117 "dashboard: session details link results in 400 error"
## What happened?
I clicked the link in:

And I saw a 400 error:

![Screenshot from 2021-04-22 15-10-43](https://user-images.githubusercontent.com/395272/115785768-22803880-a37d-11eb-9021-6f6a8b6bf187.png)

## What did you expect to happen?
To see the dashboard.

## How'd it happen?
Clicked the link.

## What's your environment like?
- master: https://github.com/pomerium/pomerium/commit/b1d62bb541

[2021-04-22 23:33] #2117 closed

[2021-04-23 16:14] #2100 closed

[2021-04-23 16:14] calebdoxsey commented on #2100
Implemented with the above PR.

[2021-04-23 18:49] calebdoxsey commented on #2110
@vsdesai I'm seeing these headers when I go to `/.pomerium`. Looking at the code, it should be adding the `SetResponseHeaders` to all responses, even those fielded by the control plane instead of a backend service. Was there a specific URL that doesn't have them?

[2021-04-23 20:54] #2085 closed

[2021-04-24 12:06] raima-zachariah opened #2125 "[Security] Potential Secret Leak"
It has been noticed that while using codecov/codecov-action@v1.3.1 your token d82eb1d7-5990-4a31-baa4-156473402105 is present in plaintext. Please ensure that secrets are encrypted or not passed as plain text in github workflows.

[2021-04-24 22:04] pmahoney opened #2126 "`kubectl exec` fails with: http: proxy error: http2: invalid Upgrade request header: ["spdy/3.1"]"
## What happened?

`kubectl exec somepod -- sh` failed with:

[code]

Note that other `kubectl` commands work to prove that the k8s api proxy is working in general.

## What did you expect to happen?

A remote shell to be established.

## What's your environment like?

- Pomerium version (retrieve with `pomerium --version`): docker image `pomerium/pomerium:git-8924b1a5`

I'm using this image to wo

[2021-04-25 04:00] trydalch opened #2127 "Domain works without www (https://domain.com), but acme challenge fails with www.domain.com"
## What happened?
The acme challenge fails with www.domain.com. Gets  a 403 when hitting https://www.domain.com/.well-known/acme-challenge/<encoded>.

Additionally, when both www.domain.com and domain.com are added to `config.yaml`, it makes domain.com inaccessible.

## What did you expect to happen?
A cert to be granted and requests to be routed to my server.

## How'd it happen?
I've tried remov

[2021-04-26 15:45] wasaga opened #2131 "immutable route metrics ID"
# Feature

## Summary

Currently routes are mapped to `envoy_cluster_id` in exposed metrics based on their `name`.
In a multi-tenant environment, users are not aware of other used route names, and conflicts may arise, effectively mixing up route statistics.
Also, if a user would rename a route, it would lose historic data access.

## Feature spec

When route is first created, it should receive a u

[2021-04-26 20:45] #2126 closed

[2021-04-26 20:48] calebdoxsey commented on #2126
@pmahoney I just merged a fix which should make `kubectl exec` work.

We support SPDY through envoy, but due to issues with how Kubernetes parses group headers, we ended up re-proxying the request through the Go control plane. Unfortunately out of the box the Go HTTP reverse proxy doesn't support SPDY, because it will use HTTP/2 first. The PR above should fix this. (I was able to `kubectl exec` a

[2021-04-26 21:33] pmahoney commented on #2126
@calebdoxsey Yes, I can confirm it works for me as well. Thank you!

I had to clear my local pomerium-cli cache first.

[2021-04-26 22:53] bjoernw opened #2137 "Cache pod reboot puts authorize into a bad state"
## What happened?
If cache instances reboot the authorize service will complain with
[code]
and won't stop even after fresh cache pods come up as healthy. In order to resolve the issue we also have to restart the authorize pods at which point everything works fine again.

## What's your environment like?

- Helm chart version 18.0.0
- pomerium version 0.13.5
- Deployed on Kubernetes 1.18

[2021-04-27 18:18] travisgroth commented on #2137
Hi @bjoernw - I'm not able to easily reproduce this currently.  Please share as much as you can about your configuration; especially helm values.  Thanks!

[2021-04-27 19:04] ThomasLohmann opened #2140 "Pomerium vs OAuth2 Proxy"
Hi everyone,

we have a Kubernetes cluster + Istio Gateway and we want to secure some routes via GitLab Auth/Login e.g. subdomain.example.com (should only be accessible to specific users via GitLab credentials). We are currently comparing Pomerium vs OAuth2 Proxy and try to understand what are the benefits of Pomerium compared to the OAuth2 Proxy. Please, can you tell us some benefits? Also as far

[2021-04-27 19:22] bjoernw commented on #2137
`values.yaml`
(routes/policies are defined in an env override)
[code]

[2021-04-28 00:03] #2140 closed

[2021-04-28 19:46] trydalch commented on #2127
Is there anything new on this? Some way I can help or more information I should provide?

[2021-04-28 20:21] calebdoxsey commented on #2104
After some investigation here's a summary:

1. We can support CRL directly via a configuration option. Probably `client_crl` and `client_crl_file` in PEM format. This will correspond with the `crl` option of the [`CertificateValidationContext`](https://www.envoyproxy.io/docs/envoy/v1.17.2/api-v3/extensions/transport_sockets/tls/v3/common.proto#extensions-transport-sockets-tls-v3-certificatevalidat

[2021-04-28 21:06] travisgroth commented on #2137
@bjoernw just to confirm the behavior.  When you get these logs, proxy/authorize continue to function with existing sessions, correct?

[2021-04-28 22:38] desimone opened #2150 "safari does not respect `421` status for HTTP/2 connection reuse / coalescing"
## What happened?

When using wildcard certificates, HTTP/2, Pomerium will respond with status `421` for different sites being proxied. Because of the way request coalescing works with HTTP/2, when we change the domain (authority) of the site we are proxying, (e.g. `authenticate.x.y.z` / `verify.x.y.z` / `httpbin.x.y.z`) Pomerium needs to tell the browser to reset the connection. However, it appea

[2021-04-28 22:47] calebdoxsey commented on #2150
Unfortunately there's not really any good solution to this problem. Ways to fix it:

1. Add all the routes to every domain
2. Use different TLS certificates for each shared IP address
3. Use different IP addresses for each shared TLS certificate
4. Don't use safari
5. Don't use HTTP/2

[2021-04-29 08:59] snehamore204 opened #2152 "Authenticate lose query parameters (Pomerium v0.11.1 with nginx-ingress)"
## What happened?
I have deployed pomerium on kubernetes platform with nginx-ingress.
When I am trying to access URL which has multiple query paramters, query parameters are not forwarded to authenticate.
which result in loosing control of original URL
e.g here when i am trying to access URL `https://kubermatic.example.com//api/v1/kubeconfig?project_id=vwp5pnzkzl&datacenter=kubermatic&cluster_id=b

[2021-04-29 12:12] kschu91 commented on #1915
Hi. Any news on this one? We are currently evaluating pomerium for our project, but this is an absolute must-have for us.

[2021-04-29 16:45] travisgroth commented on #2150
Sounds like:

- add a global option to disable http2
- call out this type of problem in the docs for the http2 option
- disable http2 by default in all-in-one

[2021-04-30 13:00] ventris commented on #2104
I think that CRL is sufficient for this. Its just that currently there is no way for administrators to revoke a rogue client certificate without rebuilding the whole CA. So CRL validation would solve this problem.

[2021-04-30 20:01] travisgroth commented on #2125
Hi - thank you for the notice.  These credentials are not considered secret by codecov and were in plaintext for historical reasons.  That said, we're moving off the platform anyway.

[2021-04-30 20:01] #2125 closed

[2021-04-30 20:37] calebdoxsey commented on #2104
@ventris there is now a configuration option to specify a CRL. Thanks for the feedback.

[2021-05-01 05:23] trydalch commented on #2127
I figured it out. Turns out it was a cloudflare setting that I had turned on after adding https://domain.com to my pomerium config, but before adding https://www.domain.com to my pomerium config.

If you have HTTPS only turned on in cloudflare, it causes LetsEncrypt challenges to fail. See here: https://community.cloudflare.com/t/lets-encrypt-acme-challenge-problem/258024

[2021-05-01 05:23] #2127 closed

[2021-05-02 18:44] desimone commented on #2127
Glad to hear you you were able to get it figured out; thanks for circling back with the solution.

[2021-05-02 19:13] ertechdesign opened #2163 "Could we amend documentation for Synology please?"
**Synology UI configuration is difficult to follow.**

Synology config doesn't mention folder mapping is required:
   - /volume1/docker/pomerium:/pomerium:ro
   - /volume1/docker/pomerium/data:/pomerium:/data:rw

I'll take screenshots and post them here.

The documentation shows snippet of `policy.yaml` but doesn't mention where to place it for a newbie users.

The documentation requires output of

[2021-05-02 19:20] ertechdesign commented on #2163
![image](https://user-images.githubusercontent.com/50780524/116824773-d5257780-ab83-11eb-820a-f3e96e7f71b2.png)

[2021-05-03 02:45] desimone commented on #2080
@karlbateman  / @pingssgp

Sorry to have misdirected you a bit. The original docs are correct and your original assumption is correct.

 if `signing_key`is not set explicitly the authenticate service will not serve the `jwks` endpoint.

I'll make a PR that adds instructions on how to generate the signing key for the various supported formats. EC (P-256 or Ed25519) curves are suggested for performa

[2021-05-03 03:15] desimone commented on #2080
dial tcp 127.0.0.1:443: connect: connection refused

and

  couldn't get json web key:
    Get "https://authenticate.localhost.pomerium.io/.well-known/pomerium/jwks.json":
      dial tcp 0.0.0.0:443: connect: connection refused

This error occurs because when `verify` tries to grab `authenticate`'s jwks endpoint, it makes an external call, checks the DNS, gets localhost, then tries to dial `127.0.

[2021-05-03 14:30] calebdoxsey commented on #2080
I believe [`aliases`](https://docs.docker.com/compose/compose-file/compose-file-v3/#aliases) can be used in docker-compose to map `authenticate.localhost.pomerium.io` in the container to the other docker container. Kubernetes can do something similar with [`hostAliases`](https://kubernetes.io/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases/).

[2021-05-03 16:06] #2080 closed

[2021-05-03 16:06] calebdoxsey commented on #2150
Moving to the icebox until we have a better solution.

[2021-05-03 19:00] desimone commented on #693
Closing due to inactivity.

[2021-05-03 19:00] #693 closed

[2021-05-03 19:02] desimone commented on #834
This should now be supported by https://github.com/pomerium/pomerium/pull/2102

Related:
- https://github.com/pomerium/pomerium/issues/1588
- https://github.com/pomerium/pomerium/issues/1855

[2021-05-03 19:02] #834 closed

[2021-05-03 19:15] desimone commented on #937
Closing due to inactivity. Please reopen if this still appears to be an issue.

[2021-05-03 19:15] #937 closed

[2021-05-03 19:49] desimone commented on #1855
Passing arbitrary claims and setting those claims to specific keys is now supported (by @calebdoxsey ).

Related:

- https://github.com/pomerium/pomerium/pull/2102
- https://github.com/pomerium/pomerium/pull/1906
- https://github.com/pomerium/pomerium-console/issues/752

[2021-05-03 19:49] #1855 closed

[2021-05-03 19:49] desimone commented on #1855
There was a regression in `v0.13` and `v0.12` but this should be fixed again in `v0.14`.

https://pomerium-io.slack.com/archives/CK92MUAES/p1620051083096200?thread_ts=1619723701.078300&cid=CK92MUAES

[2021-05-03 20:25] travisgroth commented on #2152
Hi @snehamore204.  There have been a number of updates to forward auth since v0.11.  Does this occur with v0.13?

[2021-05-03 20:30] travisgroth commented on #826
Closed by https://github.com/pomerium/pomerium/pull/1906

[2021-05-03 20:30] #826 closed

[2021-05-04 15:43] #2084 closed

[2021-05-05 14:23] nicolastakashi opened #2176 "CORS Error when session expires"
## What happened?

I have a page hosted at `mypage.corp.example.com` which makes an AJAX request to `api.corp.example.com`

When the AJAX call requests `api.corp.example.api.corp.example.`, pomerium redirects via 302 to: `https://auth.corp.example.com/.pomerium/sign_in?pomerium_expiry=12345&pomerium_issued=12345&pomerium_redirect_uri=https%3A%2F%2Fapi.corp.example.com&pomerium_signature=abcde`

Th

[2021-05-05 14:25] travisgroth commented on #2137
Hey @bjoernw - from testing, I think this is specific to Istio<>Headless service interaction.  I'm not deeply familiar with the current state of Istio's headless service support, so my recommendation would be to disable it for gRPC based services.  This will offload load balancing to the mesh.  The way to do this recently changed https://github.com/pomerium/pomerium-helm/tree/master/charts/pomeriu

[2021-05-06 10:26] jtheo commented on #2152
I am not sure if it can be useful: [1536](https://github.com/pomerium/pomerium/issues/1536) was resolved for me since I wasn't checking the parameters just the path.

I just did this test cloning the master branch and starting the docker-compose in example/nginx; I only changed the version of pomerium to v0.14.0, plus google keys and the SSL certificates.

Browsing `https://verify.localhost.pomeri

[2021-05-07 04:02] desimone opened #2181 "arbitrary claims are not being returned from assertion header"
## What happened?

Non-standard ("arbitrary") identity claims are not being added to the jwt-assertion header, although they are being added as custom headers.

## What did you expect to happen?

Arbitrary / non-standard identity claims to be added to the assertion payload.

## How'd it happen?

See config.

## What's your environment like?

- Pomerium version (retrieve with `pomerium --version`):

[2021-05-07 15:12] pmahoney opened #2182 "`kubectl logs -f` exits when log stream is idle"
## What happened?

Using pomerium as a kubernetes api proxy, running this command:

[code]

some logs were displayed, then after a time (about 30 seconds) the command exited:

[code]

## What did you expect to happen?

I expected kubectl to continue tailing logs.

## What's your environment like?

- Pomerium version (retrieve with `pomerium --version`): docker image pomerium/pomerium:git-b3216ae8

[2021-05-10 00:54] yegle opened #2185 "JWT_CLAIMS_HEADERS=email won't generate X-Pomerium-Claim-Email"
It looks like `JWT_CLAIMS_HEADERS=email` no longer generates `X-Pomerium-Claim-Email` header to the backend since 0.14.0.

Reading the relevant doc, it looks like the header can be customized now but I did not expect the old config to stop working.

[2021-05-10 18:54] calebdoxsey commented on #2185
I'm not able to reproduce this issue. I see:

[code]

In the headers being sent, with a config like:

[code]

The email comes from the session or user claims. @yegle Do you have more details about what might be different or a redacted config?

[2021-05-10 23:27] calebdoxsey commented on #2182
I was able to reproduce this. A workaround is to set `timeout` to a large value in the route configuration.

I have a PR open to disable the timeout by default for kubernetes routes.

[2021-05-11 16:47] travisgroth commented on #2152
I'm also able to reproduce this.  I think we're losing the query parameters after the authenticated callback when constructing the final redirect back to the original url.

[2021-05-11 18:40] fightforlife commented on #1946
I still get this error from time to time using the latest docker image.
I would say it happens once a week. I will provide logs the next time it happens.

[2021-05-11 21:36] davidsmithva opened #2192 "Pomerium-cli 500 error on Ubunt/Debian"
## What happened?

ran: pomerium-cli tcp --pomerium-url=https://pomerium.mycompany.com somehost:3306

pomerium proxy starts and says it is running on 127.0.0.1:43415
try to open 127.0.0.1:43415 in a browser and in the console I see:
ERR tcptunnel: error serving local connection error="tcptunnel: invalid http response code: 500"

## What did you expect to happen?
expected to be redirected to login

[2021-05-11 22:01] #2192 closed

[2021-05-11 22:46] calebdoxsey opened #2194 "authorize: refactor custom rego"
**Is your feature request related to a problem? Please describe.**

Our current implementation of custom rego has some limitations which we should address:

1. It requires a policy that will allow a user access before evaluating (e.g. you have to make the route public or specify a condition the user will pass before we even evaluate the custom rego policy)
2. `authz.rego` not only evaluates policy

[2021-05-12 14:38] pmahoney commented on #2182
Thanks; confirmed this fixes the issue for me.

[2021-05-12 16:33] nicolastakashi commented on #2176
Any update guys?

[2021-05-12 18:43] desimone opened #2195 "proxy / controplane: unexpected change in default client TLS context"
## What happened?

In pomerium v0.14 (vs v0.13), the default **client** TLS config changed from

[code]

to

[code]

## What did you expect to happen?

I did not expect this change.

## How'd it happen?

Envoy changed the [default tls client config](https://github.com/envoyproxy/envoy/pull/13850) which wasn't very clear, and still is not very clear from [their docs.](https://www.envoyproxy.io/docs

[2021-05-12 19:22] vsdesai commented on #2110
The URL in question here is the base URL for the canonical name of the proxy and authenticate service that are resolvable from internet.

For example, our setup looks like this:

- pomerium proxy has a DNS (A record) name proxy.xyz.com
- authenticate service has a DNS (A record) name proxy-authenticate.xyz.com
- CNAME record for internal app that we want to allow access through pomerium: myapp.xyz

[2021-05-12 22:37] #2195 closed

[2021-05-13 14:32] travisgroth commented on #1638
@Ptyool @sylr It turns out kubernetes-dashboard supports passing along Authorization as well as Impersationation headers to the kubernetes control plane.

[2021-05-14 17:58] desimone opened #2201 "cmd: add the envoy version to the FullVersion()"
Maybe we should add the envoy version to the FullVersion() build as well.... thoughts?

_Originally posted by @desimone in https://github.com/pomerium/pomerium/pull/2193#r630584169_

[2021-05-14 20:32] desimone commented on #1915
Hey @kschu91  / @Ptyool --

Could you elaborate what applications / usecases you would want to use in this manner?

We are considering it, but have concerns about forwarding access credentials to upstream applications.

[2021-05-14 20:45] desimone commented on #1915
And are you looking pass the `access_token`, or `id_token` or both?

[2021-05-16 12:32] pflipp commented on #1915
Hey @desimone
thanks for considering this feature.

In generally there should be no security concern to forward the credentials to these upstreams as the access token just issued for the purpose to access resources on these upstreams. The only thing is that users may misuse it and forward it to upstreams which are not secured by the idP. As the user in this case is the admin who configures pomeriu

[2021-05-17 05:03] desimone opened #2206 "proxy: support setting `SameSite` on session cookie"
**Is your feature request related to a problem? Please describe.**

Pomerium's session cookie does not currently support setting the `SameSite` attribute. For most applications, it would be preferable to set at least `Lax` on that cookie for additional assurances around CSRF. However, there are some applications, most notable those with their own cross domain auth flow functionality (like integrat

[2021-05-17 15:38] calebdoxsey commented on #2110
@vsdesai Are these 404 responses? I'm not sure the headers are added if no routes match at all.

[2021-05-17 15:44] calebdoxsey commented on #2176
Hi @nicolastakashi . I think I understand but even if we allowed CORS, it wouldn't fix your issue. You'd still see an HTML response with the login form, which the Javascript isn't going to understand. Furthermore we can't set the CORS header on the IDP login page, since that's not going through our proxy. (`sign_in` usually just redirects to the IDP)

Typically the way to refresh a session is to r

[2021-05-17 16:25] fightforlife commented on #1946
And again Chrome error message on all domains served by pomerium:
This website cannot connect securely. ERR_SSL_VERSION_OR_CIPHER_MISMATCH
The site is using a not supported protocol.

With POMERIUM_DEBUG=false, there is nothing in the logs.

I will change this to POMERIUM_DEBUG=true and will post logs as soon as it happens again.

[2021-05-17 16:43] travisgroth commented on #2201
Rather than include the envoy version specifically in FullVersion, let's add EnvoyVersion and GoVersion as separate outputs.

* print these when running `pomerium -version`
* track these as info metrics

[2021-05-17 16:51] desimone commented on #2206
This issue is more complicated than it seems at first.

- Proxy and Authenticate cookie both use the same cookie settings. Creating a ton of potential footguns in configuration.

[2021-05-17 17:08] Ptyool commented on #1638
Hi @travisgroth ,
I was not aware that "kubernetes_service_account_token_file" was able to invoke impersonation.
So I tried (don't forget to allow used ServiceAccount to do impersonate at k8s rbac level ;-) ), but I was not allowed to do  anything in the kubernetes-dashboard, however I was able to see that pomerium inpersonated me:

![image](https://user-images.githubusercontent.com/48836398/11852

[2021-05-17 17:21] Ptyool commented on #1915
Hi @desimone ,

As @pflipp said, `access_token` should be fine.

For me the usecase was kubernetes-dashboard, but there is a discution here #1638 about using impersonation.

[2021-05-17 17:34] desimone commented on #2201
Maybe `version.Go()` and version.Envoy()`

[2021-05-17 21:06] nicolastakashi commented on #2176
@calebdoxsey yah, indeed refresh the page isn't the best solution ever and I really like to have a different solution :(

Since this kind of `bug` give us a bad user experience

[2021-05-18 07:40] Ptyool commented on #1638
I tried to staticaly set the Impersonate-Group header with :

      set_request_headers:
         Impersonate-Group: "my-group"

And it works, I was able to access dashboard content.
So there is a problem or a configuration mistake on my side to populate Impersonate-Group header.
I'm sure that Pomerium is able to retrieve groups from access_token because the policy allow access only for some group

[2021-05-18 11:15] travisgroth opened #2212 "Error message when dynamically reconfiguring tracing"
## What happened?

Enabled tracing on a running pomerium instance and received error messages, though it does appear tracing is enabled.

## What did you expect to happen?

No error message.

## How'd it happen?

1. Start pomerium with an existing configuration
2. Update configuration to add tracing

## What's your environment like?

- Pomerium version (retrieve with `pomerium --version`): v0.14.1

[2021-05-18 13:10] travisgroth commented on #1638
Yep it's not super obvious from the docs, but that's how our integration works.  We're going to update the docs to make this and the improved dashboard setup clearer for everyone.

Would you mind opening a new feature request for populating the kubernetes impersonation headers with group claims?  I'd like to keep that discussion focused.

We usually see folks put Pomerium in front of the API serve

[2021-05-18 15:07] vsdesai commented on #2110
Yes, they return 404

[2021-05-18 15:10] vsdesai commented on #2110
To provide some context, the lack of HSTS header from URLs that are hosted on our domain and accessibly from internet (even though they return 404) are deemed as lower security standard by the scanning tools.

[2021-05-18 15:15] calebdoxsey commented on #2110
OK that makes sense. I think we can update the code to set these headers on error pages too.

[2021-05-18 16:46] calebdoxsey commented on #2176
@nicolastakashi Are you using the `fetch` API in javascript? If so I believe you can disable redirects and turn them into errors. You could then detect the error and refresh the page. Would that solve your problem?

[2021-05-18 16:47] calebdoxsey commented on #2194
Superseded by the introduction of the Pomerium Policy Language.

[2021-05-18 16:47] #2194 closed

[2021-05-19 06:43] nicolastakashi commented on #2176
@calebdoxsey I'm using pomerium in front of Grafana, as far as I know, Grafana is built on top of AngularJS

[2021-05-19 08:08] Ptyool opened #2221 "Populating the kubernetes impersonation headers with group claims"
**Is your feature request related to a problem? Please describe.**

Hi, as discussed here https://github.com/pomerium/pomerium/issues/1638#issuecomment-843158590 , when using "kubernetes_service_account_token_file" to impersonate user to access kubernetes-dashboard, I would like the Impersonate-group header to be populated by groups claim from the access token.

Currently, v0.13.4 does not populat

[2021-05-19 13:36] calebdoxsey commented on #2176
@nicolastakashi I see. Yes this is hard when you don't have control over the application. I'm not sure what a solution might look like. Some ideas:

1. Grafana plugins?
2. Maybe there's a way to install a `ServiceWorker` that can intercept the fetch request and cause a page reload?
3. Perhaps if the response is formatted in a certain way or has a certain response code Grafana has a built in way of

[2021-05-19 17:55] jsjoeio opened #2222 "Fix docs to use code-server"
I noticed the docs call it "VS Code Server" but the correct name is "code-server."

[2021-05-20 14:56] #2110 closed

[2021-05-20 15:04] calebdoxsey commented on #2110
@vsdesai I updated the code to set these headers on local replies from envoy. It's also being backported to the 0.14 branch.

[2021-05-20 22:16] travisgroth commented on #2221
Thanks @Ptyool.

The missing groups may be a bug in v0.14.

WRT prefixing - do you have multiple group sources?  We'd like to understand the reasons for prefixing oidc groups and users better.  The more you could share on the reason for that configuration, the better we can understand the use case.  It might fit into larger features.

[2021-05-21 03:44] #2222 closed

[2021-05-21 20:53] mt1n commented on #339
Hi, any news on this? I have exactly the same problem.
Setting "allow_public_unauthenticated_access: true" it is working, otherwise not (for chrome on android).

[2021-05-21 21:10] desimone commented on #339
@mt1n  could you post your redacted configuration and as many logs (both pomerium and the application) as possible? Thanks!

[2021-05-22 20:23] mt1n commented on #339
the configuration is:
[code]
pomerium logs:
[code]
jellyfin logs:

[code]

[2021-05-24 16:51] travisgroth commented on #2212
Will confirm this is OSX only.

[2021-05-24 19:51] travisgroth commented on #2212
This is indeed OSX only.

Minimal ideal behavior would be to log a message indicating that pomerium must be restarted for the change on OSX.

Also worth noting - I think https://github.com/pomerium/internal/issues/411 is resolved by moving to the zipkin API, which might not need process restarting anymore.

We'd still have restarts for service profile or log level changes, though.

[2021-05-26 10:38] gvolpe opened #2239 "Configurable command to open a browser window"
**Is your feature request related to a problem? Please describe.**

The [documentation](https://www.pomerium.io/guides/kubernetes.html#kubectl) says:

I don't know exactly what's the command `pomerium` uses to open that browser window but I assumed it's `xdg-open` in X sessions and the related tool in other environments.

This is problematic when running different instances of a browser with diffe

[2021-05-26 15:23] calebdoxsey commented on #2212
To be clear we purposefully *don't* kill the previous envoy process because we utilize hot-reload capability so that connections aren't lost. I guess we can update the code to only do this in linux.

[2021-05-26 19:29] vsdesai opened #2241 "allowed_idp_claims not working with the latest changes"
## What happened?
allowed_idp_claims based authorization policy has stopped working for us.

This was working at least until commit# 5b1b6e5. With commit# 96b9702, it doesn't work anymore.

## What did you expect to happen?
allowed_idp_claims should be able to look at claims from AccessToken and make authorization decision based on that

## How'd it happen?

We are using PindID (OIDC) as IdP and r

[2021-05-26 19:33] enenum commented on #1333
Sure thing.  This would be nice. The current functionality offers a debug link that leads to the session info page which leads to pomerium documentation. Pretty good stuff when you are developing, but perhaps not for customer exposure - so the session debug info should be only displayed if in debug mode or some other configurable setting...

[2021-05-27 16:00] calebdoxsey commented on #2185
@FireDrunk that setting should be at the global level, not on a policy. Have you tried moving it?

[2021-05-27 18:38] FireDrunk commented on #2185
Good catch! That works flawlessly!

[2021-05-27 21:12] #2241 closed

[2021-05-27 21:13] calebdoxsey commented on #2241
@vsdesai I think this should be fixed on master. Let me know if its still not working for you.

We did a major refactor of how policy is evaluated and the code I wrote convert legacy policy into the new format didn't do it right. Thanks for catching this.

[2021-05-27 21:30] travisgroth commented on #2221
Just to follow up on the group claims themselves - I'm not able to reproduce missing group headers.  Config snippet:

[code]

Request headers:

[code]

[2021-05-27 22:07] vsdesai commented on #2241
Thanks for the follow up. We will try out the fix and report back.

[2021-05-28 06:36] FireDrunk commented on #1924
I'm very much interested in this as well!

[2021-05-28 12:38] vsdesai commented on #2241
Confirmed it is now working as expected. Thank you.

[2021-05-28 21:19] #2152 closed

[2021-05-30 05:03] branchmispredictor opened #2248 "JWT Assertion has exp claim with floating point value"
## What happened?

Pomerium provided a JWT assertion (`x-pomerium-jwt-assertion`) with a floating point exp claim to a downstream service:

Anonymized JWT that was received by my downstream service in the HTTP header:
[code]

## What did you expect to happen?

An `exp` with a whole number representation (e.g. `1622350222`). I am not sure if this was introduced by my upgrade from v12 to 14.4, or if

[2021-05-31 11:20] sherifkayad commented on #1201
@travisgroth when you say `Clearing the cached token does not fix the behavior.` how do you basically enforce the token cache cleanup? .. I mean what's your way of deleting these?

[2021-06-01 02:08] desimone commented on #2248
This should be in unix seconds.

[code]

https://github.com/square/go-jose/blob/3a5ee095dcb5030a9de84fb92c222ac652fff176/jwt/claims.go#L41-L120

[2021-06-01 04:46] desimone commented on #441
This is no longer relevant as we are pulling these metrics directly from Envoy now.

[2021-06-01 04:46] #441 closed

[2021-06-01 07:56] sherifkayad commented on #1201
@calebdoxsey can you help me with my question above? Is there a way to invalidate / clear cached Pomerium tokens from the CLI? I am facing an issue that I basically get errors in the command line when using Pomerium with the Kubernetes API auth and I need a way to enforce login from the command line when the token expires on the server

[2021-06-01 12:52] travisgroth commented on #1201
Hi @sherifkayad - please open a new issue with complete details of what you're running into.

[2021-06-01 19:35] #2212 closed

[2021-06-02 17:27] sherifkayad opened #2263 "pomerium-cli/k8s: Document an edge case with having to manually invalidate Pomerium tokens"
**Is your feature request related to a problem? Please describe.**

As per the discussion on https://github.com/pomerium/pomerium/issues/1201#issuecomment-852099091

_Disclaimer:_ This issue is more or less about documentation.

After some hours of investigation, I was curious how one could invalidate sessions / clear tokens created by the Pomerium CLI and where it basically caches tokens generate

[2021-06-02 17:28] sherifkayad commented on #1201
@travisgroth my main issue figuring out how the Pomerium CLI caches tokens is now resolved. I opened a feature request to update the documentation for an edge case I faced.

[2021-06-02 22:18] #2176 closed

[2021-06-02 22:19] calebdoxsey commented on #2176
@nicolastakashi I just merged a change which makes the authorize service return a 401 instead of a redirect if `application/json` is the incoming accept header. Grafana has a special case for 401s which results in the login page being displayed, so I believe this should fix your issue.

[2021-06-04 21:05] #2248 closed

[2021-06-05 09:31] fightforlife commented on #1946
And it happened again.
ERR_SSL_VERSION_OR_CIPHER_MISMATCH
SSLlabs reports: This server certificate supports OCSP must staple but OCSP response is not stapled.
And a lot of handshake failures:
![image](https://user-images.githubusercontent.com/5511687/120887040-1086ec00-c5f1-11eb-903c-da8887d34416.png)

Even with POMERIUM_DEBUG TRUE, I dont find anything in the pomerium logs regarding the failed re

[2021-06-05 10:33] yegle commented on #1946
This also still happen to me. I decide to post my full configuration (with information redacted) in case it can help the investigation.

docker-compose config (in jsonnet format):

[code]

pomerium.yaml file:
[code]

[2021-06-06 20:19] desimone opened #2271 "codec_type: `http1` / `auto` returns `METHOD_UNSPECIFIED`"
## What happened?

I get a protocol error when setting `code_type` explicitly.  Both `http1` and `auto` do not seem to be working.

## What did you expect to happen?

No error.  This is surprising because I would assume I am _already_ running with implied `http1` in all in one mode..

## How'd it happen?

1. Go to `https://verify.localhost.pomerium.io`
2. Error

<img width="1336" alt="Screen Shot

[2021-06-06 23:52] xlejo commented on #2271
Same here. Running in Kubernetes (K3S 1.21) behind Nginx Ingress.

[2021-06-07 18:52] calebdoxsey commented on #2271
This is caused by the interaction between the codec type option and the addition of using ALPN to switch to HTTP/2 automatically.

[2021-06-07 20:26] #2271 closed

[2021-06-09 08:01] bluecmd commented on #1837
I added `pomerium-cli proxy` [here](https://github.com/pomerium/pomerium/compare/master...bluecmd:proxy) to show what I mean.

This works:

[code]

Then in another terminal:
[code]

[2021-06-09 10:57] dsschneidermann commented on #1946
Thanks for opening this issue. Until now I've been unable to find the cause of the Chrome error: `ERR_SSL_VERSION_OR_CIPHER_MISMATCH` and Firefox: `SSL_ERROR_NO_CYPHER_OVERLAP`

Running the ssllabs.com test, I'm getting the same
![image](https://user-images.githubusercontent.com/11848465/121341802-501b4400-c921-11eb-94f3-785da4a2ad30.png)

However for me, the error is completely persistent and pre

[2021-06-09 18:49] aelg commented on #1837
This would be really nice! I would also like to be able specify an address/addresses/wildcard address to use the tcp tunnel for, and for non-matches just pass-through the connection transparently without opening a pomerium tunnel. Useful when the internal service is for example some sort of https based repository (eg. pypi) where there are some packages on an internal repository and some external

[2021-06-10 04:09] desimone opened #2283 "docs: clarify device state capabilities in oss version"
_Originally posted by @desimone in https://github.com/pomerium/pomerium/issues/2280#issuecomment-858283296_

(Placeholder)

[2021-06-10 20:33] fightforlife commented on #1946
And it just happened again to me. I will leave it in this state  for around 24h if any logs are needed.

[2021-06-11 13:20] coutantal commented on #1499
+1.
This feature would be great !

[2021-06-11 19:58] #1946 closed

[2021-06-11 20:00] wasaga commented on #1946
if the problem happens again, please kindly capture the status of the loaded certificate from `http://localhost:9901/certs`

[2021-06-12 06:34] ChristianKlass opened #2288 "Pomerium seems to redirect to the wrong URL after authentication"
Hi everyone, I need some help with Pomerium.

Here's the gist of it:
I'm trying to use Pomerium with Dex on Kubernetes (with Istio). I am being redirected to the wrong page after logging in. I am not sure what I can do to fix this. So far, I can confirm that the Dex authentication portion works. I can go to https://authenticate.wfh.com/.pomerium after logging in (and being redirected to the wrong

[2021-06-13 23:16] desimone commented on #2185
Closing as this seems resolved. Please re-open if that is not the case.

[2021-06-13 23:31] desimone commented on #2137
Hey @bjoernw - Just wanted to ping to see if you were able to get this any further / any additional details.

[2021-06-13 23:42] desimone commented on #1731
Hey @SimonKlausLudwig  -- Programmatic management of policy, settings, and routes is part of our enterprise offering which will be going GA shortly.

[2021-06-13 23:42] #1731 closed

[2021-06-14 19:58] #2201 closed

[2021-06-16 12:24] nicolastakashi commented on #2176
Hey @calebdoxsey, sorry for the late reply.

First of all, thank you guys for the amazing work.

Is this fix available on version `v0.14.5`?

[2021-06-16 18:16] calebdoxsey commented on #2176
@nicolastakashi It's not available in `v0.14.5`, but I went ahead and backported it to the `0-14-0` branch and will go out with the next `v0.14` release.

[2021-06-16 23:27] yegle commented on #2185
Hi,

I can still repro this issue with the latest version (`sha256:9c5a7d53e0bb4276f3cdc555f45f3528a2a1948bc77dd76b2a8fafd18d2fccc6`).

See https://github.com/pomerium/pomerium/issues/1946#issuecomment-855219416 for my redacted configs

[2021-06-16 23:29] yegle commented on #2185
FWIW, when I access the container `pomerium/verify`, the error is:

[2021-06-16 23:39] yegle commented on #2185
And also I'm running Pomerium with `SERVICES` unset, which from my understanding will default to `all`.

[2021-06-16 23:47] yegle commented on #2185
Error/Warning logs:

[code]

[2021-06-16 23:58] yegle commented on #2185
A full debug log for a single HTTP request to `pomerium/verify` container:

[code]

(The log lines with `user-agent=Go-http-client/2.0` looks suspicious, not sure if it's related to my issue. There will be a repeated log lines even if I stop accessing verify.foo.bar).

[2021-06-17 20:43] desimone commented on #1837
Hey @bluecmd  -- Thank you for the PoC!  Just wanted to to circle back to let you know that we are definitely considering this and understand the value, but we are having some internal debate about what's the best way to support this type of functionality in the context of zero-trust style access and explore what ways we can limit the attack surface as much as possible.

[2021-06-18 16:18] paddycarey commented on #2263
I'm seeing similar issues in some of my clusters when pomerium pods are restarted, happy to help debug if i can be of any assistance.